#AreaPageManualMainP3_Image1 {
  top: 0px;
  position: absolute;
}

#AreaPageManualMainP3_Image1 {
  left: 0px;
  position: absolute;
}

#AreaPageManualMainP3_Image1 {
  width: 1366px;
}

#AreaPageManualMainP3_Image1 {
  height: 588px;
}

#AreaPageManualMainP3_Image1 {
  z-index: 0;
}

#AreaPageManualMainP3_Image1 {
  opacity: 0.2;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestAP3 {
  top: 358px;
  position: absolute;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestAP3 {
  left: 76px;
  position: absolute;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestAP3 {
  width: 340px;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestAP3 {
  height: 75px;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestAP3 {
  z-index: 1;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestAP3 {
  border-style: solid;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestAP3.active {
  border-style: solid;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestAP3.checked {
  border-style: solid;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestAP3.disabled {
  border-style: solid;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestAP3 {
  border-radius: 8px;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestAP3.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestAP3.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestAP3:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestAP3.active:not(.disabled):not(.editMode) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestAP3.checked:not(.disabled) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestAP3.active:not(.disabled):not(.editMode) span {
  color: black;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestAP3.checked:not(.disabled) span {
  color: black;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestAP3 span {
  font-size: 20px;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestAP3:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestAP3.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestAP3.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP3_NavigationButtonPageRR_DopravnikyP3 {
  top: 112px;
  position: absolute;
}

#AreaPageManualMainP3_NavigationButtonPageRR_DopravnikyP3 {
  left: 76px;
  position: absolute;
}

#AreaPageManualMainP3_NavigationButtonPageRR_DopravnikyP3 {
  width: 340px;
}

#AreaPageManualMainP3_NavigationButtonPageRR_DopravnikyP3 {
  height: 75px;
}

#AreaPageManualMainP3_NavigationButtonPageRR_DopravnikyP3 {
  z-index: 2;
}

#AreaPageManualMainP3_NavigationButtonPageRR_DopravnikyP3 {
  border-style: solid;
}

#AreaPageManualMainP3_NavigationButtonPageRR_DopravnikyP3.active {
  border-style: solid;
}

#AreaPageManualMainP3_NavigationButtonPageRR_DopravnikyP3.checked {
  border-style: solid;
}

#AreaPageManualMainP3_NavigationButtonPageRR_DopravnikyP3.disabled {
  border-style: solid;
}

#AreaPageManualMainP3_NavigationButtonPageRR_DopravnikyP3 {
  border-radius: 8px;
}

#AreaPageManualMainP3_NavigationButtonPageRR_DopravnikyP3.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP3_NavigationButtonPageRR_DopravnikyP3.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP3_NavigationButtonPageRR_DopravnikyP3:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualMainP3_NavigationButtonPageRR_DopravnikyP3.active:not(.disabled):not(.editMode) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualMainP3_NavigationButtonPageRR_DopravnikyP3.checked:not(.disabled) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualMainP3_NavigationButtonPageRR_DopravnikyP3.active:not(.disabled):not(.editMode) span {
  color: black;
}

#AreaPageManualMainP3_NavigationButtonPageRR_DopravnikyP3.checked:not(.disabled) span {
  color: black;
}

#AreaPageManualMainP3_NavigationButtonPageRR_DopravnikyP3 span {
  font-size: 20px;
}

#AreaPageManualMainP3_NavigationButtonPageRR_DopravnikyP3:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP3_NavigationButtonPageRR_DopravnikyP3.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP3_NavigationButtonPageRR_DopravnikyP3.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP3_NavigationButtonPageRR_SkrutkovanieP3 {
  top: 234px;
  position: absolute;
}

#AreaPageManualMainP3_NavigationButtonPageRR_SkrutkovanieP3 {
  left: 76px;
  position: absolute;
}

#AreaPageManualMainP3_NavigationButtonPageRR_SkrutkovanieP3 {
  width: 340px;
}

#AreaPageManualMainP3_NavigationButtonPageRR_SkrutkovanieP3 {
  height: 75px;
}

#AreaPageManualMainP3_NavigationButtonPageRR_SkrutkovanieP3 {
  z-index: 3;
}

#AreaPageManualMainP3_NavigationButtonPageRR_SkrutkovanieP3 {
  border-style: solid;
}

#AreaPageManualMainP3_NavigationButtonPageRR_SkrutkovanieP3.active {
  border-style: solid;
}

#AreaPageManualMainP3_NavigationButtonPageRR_SkrutkovanieP3.checked {
  border-style: solid;
}

#AreaPageManualMainP3_NavigationButtonPageRR_SkrutkovanieP3.disabled {
  border-style: solid;
}

#AreaPageManualMainP3_NavigationButtonPageRR_SkrutkovanieP3 {
  border-radius: 8px;
}

#AreaPageManualMainP3_NavigationButtonPageRR_SkrutkovanieP3.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP3_NavigationButtonPageRR_SkrutkovanieP3.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP3_NavigationButtonPageRR_SkrutkovanieP3:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualMainP3_NavigationButtonPageRR_SkrutkovanieP3.active:not(.disabled):not(.editMode) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualMainP3_NavigationButtonPageRR_SkrutkovanieP3.checked:not(.disabled) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualMainP3_NavigationButtonPageRR_SkrutkovanieP3.active:not(.disabled):not(.editMode) span {
  color: black;
}

#AreaPageManualMainP3_NavigationButtonPageRR_SkrutkovanieP3.checked:not(.disabled) span {
  color: black;
}

#AreaPageManualMainP3_NavigationButtonPageRR_SkrutkovanieP3 span {
  font-size: 20px;
}

#AreaPageManualMainP3_NavigationButtonPageRR_SkrutkovanieP3:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP3_NavigationButtonPageRR_SkrutkovanieP3.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP3_NavigationButtonPageRR_SkrutkovanieP3.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP3_Label2 {
  top: 20px;
  position: absolute;
}

#AreaPageManualMainP3_Label2 {
  left: 483px;
  position: absolute;
}

#AreaPageManualMainP3_Label2 {
  width: 400px;
}

#AreaPageManualMainP3_Label2 {
  height: 35px;
}

#AreaPageManualMainP3_Label2 {
  z-index: 4;
}

#AreaPageManualMainP3_Label2 {
  border-width: 5px;
}

#AreaPageManualMainP3_Label2 {
  border-radius: 5px;
}

#AreaPageManualMainP3_Label2 {
  border-color: #999999;
}

#AreaPageManualMainP3_Label2:before {
  border-color: #999999;
}

#AreaPageManualMainP3_Label2:after {
  border-color: #999999;
}

#AreaPageManualMainP3_Label2 {
  border-style: ridge;
}

#AreaPageManualMainP3_Label2:before {
  border-style: ridge;
}

#AreaPageManualMainP3_Label2:after {
  border-style: ridge;
}

#AreaPageManualMainP3_Label2 span {
  color: black;
}

#AreaPageManualMainP3_Label2 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageManualMainP3_Label2 {
  font-size: 20px;
}

#AreaPageManualMainP3_Label2 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestBP3 {
  top: 480px;
  position: absolute;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestBP3 {
  left: 76px;
  position: absolute;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestBP3 {
  width: 340px;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestBP3 {
  height: 75px;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestBP3 {
  z-index: 5;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestBP3 {
  border-style: solid;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestBP3.active {
  border-style: solid;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestBP3.checked {
  border-style: solid;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestBP3.disabled {
  border-style: solid;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestBP3 {
  border-radius: 8px;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestBP3.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestBP3.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestBP3:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestBP3.active:not(.disabled):not(.editMode) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestBP3.checked:not(.disabled) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestBP3.active:not(.disabled):not(.editMode) span {
  color: black;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestBP3.checked:not(.disabled) span {
  color: black;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestBP3 span {
  font-size: 20px;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestBP3:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestBP3.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualMainP3_NavigationButtonPageRR_LeakageTestBP3.disabled.checked {
  box-shadow: 4px 4px 14px black;
}
