#AreaPageManualP3_LeakageTestA_Image1 {
  top: 0px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_Image1 {
  left: 0px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_Image1 {
  width: 1366px;
}

#AreaPageManualP3_LeakageTestA_Image1 {
  height: 588px;
}

#AreaPageManualP3_LeakageTestA_Image1 {
  z-index: 0;
}

#AreaPageManualP3_LeakageTestA_Image1 {
  opacity: 0.2;
}

#AreaPageManualP3_LeakageTestA_Label1 {
  top: 20px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_Label1 {
  width: 400px;
}

#AreaPageManualP3_LeakageTestA_Label1 {
  height: 35px;
}

#AreaPageManualP3_LeakageTestA_Label1 {
  z-index: 1;
}

#AreaPageManualP3_LeakageTestA_Label1 {
  border-width: 5px;
}

#AreaPageManualP3_LeakageTestA_Label1 {
  border-radius: 5px;
}

#AreaPageManualP3_LeakageTestA_Label1 {
  border-style: ridge;
}

#AreaPageManualP3_LeakageTestA_Label1:before {
  border-style: ridge;
}

#AreaPageManualP3_LeakageTestA_Label1:after {
  border-style: ridge;
}

#AreaPageManualP3_LeakageTestA_Label1 span {
  color: black;
}

#AreaPageManualP3_LeakageTestA_Label1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageManualP3_LeakageTestA_Label1 {
  font-size: 20px;
}

#AreaPageManualP3_LeakageTestA_Label1 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_LeakageTestA_GroupBox6 {
  top: 70px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_GroupBox6 {
  left: 469px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_GroupBox6 {
  width: 429px;
}

#AreaPageManualP3_LeakageTestA_GroupBox6 {
  height: 510px;
}

#AreaPageManualP3_LeakageTestA_GroupBox6 {
  z-index: 2;
}

#AreaPageManualP3_LeakageTestA_GroupBox6 {
  background-color: oldlace;
}

#AreaPageManualP3_LeakageTestA_GroupBox6 > .header span {
  color: black;
}

#AreaPageManualP3_LeakageTestA_GroupBox6 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_LeakageTestA_Button_ZostupHornehoPritlaku {
  top: 19px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_Button_ZostupHornehoPritlaku {
  left: 17px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_Button_ZostupHornehoPritlaku {
  width: 165px;
}

#AreaPageManualP3_LeakageTestA_Button_ZostupHornehoPritlaku {
  height: 45px;
}

#AreaPageManualP3_LeakageTestA_Button_ZostupHornehoPritlaku {
  z-index: 0;
}

#AreaPageManualP3_LeakageTestA_Button_ZostupHornehoPritlaku {
  border-radius: 10px;
}

#AreaPageManualP3_LeakageTestA_Button_ZostupHornehoPritlaku:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_LeakageTestA_Button_ZostupHornehoPritlaku {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_LeakageTestA_Button_ZostupHornehoPritlaku:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_LeakageTestA_Button_ZostupHornehoPritlaku.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_LeakageTestA_Button_ZostupHornehoPritlaku.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_LeakageTestA_ImageList5 {
  top: 29px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_ImageList5 {
  left: 147px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_ImageList5 {
  width: 25px;
}

#AreaPageManualP3_LeakageTestA_ImageList5 {
  height: 25px;
}

#AreaPageManualP3_LeakageTestA_ImageList5 {
  z-index: 1;
}

#AreaPageManualP3_LeakageTestA_ImageList5 {
  border-style: none;
}

#AreaPageManualP3_LeakageTestA_ImageList5 {
  border-width: 0px;
}

#AreaPageManualP3_LeakageTestA_Button_ZdvihHornehoPritlaku {
  top: 19px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_Button_ZdvihHornehoPritlaku {
  left: 245px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_Button_ZdvihHornehoPritlaku {
  width: 165px;
}

#AreaPageManualP3_LeakageTestA_Button_ZdvihHornehoPritlaku {
  height: 45px;
}

#AreaPageManualP3_LeakageTestA_Button_ZdvihHornehoPritlaku {
  z-index: 2;
}

#AreaPageManualP3_LeakageTestA_Button_ZdvihHornehoPritlaku {
  border-radius: 10px;
}

#AreaPageManualP3_LeakageTestA_Button_ZdvihHornehoPritlaku:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_LeakageTestA_Button_ZdvihHornehoPritlaku {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_LeakageTestA_Button_ZdvihHornehoPritlaku:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_LeakageTestA_Button_ZdvihHornehoPritlaku.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_LeakageTestA_Button_ZdvihHornehoPritlaku.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_LeakageTestA_ImageList4 {
  top: 29px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_ImageList4 {
  left: 373px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_ImageList4 {
  width: 25px;
}

#AreaPageManualP3_LeakageTestA_ImageList4 {
  height: 25px;
}

#AreaPageManualP3_LeakageTestA_ImageList4 {
  z-index: 3;
}

#AreaPageManualP3_LeakageTestA_ImageList4 {
  border-style: none;
}

#AreaPageManualP3_LeakageTestA_ImageList4 {
  border-width: 0px;
}

#AreaPageManualP3_LeakageTestA_ToggleSwitch_SpodneKopito {
  top: 105px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_ToggleSwitch_SpodneKopito {
  left: 17px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_ToggleSwitch_SpodneKopito {
  width: 165px;
}

#AreaPageManualP3_LeakageTestA_ToggleSwitch_SpodneKopito {
  height: 45px;
}

#AreaPageManualP3_LeakageTestA_ToggleSwitch_SpodneKopito {
  z-index: 4;
}

#AreaPageManualP3_LeakageTestA_ToggleSwitch_SpodneKopito:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .before {
  color: black;
}

#AreaPageManualP3_LeakageTestA_ToggleSwitch_SpodneKopito:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .after {
  color: black;
}

#AreaPageManualP3_LeakageTestA_ToggleSwitch_SpodneKopito .breaseToggleSwitch_toggle .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP3_LeakageTestA_ToggleSwitch_SpodneKopito .breaseToggleSwitch_toggle .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP3_LeakageTestA_ToggleSwitch_SpodneKopito:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_LeakageTestA_ToggleSwitch_SpodneKopito.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_LeakageTestA_ToggleSwitch_SpodneKopito.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_LeakageTestA_Line5 {
  z-index: 5;
}

#AreaPageManualP3_LeakageTestA_Line5 line {
  stroke-width: 2px;
}

#AreaPageManualP3_LeakageTestA_Label23 {
  top: 275px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_Label23 {
  left: 10px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_Label23 {
  width: 195px;
}

#AreaPageManualP3_LeakageTestA_Label23 {
  height: 35px;
}

#AreaPageManualP3_LeakageTestA_Label23 {
  z-index: 6;
}

#AreaPageManualP3_LeakageTestA_Label23 {
  border-width: 2px;
}

#AreaPageManualP3_LeakageTestA_Label23 {
  border-radius: 5px;
}

#AreaPageManualP3_LeakageTestA_Label23 {
  background-color: silver;
}

#AreaPageManualP3_LeakageTestA_Label23 {
  border-color: black;
}

#AreaPageManualP3_LeakageTestA_Label23:before {
  border-color: black;
}

#AreaPageManualP3_LeakageTestA_Label23:after {
  border-color: black;
}

#AreaPageManualP3_LeakageTestA_Label23 {
  border-style: outset;
}

#AreaPageManualP3_LeakageTestA_Label23:before {
  border-style: outset;
}

#AreaPageManualP3_LeakageTestA_Label23:after {
  border-style: outset;
}

#AreaPageManualP3_LeakageTestA_Label23 span {
  color: black;
}

#AreaPageManualP3_LeakageTestA_Label23 {
  font-size: 14px;
}

#AreaPageManualP3_LeakageTestA_Label23 {
  font-weight: bold;
}

#AreaPageManualP3_LeakageTestA_ImageList21 {
  top: 280px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_ImageList21 {
  left: 173px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_ImageList21 {
  width: 25px;
}

#AreaPageManualP3_LeakageTestA_ImageList21 {
  height: 25px;
}

#AreaPageManualP3_LeakageTestA_ImageList21 {
  z-index: 7;
}

#AreaPageManualP3_LeakageTestA_ImageList21 {
  border-style: none;
}

#AreaPageManualP3_LeakageTestA_ImageList21 {
  border-width: 0px;
}

#AreaPageManualP3_LeakageTestA_Label24 {
  top: 319px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_Label24 {
  left: 10px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_Label24 {
  width: 195px;
}

#AreaPageManualP3_LeakageTestA_Label24 {
  height: 35px;
}

#AreaPageManualP3_LeakageTestA_Label24 {
  z-index: 8;
}

#AreaPageManualP3_LeakageTestA_Label24 {
  border-width: 2px;
}

#AreaPageManualP3_LeakageTestA_Label24 {
  border-radius: 5px;
}

#AreaPageManualP3_LeakageTestA_Label24 {
  background-color: silver;
}

#AreaPageManualP3_LeakageTestA_Label24 {
  border-color: black;
}

#AreaPageManualP3_LeakageTestA_Label24:before {
  border-color: black;
}

#AreaPageManualP3_LeakageTestA_Label24:after {
  border-color: black;
}

#AreaPageManualP3_LeakageTestA_Label24 {
  border-style: outset;
}

#AreaPageManualP3_LeakageTestA_Label24:before {
  border-style: outset;
}

#AreaPageManualP3_LeakageTestA_Label24:after {
  border-style: outset;
}

#AreaPageManualP3_LeakageTestA_Label24 span {
  color: black;
}

#AreaPageManualP3_LeakageTestA_Label24 {
  font-size: 14px;
}

#AreaPageManualP3_LeakageTestA_Label24 {
  font-weight: bold;
}

#AreaPageManualP3_LeakageTestA_ImageList22 {
  top: 324px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_ImageList22 {
  left: 173px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_ImageList22 {
  width: 25px;
}

#AreaPageManualP3_LeakageTestA_ImageList22 {
  height: 25px;
}

#AreaPageManualP3_LeakageTestA_ImageList22 {
  z-index: 9;
}

#AreaPageManualP3_LeakageTestA_ImageList22 {
  border-style: none;
}

#AreaPageManualP3_LeakageTestA_ImageList22 {
  border-width: 0px;
}

#AreaPageManualP3_LeakageTestA_Label25 {
  top: 363px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_Label25 {
  left: 10px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_Label25 {
  width: 195px;
}

#AreaPageManualP3_LeakageTestA_Label25 {
  height: 35px;
}

#AreaPageManualP3_LeakageTestA_Label25 {
  z-index: 10;
}

#AreaPageManualP3_LeakageTestA_Label25 {
  border-width: 2px;
}

#AreaPageManualP3_LeakageTestA_Label25 {
  border-radius: 5px;
}

#AreaPageManualP3_LeakageTestA_Label25 {
  background-color: silver;
}

#AreaPageManualP3_LeakageTestA_Label25 {
  border-color: black;
}

#AreaPageManualP3_LeakageTestA_Label25:before {
  border-color: black;
}

#AreaPageManualP3_LeakageTestA_Label25:after {
  border-color: black;
}

#AreaPageManualP3_LeakageTestA_Label25 {
  border-style: outset;
}

#AreaPageManualP3_LeakageTestA_Label25:before {
  border-style: outset;
}

#AreaPageManualP3_LeakageTestA_Label25:after {
  border-style: outset;
}

#AreaPageManualP3_LeakageTestA_Label25 span {
  color: black;
}

#AreaPageManualP3_LeakageTestA_Label25 {
  font-size: 14px;
}

#AreaPageManualP3_LeakageTestA_Label25 {
  font-weight: bold;
}

#AreaPageManualP3_LeakageTestA_ImageList23 {
  top: 368px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_ImageList23 {
  left: 173px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_ImageList23 {
  width: 25px;
}

#AreaPageManualP3_LeakageTestA_ImageList23 {
  height: 25px;
}

#AreaPageManualP3_LeakageTestA_ImageList23 {
  z-index: 11;
}

#AreaPageManualP3_LeakageTestA_ImageList23 {
  border-style: none;
}

#AreaPageManualP3_LeakageTestA_ImageList23 {
  border-width: 0px;
}

#AreaPageManualP3_LeakageTestA_Label26 {
  top: 409px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_Label26 {
  left: 10px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_Label26 {
  width: 195px;
}

#AreaPageManualP3_LeakageTestA_Label26 {
  height: 35px;
}

#AreaPageManualP3_LeakageTestA_Label26 {
  z-index: 12;
}

#AreaPageManualP3_LeakageTestA_Label26 {
  border-width: 2px;
}

#AreaPageManualP3_LeakageTestA_Label26 {
  border-radius: 5px;
}

#AreaPageManualP3_LeakageTestA_Label26 {
  background-color: silver;
}

#AreaPageManualP3_LeakageTestA_Label26 {
  border-color: black;
}

#AreaPageManualP3_LeakageTestA_Label26:before {
  border-color: black;
}

#AreaPageManualP3_LeakageTestA_Label26:after {
  border-color: black;
}

#AreaPageManualP3_LeakageTestA_Label26 {
  border-style: outset;
}

#AreaPageManualP3_LeakageTestA_Label26:before {
  border-style: outset;
}

#AreaPageManualP3_LeakageTestA_Label26:after {
  border-style: outset;
}

#AreaPageManualP3_LeakageTestA_Label26 span {
  color: black;
}

#AreaPageManualP3_LeakageTestA_Label26 {
  font-size: 14px;
}

#AreaPageManualP3_LeakageTestA_Label26 {
  font-weight: bold;
}

#AreaPageManualP3_LeakageTestA_ImageList24 {
  top: 414px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_ImageList24 {
  left: 173px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_ImageList24 {
  width: 25px;
}

#AreaPageManualP3_LeakageTestA_ImageList24 {
  height: 25px;
}

#AreaPageManualP3_LeakageTestA_ImageList24 {
  z-index: 13;
}

#AreaPageManualP3_LeakageTestA_ImageList24 {
  border-style: none;
}

#AreaPageManualP3_LeakageTestA_ImageList24 {
  border-width: 0px;
}

#AreaPageManualP3_LeakageTestA_Button_StartTestovacejSekvencie {
  top: 187px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_Button_StartTestovacejSekvencie {
  left: 131px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_Button_StartTestovacejSekvencie {
  width: 165px;
}

#AreaPageManualP3_LeakageTestA_Button_StartTestovacejSekvencie {
  height: 45px;
}

#AreaPageManualP3_LeakageTestA_Button_StartTestovacejSekvencie {
  z-index: 14;
}

#AreaPageManualP3_LeakageTestA_Button_StartTestovacejSekvencie {
  border-radius: 10px;
}

#AreaPageManualP3_LeakageTestA_Button_StartTestovacejSekvencie:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_LeakageTestA_Button_StartTestovacejSekvencie {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_LeakageTestA_Button_StartTestovacejSekvencie:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_LeakageTestA_Button_StartTestovacejSekvencie.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_LeakageTestA_Button_StartTestovacejSekvencie.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_LeakageTestA_ImageList6 {
  top: 197px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_ImageList6 {
  left: 260px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_ImageList6 {
  width: 25px;
}

#AreaPageManualP3_LeakageTestA_ImageList6 {
  height: 25px;
}

#AreaPageManualP3_LeakageTestA_ImageList6 {
  z-index: 15;
}

#AreaPageManualP3_LeakageTestA_ImageList6 {
  border-style: none;
}

#AreaPageManualP3_LeakageTestA_ImageList6 {
  border-width: 0px;
}

#AreaPageManualP3_LeakageTestA_Label27 {
  top: 275px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_Label27 {
  left: 222px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_Label27 {
  width: 195px;
}

#AreaPageManualP3_LeakageTestA_Label27 {
  height: 77px;
}

#AreaPageManualP3_LeakageTestA_Label27 {
  z-index: 16;
}

#AreaPageManualP3_LeakageTestA_Label27 {
  border-width: 2px;
}

#AreaPageManualP3_LeakageTestA_Label27 {
  border-radius: 5px;
}

#AreaPageManualP3_LeakageTestA_Label27 {
  background-color: silver;
}

#AreaPageManualP3_LeakageTestA_Label27 {
  border-color: black;
}

#AreaPageManualP3_LeakageTestA_Label27:before {
  border-color: black;
}

#AreaPageManualP3_LeakageTestA_Label27:after {
  border-color: black;
}

#AreaPageManualP3_LeakageTestA_Label27 {
  border-style: outset;
}

#AreaPageManualP3_LeakageTestA_Label27:before {
  border-style: outset;
}

#AreaPageManualP3_LeakageTestA_Label27:after {
  border-style: outset;
}

#AreaPageManualP3_LeakageTestA_Label27 span {
  color: black;
}

#AreaPageManualP3_LeakageTestA_Label27 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: start;
  align-items: flex-start;
}

#AreaPageManualP3_LeakageTestA_Label27 {
  font-size: 14px;
}

#AreaPageManualP3_LeakageTestA_Label27 {
  font-weight: bold;
}

#AreaPageManualP3_LeakageTestA_NumericOutput_LeakageTest_VyrovnTlak {
  height: 30px;
}

#AreaPageManualP3_LeakageTestA_NumericOutput_LeakageTest_VyrovnTlak {
  top: 311px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_NumericOutput_LeakageTest_VyrovnTlak {
  left: 237px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_NumericOutput_LeakageTest_VyrovnTlak {
  width: 165px;
}

#AreaPageManualP3_LeakageTestA_NumericOutput_LeakageTest_VyrovnTlak {
  z-index: 17;
}

#AreaPageManualP3_LeakageTestA_NumericOutput_LeakageTest_VyrovnTlak {
  border-width: 4px;
}

#AreaPageManualP3_LeakageTestA_NumericOutput_LeakageTest_VyrovnTlak {
  border-style: ridge;
}

#AreaPageManualP3_LeakageTestA_NumericOutput_LeakageTest_VyrovnTlak input {
  color: black;
}

#AreaPageManualP3_LeakageTestA_NumericOutput_LeakageTest_VyrovnTlak span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageManualP3_LeakageTestA_NumericOutput_LeakageTest_VyrovnTlak input {
  font-size: 16px;
}

#AreaPageManualP3_LeakageTestA_GroupBox2 {
  top: 70px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_GroupBox2 {
  left: 12px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_GroupBox2 {
  width: 430px;
}

#AreaPageManualP3_LeakageTestA_GroupBox2 {
  height: 250px;
}

#AreaPageManualP3_LeakageTestA_GroupBox2 {
  z-index: 3;
}

#AreaPageManualP3_LeakageTestA_GroupBox2 {
  background-color: oldlace;
}

#AreaPageManualP3_LeakageTestA_GroupBox2 > .header span {
  color: black;
}

#AreaPageManualP3_LeakageTestA_GroupBox2 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_LeakageTestA_Button_ZostupCentrovania {
  top: 71px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_Button_ZostupCentrovania {
  left: 17px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_Button_ZostupCentrovania {
  width: 165px;
}

#AreaPageManualP3_LeakageTestA_Button_ZostupCentrovania {
  height: 45px;
}

#AreaPageManualP3_LeakageTestA_Button_ZostupCentrovania {
  z-index: 0;
}

#AreaPageManualP3_LeakageTestA_Button_ZostupCentrovania {
  border-radius: 10px;
}

#AreaPageManualP3_LeakageTestA_Button_ZostupCentrovania:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_LeakageTestA_Button_ZostupCentrovania {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_LeakageTestA_Button_ZostupCentrovania:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_LeakageTestA_Button_ZostupCentrovania.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_LeakageTestA_Button_ZostupCentrovania.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_LeakageTestA_ImageList7 {
  top: 81px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_ImageList7 {
  left: 147px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_ImageList7 {
  width: 25px;
}

#AreaPageManualP3_LeakageTestA_ImageList7 {
  height: 25px;
}

#AreaPageManualP3_LeakageTestA_ImageList7 {
  z-index: 1;
}

#AreaPageManualP3_LeakageTestA_ImageList7 {
  border-style: none;
}

#AreaPageManualP3_LeakageTestA_ImageList7 {
  border-width: 0px;
}

#AreaPageManualP3_LeakageTestA_Button_ZdvihCentrovania {
  top: 71px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_Button_ZdvihCentrovania {
  left: 245px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_Button_ZdvihCentrovania {
  width: 165px;
}

#AreaPageManualP3_LeakageTestA_Button_ZdvihCentrovania {
  height: 45px;
}

#AreaPageManualP3_LeakageTestA_Button_ZdvihCentrovania {
  z-index: 2;
}

#AreaPageManualP3_LeakageTestA_Button_ZdvihCentrovania {
  border-radius: 10px;
}

#AreaPageManualP3_LeakageTestA_Button_ZdvihCentrovania:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP3_LeakageTestA_Button_ZdvihCentrovania {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP3_LeakageTestA_Button_ZdvihCentrovania:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_LeakageTestA_Button_ZdvihCentrovania.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_LeakageTestA_Button_ZdvihCentrovania.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_LeakageTestA_ImageList9 {
  top: 81px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_ImageList9 {
  left: 373px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_ImageList9 {
  width: 25px;
}

#AreaPageManualP3_LeakageTestA_ImageList9 {
  height: 25px;
}

#AreaPageManualP3_LeakageTestA_ImageList9 {
  z-index: 3;
}

#AreaPageManualP3_LeakageTestA_ImageList9 {
  border-style: none;
}

#AreaPageManualP3_LeakageTestA_ImageList9 {
  border-width: 0px;
}

#AreaPageManualP3_LeakageTestA_GroupBox4 {
  top: 330px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_GroupBox4 {
  left: 12px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_GroupBox4 {
  width: 430px;
}

#AreaPageManualP3_LeakageTestA_GroupBox4 {
  height: 250px;
}

#AreaPageManualP3_LeakageTestA_GroupBox4 {
  z-index: 4;
}

#AreaPageManualP3_LeakageTestA_GroupBox4 {
  background-color: oldlace;
}

#AreaPageManualP3_LeakageTestA_GroupBox4 > .header span {
  color: black;
}

#AreaPageManualP3_LeakageTestA_GroupBox4 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_LeakageTestA_ToggleSwitch_Stoper {
  top: 107px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_ToggleSwitch_Stoper {
  left: 132px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_ToggleSwitch_Stoper {
  width: 165px;
}

#AreaPageManualP3_LeakageTestA_ToggleSwitch_Stoper {
  height: 45px;
}

#AreaPageManualP3_LeakageTestA_ToggleSwitch_Stoper {
  z-index: 0;
}

#AreaPageManualP3_LeakageTestA_ToggleSwitch_Stoper:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .before {
  color: black;
}

#AreaPageManualP3_LeakageTestA_ToggleSwitch_Stoper:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .after {
  color: black;
}

#AreaPageManualP3_LeakageTestA_ToggleSwitch_Stoper .breaseToggleSwitch_toggle .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP3_LeakageTestA_ToggleSwitch_Stoper .breaseToggleSwitch_toggle .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP3_LeakageTestA_ToggleSwitch_Stoper:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_LeakageTestA_ToggleSwitch_Stoper.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_LeakageTestA_ToggleSwitch_Stoper.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP3_LeakageTestA_Label15 {
  top: 15px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_Label15 {
  left: 9px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_Label15 {
  width: 195px;
}

#AreaPageManualP3_LeakageTestA_Label15 {
  height: 35px;
}

#AreaPageManualP3_LeakageTestA_Label15 {
  z-index: 1;
}

#AreaPageManualP3_LeakageTestA_Label15 {
  border-width: 2px;
}

#AreaPageManualP3_LeakageTestA_Label15 {
  border-radius: 5px;
}

#AreaPageManualP3_LeakageTestA_Label15 {
  background-color: silver;
}

#AreaPageManualP3_LeakageTestA_Label15 {
  border-color: black;
}

#AreaPageManualP3_LeakageTestA_Label15:before {
  border-color: black;
}

#AreaPageManualP3_LeakageTestA_Label15:after {
  border-color: black;
}

#AreaPageManualP3_LeakageTestA_Label15 {
  border-style: outset;
}

#AreaPageManualP3_LeakageTestA_Label15:before {
  border-style: outset;
}

#AreaPageManualP3_LeakageTestA_Label15:after {
  border-style: outset;
}

#AreaPageManualP3_LeakageTestA_Label15 span {
  color: black;
}

#AreaPageManualP3_LeakageTestA_Label15 {
  font-size: 14px;
}

#AreaPageManualP3_LeakageTestA_Label15 {
  font-weight: bold;
}

#AreaPageManualP3_LeakageTestA_ImageList19 {
  top: 20px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_ImageList19 {
  left: 171px;
  position: absolute;
}

#AreaPageManualP3_LeakageTestA_ImageList19 {
  width: 25px;
}

#AreaPageManualP3_LeakageTestA_ImageList19 {
  height: 25px;
}

#AreaPageManualP3_LeakageTestA_ImageList19 {
  z-index: 2;
}

#AreaPageManualP3_LeakageTestA_ImageList19 {
  border-style: none;
}

#AreaPageManualP3_LeakageTestA_ImageList19 {
  border-width: 0px;
}
