#AreaHlasenie7_ST3_GroupBox6 {
  top: 0px;
  position: absolute;
}

#AreaHlasenie7_ST3_GroupBox6 {
  left: 0px;
  position: absolute;
}

#AreaHlasenie7_ST3_GroupBox6 {
  width: 500px;
}

#AreaHlasenie7_ST3_GroupBox6 {
  height: 300px;
}

#AreaHlasenie7_ST3_GroupBox6 {
  z-index: 0;
}

#AreaHlasenie7_ST3_GroupBox6 {
  border-width: 7px;
}

#AreaHlasenie7_ST3_GroupBox6 > .header {
  border-width: 7px;
}

#AreaHlasenie7_ST3_GroupBox6 {
  border-radius: 6px 6px 6px 6px;
}

#AreaHlasenie7_ST3_GroupBox6 {
  background-color: red;
}

#AreaHlasenie7_ST3_GroupBox6 {
  border-style: groove;
}

#AreaHlasenie7_ST3_GroupBox6 > .header {
  border-bottom-style: groove;
}

#AreaHlasenie7_ST3_GroupBox6 > .header span {
  color: black;
}

#AreaHlasenie7_ST3_GroupBox6 {
  box-shadow: 4px 4px 14px black;
}

#AreaHlasenie7_ST3_Image1 {
  top: 7px;
  position: absolute;
}

#AreaHlasenie7_ST3_Image1 {
  left: 415px;
  position: absolute;
}

#AreaHlasenie7_ST3_Image1 {
  width: 62px;
}

#AreaHlasenie7_ST3_Image1 {
  height: 62px;
}

#AreaHlasenie7_ST3_Image1 {
  z-index: 0;
}

#AreaHlasenie7_ST3_Label1 {
  top: 93px;
  position: absolute;
}

#AreaHlasenie7_ST3_Label1 {
  left: 22px;
  position: absolute;
}

#AreaHlasenie7_ST3_Label1 {
  width: 443px;
}

#AreaHlasenie7_ST3_Label1 {
  height: 100px;
}

#AreaHlasenie7_ST3_Label1 {
  z-index: 1;
}

#AreaHlasenie7_ST3_Label1 span {
  color: black;
}

#AreaHlasenie7_ST3_Label1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaHlasenie7_ST3_Label1 {
  font-size: 24px;
}

#AreaHlasenie7_ST3_Label1 {
  font-weight: bold;
}

#AreaHlasenie7_ST3_Button_ZaklTesnenia_IgnorujKameru {
  top: 215px;
  position: absolute;
}

#AreaHlasenie7_ST3_Button_ZaklTesnenia_IgnorujKameru {
  left: 167px;
  position: absolute;
}

#AreaHlasenie7_ST3_Button_ZaklTesnenia_IgnorujKameru {
  width: 153px;
}

#AreaHlasenie7_ST3_Button_ZaklTesnenia_IgnorujKameru {
  height: 45px;
}

#AreaHlasenie7_ST3_Button_ZaklTesnenia_IgnorujKameru {
  z-index: 2;
}

#AreaHlasenie7_ST3_Button_ZaklTesnenia_IgnorujKameru {
  border-radius: 10px;
}

#AreaHlasenie7_ST3_Button_ZaklTesnenia_IgnorujKameru:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaHlasenie7_ST3_Button_ZaklTesnenia_IgnorujKameru {
  justify-content: center;
  text-align: center;
}

#AreaHlasenie7_ST3_Button_ZaklTesnenia_IgnorujKameru:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaHlasenie7_ST3_Button_ZaklTesnenia_IgnorujKameru.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaHlasenie7_ST3_Button_ZaklTesnenia_IgnorujKameru.disabled.checked {
  box-shadow: 4px 4px 14px black;
}
