@import "mixins.scss";
#AreaPageManualP3_Skrutkovanie_Image1 {
	@include elemTop(0);
}
#AreaPageManualP3_Skrutkovanie_Image1 {
	@include elemLeft(0);
}
#AreaPageManualP3_Skrutkovanie_Image1 {
	@include elemAutoWidth(1366);
}
#AreaPageManualP3_Skrutkovanie_Image1 {
	@include elemAutoHeight(588);
}
#AreaPageManualP3_Skrutkovanie_Image1 {
		z-index: 0;
}
#AreaPageManualP3_Skrutkovanie_Image1 {
		opacity: 0.2;
}
#AreaPageManualP3_Skrutkovanie_Label1 {
	@include elemTop(20);
}
#AreaPageManualP3_Skrutkovanie_Label1 {
	@include elemLeft(483);
}
#AreaPageManualP3_Skrutkovanie_Label1 {
	@include elemAutoWidth(400);
}
#AreaPageManualP3_Skrutkovanie_Label1 {
	@include elemAutoHeight(35);
}
#AreaPageManualP3_Skrutkovanie_Label1 {
		z-index: 1;
}
#AreaPageManualP3_Skrutkovanie_Label1 {
		border-width: 5px;
}
#AreaPageManualP3_Skrutkovanie_Label1 {
	@include border-radius(5px);
}
#AreaPageManualP3_Skrutkovanie_Label1 {
		border-style: ridge;
}
#AreaPageManualP3_Skrutkovanie_Label1 {
	&:before{
		border-style: ridge;
	}
}
#AreaPageManualP3_Skrutkovanie_Label1 {
	&:after{
		border-style: ridge;
	}
}
#AreaPageManualP3_Skrutkovanie_Label1 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_Label1 {
	@include text-alignment-all('center');
}
#AreaPageManualP3_Skrutkovanie_Label1 {
		font-size: 20px;
}
#AreaPageManualP3_Skrutkovanie_Label1 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP3_Skrutkovanie_GroupBox2 {
	@include elemTop(68);
}
#AreaPageManualP3_Skrutkovanie_GroupBox2 {
	@include elemLeft(18);
}
#AreaPageManualP3_Skrutkovanie_GroupBox2 {
	@include elemWidth(430);
}
#AreaPageManualP3_Skrutkovanie_GroupBox2 {
	@include elemHeight(250);
}
#AreaPageManualP3_Skrutkovanie_GroupBox2 {
		z-index: 2;
}
#AreaPageManualP3_Skrutkovanie_GroupBox2 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP3_Skrutkovanie_GroupBox2 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_GroupBox2 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP3_Skrutkovanie_Button_ZostupCentrovania {
	@include elemTop(81);
}
#AreaPageManualP3_Skrutkovanie_Button_ZostupCentrovania {
	@include elemLeft(11);
}
#AreaPageManualP3_Skrutkovanie_Button_ZostupCentrovania {
	@include elemAutoWidth(165);
}
#AreaPageManualP3_Skrutkovanie_Button_ZostupCentrovania {
	@include elemAutoHeight(45);
}
#AreaPageManualP3_Skrutkovanie_Button_ZostupCentrovania {
		z-index: 0;
}
#AreaPageManualP3_Skrutkovanie_Button_ZostupCentrovania {
	@include border-radius(10px);
}
#AreaPageManualP3_Skrutkovanie_Button_ZostupCentrovania {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_Button_ZostupCentrovania {
	@include text-alignment(left);
}
#AreaPageManualP3_Skrutkovanie_Button_ZostupCentrovania {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_Skrutkovanie_Button_ZostupCentrovania {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_Skrutkovanie_Button_ZostupCentrovania {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_Skrutkovanie_ImageList5 {
	@include elemTop(91);
}
#AreaPageManualP3_Skrutkovanie_ImageList5 {
	@include elemLeft(141);
}
#AreaPageManualP3_Skrutkovanie_ImageList5 {
	@include elemWidth(25);
}
#AreaPageManualP3_Skrutkovanie_ImageList5 {
	@include elemHeight(25);
}
#AreaPageManualP3_Skrutkovanie_ImageList5 {
		z-index: 1;
}
#AreaPageManualP3_Skrutkovanie_ImageList5 {
		border-style: none;
}
#AreaPageManualP3_Skrutkovanie_ImageList5 {
		border-width: 0px;
}
#AreaPageManualP3_Skrutkovanie_Button_ZdvihCentrovania {
	@include elemTop(81);
}
#AreaPageManualP3_Skrutkovanie_Button_ZdvihCentrovania {
	@include elemLeft(245);
}
#AreaPageManualP3_Skrutkovanie_Button_ZdvihCentrovania {
	@include elemAutoWidth(165);
}
#AreaPageManualP3_Skrutkovanie_Button_ZdvihCentrovania {
	@include elemAutoHeight(45);
}
#AreaPageManualP3_Skrutkovanie_Button_ZdvihCentrovania {
		z-index: 2;
}
#AreaPageManualP3_Skrutkovanie_Button_ZdvihCentrovania {
	@include border-radius(10px);
}
#AreaPageManualP3_Skrutkovanie_Button_ZdvihCentrovania {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_Button_ZdvihCentrovania {
	@include text-alignment(left);
}
#AreaPageManualP3_Skrutkovanie_Button_ZdvihCentrovania {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_Skrutkovanie_Button_ZdvihCentrovania {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_Skrutkovanie_Button_ZdvihCentrovania {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_Skrutkovanie_ImageList4 {
	@include elemTop(91);
}
#AreaPageManualP3_Skrutkovanie_ImageList4 {
	@include elemLeft(373);
}
#AreaPageManualP3_Skrutkovanie_ImageList4 {
	@include elemWidth(25);
}
#AreaPageManualP3_Skrutkovanie_ImageList4 {
	@include elemHeight(25);
}
#AreaPageManualP3_Skrutkovanie_ImageList4 {
		z-index: 3;
}
#AreaPageManualP3_Skrutkovanie_ImageList4 {
		border-style: none;
}
#AreaPageManualP3_Skrutkovanie_ImageList4 {
		border-width: 0px;
}
#AreaPageManualP3_Skrutkovanie_GroupBox4 {
	@include elemTop(328);
}
#AreaPageManualP3_Skrutkovanie_GroupBox4 {
	@include elemLeft(18);
}
#AreaPageManualP3_Skrutkovanie_GroupBox4 {
	@include elemWidth(430);
}
#AreaPageManualP3_Skrutkovanie_GroupBox4 {
	@include elemHeight(250);
}
#AreaPageManualP3_Skrutkovanie_GroupBox4 {
		z-index: 3;
}
#AreaPageManualP3_Skrutkovanie_GroupBox4 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP3_Skrutkovanie_GroupBox4 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_GroupBox4 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP3_Skrutkovanie_ToggleSwitch_Stoper {
	@include elemTop(107);
}
#AreaPageManualP3_Skrutkovanie_ToggleSwitch_Stoper {
	@include elemLeft(132);
}
#AreaPageManualP3_Skrutkovanie_ToggleSwitch_Stoper {
	@include elemAutoWidth(165);
}
#AreaPageManualP3_Skrutkovanie_ToggleSwitch_Stoper {
	@include elemAutoHeight(45);
}
#AreaPageManualP3_Skrutkovanie_ToggleSwitch_Stoper {
		z-index: 0;
}
#AreaPageManualP3_Skrutkovanie_ToggleSwitch_Stoper {
	&:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_ToggleSwitch_Stoper {
	&:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_ToggleSwitch_Stoper {
	.breaseToggleSwitch_toggle .wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP3_Skrutkovanie_ToggleSwitch_Stoper {
	.breaseToggleSwitch_toggle .wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP3_Skrutkovanie_ToggleSwitch_Stoper {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_Skrutkovanie_ToggleSwitch_Stoper {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_Skrutkovanie_ToggleSwitch_Stoper {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_Skrutkovanie_ImageList19 {
	@include elemTop(20);
}
#AreaPageManualP3_Skrutkovanie_ImageList19 {
	@include elemLeft(175);
}
#AreaPageManualP3_Skrutkovanie_ImageList19 {
	@include elemWidth(25);
}
#AreaPageManualP3_Skrutkovanie_ImageList19 {
	@include elemHeight(25);
}
#AreaPageManualP3_Skrutkovanie_ImageList19 {
		z-index: 2;
}
#AreaPageManualP3_Skrutkovanie_ImageList19 {
		border-style: none;
}
#AreaPageManualP3_Skrutkovanie_ImageList19 {
		border-width: 0px;
}
#AreaPageManualP3_Skrutkovanie_Label16 {
	@include elemTop(15);
}
#AreaPageManualP3_Skrutkovanie_Label16 {
	@include elemLeft(11);
}
#AreaPageManualP3_Skrutkovanie_Label16 {
	@include elemAutoWidth(195);
}
#AreaPageManualP3_Skrutkovanie_Label16 {
	@include elemAutoHeight(35);
}
#AreaPageManualP3_Skrutkovanie_Label16 {
		z-index: 1;
}
#AreaPageManualP3_Skrutkovanie_Label16 {
		border-width: 2px;
}
#AreaPageManualP3_Skrutkovanie_Label16 {
	@include border-radius(5px);
}
#AreaPageManualP3_Skrutkovanie_Label16 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP3_Skrutkovanie_Label16 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP3_Skrutkovanie_Label16 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_Label16 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_Label16 {
		border-style: outset;
}
#AreaPageManualP3_Skrutkovanie_Label16 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP3_Skrutkovanie_Label16 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP3_Skrutkovanie_Label16 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_Label16 {
		font-size: 14px;
}
#AreaPageManualP3_Skrutkovanie_Label16 {
	@include font-weight-bold(true);
}
#AreaPageManualP3_Skrutkovanie_NavigationButton_NextPage {
	@include elemTop(8);
}
#AreaPageManualP3_Skrutkovanie_NavigationButton_NextPage {
	@include elemLeft(1248);
}
#AreaPageManualP3_Skrutkovanie_NavigationButton_NextPage {
	@include elemAutoWidth(105);
}
#AreaPageManualP3_Skrutkovanie_NavigationButton_NextPage {
	@include elemAutoHeight(50);
}
#AreaPageManualP3_Skrutkovanie_NavigationButton_NextPage {
		z-index: 4;
}
#AreaPageManualP3_Skrutkovanie_NavigationButton_NextPage {
		border-style: solid;
}
#AreaPageManualP3_Skrutkovanie_NavigationButton_NextPage {
	&.active{
		border-style: solid;
	}
}
#AreaPageManualP3_Skrutkovanie_NavigationButton_NextPage {
	&.checked{
		border-style: solid;
	}
}
#AreaPageManualP3_Skrutkovanie_NavigationButton_NextPage {
	&.disabled{
		border-style: solid;
	}
}
#AreaPageManualP3_Skrutkovanie_NavigationButton_NextPage {
	&:not(.active):not(.checked){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualP3_Skrutkovanie_NavigationButton_NextPage {
	&.disabled{
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualP3_Skrutkovanie_NavigationButton_NextPage {
	@include border-radius(8px);
}
#AreaPageManualP3_Skrutkovanie_NavigationButton_NextPage {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%)');
	}
}
#AreaPageManualP3_Skrutkovanie_NavigationButton_NextPage {
	&.active:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%)');
	}
}
#AreaPageManualP3_Skrutkovanie_NavigationButton_NextPage {
	&.checked:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%)');
	}
}
#AreaPageManualP3_Skrutkovanie_NavigationButton_NextPage {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_NavigationButton_NextPage {
	&.active:not(.disabled):not(.editMode){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualP3_Skrutkovanie_NavigationButton_NextPage {
	&.checked:not(.disabled){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualP3_Skrutkovanie_NavigationButton_NextPage {
	&.active:not(.disabled):not(.editMode) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_NavigationButton_NextPage {
	&.checked:not(.disabled) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_NavigationButton_NextPage {
	span{
		font-size: 20px;
	}
}
#AreaPageManualP3_Skrutkovanie_NavigationButton_NextPage {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_Skrutkovanie_NavigationButton_NextPage {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_Skrutkovanie_NavigationButton_NextPage {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_Skrutkovanie_GroupBox5 {
	@include elemTop(68);
}
#AreaPageManualP3_Skrutkovanie_GroupBox5 {
	@include elemLeft(468);
}
#AreaPageManualP3_Skrutkovanie_GroupBox5 {
	@include elemWidth(430);
}
#AreaPageManualP3_Skrutkovanie_GroupBox5 {
	@include elemHeight(510);
}
#AreaPageManualP3_Skrutkovanie_GroupBox5 {
		z-index: 5;
}
#AreaPageManualP3_Skrutkovanie_GroupBox5 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP3_Skrutkovanie_GroupBox5 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_GroupBox5 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP3_Skrutkovanie_Button_HomingOsY {
	@include elemTop(13);
}
#AreaPageManualP3_Skrutkovanie_Button_HomingOsY {
	@include elemLeft(11);
}
#AreaPageManualP3_Skrutkovanie_Button_HomingOsY {
	@include elemAutoWidth(165);
}
#AreaPageManualP3_Skrutkovanie_Button_HomingOsY {
	@include elemAutoHeight(45);
}
#AreaPageManualP3_Skrutkovanie_Button_HomingOsY {
		z-index: 0;
}
#AreaPageManualP3_Skrutkovanie_Button_HomingOsY {
	@include border-radius(10px);
}
#AreaPageManualP3_Skrutkovanie_Button_HomingOsY {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_Button_HomingOsY {
	@include text-alignment(left);
}
#AreaPageManualP3_Skrutkovanie_Button_HomingOsY {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_Skrutkovanie_Button_HomingOsY {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_Skrutkovanie_Button_HomingOsY {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_Skrutkovanie_ImageList7 {
	@include elemTop(23);
}
#AreaPageManualP3_Skrutkovanie_ImageList7 {
	@include elemLeft(139);
}
#AreaPageManualP3_Skrutkovanie_ImageList7 {
	@include elemWidth(25);
}
#AreaPageManualP3_Skrutkovanie_ImageList7 {
	@include elemHeight(25);
}
#AreaPageManualP3_Skrutkovanie_ImageList7 {
		z-index: 1;
}
#AreaPageManualP3_Skrutkovanie_ImageList7 {
		border-style: none;
}
#AreaPageManualP3_Skrutkovanie_ImageList7 {
		border-width: 0px;
}
#AreaPageManualP3_Skrutkovanie_NumericInput_OsY_ZadanaRychlost {
	@include elemHeight(30);
}
#AreaPageManualP3_Skrutkovanie_NumericInput_OsY_ZadanaRychlost {
	@include elemTop(183);
}
#AreaPageManualP3_Skrutkovanie_NumericInput_OsY_ZadanaRychlost {
	@include elemLeft(241);
}
#AreaPageManualP3_Skrutkovanie_NumericInput_OsY_ZadanaRychlost {
	@include elemWidth(165);
}
#AreaPageManualP3_Skrutkovanie_NumericInput_OsY_ZadanaRychlost {
		z-index: 8;
}
#AreaPageManualP3_Skrutkovanie_NumericInput_OsY_ZadanaRychlost {
	&:not(.active):not(.disabled){
		border-width: 2px 4px 2px 2px;
	}
}
#AreaPageManualP3_Skrutkovanie_NumericInput_OsY_ZadanaRychlost {
	input{
		font-size: 18px;
	}
}
#AreaPageManualP3_Skrutkovanie_NumericInput_OsY_ZadanaRychlost {
	@include box-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}
#AreaPageManualP3_Skrutkovanie_NumericOutput_OsY_AktualnaPozicia {
	@include elemAutoHeight(30);
}
#AreaPageManualP3_Skrutkovanie_NumericOutput_OsY_AktualnaPozicia {
	@include elemTop(183);
}
#AreaPageManualP3_Skrutkovanie_NumericOutput_OsY_AktualnaPozicia {
	@include elemLeft(26);
}
#AreaPageManualP3_Skrutkovanie_NumericOutput_OsY_AktualnaPozicia {
	@include elemAutoWidth(165);
}
#AreaPageManualP3_Skrutkovanie_NumericOutput_OsY_AktualnaPozicia {
		z-index: 7;
}
#AreaPageManualP3_Skrutkovanie_NumericOutput_OsY_AktualnaPozicia {
		border-width: 4px;
}
#AreaPageManualP3_Skrutkovanie_NumericOutput_OsY_AktualnaPozicia {
		border-style: ridge;
}
#AreaPageManualP3_Skrutkovanie_NumericOutput_OsY_AktualnaPozicia {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_NumericOutput_OsY_AktualnaPozicia {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_NumericOutput_OsY_AktualnaPozicia {
	input{
		font-size: 16px;
	}
}
#AreaPageManualP3_Skrutkovanie_MomentaryPushButton_JoggOsY_VPRED {
	@include elemTop(81);
}
#AreaPageManualP3_Skrutkovanie_MomentaryPushButton_JoggOsY_VPRED {
	@include elemLeft(11);
}
#AreaPageManualP3_Skrutkovanie_MomentaryPushButton_JoggOsY_VPRED {
	@include elemAutoWidth(165);
}
#AreaPageManualP3_Skrutkovanie_MomentaryPushButton_JoggOsY_VPRED {
	@include elemAutoHeight(45);
}
#AreaPageManualP3_Skrutkovanie_MomentaryPushButton_JoggOsY_VPRED {
		z-index: 2;
}
#AreaPageManualP3_Skrutkovanie_MomentaryPushButton_JoggOsY_VPRED {
	@include border-radius(10px);
}
#AreaPageManualP3_Skrutkovanie_MomentaryPushButton_JoggOsY_VPRED {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_MomentaryPushButton_JoggOsY_VPRED {
	@include text-alignment(left);
}
#AreaPageManualP3_Skrutkovanie_MomentaryPushButton_JoggOsY_VPRED {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_Skrutkovanie_MomentaryPushButton_JoggOsY_VPRED {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_Skrutkovanie_MomentaryPushButton_JoggOsY_VPRED {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_Skrutkovanie_MomentaryPushButton_JoggOsY_VZAD {
	@include elemTop(81);
}
#AreaPageManualP3_Skrutkovanie_MomentaryPushButton_JoggOsY_VZAD {
	@include elemLeft(256);
}
#AreaPageManualP3_Skrutkovanie_MomentaryPushButton_JoggOsY_VZAD {
	@include elemAutoWidth(165);
}
#AreaPageManualP3_Skrutkovanie_MomentaryPushButton_JoggOsY_VZAD {
	@include elemAutoHeight(45);
}
#AreaPageManualP3_Skrutkovanie_MomentaryPushButton_JoggOsY_VZAD {
		z-index: 3;
}
#AreaPageManualP3_Skrutkovanie_MomentaryPushButton_JoggOsY_VZAD {
	@include border-radius(10px);
}
#AreaPageManualP3_Skrutkovanie_MomentaryPushButton_JoggOsY_VZAD {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_MomentaryPushButton_JoggOsY_VZAD {
	@include text-alignment(left);
}
#AreaPageManualP3_Skrutkovanie_MomentaryPushButton_JoggOsY_VZAD {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_Skrutkovanie_MomentaryPushButton_JoggOsY_VZAD {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_Skrutkovanie_MomentaryPushButton_JoggOsY_VZAD {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_Skrutkovanie_ImageList17 {
	@include elemTop(280);
}
#AreaPageManualP3_Skrutkovanie_ImageList17 {
	@include elemLeft(175);
}
#AreaPageManualP3_Skrutkovanie_ImageList17 {
	@include elemWidth(25);
}
#AreaPageManualP3_Skrutkovanie_ImageList17 {
	@include elemHeight(25);
}
#AreaPageManualP3_Skrutkovanie_ImageList17 {
		z-index: 11;
}
#AreaPageManualP3_Skrutkovanie_ImageList17 {
		border-style: none;
}
#AreaPageManualP3_Skrutkovanie_ImageList17 {
		border-width: 0px;
}
#AreaPageManualP3_Skrutkovanie_Line4 {
		z-index: 4;
}
#AreaPageManualP3_Skrutkovanie_Line4 {
	line{
		stroke-width: 2px;
	}
}
#AreaPageManualP3_Skrutkovanie_ImageList18 {
	@include elemTop(322);
}
#AreaPageManualP3_Skrutkovanie_ImageList18 {
	@include elemLeft(175);
}
#AreaPageManualP3_Skrutkovanie_ImageList18 {
	@include elemWidth(25);
}
#AreaPageManualP3_Skrutkovanie_ImageList18 {
	@include elemHeight(25);
}
#AreaPageManualP3_Skrutkovanie_ImageList18 {
		z-index: 12;
}
#AreaPageManualP3_Skrutkovanie_ImageList18 {
		border-style: none;
}
#AreaPageManualP3_Skrutkovanie_ImageList18 {
		border-width: 0px;
}
#AreaPageManualP3_Skrutkovanie_Label27 {
	@include elemTop(147);
}
#AreaPageManualP3_Skrutkovanie_Label27 {
	@include elemLeft(11);
}
#AreaPageManualP3_Skrutkovanie_Label27 {
	@include elemAutoWidth(195);
}
#AreaPageManualP3_Skrutkovanie_Label27 {
	@include elemAutoHeight(77);
}
#AreaPageManualP3_Skrutkovanie_Label27 {
		z-index: 5;
}
#AreaPageManualP3_Skrutkovanie_Label27 {
		border-width: 2px;
}
#AreaPageManualP3_Skrutkovanie_Label27 {
	@include border-radius(5px);
}
#AreaPageManualP3_Skrutkovanie_Label27 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP3_Skrutkovanie_Label27 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP3_Skrutkovanie_Label27 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_Label27 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_Label27 {
		border-style: outset;
}
#AreaPageManualP3_Skrutkovanie_Label27 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP3_Skrutkovanie_Label27 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP3_Skrutkovanie_Label27 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_Label27 {
	@include text-alignment-all('center top');
}
#AreaPageManualP3_Skrutkovanie_Label27 {
		font-size: 14px;
}
#AreaPageManualP3_Skrutkovanie_Label27 {
	@include font-weight-bold(true);
}
#AreaPageManualP3_Skrutkovanie_Label28 {
	@include elemTop(147);
}
#AreaPageManualP3_Skrutkovanie_Label28 {
	@include elemLeft(226);
}
#AreaPageManualP3_Skrutkovanie_Label28 {
	@include elemAutoWidth(195);
}
#AreaPageManualP3_Skrutkovanie_Label28 {
	@include elemAutoHeight(77);
}
#AreaPageManualP3_Skrutkovanie_Label28 {
		z-index: 6;
}
#AreaPageManualP3_Skrutkovanie_Label28 {
		border-width: 2px;
}
#AreaPageManualP3_Skrutkovanie_Label28 {
	@include border-radius(5px);
}
#AreaPageManualP3_Skrutkovanie_Label28 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP3_Skrutkovanie_Label28 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP3_Skrutkovanie_Label28 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_Label28 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_Label28 {
		border-style: outset;
}
#AreaPageManualP3_Skrutkovanie_Label28 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP3_Skrutkovanie_Label28 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP3_Skrutkovanie_Label28 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_Label28 {
	@include text-alignment-all('center top');
}
#AreaPageManualP3_Skrutkovanie_Label28 {
		font-size: 14px;
}
#AreaPageManualP3_Skrutkovanie_Label28 {
	@include font-weight-bold(true);
}
#AreaPageManualP3_Skrutkovanie_Label11 {
	@include elemTop(275);
}
#AreaPageManualP3_Skrutkovanie_Label11 {
	@include elemLeft(11);
}
#AreaPageManualP3_Skrutkovanie_Label11 {
	@include elemAutoWidth(195);
}
#AreaPageManualP3_Skrutkovanie_Label11 {
	@include elemAutoHeight(35);
}
#AreaPageManualP3_Skrutkovanie_Label11 {
		z-index: 9;
}
#AreaPageManualP3_Skrutkovanie_Label11 {
		border-width: 2px;
}
#AreaPageManualP3_Skrutkovanie_Label11 {
	@include border-radius(5px);
}
#AreaPageManualP3_Skrutkovanie_Label11 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP3_Skrutkovanie_Label11 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP3_Skrutkovanie_Label11 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_Label11 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_Label11 {
		border-style: outset;
}
#AreaPageManualP3_Skrutkovanie_Label11 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP3_Skrutkovanie_Label11 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP3_Skrutkovanie_Label11 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_Label11 {
		font-size: 14px;
}
#AreaPageManualP3_Skrutkovanie_Label11 {
	@include font-weight-bold(true);
}
#AreaPageManualP3_Skrutkovanie_Label12 {
	@include elemTop(317);
}
#AreaPageManualP3_Skrutkovanie_Label12 {
	@include elemLeft(11);
}
#AreaPageManualP3_Skrutkovanie_Label12 {
	@include elemAutoWidth(195);
}
#AreaPageManualP3_Skrutkovanie_Label12 {
	@include elemAutoHeight(35);
}
#AreaPageManualP3_Skrutkovanie_Label12 {
		z-index: 10;
}
#AreaPageManualP3_Skrutkovanie_Label12 {
		border-width: 2px;
}
#AreaPageManualP3_Skrutkovanie_Label12 {
	@include border-radius(5px);
}
#AreaPageManualP3_Skrutkovanie_Label12 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP3_Skrutkovanie_Label12 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP3_Skrutkovanie_Label12 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_Label12 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_Label12 {
		border-style: outset;
}
#AreaPageManualP3_Skrutkovanie_Label12 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP3_Skrutkovanie_Label12 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP3_Skrutkovanie_Label12 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_Skrutkovanie_Label12 {
		font-size: 14px;
}
#AreaPageManualP3_Skrutkovanie_Label12 {
	@include font-weight-bold(true);
}
