@import "mixins.scss";
#AreaPageManualP1_Dopravniky_Image1 {
	@include elemTop(0);
}
#AreaPageManualP1_Dopravniky_Image1 {
	@include elemLeft(0);
}
#AreaPageManualP1_Dopravniky_Image1 {
	@include elemAutoWidth(1366);
}
#AreaPageManualP1_Dopravniky_Image1 {
	@include elemAutoHeight(588);
}
#AreaPageManualP1_Dopravniky_Image1 {
		z-index: 0;
}
#AreaPageManualP1_Dopravniky_Image1 {
		opacity: 0.2;
}
#AreaPageManualP1_Dopravniky_Label1 {
	@include elemTop(20);
}
#AreaPageManualP1_Dopravniky_Label1 {
	@include elemLeft(483);
}
#AreaPageManualP1_Dopravniky_Label1 {
	@include elemAutoWidth(400);
}
#AreaPageManualP1_Dopravniky_Label1 {
	@include elemAutoHeight(35);
}
#AreaPageManualP1_Dopravniky_Label1 {
		z-index: 1;
}
#AreaPageManualP1_Dopravniky_Label1 {
		border-width: 5px;
}
#AreaPageManualP1_Dopravniky_Label1 {
	@include border-radius(5px);
}
#AreaPageManualP1_Dopravniky_Label1 {
		border-style: ridge;
}
#AreaPageManualP1_Dopravniky_Label1 {
	&:before{
		border-style: ridge;
	}
}
#AreaPageManualP1_Dopravniky_Label1 {
	&:after{
		border-style: ridge;
	}
}
#AreaPageManualP1_Dopravniky_Label1 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_Label1 {
	@include text-alignment-all('center');
}
#AreaPageManualP1_Dopravniky_Label1 {
		font-size: 20px;
}
#AreaPageManualP1_Dopravniky_Label1 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP1_Dopravniky_GroupBox_OvladanieDopravnikov {
	@include elemTop(74);
}
#AreaPageManualP1_Dopravniky_GroupBox_OvladanieDopravnikov {
	@include elemLeft(18);
}
#AreaPageManualP1_Dopravniky_GroupBox_OvladanieDopravnikov {
	@include elemWidth(430);
}
#AreaPageManualP1_Dopravniky_GroupBox_OvladanieDopravnikov {
	@include elemHeight(250);
}
#AreaPageManualP1_Dopravniky_GroupBox_OvladanieDopravnikov {
		z-index: 2;
}
#AreaPageManualP1_Dopravniky_GroupBox_OvladanieDopravnikov {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP1_Dopravniky_GroupBox_OvladanieDopravnikov {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_GroupBox_OvladanieDopravnikov {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
	@include elemTop(31);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
	@include elemLeft(132);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
		z-index: 0;
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
	&:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
	&:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
	.breaseToggleSwitch_toggle .wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
	.breaseToggleSwitch_toggle .wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_HornyDopravnik {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
	@include elemTop(117);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
	@include elemLeft(132);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
		z-index: 1;
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
	&:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
	&:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
	.breaseToggleSwitch_toggle .wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
	.breaseToggleSwitch_toggle .wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_SpodnyDopravnik {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Dopravniky_GroupBox4 {
	@include elemTop(74);
}
#AreaPageManualP1_Dopravniky_GroupBox4 {
	@include elemLeft(468);
}
#AreaPageManualP1_Dopravniky_GroupBox4 {
	@include elemWidth(430);
}
#AreaPageManualP1_Dopravniky_GroupBox4 {
	@include elemHeight(250);
}
#AreaPageManualP1_Dopravniky_GroupBox4 {
		z-index: 3;
}
#AreaPageManualP1_Dopravniky_GroupBox4 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP1_Dopravniky_GroupBox4 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_GroupBox4 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
	@include elemTop(117);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
	@include elemLeft(132);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
		z-index: 0;
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
	&:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
	&:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
	.breaseToggleSwitch_toggle .wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
	.breaseToggleSwitch_toggle .wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Dopravniky_Label15 {
	@include elemTop(23);
}
#AreaPageManualP1_Dopravniky_Label15 {
	@include elemLeft(15);
}
#AreaPageManualP1_Dopravniky_Label15 {
	@include elemAutoWidth(195);
}
#AreaPageManualP1_Dopravniky_Label15 {
	@include elemAutoHeight(35);
}
#AreaPageManualP1_Dopravniky_Label15 {
		z-index: 1;
}
#AreaPageManualP1_Dopravniky_Label15 {
		border-width: 2px;
}
#AreaPageManualP1_Dopravniky_Label15 {
	@include border-radius(5px);
}
#AreaPageManualP1_Dopravniky_Label15 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP1_Dopravniky_Label15 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Dopravniky_Label15 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_Label15 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_Label15 {
		border-style: outset;
}
#AreaPageManualP1_Dopravniky_Label15 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP1_Dopravniky_Label15 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP1_Dopravniky_Label15 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_Label15 {
		font-size: 15px;
}
#AreaPageManualP1_Dopravniky_Label15 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Dopravniky_ImageList19 {
	@include elemTop(28);
}
#AreaPageManualP1_Dopravniky_ImageList19 {
	@include elemLeft(177);
}
#AreaPageManualP1_Dopravniky_ImageList19 {
	@include elemWidth(25);
}
#AreaPageManualP1_Dopravniky_ImageList19 {
	@include elemHeight(25);
}
#AreaPageManualP1_Dopravniky_ImageList19 {
		z-index: 2;
}
#AreaPageManualP1_Dopravniky_ImageList19 {
		border-style: none;
}
#AreaPageManualP1_Dopravniky_ImageList19 {
		border-width: 0px;
}
#AreaPageManualP1_Dopravniky_GroupBox5 {
	@include elemTop(74);
}
#AreaPageManualP1_Dopravniky_GroupBox5 {
	@include elemLeft(918);
}
#AreaPageManualP1_Dopravniky_GroupBox5 {
	@include elemWidth(430);
}
#AreaPageManualP1_Dopravniky_GroupBox5 {
	@include elemHeight(250);
}
#AreaPageManualP1_Dopravniky_GroupBox5 {
		z-index: 4;
}
#AreaPageManualP1_Dopravniky_GroupBox5 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP1_Dopravniky_GroupBox5 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_GroupBox5 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
	@include elemTop(117);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
	@include elemLeft(132);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
	@include elemAutoWidth(165);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
	@include elemAutoHeight(45);
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
		z-index: 0;
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
	&:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
	&:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
	.breaseToggleSwitch_toggle .wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
	.breaseToggleSwitch_toggle .wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Dopravniky_ToggleSwitch_Stoper1 {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP1_Dopravniky_Label16 {
	@include elemTop(23);
}
#AreaPageManualP1_Dopravniky_Label16 {
	@include elemLeft(15);
}
#AreaPageManualP1_Dopravniky_Label16 {
	@include elemAutoWidth(195);
}
#AreaPageManualP1_Dopravniky_Label16 {
	@include elemAutoHeight(35);
}
#AreaPageManualP1_Dopravniky_Label16 {
		z-index: 1;
}
#AreaPageManualP1_Dopravniky_Label16 {
		border-width: 2px;
}
#AreaPageManualP1_Dopravniky_Label16 {
	@include border-radius(5px);
}
#AreaPageManualP1_Dopravniky_Label16 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP1_Dopravniky_Label16 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP1_Dopravniky_Label16 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_Label16 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_Label16 {
		border-style: outset;
}
#AreaPageManualP1_Dopravniky_Label16 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP1_Dopravniky_Label16 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP1_Dopravniky_Label16 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP1_Dopravniky_Label16 {
		font-size: 15px;
}
#AreaPageManualP1_Dopravniky_Label16 {
	@include font-weight-bold(true);
}
#AreaPageManualP1_Dopravniky_ImageList20 {
	@include elemTop(28);
}
#AreaPageManualP1_Dopravniky_ImageList20 {
	@include elemLeft(177);
}
#AreaPageManualP1_Dopravniky_ImageList20 {
	@include elemWidth(25);
}
#AreaPageManualP1_Dopravniky_ImageList20 {
	@include elemHeight(25);
}
#AreaPageManualP1_Dopravniky_ImageList20 {
		z-index: 2;
}
#AreaPageManualP1_Dopravniky_ImageList20 {
		border-style: none;
}
#AreaPageManualP1_Dopravniky_ImageList20 {
		border-width: 0px;
}
