@import "mixins.scss";
#AreaPageManualP3_LeakageTestB_Image1 {
	@include elemTop(0);
}
#AreaPageManualP3_LeakageTestB_Image1 {
	@include elemLeft(0);
}
#AreaPageManualP3_LeakageTestB_Image1 {
	@include elemAutoWidth(1366);
}
#AreaPageManualP3_LeakageTestB_Image1 {
	@include elemAutoHeight(588);
}
#AreaPageManualP3_LeakageTestB_Image1 {
		z-index: 0;
}
#AreaPageManualP3_LeakageTestB_Image1 {
		opacity: 0.2;
}
#AreaPageManualP3_LeakageTestB_Label1 {
	@include elemTop(20);
}
#AreaPageManualP3_LeakageTestB_Label1 {
	@include elemLeft(483);
}
#AreaPageManualP3_LeakageTestB_Label1 {
	@include elemAutoWidth(400);
}
#AreaPageManualP3_LeakageTestB_Label1 {
	@include elemAutoHeight(35);
}
#AreaPageManualP3_LeakageTestB_Label1 {
		z-index: 1;
}
#AreaPageManualP3_LeakageTestB_Label1 {
		border-width: 5px;
}
#AreaPageManualP3_LeakageTestB_Label1 {
	@include border-radius(5px);
}
#AreaPageManualP3_LeakageTestB_Label1 {
		border-style: ridge;
}
#AreaPageManualP3_LeakageTestB_Label1 {
	&:before{
		border-style: ridge;
	}
}
#AreaPageManualP3_LeakageTestB_Label1 {
	&:after{
		border-style: ridge;
	}
}
#AreaPageManualP3_LeakageTestB_Label1 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_Label1 {
	@include text-alignment-all('center');
}
#AreaPageManualP3_LeakageTestB_Label1 {
		font-size: 20px;
}
#AreaPageManualP3_LeakageTestB_Label1 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP3_LeakageTestB_GroupBox6 {
	@include elemTop(70);
}
#AreaPageManualP3_LeakageTestB_GroupBox6 {
	@include elemLeft(469);
}
#AreaPageManualP3_LeakageTestB_GroupBox6 {
	@include elemWidth(429);
}
#AreaPageManualP3_LeakageTestB_GroupBox6 {
	@include elemHeight(510);
}
#AreaPageManualP3_LeakageTestB_GroupBox6 {
		z-index: 2;
}
#AreaPageManualP3_LeakageTestB_GroupBox6 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP3_LeakageTestB_GroupBox6 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_GroupBox6 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP3_LeakageTestB_Button_ZostupHornehoPritlaku {
	@include elemTop(19);
}
#AreaPageManualP3_LeakageTestB_Button_ZostupHornehoPritlaku {
	@include elemLeft(17);
}
#AreaPageManualP3_LeakageTestB_Button_ZostupHornehoPritlaku {
	@include elemAutoWidth(165);
}
#AreaPageManualP3_LeakageTestB_Button_ZostupHornehoPritlaku {
	@include elemAutoHeight(45);
}
#AreaPageManualP3_LeakageTestB_Button_ZostupHornehoPritlaku {
		z-index: 0;
}
#AreaPageManualP3_LeakageTestB_Button_ZostupHornehoPritlaku {
	@include border-radius(10px);
}
#AreaPageManualP3_LeakageTestB_Button_ZostupHornehoPritlaku {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_Button_ZostupHornehoPritlaku {
	@include text-alignment(left);
}
#AreaPageManualP3_LeakageTestB_Button_ZostupHornehoPritlaku {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageTestB_Button_ZostupHornehoPritlaku {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageTestB_Button_ZostupHornehoPritlaku {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageTestB_ImageList5 {
	@include elemTop(29);
}
#AreaPageManualP3_LeakageTestB_ImageList5 {
	@include elemLeft(147);
}
#AreaPageManualP3_LeakageTestB_ImageList5 {
	@include elemWidth(25);
}
#AreaPageManualP3_LeakageTestB_ImageList5 {
	@include elemHeight(25);
}
#AreaPageManualP3_LeakageTestB_ImageList5 {
		z-index: 1;
}
#AreaPageManualP3_LeakageTestB_ImageList5 {
		border-style: none;
}
#AreaPageManualP3_LeakageTestB_ImageList5 {
		border-width: 0px;
}
#AreaPageManualP3_LeakageTestB_Button_ZdvihHornehoPritlaku {
	@include elemTop(19);
}
#AreaPageManualP3_LeakageTestB_Button_ZdvihHornehoPritlaku {
	@include elemLeft(245);
}
#AreaPageManualP3_LeakageTestB_Button_ZdvihHornehoPritlaku {
	@include elemAutoWidth(165);
}
#AreaPageManualP3_LeakageTestB_Button_ZdvihHornehoPritlaku {
	@include elemAutoHeight(45);
}
#AreaPageManualP3_LeakageTestB_Button_ZdvihHornehoPritlaku {
		z-index: 2;
}
#AreaPageManualP3_LeakageTestB_Button_ZdvihHornehoPritlaku {
	@include border-radius(10px);
}
#AreaPageManualP3_LeakageTestB_Button_ZdvihHornehoPritlaku {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_Button_ZdvihHornehoPritlaku {
	@include text-alignment(left);
}
#AreaPageManualP3_LeakageTestB_Button_ZdvihHornehoPritlaku {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageTestB_Button_ZdvihHornehoPritlaku {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageTestB_Button_ZdvihHornehoPritlaku {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageTestB_ImageList4 {
	@include elemTop(29);
}
#AreaPageManualP3_LeakageTestB_ImageList4 {
	@include elemLeft(373);
}
#AreaPageManualP3_LeakageTestB_ImageList4 {
	@include elemWidth(25);
}
#AreaPageManualP3_LeakageTestB_ImageList4 {
	@include elemHeight(25);
}
#AreaPageManualP3_LeakageTestB_ImageList4 {
		z-index: 3;
}
#AreaPageManualP3_LeakageTestB_ImageList4 {
		border-style: none;
}
#AreaPageManualP3_LeakageTestB_ImageList4 {
		border-width: 0px;
}
#AreaPageManualP3_LeakageTestB_ToggleSwitch_SpodneKopito {
	@include elemTop(125);
}
#AreaPageManualP3_LeakageTestB_ToggleSwitch_SpodneKopito {
	@include elemLeft(17);
}
#AreaPageManualP3_LeakageTestB_ToggleSwitch_SpodneKopito {
	@include elemAutoWidth(165);
}
#AreaPageManualP3_LeakageTestB_ToggleSwitch_SpodneKopito {
	@include elemAutoHeight(45);
}
#AreaPageManualP3_LeakageTestB_ToggleSwitch_SpodneKopito {
		z-index: 4;
}
#AreaPageManualP3_LeakageTestB_ToggleSwitch_SpodneKopito {
	&:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_ToggleSwitch_SpodneKopito {
	&:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_ToggleSwitch_SpodneKopito {
	.breaseToggleSwitch_toggle .wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP3_LeakageTestB_ToggleSwitch_SpodneKopito {
	.breaseToggleSwitch_toggle .wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP3_LeakageTestB_ToggleSwitch_SpodneKopito {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageTestB_ToggleSwitch_SpodneKopito {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageTestB_ToggleSwitch_SpodneKopito {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageTestB_Line5 {
		z-index: 5;
}
#AreaPageManualP3_LeakageTestB_Line5 {
	line{
		stroke-width: 2px;
	}
}
#AreaPageManualP3_LeakageTestB_Label23 {
	@include elemTop(275);
}
#AreaPageManualP3_LeakageTestB_Label23 {
	@include elemLeft(10);
}
#AreaPageManualP3_LeakageTestB_Label23 {
	@include elemAutoWidth(195);
}
#AreaPageManualP3_LeakageTestB_Label23 {
	@include elemAutoHeight(35);
}
#AreaPageManualP3_LeakageTestB_Label23 {
		z-index: 6;
}
#AreaPageManualP3_LeakageTestB_Label23 {
		border-width: 2px;
}
#AreaPageManualP3_LeakageTestB_Label23 {
	@include border-radius(5px);
}
#AreaPageManualP3_LeakageTestB_Label23 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP3_LeakageTestB_Label23 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP3_LeakageTestB_Label23 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_Label23 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_Label23 {
		border-style: outset;
}
#AreaPageManualP3_LeakageTestB_Label23 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP3_LeakageTestB_Label23 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP3_LeakageTestB_Label23 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_Label23 {
		font-size: 14px;
}
#AreaPageManualP3_LeakageTestB_Label23 {
	@include font-weight-bold(true);
}
#AreaPageManualP3_LeakageTestB_ImageList21 {
	@include elemTop(280);
}
#AreaPageManualP3_LeakageTestB_ImageList21 {
	@include elemLeft(173);
}
#AreaPageManualP3_LeakageTestB_ImageList21 {
	@include elemWidth(25);
}
#AreaPageManualP3_LeakageTestB_ImageList21 {
	@include elemHeight(25);
}
#AreaPageManualP3_LeakageTestB_ImageList21 {
		z-index: 7;
}
#AreaPageManualP3_LeakageTestB_ImageList21 {
		border-style: none;
}
#AreaPageManualP3_LeakageTestB_ImageList21 {
		border-width: 0px;
}
#AreaPageManualP3_LeakageTestB_Label24 {
	@include elemTop(319);
}
#AreaPageManualP3_LeakageTestB_Label24 {
	@include elemLeft(10);
}
#AreaPageManualP3_LeakageTestB_Label24 {
	@include elemAutoWidth(195);
}
#AreaPageManualP3_LeakageTestB_Label24 {
	@include elemAutoHeight(35);
}
#AreaPageManualP3_LeakageTestB_Label24 {
		z-index: 8;
}
#AreaPageManualP3_LeakageTestB_Label24 {
		border-width: 2px;
}
#AreaPageManualP3_LeakageTestB_Label24 {
	@include border-radius(5px);
}
#AreaPageManualP3_LeakageTestB_Label24 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP3_LeakageTestB_Label24 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP3_LeakageTestB_Label24 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_Label24 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_Label24 {
		border-style: outset;
}
#AreaPageManualP3_LeakageTestB_Label24 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP3_LeakageTestB_Label24 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP3_LeakageTestB_Label24 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_Label24 {
		font-size: 14px;
}
#AreaPageManualP3_LeakageTestB_Label24 {
	@include font-weight-bold(true);
}
#AreaPageManualP3_LeakageTestB_ImageList22 {
	@include elemTop(324);
}
#AreaPageManualP3_LeakageTestB_ImageList22 {
	@include elemLeft(173);
}
#AreaPageManualP3_LeakageTestB_ImageList22 {
	@include elemWidth(25);
}
#AreaPageManualP3_LeakageTestB_ImageList22 {
	@include elemHeight(25);
}
#AreaPageManualP3_LeakageTestB_ImageList22 {
		z-index: 9;
}
#AreaPageManualP3_LeakageTestB_ImageList22 {
		border-style: none;
}
#AreaPageManualP3_LeakageTestB_ImageList22 {
		border-width: 0px;
}
#AreaPageManualP3_LeakageTestB_Label25 {
	@include elemTop(363);
}
#AreaPageManualP3_LeakageTestB_Label25 {
	@include elemLeft(10);
}
#AreaPageManualP3_LeakageTestB_Label25 {
	@include elemAutoWidth(195);
}
#AreaPageManualP3_LeakageTestB_Label25 {
	@include elemAutoHeight(35);
}
#AreaPageManualP3_LeakageTestB_Label25 {
		z-index: 10;
}
#AreaPageManualP3_LeakageTestB_Label25 {
		border-width: 2px;
}
#AreaPageManualP3_LeakageTestB_Label25 {
	@include border-radius(5px);
}
#AreaPageManualP3_LeakageTestB_Label25 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP3_LeakageTestB_Label25 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP3_LeakageTestB_Label25 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_Label25 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_Label25 {
		border-style: outset;
}
#AreaPageManualP3_LeakageTestB_Label25 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP3_LeakageTestB_Label25 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP3_LeakageTestB_Label25 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_Label25 {
		font-size: 14px;
}
#AreaPageManualP3_LeakageTestB_Label25 {
	@include font-weight-bold(true);
}
#AreaPageManualP3_LeakageTestB_ImageList23 {
	@include elemTop(368);
}
#AreaPageManualP3_LeakageTestB_ImageList23 {
	@include elemLeft(173);
}
#AreaPageManualP3_LeakageTestB_ImageList23 {
	@include elemWidth(25);
}
#AreaPageManualP3_LeakageTestB_ImageList23 {
	@include elemHeight(25);
}
#AreaPageManualP3_LeakageTestB_ImageList23 {
		z-index: 11;
}
#AreaPageManualP3_LeakageTestB_ImageList23 {
		border-style: none;
}
#AreaPageManualP3_LeakageTestB_ImageList23 {
		border-width: 0px;
}
#AreaPageManualP3_LeakageTestB_Label26 {
	@include elemTop(409);
}
#AreaPageManualP3_LeakageTestB_Label26 {
	@include elemLeft(10);
}
#AreaPageManualP3_LeakageTestB_Label26 {
	@include elemAutoWidth(195);
}
#AreaPageManualP3_LeakageTestB_Label26 {
	@include elemAutoHeight(35);
}
#AreaPageManualP3_LeakageTestB_Label26 {
		z-index: 12;
}
#AreaPageManualP3_LeakageTestB_Label26 {
		border-width: 2px;
}
#AreaPageManualP3_LeakageTestB_Label26 {
	@include border-radius(5px);
}
#AreaPageManualP3_LeakageTestB_Label26 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP3_LeakageTestB_Label26 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP3_LeakageTestB_Label26 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_Label26 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_Label26 {
		border-style: outset;
}
#AreaPageManualP3_LeakageTestB_Label26 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP3_LeakageTestB_Label26 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP3_LeakageTestB_Label26 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_Label26 {
		font-size: 14px;
}
#AreaPageManualP3_LeakageTestB_Label26 {
	@include font-weight-bold(true);
}
#AreaPageManualP3_LeakageTestB_ImageList24 {
	@include elemTop(414);
}
#AreaPageManualP3_LeakageTestB_ImageList24 {
	@include elemLeft(173);
}
#AreaPageManualP3_LeakageTestB_ImageList24 {
	@include elemWidth(25);
}
#AreaPageManualP3_LeakageTestB_ImageList24 {
	@include elemHeight(25);
}
#AreaPageManualP3_LeakageTestB_ImageList24 {
		z-index: 13;
}
#AreaPageManualP3_LeakageTestB_ImageList24 {
		border-style: none;
}
#AreaPageManualP3_LeakageTestB_ImageList24 {
		border-width: 0px;
}
#AreaPageManualP3_LeakageTestB_Button_StartTestovacejSekvencie {
	@include elemTop(203);
}
#AreaPageManualP3_LeakageTestB_Button_StartTestovacejSekvencie {
	@include elemLeft(131);
}
#AreaPageManualP3_LeakageTestB_Button_StartTestovacejSekvencie {
	@include elemAutoWidth(165);
}
#AreaPageManualP3_LeakageTestB_Button_StartTestovacejSekvencie {
	@include elemAutoHeight(45);
}
#AreaPageManualP3_LeakageTestB_Button_StartTestovacejSekvencie {
		z-index: 14;
}
#AreaPageManualP3_LeakageTestB_Button_StartTestovacejSekvencie {
	@include border-radius(10px);
}
#AreaPageManualP3_LeakageTestB_Button_StartTestovacejSekvencie {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_Button_StartTestovacejSekvencie {
	@include text-alignment(left);
}
#AreaPageManualP3_LeakageTestB_Button_StartTestovacejSekvencie {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageTestB_Button_StartTestovacejSekvencie {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageTestB_Button_StartTestovacejSekvencie {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageTestB_ImageList6 {
	@include elemTop(213);
}
#AreaPageManualP3_LeakageTestB_ImageList6 {
	@include elemLeft(260);
}
#AreaPageManualP3_LeakageTestB_ImageList6 {
	@include elemWidth(25);
}
#AreaPageManualP3_LeakageTestB_ImageList6 {
	@include elemHeight(25);
}
#AreaPageManualP3_LeakageTestB_ImageList6 {
		z-index: 15;
}
#AreaPageManualP3_LeakageTestB_ImageList6 {
		border-style: none;
}
#AreaPageManualP3_LeakageTestB_ImageList6 {
		border-width: 0px;
}
#AreaPageManualP3_LeakageTestB_Label27 {
	@include elemTop(275);
}
#AreaPageManualP3_LeakageTestB_Label27 {
	@include elemLeft(224);
}
#AreaPageManualP3_LeakageTestB_Label27 {
	@include elemAutoWidth(195);
}
#AreaPageManualP3_LeakageTestB_Label27 {
	@include elemAutoHeight(77);
}
#AreaPageManualP3_LeakageTestB_Label27 {
		z-index: 16;
}
#AreaPageManualP3_LeakageTestB_Label27 {
		border-width: 2px;
}
#AreaPageManualP3_LeakageTestB_Label27 {
	@include border-radius(5px);
}
#AreaPageManualP3_LeakageTestB_Label27 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP3_LeakageTestB_Label27 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP3_LeakageTestB_Label27 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_Label27 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_Label27 {
		border-style: outset;
}
#AreaPageManualP3_LeakageTestB_Label27 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP3_LeakageTestB_Label27 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP3_LeakageTestB_Label27 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_Label27 {
	@include text-alignment-all('center top');
}
#AreaPageManualP3_LeakageTestB_Label27 {
		font-size: 15px;
}
#AreaPageManualP3_LeakageTestB_Label27 {
	@include font-weight-bold(true);
}
#AreaPageManualP3_LeakageTestB_NumericOutput_LeakageTest_VyrovnTlak {
	@include elemAutoHeight(30);
}
#AreaPageManualP3_LeakageTestB_NumericOutput_LeakageTest_VyrovnTlak {
	@include elemTop(311);
}
#AreaPageManualP3_LeakageTestB_NumericOutput_LeakageTest_VyrovnTlak {
	@include elemLeft(239);
}
#AreaPageManualP3_LeakageTestB_NumericOutput_LeakageTest_VyrovnTlak {
	@include elemAutoWidth(165);
}
#AreaPageManualP3_LeakageTestB_NumericOutput_LeakageTest_VyrovnTlak {
		z-index: 17;
}
#AreaPageManualP3_LeakageTestB_NumericOutput_LeakageTest_VyrovnTlak {
		border-width: 4px;
}
#AreaPageManualP3_LeakageTestB_NumericOutput_LeakageTest_VyrovnTlak {
		border-style: ridge;
}
#AreaPageManualP3_LeakageTestB_NumericOutput_LeakageTest_VyrovnTlak {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_NumericOutput_LeakageTest_VyrovnTlak {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_NumericOutput_LeakageTest_VyrovnTlak {
	input{
		font-size: 16px;
	}
}
#AreaPageManualP3_LeakageTestB_GroupBox2 {
	@include elemTop(70);
}
#AreaPageManualP3_LeakageTestB_GroupBox2 {
	@include elemLeft(12);
}
#AreaPageManualP3_LeakageTestB_GroupBox2 {
	@include elemWidth(430);
}
#AreaPageManualP3_LeakageTestB_GroupBox2 {
	@include elemHeight(250);
}
#AreaPageManualP3_LeakageTestB_GroupBox2 {
		z-index: 3;
}
#AreaPageManualP3_LeakageTestB_GroupBox2 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP3_LeakageTestB_GroupBox2 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_GroupBox2 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP3_LeakageTestB_Button_ZostupCentrovania {
	@include elemTop(71);
}
#AreaPageManualP3_LeakageTestB_Button_ZostupCentrovania {
	@include elemLeft(17);
}
#AreaPageManualP3_LeakageTestB_Button_ZostupCentrovania {
	@include elemAutoWidth(165);
}
#AreaPageManualP3_LeakageTestB_Button_ZostupCentrovania {
	@include elemAutoHeight(45);
}
#AreaPageManualP3_LeakageTestB_Button_ZostupCentrovania {
		z-index: 0;
}
#AreaPageManualP3_LeakageTestB_Button_ZostupCentrovania {
	@include border-radius(10px);
}
#AreaPageManualP3_LeakageTestB_Button_ZostupCentrovania {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_Button_ZostupCentrovania {
	@include text-alignment(left);
}
#AreaPageManualP3_LeakageTestB_Button_ZostupCentrovania {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageTestB_Button_ZostupCentrovania {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageTestB_Button_ZostupCentrovania {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageTestB_ImageList7 {
	@include elemTop(81);
}
#AreaPageManualP3_LeakageTestB_ImageList7 {
	@include elemLeft(147);
}
#AreaPageManualP3_LeakageTestB_ImageList7 {
	@include elemWidth(25);
}
#AreaPageManualP3_LeakageTestB_ImageList7 {
	@include elemHeight(25);
}
#AreaPageManualP3_LeakageTestB_ImageList7 {
		z-index: 1;
}
#AreaPageManualP3_LeakageTestB_ImageList7 {
		border-style: none;
}
#AreaPageManualP3_LeakageTestB_ImageList7 {
		border-width: 0px;
}
#AreaPageManualP3_LeakageTestB_Button_ZdvihCentrovania {
	@include elemTop(71);
}
#AreaPageManualP3_LeakageTestB_Button_ZdvihCentrovania {
	@include elemLeft(245);
}
#AreaPageManualP3_LeakageTestB_Button_ZdvihCentrovania {
	@include elemAutoWidth(165);
}
#AreaPageManualP3_LeakageTestB_Button_ZdvihCentrovania {
	@include elemAutoHeight(45);
}
#AreaPageManualP3_LeakageTestB_Button_ZdvihCentrovania {
		z-index: 2;
}
#AreaPageManualP3_LeakageTestB_Button_ZdvihCentrovania {
	@include border-radius(10px);
}
#AreaPageManualP3_LeakageTestB_Button_ZdvihCentrovania {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_Button_ZdvihCentrovania {
	@include text-alignment(left);
}
#AreaPageManualP3_LeakageTestB_Button_ZdvihCentrovania {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageTestB_Button_ZdvihCentrovania {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageTestB_Button_ZdvihCentrovania {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageTestB_ImageList9 {
	@include elemTop(81);
}
#AreaPageManualP3_LeakageTestB_ImageList9 {
	@include elemLeft(373);
}
#AreaPageManualP3_LeakageTestB_ImageList9 {
	@include elemWidth(25);
}
#AreaPageManualP3_LeakageTestB_ImageList9 {
	@include elemHeight(25);
}
#AreaPageManualP3_LeakageTestB_ImageList9 {
		z-index: 3;
}
#AreaPageManualP3_LeakageTestB_ImageList9 {
		border-style: none;
}
#AreaPageManualP3_LeakageTestB_ImageList9 {
		border-width: 0px;
}
#AreaPageManualP3_LeakageTestB_GroupBox4 {
	@include elemTop(330);
}
#AreaPageManualP3_LeakageTestB_GroupBox4 {
	@include elemLeft(12);
}
#AreaPageManualP3_LeakageTestB_GroupBox4 {
	@include elemWidth(430);
}
#AreaPageManualP3_LeakageTestB_GroupBox4 {
	@include elemHeight(250);
}
#AreaPageManualP3_LeakageTestB_GroupBox4 {
		z-index: 4;
}
#AreaPageManualP3_LeakageTestB_GroupBox4 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP3_LeakageTestB_GroupBox4 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_GroupBox4 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP3_LeakageTestB_ToggleSwitch_Stoper {
	@include elemTop(107);
}
#AreaPageManualP3_LeakageTestB_ToggleSwitch_Stoper {
	@include elemLeft(132);
}
#AreaPageManualP3_LeakageTestB_ToggleSwitch_Stoper {
	@include elemAutoWidth(165);
}
#AreaPageManualP3_LeakageTestB_ToggleSwitch_Stoper {
	@include elemAutoHeight(45);
}
#AreaPageManualP3_LeakageTestB_ToggleSwitch_Stoper {
		z-index: 0;
}
#AreaPageManualP3_LeakageTestB_ToggleSwitch_Stoper {
	&:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_ToggleSwitch_Stoper {
	&:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_ToggleSwitch_Stoper {
	.breaseToggleSwitch_toggle .wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP3_LeakageTestB_ToggleSwitch_Stoper {
	.breaseToggleSwitch_toggle .wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP3_LeakageTestB_ToggleSwitch_Stoper {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageTestB_ToggleSwitch_Stoper {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageTestB_ToggleSwitch_Stoper {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP3_LeakageTestB_Label15 {
	@include elemTop(15);
}
#AreaPageManualP3_LeakageTestB_Label15 {
	@include elemLeft(9);
}
#AreaPageManualP3_LeakageTestB_Label15 {
	@include elemAutoWidth(195);
}
#AreaPageManualP3_LeakageTestB_Label15 {
	@include elemAutoHeight(35);
}
#AreaPageManualP3_LeakageTestB_Label15 {
		z-index: 1;
}
#AreaPageManualP3_LeakageTestB_Label15 {
		border-width: 2px;
}
#AreaPageManualP3_LeakageTestB_Label15 {
	@include border-radius(5px);
}
#AreaPageManualP3_LeakageTestB_Label15 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP3_LeakageTestB_Label15 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP3_LeakageTestB_Label15 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_Label15 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_Label15 {
		border-style: outset;
}
#AreaPageManualP3_LeakageTestB_Label15 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP3_LeakageTestB_Label15 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP3_LeakageTestB_Label15 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP3_LeakageTestB_Label15 {
		font-size: 14px;
}
#AreaPageManualP3_LeakageTestB_Label15 {
	@include font-weight-bold(true);
}
#AreaPageManualP3_LeakageTestB_ImageList19 {
	@include elemTop(20);
}
#AreaPageManualP3_LeakageTestB_ImageList19 {
	@include elemLeft(171);
}
#AreaPageManualP3_LeakageTestB_ImageList19 {
	@include elemWidth(25);
}
#AreaPageManualP3_LeakageTestB_ImageList19 {
	@include elemHeight(25);
}
#AreaPageManualP3_LeakageTestB_ImageList19 {
		z-index: 2;
}
#AreaPageManualP3_LeakageTestB_ImageList19 {
		border-style: none;
}
#AreaPageManualP3_LeakageTestB_ImageList19 {
		border-width: 0px;
}
