#AreaHlasenie1_ST3_GroupBox6 {
  top: 0px;
  position: absolute;
}

#AreaHlasenie1_ST3_GroupBox6 {
  left: 0px;
  position: absolute;
}

#AreaHlasenie1_ST3_GroupBox6 {
  width: 500px;
}

#AreaHlasenie1_ST3_GroupBox6 {
  height: 520px;
}

#AreaHlasenie1_ST3_GroupBox6 {
  z-index: 0;
}

#AreaHlasenie1_ST3_GroupBox6 {
  border-width: 7px;
}

#AreaHlasenie1_ST3_GroupBox6 > .header {
  border-width: 7px;
}

#AreaHlasenie1_ST3_GroupBox6 {
  border-radius: 6px 6px 6px 6px;
}

#AreaHlasenie1_ST3_GroupBox6 {
  background-color: #ffc080;
}

#AreaHlasenie1_ST3_GroupBox6 {
  border-style: groove;
}

#AreaHlasenie1_ST3_GroupBox6 > .header {
  border-bottom-style: groove;
}

#AreaHlasenie1_ST3_GroupBox6 > .header span {
  color: black;
}

#AreaHlasenie1_ST3_GroupBox6 {
  box-shadow: 4px 4px 14px black;
}

#AreaHlasenie1_ST3_Image1 {
  top: 7px;
  position: absolute;
}

#AreaHlasenie1_ST3_Image1 {
  left: 415px;
  position: absolute;
}

#AreaHlasenie1_ST3_Image1 {
  width: 62px;
}

#AreaHlasenie1_ST3_Image1 {
  height: 62px;
}

#AreaHlasenie1_ST3_Image1 {
  z-index: 0;
}

#AreaHlasenie1_ST3_Label1 {
  top: 41px;
  position: absolute;
}

#AreaHlasenie1_ST3_Label1 {
  left: 3px;
  position: absolute;
}

#AreaHlasenie1_ST3_Label1 {
  width: 443px;
}

#AreaHlasenie1_ST3_Label1 {
  height: 36px;
}

#AreaHlasenie1_ST3_Label1 {
  z-index: 1;
}

#AreaHlasenie1_ST3_Label1 span {
  color: black;
}

#AreaHlasenie1_ST3_Label1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaHlasenie1_ST3_Label1 {
  font-size: 24px;
}

#AreaHlasenie1_ST3_Label1 {
  font-weight: bold;
}

#AreaHlasenie1_ST3_Label1 span {
  text-decoration: underline;
}

#AreaHlasenie1_ST3_Image2 {
  top: 100px;
  position: absolute;
}

#AreaHlasenie1_ST3_Image2 {
  left: 31px;
  position: absolute;
}

#AreaHlasenie1_ST3_Image2 {
  width: 438px;
}

#AreaHlasenie1_ST3_Image2 {
  height: 389px;
}

#AreaHlasenie1_ST3_Image2 {
  z-index: 1;
}

#AreaHlasenie1_ST3_Image2 {
  border-style: groove;
}

#AreaHlasenie1_ST3_Image2 {
  border-width: 5px;
}

#AreaHlasenie1_ST3_Image2 {
  border-radius: 10px;
}

#AreaHlasenie1_ST3_ImageList6 {
  top: 418px;
  position: absolute;
}

#AreaHlasenie1_ST3_ImageList6 {
  left: 376px;
  position: absolute;
}

#AreaHlasenie1_ST3_ImageList6 {
  width: 35px;
}

#AreaHlasenie1_ST3_ImageList6 {
  height: 35px;
}

#AreaHlasenie1_ST3_ImageList6 {
  z-index: 2;
}

#AreaHlasenie1_ST3_ImageList6 {
  border-style: none;
}

#AreaHlasenie1_ST3_ImageList6 {
  border-width: 0px;
}

#AreaHlasenie1_ST3_ImageList5 {
  top: 194px;
  position: absolute;
}

#AreaHlasenie1_ST3_ImageList5 {
  left: 402px;
  position: absolute;
}

#AreaHlasenie1_ST3_ImageList5 {
  width: 35px;
}

#AreaHlasenie1_ST3_ImageList5 {
  height: 35px;
}

#AreaHlasenie1_ST3_ImageList5 {
  z-index: 3;
}

#AreaHlasenie1_ST3_ImageList5 {
  border-style: none;
}

#AreaHlasenie1_ST3_ImageList5 {
  border-width: 0px;
}

#AreaHlasenie1_ST3_ImageList4 {
  top: 194px;
  position: absolute;
}

#AreaHlasenie1_ST3_ImageList4 {
  left: 350px;
  position: absolute;
}

#AreaHlasenie1_ST3_ImageList4 {
  width: 35px;
}

#AreaHlasenie1_ST3_ImageList4 {
  height: 35px;
}

#AreaHlasenie1_ST3_ImageList4 {
  z-index: 4;
}

#AreaHlasenie1_ST3_ImageList4 {
  border-style: none;
}

#AreaHlasenie1_ST3_ImageList4 {
  border-width: 0px;
}

#AreaHlasenie1_ST3_ImageList3 {
  top: 418px;
  position: absolute;
}

#AreaHlasenie1_ST3_ImageList3 {
  left: 258px;
  position: absolute;
}

#AreaHlasenie1_ST3_ImageList3 {
  width: 35px;
}

#AreaHlasenie1_ST3_ImageList3 {
  height: 35px;
}

#AreaHlasenie1_ST3_ImageList3 {
  z-index: 5;
}

#AreaHlasenie1_ST3_ImageList3 {
  border-style: none;
}

#AreaHlasenie1_ST3_ImageList3 {
  border-width: 0px;
}

#AreaHlasenie1_ST3_ImageList2 {
  top: 282px;
  position: absolute;
}

#AreaHlasenie1_ST3_ImageList2 {
  left: 140px;
  position: absolute;
}

#AreaHlasenie1_ST3_ImageList2 {
  width: 35px;
}

#AreaHlasenie1_ST3_ImageList2 {
  height: 35px;
}

#AreaHlasenie1_ST3_ImageList2 {
  z-index: 6;
}

#AreaHlasenie1_ST3_ImageList2 {
  border-style: none;
}

#AreaHlasenie1_ST3_ImageList2 {
  border-width: 0px;
}

#AreaHlasenie1_ST3_ImageList1 {
  top: 154px;
  position: absolute;
}

#AreaHlasenie1_ST3_ImageList1 {
  left: 266px;
  position: absolute;
}

#AreaHlasenie1_ST3_ImageList1 {
  width: 35px;
}

#AreaHlasenie1_ST3_ImageList1 {
  height: 35px;
}

#AreaHlasenie1_ST3_ImageList1 {
  z-index: 7;
}

#AreaHlasenie1_ST3_ImageList1 {
  border-style: none;
}

#AreaHlasenie1_ST3_ImageList1 {
  border-width: 0px;
}

#AreaHlasenie1_ST3_Button_ZaklTesnenia_IgnorujKameru {
  top: 118px;
  position: absolute;
}

#AreaHlasenie1_ST3_Button_ZaklTesnenia_IgnorujKameru {
  left: 50px;
  position: absolute;
}

#AreaHlasenie1_ST3_Button_ZaklTesnenia_IgnorujKameru {
  width: 149px;
}

#AreaHlasenie1_ST3_Button_ZaklTesnenia_IgnorujKameru {
  height: 45px;
}

#AreaHlasenie1_ST3_Button_ZaklTesnenia_IgnorujKameru {
  z-index: 8;
}

#AreaHlasenie1_ST3_Button_ZaklTesnenia_IgnorujKameru {
  border-radius: 10px;
}

#AreaHlasenie1_ST3_Button_ZaklTesnenia_IgnorujKameru:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaHlasenie1_ST3_Button_ZaklTesnenia_IgnorujKameru {
  justify-content: center;
  text-align: center;
}

#AreaHlasenie1_ST3_Button_ZaklTesnenia_IgnorujKameru:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaHlasenie1_ST3_Button_ZaklTesnenia_IgnorujKameru.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaHlasenie1_ST3_Button_ZaklTesnenia_IgnorujKameru.disabled.checked {
  box-shadow: 4px 4px 14px black;
}
