#AreaPageManualP4_Etiketovanie_Image1 {
  top: 0px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_Image1 {
  left: 0px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_Image1 {
  width: 1366px;
}

#AreaPageManualP4_Etiketovanie_Image1 {
  height: 588px;
}

#AreaPageManualP4_Etiketovanie_Image1 {
  z-index: 0;
}

#AreaPageManualP4_Etiketovanie_Image1 {
  opacity: 0.2;
}

#AreaPageManualP4_Etiketovanie_Label1 {
  top: 20px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_Label1 {
  width: 400px;
}

#AreaPageManualP4_Etiketovanie_Label1 {
  height: 35px;
}

#AreaPageManualP4_Etiketovanie_Label1 {
  z-index: 1;
}

#AreaPageManualP4_Etiketovanie_Label1 {
  border-width: 5px;
}

#AreaPageManualP4_Etiketovanie_Label1 {
  border-radius: 5px;
}

#AreaPageManualP4_Etiketovanie_Label1 {
  border-style: ridge;
}

#AreaPageManualP4_Etiketovanie_Label1:before {
  border-style: ridge;
}

#AreaPageManualP4_Etiketovanie_Label1:after {
  border-style: ridge;
}

#AreaPageManualP4_Etiketovanie_Label1 span {
  color: black;
}

#AreaPageManualP4_Etiketovanie_Label1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageManualP4_Etiketovanie_Label1 {
  font-size: 20px;
}

#AreaPageManualP4_Etiketovanie_Label1 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_GroupBox2 {
  top: 68px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_GroupBox2 {
  left: 12px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_GroupBox2 {
  width: 430px;
}

#AreaPageManualP4_Etiketovanie_GroupBox2 {
  height: 510px;
}

#AreaPageManualP4_Etiketovanie_GroupBox2 {
  z-index: 2;
}

#AreaPageManualP4_Etiketovanie_GroupBox2 {
  background-color: oldlace;
}

#AreaPageManualP4_Etiketovanie_GroupBox2 > .header span {
  color: black;
}

#AreaPageManualP4_Etiketovanie_GroupBox2 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_Button_HomingServaZdvihu {
  top: 11px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_Button_HomingServaZdvihu {
  left: 9px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_Button_HomingServaZdvihu {
  width: 165px;
}

#AreaPageManualP4_Etiketovanie_Button_HomingServaZdvihu {
  height: 45px;
}

#AreaPageManualP4_Etiketovanie_Button_HomingServaZdvihu {
  z-index: 0;
}

#AreaPageManualP4_Etiketovanie_Button_HomingServaZdvihu {
  border-radius: 10px;
}

#AreaPageManualP4_Etiketovanie_Button_HomingServaZdvihu:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP4_Etiketovanie_Button_HomingServaZdvihu {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP4_Etiketovanie_Button_HomingServaZdvihu:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_Button_HomingServaZdvihu.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_Button_HomingServaZdvihu.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_ImageList6 {
  top: 21px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_ImageList6 {
  left: 137px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_ImageList6 {
  width: 25px;
}

#AreaPageManualP4_Etiketovanie_ImageList6 {
  height: 25px;
}

#AreaPageManualP4_Etiketovanie_ImageList6 {
  z-index: 1;
}

#AreaPageManualP4_Etiketovanie_ImageList6 {
  border-style: none;
}

#AreaPageManualP4_Etiketovanie_ImageList6 {
  border-width: 0px;
}

#AreaPageManualP4_Etiketovanie_NumericInput_ZdvihZadanaRychlost {
  height: 30px;
}

#AreaPageManualP4_Etiketovanie_NumericInput_ZdvihZadanaRychlost {
  top: 181px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_NumericInput_ZdvihZadanaRychlost {
  left: 236px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_NumericInput_ZdvihZadanaRychlost {
  width: 165px;
}

#AreaPageManualP4_Etiketovanie_NumericInput_ZdvihZadanaRychlost {
  z-index: 10;
}

#AreaPageManualP4_Etiketovanie_NumericInput_ZdvihZadanaRychlost:not(.active):not(.disabled) {
  border-width: 2px 4px 2px 2px;
}

#AreaPageManualP4_Etiketovanie_NumericInput_ZdvihZadanaRychlost input {
  font-size: 18px;
}

#AreaPageManualP4_Etiketovanie_NumericInput_ZdvihZadanaRychlost {
  box-shadow: 4px 4px 8px black;
}

#AreaPageManualP4_Etiketovanie_NumericOutput_ZdvihAktualnaPozicia {
  height: 30px;
}

#AreaPageManualP4_Etiketovanie_NumericOutput_ZdvihAktualnaPozicia {
  top: 181px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_NumericOutput_ZdvihAktualnaPozicia {
  left: 24px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_NumericOutput_ZdvihAktualnaPozicia {
  width: 165px;
}

#AreaPageManualP4_Etiketovanie_NumericOutput_ZdvihAktualnaPozicia {
  z-index: 9;
}

#AreaPageManualP4_Etiketovanie_NumericOutput_ZdvihAktualnaPozicia {
  border-width: 4px;
}

#AreaPageManualP4_Etiketovanie_NumericOutput_ZdvihAktualnaPozicia {
  border-style: ridge;
}

#AreaPageManualP4_Etiketovanie_NumericOutput_ZdvihAktualnaPozicia input {
  color: black;
}

#AreaPageManualP4_Etiketovanie_NumericOutput_ZdvihAktualnaPozicia span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageManualP4_Etiketovanie_NumericOutput_ZdvihAktualnaPozicia input {
  font-size: 16px;
}

#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggZdvihuDOLE {
  top: 79px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggZdvihuDOLE {
  left: 9px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggZdvihuDOLE {
  width: 165px;
}

#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggZdvihuDOLE {
  height: 45px;
}

#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggZdvihuDOLE {
  z-index: 2;
}

#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggZdvihuDOLE {
  border-radius: 10px;
}

#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggZdvihuDOLE:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggZdvihuDOLE {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggZdvihuDOLE:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggZdvihuDOLE.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggZdvihuDOLE.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggZdvihuHORE {
  top: 79px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggZdvihuHORE {
  left: 251px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggZdvihuHORE {
  width: 165px;
}

#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggZdvihuHORE {
  height: 45px;
}

#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggZdvihuHORE {
  z-index: 3;
}

#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggZdvihuHORE {
  border-radius: 10px;
}

#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggZdvihuHORE:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggZdvihuHORE {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggZdvihuHORE:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggZdvihuHORE.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_MomentaryPushButton_JoggZdvihuHORE.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_ImageList15 {
  top: 324px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_ImageList15 {
  left: 173px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_ImageList15 {
  width: 25px;
}

#AreaPageManualP4_Etiketovanie_ImageList15 {
  height: 25px;
}

#AreaPageManualP4_Etiketovanie_ImageList15 {
  z-index: 12;
}

#AreaPageManualP4_Etiketovanie_ImageList15 {
  border-style: none;
}

#AreaPageManualP4_Etiketovanie_ImageList15 {
  border-width: 0px;
}

#AreaPageManualP4_Etiketovanie_Line3 {
  z-index: 4;
}

#AreaPageManualP4_Etiketovanie_Line3 line {
  stroke-width: 2px;
}

#AreaPageManualP4_Etiketovanie_ImageList16 {
  top: 368px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_ImageList16 {
  left: 173px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_ImageList16 {
  width: 25px;
}

#AreaPageManualP4_Etiketovanie_ImageList16 {
  height: 25px;
}

#AreaPageManualP4_Etiketovanie_ImageList16 {
  z-index: 14;
}

#AreaPageManualP4_Etiketovanie_ImageList16 {
  border-style: none;
}

#AreaPageManualP4_Etiketovanie_ImageList16 {
  border-width: 0px;
}

#AreaPageManualP4_Etiketovanie_ImageList18 {
  top: 414px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_ImageList18 {
  left: 173px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_ImageList18 {
  width: 25px;
}

#AreaPageManualP4_Etiketovanie_ImageList18 {
  height: 25px;
}

#AreaPageManualP4_Etiketovanie_ImageList18 {
  z-index: 16;
}

#AreaPageManualP4_Etiketovanie_ImageList18 {
  border-style: none;
}

#AreaPageManualP4_Etiketovanie_ImageList18 {
  border-width: 0px;
}

#AreaPageManualP4_Etiketovanie_ImageList19 {
  top: 324px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_ImageList19 {
  left: 385px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_ImageList19 {
  width: 25px;
}

#AreaPageManualP4_Etiketovanie_ImageList19 {
  height: 25px;
}

#AreaPageManualP4_Etiketovanie_ImageList19 {
  z-index: 19;
}

#AreaPageManualP4_Etiketovanie_ImageList19 {
  border-style: none;
}

#AreaPageManualP4_Etiketovanie_ImageList19 {
  border-width: 0px;
}

#AreaPageManualP4_Etiketovanie_ImageList20 {
  top: 368px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_ImageList20 {
  left: 385px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_ImageList20 {
  width: 25px;
}

#AreaPageManualP4_Etiketovanie_ImageList20 {
  height: 25px;
}

#AreaPageManualP4_Etiketovanie_ImageList20 {
  z-index: 20;
}

#AreaPageManualP4_Etiketovanie_ImageList20 {
  border-style: none;
}

#AreaPageManualP4_Etiketovanie_ImageList20 {
  border-width: 0px;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_PrisavanieEtikety {
  top: 247px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_PrisavanieEtikety {
  left: 9px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_PrisavanieEtikety {
  width: 165px;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_PrisavanieEtikety {
  height: 45px;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_PrisavanieEtikety {
  z-index: 5;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_PrisavanieEtikety:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .before {
  color: black;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_PrisavanieEtikety:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .after {
  color: black;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_PrisavanieEtikety .breaseToggleSwitch_toggle .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_PrisavanieEtikety .breaseToggleSwitch_toggle .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_PrisavanieEtikety:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_PrisavanieEtikety.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_PrisavanieEtikety.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper2 {
  top: 247px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper2 {
  left: 251px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper2 {
  width: 165px;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper2 {
  height: 45px;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper2 {
  z-index: 6;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper2:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .before {
  color: black;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper2:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .after {
  color: black;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper2 .breaseToggleSwitch_toggle .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper2 .breaseToggleSwitch_toggle .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper2:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper2.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper2.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_Label27 {
  top: 145px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_Label27 {
  left: 9px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_Label27 {
  width: 195px;
}

#AreaPageManualP4_Etiketovanie_Label27 {
  height: 77px;
}

#AreaPageManualP4_Etiketovanie_Label27 {
  z-index: 7;
}

#AreaPageManualP4_Etiketovanie_Label27 {
  border-width: 2px;
}

#AreaPageManualP4_Etiketovanie_Label27 {
  border-radius: 5px;
}

#AreaPageManualP4_Etiketovanie_Label27 {
  background-color: silver;
}

#AreaPageManualP4_Etiketovanie_Label27 {
  border-color: black;
}

#AreaPageManualP4_Etiketovanie_Label27:before {
  border-color: black;
}

#AreaPageManualP4_Etiketovanie_Label27:after {
  border-color: black;
}

#AreaPageManualP4_Etiketovanie_Label27 {
  border-style: outset;
}

#AreaPageManualP4_Etiketovanie_Label27:before {
  border-style: outset;
}

#AreaPageManualP4_Etiketovanie_Label27:after {
  border-style: outset;
}

#AreaPageManualP4_Etiketovanie_Label27 span {
  color: black;
}

#AreaPageManualP4_Etiketovanie_Label27 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: start;
  align-items: flex-start;
}

#AreaPageManualP4_Etiketovanie_Label27 {
  font-size: 14px;
}

#AreaPageManualP4_Etiketovanie_Label27 {
  font-weight: bold;
}

#AreaPageManualP4_Etiketovanie_Label28 {
  top: 145px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_Label28 {
  left: 221px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_Label28 {
  width: 195px;
}

#AreaPageManualP4_Etiketovanie_Label28 {
  height: 77px;
}

#AreaPageManualP4_Etiketovanie_Label28 {
  z-index: 8;
}

#AreaPageManualP4_Etiketovanie_Label28 {
  border-width: 2px;
}

#AreaPageManualP4_Etiketovanie_Label28 {
  border-radius: 5px;
}

#AreaPageManualP4_Etiketovanie_Label28 {
  background-color: silver;
}

#AreaPageManualP4_Etiketovanie_Label28 {
  border-color: black;
}

#AreaPageManualP4_Etiketovanie_Label28:before {
  border-color: black;
}

#AreaPageManualP4_Etiketovanie_Label28:after {
  border-color: black;
}

#AreaPageManualP4_Etiketovanie_Label28 {
  border-style: outset;
}

#AreaPageManualP4_Etiketovanie_Label28:before {
  border-style: outset;
}

#AreaPageManualP4_Etiketovanie_Label28:after {
  border-style: outset;
}

#AreaPageManualP4_Etiketovanie_Label28 span {
  color: black;
}

#AreaPageManualP4_Etiketovanie_Label28 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: start;
  align-items: flex-start;
}

#AreaPageManualP4_Etiketovanie_Label28 {
  font-size: 14px;
}

#AreaPageManualP4_Etiketovanie_Label28 {
  font-weight: bold;
}

#AreaPageManualP4_Etiketovanie_Label17 {
  top: 319px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_Label17 {
  left: 9px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_Label17 {
  width: 195px;
}

#AreaPageManualP4_Etiketovanie_Label17 {
  height: 35px;
}

#AreaPageManualP4_Etiketovanie_Label17 {
  z-index: 11;
}

#AreaPageManualP4_Etiketovanie_Label17 {
  border-width: 2px;
}

#AreaPageManualP4_Etiketovanie_Label17 {
  border-radius: 5px;
}

#AreaPageManualP4_Etiketovanie_Label17 {
  background-color: silver;
}

#AreaPageManualP4_Etiketovanie_Label17 {
  border-color: black;
}

#AreaPageManualP4_Etiketovanie_Label17:before {
  border-color: black;
}

#AreaPageManualP4_Etiketovanie_Label17:after {
  border-color: black;
}

#AreaPageManualP4_Etiketovanie_Label17 {
  border-style: outset;
}

#AreaPageManualP4_Etiketovanie_Label17:before {
  border-style: outset;
}

#AreaPageManualP4_Etiketovanie_Label17:after {
  border-style: outset;
}

#AreaPageManualP4_Etiketovanie_Label17 span {
  color: black;
}

#AreaPageManualP4_Etiketovanie_Label17 {
  font-size: 14px;
}

#AreaPageManualP4_Etiketovanie_Label17 {
  font-weight: bold;
}

#AreaPageManualP4_Etiketovanie_Label18 {
  top: 363px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_Label18 {
  left: 9px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_Label18 {
  width: 195px;
}

#AreaPageManualP4_Etiketovanie_Label18 {
  height: 35px;
}

#AreaPageManualP4_Etiketovanie_Label18 {
  z-index: 13;
}

#AreaPageManualP4_Etiketovanie_Label18 {
  border-width: 2px;
}

#AreaPageManualP4_Etiketovanie_Label18 {
  border-radius: 5px;
}

#AreaPageManualP4_Etiketovanie_Label18 {
  background-color: silver;
}

#AreaPageManualP4_Etiketovanie_Label18 {
  border-color: black;
}

#AreaPageManualP4_Etiketovanie_Label18:before {
  border-color: black;
}

#AreaPageManualP4_Etiketovanie_Label18:after {
  border-color: black;
}

#AreaPageManualP4_Etiketovanie_Label18 {
  border-style: outset;
}

#AreaPageManualP4_Etiketovanie_Label18:before {
  border-style: outset;
}

#AreaPageManualP4_Etiketovanie_Label18:after {
  border-style: outset;
}

#AreaPageManualP4_Etiketovanie_Label18 span {
  color: black;
}

#AreaPageManualP4_Etiketovanie_Label18 {
  font-size: 14px;
}

#AreaPageManualP4_Etiketovanie_Label18 {
  font-weight: bold;
}

#AreaPageManualP4_Etiketovanie_Label19 {
  top: 409px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_Label19 {
  left: 9px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_Label19 {
  width: 195px;
}

#AreaPageManualP4_Etiketovanie_Label19 {
  height: 35px;
}

#AreaPageManualP4_Etiketovanie_Label19 {
  z-index: 15;
}

#AreaPageManualP4_Etiketovanie_Label19 {
  border-width: 2px;
}

#AreaPageManualP4_Etiketovanie_Label19 {
  border-radius: 5px;
}

#AreaPageManualP4_Etiketovanie_Label19 {
  background-color: silver;
}

#AreaPageManualP4_Etiketovanie_Label19 {
  border-color: black;
}

#AreaPageManualP4_Etiketovanie_Label19:before {
  border-color: black;
}

#AreaPageManualP4_Etiketovanie_Label19:after {
  border-color: black;
}

#AreaPageManualP4_Etiketovanie_Label19 {
  border-style: outset;
}

#AreaPageManualP4_Etiketovanie_Label19:before {
  border-style: outset;
}

#AreaPageManualP4_Etiketovanie_Label19:after {
  border-style: outset;
}

#AreaPageManualP4_Etiketovanie_Label19 span {
  color: black;
}

#AreaPageManualP4_Etiketovanie_Label19 {
  font-size: 14px;
}

#AreaPageManualP4_Etiketovanie_Label19 {
  font-weight: bold;
}

#AreaPageManualP4_Etiketovanie_Label20 {
  top: 319px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_Label20 {
  left: 221px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_Label20 {
  width: 195px;
}

#AreaPageManualP4_Etiketovanie_Label20 {
  height: 35px;
}

#AreaPageManualP4_Etiketovanie_Label20 {
  z-index: 17;
}

#AreaPageManualP4_Etiketovanie_Label20 {
  border-width: 2px;
}

#AreaPageManualP4_Etiketovanie_Label20 {
  border-radius: 5px;
}

#AreaPageManualP4_Etiketovanie_Label20 {
  background-color: silver;
}

#AreaPageManualP4_Etiketovanie_Label20 {
  border-color: black;
}

#AreaPageManualP4_Etiketovanie_Label20:before {
  border-color: black;
}

#AreaPageManualP4_Etiketovanie_Label20:after {
  border-color: black;
}

#AreaPageManualP4_Etiketovanie_Label20 {
  border-style: outset;
}

#AreaPageManualP4_Etiketovanie_Label20:before {
  border-style: outset;
}

#AreaPageManualP4_Etiketovanie_Label20:after {
  border-style: outset;
}

#AreaPageManualP4_Etiketovanie_Label20 span {
  color: black;
}

#AreaPageManualP4_Etiketovanie_Label20 {
  font-size: 14px;
}

#AreaPageManualP4_Etiketovanie_Label20 {
  font-weight: bold;
}

#AreaPageManualP4_Etiketovanie_Label21 {
  top: 363px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_Label21 {
  left: 221px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_Label21 {
  width: 195px;
}

#AreaPageManualP4_Etiketovanie_Label21 {
  height: 35px;
}

#AreaPageManualP4_Etiketovanie_Label21 {
  z-index: 18;
}

#AreaPageManualP4_Etiketovanie_Label21 {
  border-width: 2px;
}

#AreaPageManualP4_Etiketovanie_Label21 {
  border-radius: 5px;
}

#AreaPageManualP4_Etiketovanie_Label21 {
  background-color: silver;
}

#AreaPageManualP4_Etiketovanie_Label21 {
  border-color: black;
}

#AreaPageManualP4_Etiketovanie_Label21:before {
  border-color: black;
}

#AreaPageManualP4_Etiketovanie_Label21:after {
  border-color: black;
}

#AreaPageManualP4_Etiketovanie_Label21 {
  border-style: outset;
}

#AreaPageManualP4_Etiketovanie_Label21:before {
  border-style: outset;
}

#AreaPageManualP4_Etiketovanie_Label21:after {
  border-style: outset;
}

#AreaPageManualP4_Etiketovanie_Label21 span {
  color: black;
}

#AreaPageManualP4_Etiketovanie_Label21 {
  font-size: 14px;
}

#AreaPageManualP4_Etiketovanie_Label21 {
  font-weight: bold;
}

#AreaPageManualP4_Etiketovanie_Button_StartTestovacejSekvencie {
  top: 11px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_Button_StartTestovacejSekvencie {
  left: 251px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_Button_StartTestovacejSekvencie {
  width: 165px;
}

#AreaPageManualP4_Etiketovanie_Button_StartTestovacejSekvencie {
  height: 45px;
}

#AreaPageManualP4_Etiketovanie_Button_StartTestovacejSekvencie {
  z-index: 21;
}

#AreaPageManualP4_Etiketovanie_Button_StartTestovacejSekvencie {
  border-radius: 10px;
}

#AreaPageManualP4_Etiketovanie_Button_StartTestovacejSekvencie:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP4_Etiketovanie_Button_StartTestovacejSekvencie {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP4_Etiketovanie_Button_StartTestovacejSekvencie:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_Button_StartTestovacejSekvencie.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_Button_StartTestovacejSekvencie.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_ImageList7 {
  top: 21px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_ImageList7 {
  left: 378px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_ImageList7 {
  width: 25px;
}

#AreaPageManualP4_Etiketovanie_ImageList7 {
  height: 25px;
}

#AreaPageManualP4_Etiketovanie_ImageList7 {
  z-index: 22;
}

#AreaPageManualP4_Etiketovanie_ImageList7 {
  border-style: none;
}

#AreaPageManualP4_Etiketovanie_ImageList7 {
  border-width: 0px;
}

#AreaPageManualP4_Etiketovanie_GroupBox3 {
  top: 68px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_GroupBox3 {
  left: 468px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_GroupBox3 {
  width: 430px;
}

#AreaPageManualP4_Etiketovanie_GroupBox3 {
  height: 250px;
}

#AreaPageManualP4_Etiketovanie_GroupBox3 {
  z-index: 3;
}

#AreaPageManualP4_Etiketovanie_GroupBox3 {
  background-color: oldlace;
}

#AreaPageManualP4_Etiketovanie_GroupBox3 > .header span {
  color: black;
}

#AreaPageManualP4_Etiketovanie_GroupBox3 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_Button_ZostupCentrovania {
  top: 79px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_Button_ZostupCentrovania {
  left: 13px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_Button_ZostupCentrovania {
  width: 165px;
}

#AreaPageManualP4_Etiketovanie_Button_ZostupCentrovania {
  height: 45px;
}

#AreaPageManualP4_Etiketovanie_Button_ZostupCentrovania {
  z-index: 0;
}

#AreaPageManualP4_Etiketovanie_Button_ZostupCentrovania {
  border-radius: 10px;
}

#AreaPageManualP4_Etiketovanie_Button_ZostupCentrovania:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP4_Etiketovanie_Button_ZostupCentrovania {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP4_Etiketovanie_Button_ZostupCentrovania:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_Button_ZostupCentrovania.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_Button_ZostupCentrovania.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_ImageList5 {
  top: 89px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_ImageList5 {
  left: 141px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_ImageList5 {
  width: 25px;
}

#AreaPageManualP4_Etiketovanie_ImageList5 {
  height: 25px;
}

#AreaPageManualP4_Etiketovanie_ImageList5 {
  z-index: 1;
}

#AreaPageManualP4_Etiketovanie_ImageList5 {
  border-style: none;
}

#AreaPageManualP4_Etiketovanie_ImageList5 {
  border-width: 0px;
}

#AreaPageManualP4_Etiketovanie_Button_ZdvihCentrovania {
  top: 79px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_Button_ZdvihCentrovania {
  left: 249px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_Button_ZdvihCentrovania {
  width: 165px;
}

#AreaPageManualP4_Etiketovanie_Button_ZdvihCentrovania {
  height: 45px;
}

#AreaPageManualP4_Etiketovanie_Button_ZdvihCentrovania {
  z-index: 2;
}

#AreaPageManualP4_Etiketovanie_Button_ZdvihCentrovania {
  border-radius: 10px;
}

#AreaPageManualP4_Etiketovanie_Button_ZdvihCentrovania:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP4_Etiketovanie_Button_ZdvihCentrovania {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP4_Etiketovanie_Button_ZdvihCentrovania:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_Button_ZdvihCentrovania.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_Button_ZdvihCentrovania.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_ImageList4 {
  top: 89px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_ImageList4 {
  left: 377px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_ImageList4 {
  width: 25px;
}

#AreaPageManualP4_Etiketovanie_ImageList4 {
  height: 25px;
}

#AreaPageManualP4_Etiketovanie_ImageList4 {
  z-index: 3;
}

#AreaPageManualP4_Etiketovanie_ImageList4 {
  border-style: none;
}

#AreaPageManualP4_Etiketovanie_ImageList4 {
  border-width: 0px;
}

#AreaPageManualP4_Etiketovanie_GroupBox4 {
  top: 328px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_GroupBox4 {
  left: 468px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_GroupBox4 {
  width: 430px;
}

#AreaPageManualP4_Etiketovanie_GroupBox4 {
  height: 250px;
}

#AreaPageManualP4_Etiketovanie_GroupBox4 {
  z-index: 4;
}

#AreaPageManualP4_Etiketovanie_GroupBox4 {
  background-color: oldlace;
}

#AreaPageManualP4_Etiketovanie_GroupBox4 > .header span {
  color: black;
}

#AreaPageManualP4_Etiketovanie_GroupBox4 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper {
  top: 115px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper {
  left: 132px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper {
  width: 165px;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper {
  height: 45px;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper {
  z-index: 0;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .before {
  color: black;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .after {
  color: black;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper .breaseToggleSwitch_toggle .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper .breaseToggleSwitch_toggle .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_ToggleSwitch_Stoper.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Etiketovanie_ImageList17 {
  top: 22px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_ImageList17 {
  left: 177px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_ImageList17 {
  width: 25px;
}

#AreaPageManualP4_Etiketovanie_ImageList17 {
  height: 25px;
}

#AreaPageManualP4_Etiketovanie_ImageList17 {
  z-index: 2;
}

#AreaPageManualP4_Etiketovanie_ImageList17 {
  border-style: none;
}

#AreaPageManualP4_Etiketovanie_ImageList17 {
  border-width: 0px;
}

#AreaPageManualP4_Etiketovanie_Label22 {
  top: 17px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_Label22 {
  left: 13px;
  position: absolute;
}

#AreaPageManualP4_Etiketovanie_Label22 {
  width: 195px;
}

#AreaPageManualP4_Etiketovanie_Label22 {
  height: 35px;
}

#AreaPageManualP4_Etiketovanie_Label22 {
  z-index: 1;
}

#AreaPageManualP4_Etiketovanie_Label22 {
  border-width: 2px;
}

#AreaPageManualP4_Etiketovanie_Label22 {
  border-radius: 5px;
}

#AreaPageManualP4_Etiketovanie_Label22 {
  background-color: silver;
}

#AreaPageManualP4_Etiketovanie_Label22 {
  border-color: black;
}

#AreaPageManualP4_Etiketovanie_Label22:before {
  border-color: black;
}

#AreaPageManualP4_Etiketovanie_Label22:after {
  border-color: black;
}

#AreaPageManualP4_Etiketovanie_Label22 {
  border-style: outset;
}

#AreaPageManualP4_Etiketovanie_Label22:before {
  border-style: outset;
}

#AreaPageManualP4_Etiketovanie_Label22:after {
  border-style: outset;
}

#AreaPageManualP4_Etiketovanie_Label22 span {
  color: black;
}

#AreaPageManualP4_Etiketovanie_Label22 {
  font-size: 14px;
}

#AreaPageManualP4_Etiketovanie_Label22 {
  font-weight: bold;
}
