#AreaPageManualP2_Maticovacka_Image1 {
  top: 0px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Image1 {
  left: 0px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Image1 {
  width: 1366px;
}

#AreaPageManualP2_Maticovacka_Image1 {
  height: 588px;
}

#AreaPageManualP2_Maticovacka_Image1 {
  z-index: 0;
}

#AreaPageManualP2_Maticovacka_Image1 {
  opacity: 0.2;
}

#AreaPageManualP2_Maticovacka_Label1 {
  top: 20px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Label1 {
  width: 400px;
}

#AreaPageManualP2_Maticovacka_Label1 {
  height: 35px;
}

#AreaPageManualP2_Maticovacka_Label1 {
  z-index: 1;
}

#AreaPageManualP2_Maticovacka_Label1 {
  border-width: 5px;
}

#AreaPageManualP2_Maticovacka_Label1 {
  border-radius: 5px;
}

#AreaPageManualP2_Maticovacka_Label1 {
  border-style: ridge;
}

#AreaPageManualP2_Maticovacka_Label1:before {
  border-style: ridge;
}

#AreaPageManualP2_Maticovacka_Label1:after {
  border-style: ridge;
}

#AreaPageManualP2_Maticovacka_Label1 span {
  color: black;
}

#AreaPageManualP2_Maticovacka_Label1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageManualP2_Maticovacka_Label1 {
  font-size: 20px;
}

#AreaPageManualP2_Maticovacka_Label1 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Maticovacka_GroupBox2 {
  top: 68px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_GroupBox2 {
  left: 18px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_GroupBox2 {
  width: 430px;
}

#AreaPageManualP2_Maticovacka_GroupBox2 {
  height: 250px;
}

#AreaPageManualP2_Maticovacka_GroupBox2 {
  z-index: 2;
}

#AreaPageManualP2_Maticovacka_GroupBox2 {
  background-color: oldlace;
}

#AreaPageManualP2_Maticovacka_GroupBox2 > .header span {
  color: black;
}

#AreaPageManualP2_Maticovacka_GroupBox2 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Maticovacka_Button_ZostupCentrovania {
  top: 71px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Button_ZostupCentrovania {
  left: 13px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Button_ZostupCentrovania {
  width: 165px;
}

#AreaPageManualP2_Maticovacka_Button_ZostupCentrovania {
  height: 45px;
}

#AreaPageManualP2_Maticovacka_Button_ZostupCentrovania {
  z-index: 0;
}

#AreaPageManualP2_Maticovacka_Button_ZostupCentrovania {
  border-radius: 10px;
}

#AreaPageManualP2_Maticovacka_Button_ZostupCentrovania:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP2_Maticovacka_Button_ZostupCentrovania {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP2_Maticovacka_Button_ZostupCentrovania:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Maticovacka_Button_ZostupCentrovania.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Maticovacka_Button_ZostupCentrovania.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Maticovacka_ImageList5 {
  top: 81px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageList5 {
  left: 139px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageList5 {
  width: 25px;
}

#AreaPageManualP2_Maticovacka_ImageList5 {
  height: 25px;
}

#AreaPageManualP2_Maticovacka_ImageList5 {
  z-index: 1;
}

#AreaPageManualP2_Maticovacka_ImageList5 {
  border-style: none;
}

#AreaPageManualP2_Maticovacka_ImageList5 {
  border-width: 0px;
}

#AreaPageManualP2_Maticovacka_Button_ZdvihCentrovania {
  top: 71px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Button_ZdvihCentrovania {
  left: 247px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Button_ZdvihCentrovania {
  width: 165px;
}

#AreaPageManualP2_Maticovacka_Button_ZdvihCentrovania {
  height: 45px;
}

#AreaPageManualP2_Maticovacka_Button_ZdvihCentrovania {
  z-index: 2;
}

#AreaPageManualP2_Maticovacka_Button_ZdvihCentrovania {
  border-radius: 10px;
}

#AreaPageManualP2_Maticovacka_Button_ZdvihCentrovania:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP2_Maticovacka_Button_ZdvihCentrovania {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP2_Maticovacka_Button_ZdvihCentrovania:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Maticovacka_Button_ZdvihCentrovania.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Maticovacka_Button_ZdvihCentrovania.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Maticovacka_ImageList4 {
  top: 81px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageList4 {
  left: 371px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageList4 {
  width: 25px;
}

#AreaPageManualP2_Maticovacka_ImageList4 {
  height: 25px;
}

#AreaPageManualP2_Maticovacka_ImageList4 {
  z-index: 3;
}

#AreaPageManualP2_Maticovacka_ImageList4 {
  border-style: none;
}

#AreaPageManualP2_Maticovacka_ImageList4 {
  border-width: 0px;
}

#AreaPageManualP2_Maticovacka_GroupBox4 {
  top: 328px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_GroupBox4 {
  left: 18px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_GroupBox4 {
  width: 430px;
}

#AreaPageManualP2_Maticovacka_GroupBox4 {
  height: 250px;
}

#AreaPageManualP2_Maticovacka_GroupBox4 {
  z-index: 3;
}

#AreaPageManualP2_Maticovacka_GroupBox4 {
  background-color: oldlace;
}

#AreaPageManualP2_Maticovacka_GroupBox4 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper {
  top: 111px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper {
  left: 132px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper {
  width: 165px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper {
  height: 45px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper {
  z-index: 0;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .before {
  color: black;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .after {
  color: black;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper .breaseToggleSwitch_toggle .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper .breaseToggleSwitch_toggle .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Maticovacka_ImageList17 {
  top: 22px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageList17 {
  left: 177px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageList17 {
  width: 25px;
}

#AreaPageManualP2_Maticovacka_ImageList17 {
  height: 25px;
}

#AreaPageManualP2_Maticovacka_ImageList17 {
  z-index: 2;
}

#AreaPageManualP2_Maticovacka_ImageList17 {
  border-style: none;
}

#AreaPageManualP2_Maticovacka_ImageList17 {
  border-width: 0px;
}

#AreaPageManualP2_Maticovacka_Label20 {
  top: 17px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Label20 {
  left: 13px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Label20 {
  width: 195px;
}

#AreaPageManualP2_Maticovacka_Label20 {
  height: 35px;
}

#AreaPageManualP2_Maticovacka_Label20 {
  z-index: 1;
}

#AreaPageManualP2_Maticovacka_Label20 {
  border-width: 2px;
}

#AreaPageManualP2_Maticovacka_Label20 {
  border-radius: 5px;
}

#AreaPageManualP2_Maticovacka_Label20 {
  background-color: silver;
}

#AreaPageManualP2_Maticovacka_Label20 {
  border-color: black;
}

#AreaPageManualP2_Maticovacka_Label20:before {
  border-color: black;
}

#AreaPageManualP2_Maticovacka_Label20:after {
  border-color: black;
}

#AreaPageManualP2_Maticovacka_Label20 {
  border-style: outset;
}

#AreaPageManualP2_Maticovacka_Label20:before {
  border-style: outset;
}

#AreaPageManualP2_Maticovacka_Label20:after {
  border-style: outset;
}

#AreaPageManualP2_Maticovacka_Label20 span {
  color: black;
}

#AreaPageManualP2_Maticovacka_Label20 {
  font-size: 14px;
}

#AreaPageManualP2_Maticovacka_Label20 {
  font-weight: bold;
}

#AreaPageManualP2_Maticovacka_GroupBox5 {
  top: 68px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_GroupBox5 {
  left: 468px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_GroupBox5 {
  width: 429px;
}

#AreaPageManualP2_Maticovacka_GroupBox5 {
  height: 510px;
}

#AreaPageManualP2_Maticovacka_GroupBox5 {
  z-index: 4;
}

#AreaPageManualP2_Maticovacka_GroupBox5 {
  background-color: oldlace;
}

#AreaPageManualP2_Maticovacka_GroupBox5 > .header span {
  color: black;
}

#AreaPageManualP2_Maticovacka_GroupBox5 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper1 {
  top: 19px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper1 {
  left: 13px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper1 {
  width: 165px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper1 {
  height: 45px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper1 {
  z-index: 0;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper1:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .before {
  color: black;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper1:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .after {
  color: black;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper1 .breaseToggleSwitch_toggle .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper1 .breaseToggleSwitch_toggle .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper1:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper1.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper1.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper2 {
  top: 121px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper2 {
  left: 251px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper2 {
  width: 165px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper2 {
  height: 45px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper2 {
  z-index: 1;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper2:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .before {
  color: black;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper2:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .after {
  color: black;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper2 .breaseToggleSwitch_toggle .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper2 .breaseToggleSwitch_toggle .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper2:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper2.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper2.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Maticovacka_NumericOutput_PoziciaVysunutiaMaticovacky {
  height: 30px;
}

#AreaPageManualP2_Maticovacka_NumericOutput_PoziciaVysunutiaMaticovacky {
  top: 57px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_NumericOutput_PoziciaVysunutiaMaticovacky {
  left: 236px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_NumericOutput_PoziciaVysunutiaMaticovacky {
  width: 165px;
}

#AreaPageManualP2_Maticovacka_NumericOutput_PoziciaVysunutiaMaticovacky {
  z-index: 6;
}

#AreaPageManualP2_Maticovacka_NumericOutput_PoziciaVysunutiaMaticovacky {
  border-width: 4px;
}

#AreaPageManualP2_Maticovacka_NumericOutput_PoziciaVysunutiaMaticovacky {
  border-style: ridge;
}

#AreaPageManualP2_Maticovacka_NumericOutput_PoziciaVysunutiaMaticovacky input {
  color: black;
}

#AreaPageManualP2_Maticovacka_NumericOutput_PoziciaVysunutiaMaticovacky span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageManualP2_Maticovacka_NumericOutput_PoziciaVysunutiaMaticovacky input {
  justify-content: center;
  text-align: center;
}

#AreaPageManualP2_Maticovacka_NumericOutput_PoziciaVysunutiaMaticovacky input {
  font-size: 16px;
}

#AreaPageManualP2_Maticovacka_ImageList14 {
  top: 282px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageList14 {
  left: 175px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageList14 {
  width: 25px;
}

#AreaPageManualP2_Maticovacka_ImageList14 {
  height: 25px;
}

#AreaPageManualP2_Maticovacka_ImageList14 {
  z-index: 8;
}

#AreaPageManualP2_Maticovacka_ImageList14 {
  border-style: none;
}

#AreaPageManualP2_Maticovacka_ImageList14 {
  border-width: 0px;
}

#AreaPageManualP2_Maticovacka_ImageList15 {
  top: 282px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageList15 {
  left: 383px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageList15 {
  width: 25px;
}

#AreaPageManualP2_Maticovacka_ImageList15 {
  height: 25px;
}

#AreaPageManualP2_Maticovacka_ImageList15 {
  z-index: 13;
}

#AreaPageManualP2_Maticovacka_ImageList15 {
  border-style: none;
}

#AreaPageManualP2_Maticovacka_ImageList15 {
  border-width: 0px;
}

#AreaPageManualP2_Maticovacka_ImageList16 {
  top: 328px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageList16 {
  left: 175px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageList16 {
  width: 25px;
}

#AreaPageManualP2_Maticovacka_ImageList16 {
  height: 25px;
}

#AreaPageManualP2_Maticovacka_ImageList16 {
  z-index: 10;
}

#AreaPageManualP2_Maticovacka_ImageList16 {
  border-style: none;
}

#AreaPageManualP2_Maticovacka_ImageList16 {
  border-width: 0px;
}

#AreaPageManualP2_Maticovacka_Line2 {
  z-index: 2;
}

#AreaPageManualP2_Maticovacka_Line2 line {
  stroke-width: 2px;
}

#AreaPageManualP2_Maticovacka_ImageList18 {
  top: 328px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageList18 {
  left: 383px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageList18 {
  width: 25px;
}

#AreaPageManualP2_Maticovacka_ImageList18 {
  height: 25px;
}

#AreaPageManualP2_Maticovacka_ImageList18 {
  z-index: 14;
}

#AreaPageManualP2_Maticovacka_ImageList18 {
  border-style: none;
}

#AreaPageManualP2_Maticovacka_ImageList18 {
  border-width: 0px;
}

#AreaPageManualP2_Maticovacka_Button_PodajMaticu {
  top: 121px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Button_PodajMaticu {
  left: 13px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Button_PodajMaticu {
  width: 165px;
}

#AreaPageManualP2_Maticovacka_Button_PodajMaticu {
  height: 45px;
}

#AreaPageManualP2_Maticovacka_Button_PodajMaticu {
  z-index: 3;
}

#AreaPageManualP2_Maticovacka_Button_PodajMaticu {
  border-radius: 10px;
}

#AreaPageManualP2_Maticovacka_Button_PodajMaticu:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP2_Maticovacka_Button_PodajMaticu {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP2_Maticovacka_Button_PodajMaticu:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Maticovacka_Button_PodajMaticu.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Maticovacka_Button_PodajMaticu.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Maticovacka_ImageList6 {
  top: 131px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageList6 {
  left: 143px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageList6 {
  width: 25px;
}

#AreaPageManualP2_Maticovacka_ImageList6 {
  height: 25px;
}

#AreaPageManualP2_Maticovacka_ImageList6 {
  z-index: 4;
}

#AreaPageManualP2_Maticovacka_ImageList6 {
  border-style: none;
}

#AreaPageManualP2_Maticovacka_ImageList6 {
  border-width: 0px;
}

#AreaPageManualP2_Maticovacka_Label27 {
  top: 19px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Label27 {
  left: 221px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Label27 {
  width: 195px;
}

#AreaPageManualP2_Maticovacka_Label27 {
  height: 77px;
}

#AreaPageManualP2_Maticovacka_Label27 {
  z-index: 5;
}

#AreaPageManualP2_Maticovacka_Label27 {
  border-width: 2px;
}

#AreaPageManualP2_Maticovacka_Label27 {
  border-radius: 5px;
}

#AreaPageManualP2_Maticovacka_Label27 {
  background-color: silver;
}

#AreaPageManualP2_Maticovacka_Label27 {
  border-color: black;
}

#AreaPageManualP2_Maticovacka_Label27:before {
  border-color: black;
}

#AreaPageManualP2_Maticovacka_Label27:after {
  border-color: black;
}

#AreaPageManualP2_Maticovacka_Label27 {
  border-style: outset;
}

#AreaPageManualP2_Maticovacka_Label27:before {
  border-style: outset;
}

#AreaPageManualP2_Maticovacka_Label27:after {
  border-style: outset;
}

#AreaPageManualP2_Maticovacka_Label27 span {
  color: black;
}

#AreaPageManualP2_Maticovacka_Label27 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: start;
  align-items: flex-start;
}

#AreaPageManualP2_Maticovacka_Label27 {
  font-size: 14px;
}

#AreaPageManualP2_Maticovacka_Label27 {
  font-weight: bold;
}

#AreaPageManualP2_Maticovacka_Label21 {
  top: 277px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Label21 {
  left: 13px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Label21 {
  width: 195px;
}

#AreaPageManualP2_Maticovacka_Label21 {
  height: 35px;
}

#AreaPageManualP2_Maticovacka_Label21 {
  z-index: 7;
}

#AreaPageManualP2_Maticovacka_Label21 {
  border-width: 2px;
}

#AreaPageManualP2_Maticovacka_Label21 {
  border-radius: 5px;
}

#AreaPageManualP2_Maticovacka_Label21 {
  background-color: silver;
}

#AreaPageManualP2_Maticovacka_Label21 {
  border-color: black;
}

#AreaPageManualP2_Maticovacka_Label21:before {
  border-color: black;
}

#AreaPageManualP2_Maticovacka_Label21:after {
  border-color: black;
}

#AreaPageManualP2_Maticovacka_Label21 {
  border-style: outset;
}

#AreaPageManualP2_Maticovacka_Label21:before {
  border-style: outset;
}

#AreaPageManualP2_Maticovacka_Label21:after {
  border-style: outset;
}

#AreaPageManualP2_Maticovacka_Label21 span {
  color: black;
}

#AreaPageManualP2_Maticovacka_Label21 {
  font-size: 14px;
}

#AreaPageManualP2_Maticovacka_Label21 {
  font-weight: bold;
}

#AreaPageManualP2_Maticovacka_Label22 {
  top: 323px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Label22 {
  left: 13px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Label22 {
  width: 195px;
}

#AreaPageManualP2_Maticovacka_Label22 {
  height: 35px;
}

#AreaPageManualP2_Maticovacka_Label22 {
  z-index: 9;
}

#AreaPageManualP2_Maticovacka_Label22 {
  border-width: 2px;
}

#AreaPageManualP2_Maticovacka_Label22 {
  border-radius: 5px;
}

#AreaPageManualP2_Maticovacka_Label22 {
  background-color: silver;
}

#AreaPageManualP2_Maticovacka_Label22 {
  border-color: black;
}

#AreaPageManualP2_Maticovacka_Label22:before {
  border-color: black;
}

#AreaPageManualP2_Maticovacka_Label22:after {
  border-color: black;
}

#AreaPageManualP2_Maticovacka_Label22 {
  border-style: outset;
}

#AreaPageManualP2_Maticovacka_Label22:before {
  border-style: outset;
}

#AreaPageManualP2_Maticovacka_Label22:after {
  border-style: outset;
}

#AreaPageManualP2_Maticovacka_Label22 span {
  color: black;
}

#AreaPageManualP2_Maticovacka_Label22 {
  font-size: 14px;
}

#AreaPageManualP2_Maticovacka_Label22 {
  font-weight: bold;
}

#AreaPageManualP2_Maticovacka_Label23 {
  top: 277px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Label23 {
  left: 221px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Label23 {
  width: 195px;
}

#AreaPageManualP2_Maticovacka_Label23 {
  height: 35px;
}

#AreaPageManualP2_Maticovacka_Label23 {
  z-index: 11;
}

#AreaPageManualP2_Maticovacka_Label23 {
  border-width: 2px;
}

#AreaPageManualP2_Maticovacka_Label23 {
  border-radius: 5px;
}

#AreaPageManualP2_Maticovacka_Label23 {
  background-color: silver;
}

#AreaPageManualP2_Maticovacka_Label23 {
  border-color: black;
}

#AreaPageManualP2_Maticovacka_Label23:before {
  border-color: black;
}

#AreaPageManualP2_Maticovacka_Label23:after {
  border-color: black;
}

#AreaPageManualP2_Maticovacka_Label23 {
  border-style: outset;
}

#AreaPageManualP2_Maticovacka_Label23:before {
  border-style: outset;
}

#AreaPageManualP2_Maticovacka_Label23:after {
  border-style: outset;
}

#AreaPageManualP2_Maticovacka_Label23 span {
  color: black;
}

#AreaPageManualP2_Maticovacka_Label23 {
  font-size: 14px;
}

#AreaPageManualP2_Maticovacka_Label23 {
  font-weight: bold;
}

#AreaPageManualP2_Maticovacka_Label24 {
  top: 323px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Label24 {
  left: 221px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Label24 {
  width: 195px;
}

#AreaPageManualP2_Maticovacka_Label24 {
  height: 35px;
}

#AreaPageManualP2_Maticovacka_Label24 {
  z-index: 12;
}

#AreaPageManualP2_Maticovacka_Label24 {
  border-width: 2px;
}

#AreaPageManualP2_Maticovacka_Label24 {
  border-radius: 5px;
}

#AreaPageManualP2_Maticovacka_Label24 {
  background-color: silver;
}

#AreaPageManualP2_Maticovacka_Label24 {
  border-color: black;
}

#AreaPageManualP2_Maticovacka_Label24:before {
  border-color: black;
}

#AreaPageManualP2_Maticovacka_Label24:after {
  border-color: black;
}

#AreaPageManualP2_Maticovacka_Label24 {
  border-style: outset;
}

#AreaPageManualP2_Maticovacka_Label24:before {
  border-style: outset;
}

#AreaPageManualP2_Maticovacka_Label24:after {
  border-style: outset;
}

#AreaPageManualP2_Maticovacka_Label24 span {
  color: black;
}

#AreaPageManualP2_Maticovacka_Label24 {
  font-size: 14px;
}

#AreaPageManualP2_Maticovacka_Label24 {
  font-weight: bold;
}

#AreaPageManualP2_Maticovacka_GroupBox6 {
  top: 68px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_GroupBox6 {
  left: 917px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_GroupBox6 {
  width: 430px;
}

#AreaPageManualP2_Maticovacka_GroupBox6 {
  height: 250px;
}

#AreaPageManualP2_Maticovacka_GroupBox6 {
  z-index: 5;
}

#AreaPageManualP2_Maticovacka_GroupBox6 {
  background-color: oldlace;
}

#AreaPageManualP2_Maticovacka_GroupBox6 > .header span {
  color: black;
}

#AreaPageManualP2_Maticovacka_GroupBox6 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Maticovacka_ImageList19 {
  top: 96px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageList19 {
  left: 176px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ImageList19 {
  width: 25px;
}

#AreaPageManualP2_Maticovacka_ImageList19 {
  height: 25px;
}

#AreaPageManualP2_Maticovacka_ImageList19 {
  z-index: 3;
}

#AreaPageManualP2_Maticovacka_ImageList19 {
  border-style: none;
}

#AreaPageManualP2_Maticovacka_ImageList19 {
  border-width: 0px;
}

#AreaPageManualP2_Maticovacka_Line3 {
  z-index: 0;
}

#AreaPageManualP2_Maticovacka_Line3 line {
  stroke-width: 2px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper4 {
  top: 19px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper4 {
  left: 14px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper4 {
  width: 165px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper4 {
  height: 45px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper4 {
  z-index: 1;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper4:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .before {
  color: black;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper4:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .after {
  color: black;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper4 .breaseToggleSwitch_toggle .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper4 .breaseToggleSwitch_toggle .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper4:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper4.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Maticovacka_ToggleSwitch_Stoper4.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP2_Maticovacka_Label25 {
  top: 91px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Label25 {
  left: 14px;
  position: absolute;
}

#AreaPageManualP2_Maticovacka_Label25 {
  width: 195px;
}

#AreaPageManualP2_Maticovacka_Label25 {
  height: 35px;
}

#AreaPageManualP2_Maticovacka_Label25 {
  z-index: 2;
}

#AreaPageManualP2_Maticovacka_Label25 {
  border-width: 2px;
}

#AreaPageManualP2_Maticovacka_Label25 {
  border-radius: 5px;
}

#AreaPageManualP2_Maticovacka_Label25 {
  background-color: silver;
}

#AreaPageManualP2_Maticovacka_Label25 {
  border-color: black;
}

#AreaPageManualP2_Maticovacka_Label25:before {
  border-color: black;
}

#AreaPageManualP2_Maticovacka_Label25:after {
  border-color: black;
}

#AreaPageManualP2_Maticovacka_Label25 {
  border-style: outset;
}

#AreaPageManualP2_Maticovacka_Label25:before {
  border-style: outset;
}

#AreaPageManualP2_Maticovacka_Label25:after {
  border-style: outset;
}

#AreaPageManualP2_Maticovacka_Label25 span {
  color: black;
}

#AreaPageManualP2_Maticovacka_Label25 {
  font-size: 14px;
}

#AreaPageManualP2_Maticovacka_Label25 {
  font-weight: bold;
}
