#AreaPageSafetyP2_Image1 {
  top: 0px;
  position: absolute;
}

#AreaPageSafetyP2_Image1 {
  left: 0px;
  position: absolute;
}

#AreaPageSafetyP2_Image1 {
  width: 1366px;
}

#AreaPageSafetyP2_Image1 {
  height: 588px;
}

#AreaPageSafetyP2_Image1 {
  z-index: 0;
}

#AreaPageSafetyP2_Image1 {
  opacity: 0.2;
}

#AreaPageSafetyP2_Label1 {
  top: 20px;
  position: absolute;
}

#AreaPageSafetyP2_Label1 {
  left: 533px;
  position: absolute;
}

#AreaPageSafetyP2_Label1 {
  width: 300px;
}

#AreaPageSafetyP2_Label1 {
  height: 45px;
}

#AreaPageSafetyP2_Label1 {
  z-index: 1;
}

#AreaPageSafetyP2_Label1 {
  border-width: 8px;
}

#AreaPageSafetyP2_Label1 {
  border-radius: 5px;
}

#AreaPageSafetyP2_Label1 {
  border-style: ridge;
}

#AreaPageSafetyP2_Label1:before {
  border-style: ridge;
}

#AreaPageSafetyP2_Label1:after {
  border-style: ridge;
}

#AreaPageSafetyP2_Label1 span {
  color: black;
}

#AreaPageSafetyP2_Label1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageSafetyP2_Label1 {
  font-size: 25px;
}

#AreaPageSafetyP2_Label1 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageSafetyP2_ImageList1 {
  top: 30px;
  position: absolute;
}

#AreaPageSafetyP2_ImageList1 {
  left: 72px;
  position: absolute;
}

#AreaPageSafetyP2_ImageList1 {
  width: 45px;
}

#AreaPageSafetyP2_ImageList1 {
  height: 45px;
}

#AreaPageSafetyP2_ImageList1 {
  z-index: 2;
}

#AreaPageSafetyP2_ImageList1 {
  border-style: solid;
}

#AreaPageSafetyP2_ImageList1 {
  border-width: 1px;
}

#AreaPageSafetyP2_ImageList1 {
  border-color: black;
}

#AreaPageSafetyP2_ImageList2 {
  top: 30px;
  position: absolute;
}

#AreaPageSafetyP2_ImageList2 {
  left: 158px;
  position: absolute;
}

#AreaPageSafetyP2_ImageList2 {
  width: 45px;
}

#AreaPageSafetyP2_ImageList2 {
  height: 45px;
}

#AreaPageSafetyP2_ImageList2 {
  z-index: 3;
}

#AreaPageSafetyP2_ImageList2 {
  border-style: solid;
}

#AreaPageSafetyP2_ImageList2 {
  border-width: 1px;
}

#AreaPageSafetyP2_ImageList2 {
  border-color: black;
}

#AreaPageSafetyP2_ImageList3 {
  top: 30px;
  position: absolute;
}

#AreaPageSafetyP2_ImageList3 {
  left: 234px;
  position: absolute;
}

#AreaPageSafetyP2_ImageList3 {
  width: 45px;
}

#AreaPageSafetyP2_ImageList3 {
  height: 45px;
}

#AreaPageSafetyP2_ImageList3 {
  z-index: 4;
}

#AreaPageSafetyP2_ImageList3 {
  border-style: solid;
}

#AreaPageSafetyP2_ImageList3 {
  border-width: 1px;
}

#AreaPageSafetyP2_ImageList3 {
  border-color: black;
}

#AreaPageSafetyP2_ImageList4 {
  top: 30px;
  position: absolute;
}

#AreaPageSafetyP2_ImageList4 {
  left: 306px;
  position: absolute;
}

#AreaPageSafetyP2_ImageList4 {
  width: 45px;
}

#AreaPageSafetyP2_ImageList4 {
  height: 45px;
}

#AreaPageSafetyP2_ImageList4 {
  z-index: 5;
}

#AreaPageSafetyP2_ImageList4 {
  border-style: solid;
}

#AreaPageSafetyP2_ImageList4 {
  border-width: 1px;
}

#AreaPageSafetyP2_ImageList4 {
  border-color: black;
}

#AreaPageSafetyP2_ImageList5 {
  top: 112px;
  position: absolute;
}

#AreaPageSafetyP2_ImageList5 {
  left: 34px;
  position: absolute;
}

#AreaPageSafetyP2_ImageList5 {
  width: 45px;
}

#AreaPageSafetyP2_ImageList5 {
  height: 45px;
}

#AreaPageSafetyP2_ImageList5 {
  z-index: 6;
}

#AreaPageSafetyP2_ImageList5 {
  border-style: solid;
}

#AreaPageSafetyP2_ImageList5 {
  border-width: 1px;
}

#AreaPageSafetyP2_ImageList5 {
  border-color: black;
}

#AreaPageSafetyP2_ImageList6 {
  top: 112px;
  position: absolute;
}

#AreaPageSafetyP2_ImageList6 {
  left: 106px;
  position: absolute;
}

#AreaPageSafetyP2_ImageList6 {
  width: 45px;
}

#AreaPageSafetyP2_ImageList6 {
  height: 45px;
}

#AreaPageSafetyP2_ImageList6 {
  z-index: 7;
}

#AreaPageSafetyP2_ImageList6 {
  border-style: solid;
}

#AreaPageSafetyP2_ImageList6 {
  border-width: 1px;
}

#AreaPageSafetyP2_ImageList6 {
  border-color: black;
}

#AreaPageSafetyP2_ImageList7 {
  top: 204px;
  position: absolute;
}

#AreaPageSafetyP2_ImageList7 {
  left: 32px;
  position: absolute;
}

#AreaPageSafetyP2_ImageList7 {
  width: 45px;
}

#AreaPageSafetyP2_ImageList7 {
  height: 45px;
}

#AreaPageSafetyP2_ImageList7 {
  z-index: 8;
}

#AreaPageSafetyP2_ImageList7 {
  border-style: solid;
}

#AreaPageSafetyP2_ImageList7 {
  border-width: 1px;
}

#AreaPageSafetyP2_ImageList7 {
  border-color: black;
}

#AreaPageSafetyP2_ImageList8 {
  top: 206px;
  position: absolute;
}

#AreaPageSafetyP2_ImageList8 {
  left: 110px;
  position: absolute;
}

#AreaPageSafetyP2_ImageList8 {
  width: 45px;
}

#AreaPageSafetyP2_ImageList8 {
  height: 45px;
}

#AreaPageSafetyP2_ImageList8 {
  z-index: 9;
}

#AreaPageSafetyP2_ImageList8 {
  border-style: solid;
}

#AreaPageSafetyP2_ImageList8 {
  border-width: 1px;
}

#AreaPageSafetyP2_ImageList8 {
  border-color: black;
}

#AreaPageSafetyP2_ImageList9 {
  top: 200px;
  position: absolute;
}

#AreaPageSafetyP2_ImageList9 {
  left: 188px;
  position: absolute;
}

#AreaPageSafetyP2_ImageList9 {
  width: 45px;
}

#AreaPageSafetyP2_ImageList9 {
  height: 45px;
}

#AreaPageSafetyP2_ImageList9 {
  z-index: 10;
}

#AreaPageSafetyP2_ImageList9 {
  border-style: solid;
}

#AreaPageSafetyP2_ImageList9 {
  border-width: 1px;
}

#AreaPageSafetyP2_ImageList9 {
  border-color: black;
}

#AreaPageSafetyP2_ImageList10 {
  top: 200px;
  position: absolute;
}

#AreaPageSafetyP2_ImageList10 {
  left: 260px;
  position: absolute;
}

#AreaPageSafetyP2_ImageList10 {
  width: 45px;
}

#AreaPageSafetyP2_ImageList10 {
  height: 45px;
}

#AreaPageSafetyP2_ImageList10 {
  z-index: 11;
}

#AreaPageSafetyP2_ImageList10 {
  border-style: solid;
}

#AreaPageSafetyP2_ImageList10 {
  border-width: 1px;
}

#AreaPageSafetyP2_ImageList10 {
  border-color: black;
}
