#AreaPageTolerancieSkrutkovaniaP2_page2_Image1 {
  top: 0px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Image1 {
  left: 0px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Image1 {
  width: 1366px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Image1 {
  height: 588px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Image1 {
  z-index: 0;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Image1 {
  opacity: 0.2;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label1 {
  top: 20px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label1 {
  width: 400px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label1 {
  height: 35px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label1 {
  z-index: 1;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label1 {
  border-width: 5px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label1 {
  border-radius: 5px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label1 {
  border-color: #999999;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label1:before {
  border-color: #999999;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label1:after {
  border-color: #999999;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label1 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label1:before {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label1:after {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label1 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label1 {
  font-size: 20px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label1 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_GroupBox1 {
  top: 74px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_GroupBox1 {
  left: 8px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_GroupBox1 {
  width: 440px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_GroupBox1 {
  height: 500px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_GroupBox1 {
  z-index: 2;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_GroupBox1 {
  background-color: oldlace;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_GroupBox1 > .header span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_GroupBox1 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label8 {
  top: 11px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label8 {
  left: 7px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label8 {
  width: 424px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label8 {
  height: 75px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label8 {
  z-index: 0;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label8 {
  border-width: 2px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label8 {
  border-radius: 2px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label8 {
  background-color: lightgray;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label8 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label8 {
  border-color: black;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label8:before {
  border-color: black;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label8:after {
  border-color: black;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label8 {
  border-style: solid;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label8:before {
  border-style: solid;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label8:after {
  border-style: solid;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label8 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label8 {
  font-size: 16px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label8 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label8 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label2 {
  width: 80px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label2 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label2 {
  top: 19px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label2 {
  left: 133px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label2 {
  z-index: 1;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label2 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label2 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label2 {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label2 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_2 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_2 {
  top: 51px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_2 {
  left: 329px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_2 {
  width: 95px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_2 {
  z-index: 2;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_2:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_2.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_2 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_2.disabled {
  background-color: silver;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_2:not(.disabled):not(.active) {
  border-color: #999999;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_2.disabled {
  border-color: #ff8800;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_2.active:not(.disabled) {
  background-color: white;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_2.active:not(.disabled) input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_2.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_2 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_2.disabled {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_2.disabled input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_2.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_2 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_2 input {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_2 .breaseNumericInput_unit {
  font-size: 10px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_2 {
  box-shadow: none;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label3 {
  width: 80px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label3 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label3 {
  top: 19px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label3 {
  left: 337px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label3 {
  z-index: 3;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label3 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label3 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label3 {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label3 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_3 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_3 {
  top: 51px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_3 {
  left: 227px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_3 {
  width: 95px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_3 {
  z-index: 4;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_3:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_3.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_3 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_3.disabled {
  background-color: silver;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_3:not(.disabled):not(.active) {
  border-color: #999999;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_3.disabled {
  border-color: #ff8800;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_3.active:not(.disabled) {
  background-color: white;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_3.active:not(.disabled) input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_3.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_3 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_3.disabled {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_3.disabled input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_3.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_3 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_3 input {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_3 .breaseNumericInput_unit {
  font-size: 10px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericInput_3 {
  box-shadow: none;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label4 {
  width: 80px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label4 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label4 {
  top: 19px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label4 {
  left: 235px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label4 {
  z-index: 5;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label4 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label4 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label4 {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_Label4 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericOutput9 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericOutput9 {
  top: 51px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericOutput9 {
  left: 125px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericOutput9 {
  width: 95px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericOutput9 {
  z-index: 6;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericOutput9 {
  border-width: 4px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericOutput9 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericOutput9 {
  background-color: silver;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericOutput9 {
  border-color: #999999;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericOutput9 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericOutput9 input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericOutput9 span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericOutput9 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericOutput9 input {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NumericOutput9 .breaseNumericOutput_unit {
  font-size: 10px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NavigationButton_PreviewPage {
  top: 8px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NavigationButton_PreviewPage {
  left: 8px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NavigationButton_PreviewPage {
  width: 105px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NavigationButton_PreviewPage {
  height: 50px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NavigationButton_PreviewPage {
  z-index: 3;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NavigationButton_PreviewPage {
  border-style: solid;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NavigationButton_PreviewPage.active {
  border-style: solid;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NavigationButton_PreviewPage.checked {
  border-style: solid;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NavigationButton_PreviewPage.disabled {
  border-style: solid;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NavigationButton_PreviewPage:not(.active):not(.checked) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NavigationButton_PreviewPage.disabled {
  border-width: 1px 1px 1px 1px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NavigationButton_PreviewPage {
  border-radius: 8px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NavigationButton_PreviewPage:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%);
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NavigationButton_PreviewPage.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NavigationButton_PreviewPage.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NavigationButton_PreviewPage:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NavigationButton_PreviewPage.active:not(.disabled):not(.editMode) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NavigationButton_PreviewPage.checked:not(.disabled) {
  border-width: 1px 1px 1px 1px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NavigationButton_PreviewPage.active:not(.disabled):not(.editMode) span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NavigationButton_PreviewPage.checked:not(.disabled) span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NavigationButton_PreviewPage span {
  font-size: 20px;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NavigationButton_PreviewPage:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NavigationButton_PreviewPage.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageTolerancieSkrutkovaniaP2_page2_NavigationButton_PreviewPage.disabled.checked {
  box-shadow: 4px 4px 14px black;
}
