#AreaPageStavyStanicP4_Image1 {
  top: 0px;
  position: absolute;
}

#AreaPageStavyStanicP4_Image1 {
  left: 0px;
  position: absolute;
}

#AreaPageStavyStanicP4_Image1 {
  width: 1366px;
}

#AreaPageStavyStanicP4_Image1 {
  height: 588px;
}

#AreaPageStavyStanicP4_Image1 {
  z-index: 0;
}

#AreaPageStavyStanicP4_Image1 {
  opacity: 0.2;
}

#AreaPageStavyStanicP4_Label1 {
  top: 20px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label1 {
  width: 400px;
}

#AreaPageStavyStanicP4_Label1 {
  height: 35px;
}

#AreaPageStavyStanicP4_Label1 {
  z-index: 1;
}

#AreaPageStavyStanicP4_Label1 {
  border-width: 5px;
}

#AreaPageStavyStanicP4_Label1 {
  border-radius: 5px;
}

#AreaPageStavyStanicP4_Label1 {
  border-color: #999999;
}

#AreaPageStavyStanicP4_Label1:before {
  border-color: #999999;
}

#AreaPageStavyStanicP4_Label1:after {
  border-color: #999999;
}

#AreaPageStavyStanicP4_Label1 {
  border-style: ridge;
}

#AreaPageStavyStanicP4_Label1:before {
  border-style: ridge;
}

#AreaPageStavyStanicP4_Label1:after {
  border-style: ridge;
}

#AreaPageStavyStanicP4_Label1 span {
  color: black;
}

#AreaPageStavyStanicP4_Label1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageStavyStanicP4_Label1 {
  font-size: 20px;
}

#AreaPageStavyStanicP4_Label1 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageStavyStanicP4_Label8 {
  top: 70px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label8 {
  left: 11px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label8 {
  width: 1344px;
}

#AreaPageStavyStanicP4_Label8 {
  height: 42px;
}

#AreaPageStavyStanicP4_Label8 {
  z-index: 2;
}

#AreaPageStavyStanicP4_Label8 {
  border-width: 2px;
}

#AreaPageStavyStanicP4_Label8 {
  border-radius: 2px;
}

#AreaPageStavyStanicP4_Label8 {
  background-color: oldlace;
}

#AreaPageStavyStanicP4_Label8 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP4_Label8 {
  border-color: black;
}

#AreaPageStavyStanicP4_Label8:before {
  border-color: black;
}

#AreaPageStavyStanicP4_Label8:after {
  border-color: black;
}

#AreaPageStavyStanicP4_Label8 {
  border-style: solid;
}

#AreaPageStavyStanicP4_Label8:before {
  border-style: solid;
}

#AreaPageStavyStanicP4_Label8:after {
  border-style: solid;
}

#AreaPageStavyStanicP4_Label8 span {
  color: black;
}

#AreaPageStavyStanicP4_Label8 {
  font-size: 15px;
}

#AreaPageStavyStanicP4_Label8 {
  font-weight: bold;
}

#AreaPageStavyStanicP4_Label8 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP4_TextOutput1 {
  height: 30px;
}

#AreaPageStavyStanicP4_TextOutput1 {
  top: 76px;
  position: absolute;
}

#AreaPageStavyStanicP4_TextOutput1 {
  left: 120px;
  position: absolute;
}

#AreaPageStavyStanicP4_TextOutput1 {
  width: 1226px;
}

#AreaPageStavyStanicP4_TextOutput1 {
  z-index: 3;
}

#AreaPageStavyStanicP4_TextOutput1 {
  border-width: 4px 4px 4px 4px;
}

#AreaPageStavyStanicP4_TextOutput1 {
  border-radius: 4px;
}

#AreaPageStavyStanicP4_TextOutput1 {
  background-color: darkgray;
}

#AreaPageStavyStanicP4_TextOutput1 {
  border-color: #999999;
}

#AreaPageStavyStanicP4_TextOutput1:before {
  border-color: #999999;
}

#AreaPageStavyStanicP4_TextOutput1:after {
  border-color: #999999;
}

#AreaPageStavyStanicP4_TextOutput1 {
  border-style: ridge;
}

#AreaPageStavyStanicP4_TextOutput1:before {
  border-style: ridge;
}

#AreaPageStavyStanicP4_TextOutput1:after {
  border-style: ridge;
}

#AreaPageStavyStanicP4_TextOutput1 span {
  color: black;
}

#AreaPageStavyStanicP4_TextOutput1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageStavyStanicP4_TextOutput1 {
  font-size: 12px;
}

#AreaPageStavyStanicP4_Label9 {
  top: 170px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label9 {
  left: 11px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label9 {
  width: 1344px;
}

#AreaPageStavyStanicP4_Label9 {
  height: 42px;
}

#AreaPageStavyStanicP4_Label9 {
  z-index: 4;
}

#AreaPageStavyStanicP4_Label9 {
  border-width: 2px;
}

#AreaPageStavyStanicP4_Label9 {
  border-radius: 2px;
}

#AreaPageStavyStanicP4_Label9 {
  background-color: oldlace;
}

#AreaPageStavyStanicP4_Label9 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP4_Label9 {
  border-color: black;
}

#AreaPageStavyStanicP4_Label9:before {
  border-color: black;
}

#AreaPageStavyStanicP4_Label9:after {
  border-color: black;
}

#AreaPageStavyStanicP4_Label9 {
  border-style: solid;
}

#AreaPageStavyStanicP4_Label9:before {
  border-style: solid;
}

#AreaPageStavyStanicP4_Label9:after {
  border-style: solid;
}

#AreaPageStavyStanicP4_Label9 span {
  color: black;
}

#AreaPageStavyStanicP4_Label9 {
  font-size: 15px;
}

#AreaPageStavyStanicP4_Label9 {
  font-weight: bold;
}

#AreaPageStavyStanicP4_Label9 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP4_TextOutput2 {
  height: 30px;
}

#AreaPageStavyStanicP4_TextOutput2 {
  top: 176px;
  position: absolute;
}

#AreaPageStavyStanicP4_TextOutput2 {
  left: 120px;
  position: absolute;
}

#AreaPageStavyStanicP4_TextOutput2 {
  width: 1226px;
}

#AreaPageStavyStanicP4_TextOutput2 {
  z-index: 5;
}

#AreaPageStavyStanicP4_TextOutput2 {
  border-width: 4px 4px 4px 4px;
}

#AreaPageStavyStanicP4_TextOutput2 {
  border-radius: 4px;
}

#AreaPageStavyStanicP4_TextOutput2 {
  background-color: darkgray;
}

#AreaPageStavyStanicP4_TextOutput2 {
  border-color: #999999;
}

#AreaPageStavyStanicP4_TextOutput2:before {
  border-color: #999999;
}

#AreaPageStavyStanicP4_TextOutput2:after {
  border-color: #999999;
}

#AreaPageStavyStanicP4_TextOutput2 {
  border-style: ridge;
}

#AreaPageStavyStanicP4_TextOutput2:before {
  border-style: ridge;
}

#AreaPageStavyStanicP4_TextOutput2:after {
  border-style: ridge;
}

#AreaPageStavyStanicP4_TextOutput2 span {
  color: black;
}

#AreaPageStavyStanicP4_TextOutput2 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageStavyStanicP4_TextOutput2 {
  font-size: 12px;
}

#AreaPageStavyStanicP4_Label10 {
  top: 220px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label10 {
  left: 11px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label10 {
  width: 1344px;
}

#AreaPageStavyStanicP4_Label10 {
  height: 42px;
}

#AreaPageStavyStanicP4_Label10 {
  z-index: 6;
}

#AreaPageStavyStanicP4_Label10 {
  border-width: 2px;
}

#AreaPageStavyStanicP4_Label10 {
  border-radius: 2px;
}

#AreaPageStavyStanicP4_Label10 {
  background-color: oldlace;
}

#AreaPageStavyStanicP4_Label10 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP4_Label10 {
  border-color: black;
}

#AreaPageStavyStanicP4_Label10:before {
  border-color: black;
}

#AreaPageStavyStanicP4_Label10:after {
  border-color: black;
}

#AreaPageStavyStanicP4_Label10 {
  border-style: solid;
}

#AreaPageStavyStanicP4_Label10:before {
  border-style: solid;
}

#AreaPageStavyStanicP4_Label10:after {
  border-style: solid;
}

#AreaPageStavyStanicP4_Label10 span {
  color: black;
}

#AreaPageStavyStanicP4_Label10 {
  font-size: 15px;
}

#AreaPageStavyStanicP4_Label10 {
  font-weight: bold;
}

#AreaPageStavyStanicP4_Label10 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP4_TextOutput3 {
  height: 30px;
}

#AreaPageStavyStanicP4_TextOutput3 {
  top: 226px;
  position: absolute;
}

#AreaPageStavyStanicP4_TextOutput3 {
  left: 120px;
  position: absolute;
}

#AreaPageStavyStanicP4_TextOutput3 {
  width: 1226px;
}

#AreaPageStavyStanicP4_TextOutput3 {
  z-index: 7;
}

#AreaPageStavyStanicP4_TextOutput3 {
  border-width: 4px 4px 4px 4px;
}

#AreaPageStavyStanicP4_TextOutput3 {
  border-radius: 4px;
}

#AreaPageStavyStanicP4_TextOutput3 {
  background-color: darkgray;
}

#AreaPageStavyStanicP4_TextOutput3 {
  border-color: #999999;
}

#AreaPageStavyStanicP4_TextOutput3:before {
  border-color: #999999;
}

#AreaPageStavyStanicP4_TextOutput3:after {
  border-color: #999999;
}

#AreaPageStavyStanicP4_TextOutput3 {
  border-style: ridge;
}

#AreaPageStavyStanicP4_TextOutput3:before {
  border-style: ridge;
}

#AreaPageStavyStanicP4_TextOutput3:after {
  border-style: ridge;
}

#AreaPageStavyStanicP4_TextOutput3 span {
  color: black;
}

#AreaPageStavyStanicP4_TextOutput3 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageStavyStanicP4_TextOutput3 {
  font-size: 12px;
}

#AreaPageStavyStanicP4_Label11 {
  top: 120px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label11 {
  left: 11px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label11 {
  width: 1344px;
}

#AreaPageStavyStanicP4_Label11 {
  height: 42px;
}

#AreaPageStavyStanicP4_Label11 {
  z-index: 8;
}

#AreaPageStavyStanicP4_Label11 {
  border-width: 2px;
}

#AreaPageStavyStanicP4_Label11 {
  border-radius: 2px;
}

#AreaPageStavyStanicP4_Label11 {
  background-color: oldlace;
}

#AreaPageStavyStanicP4_Label11 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP4_Label11 {
  border-color: black;
}

#AreaPageStavyStanicP4_Label11:before {
  border-color: black;
}

#AreaPageStavyStanicP4_Label11:after {
  border-color: black;
}

#AreaPageStavyStanicP4_Label11 {
  border-style: solid;
}

#AreaPageStavyStanicP4_Label11:before {
  border-style: solid;
}

#AreaPageStavyStanicP4_Label11:after {
  border-style: solid;
}

#AreaPageStavyStanicP4_Label11 span {
  color: black;
}

#AreaPageStavyStanicP4_Label11 {
  font-size: 15px;
}

#AreaPageStavyStanicP4_Label11 {
  font-weight: bold;
}

#AreaPageStavyStanicP4_Label11 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP4_TextOutput4 {
  height: 30px;
}

#AreaPageStavyStanicP4_TextOutput4 {
  top: 126px;
  position: absolute;
}

#AreaPageStavyStanicP4_TextOutput4 {
  left: 120px;
  position: absolute;
}

#AreaPageStavyStanicP4_TextOutput4 {
  width: 1226px;
}

#AreaPageStavyStanicP4_TextOutput4 {
  z-index: 9;
}

#AreaPageStavyStanicP4_TextOutput4 {
  border-width: 4px 4px 4px 4px;
}

#AreaPageStavyStanicP4_TextOutput4 {
  border-radius: 4px;
}

#AreaPageStavyStanicP4_TextOutput4 {
  background-color: darkgray;
}

#AreaPageStavyStanicP4_TextOutput4 {
  border-color: #999999;
}

#AreaPageStavyStanicP4_TextOutput4:before {
  border-color: #999999;
}

#AreaPageStavyStanicP4_TextOutput4:after {
  border-color: #999999;
}

#AreaPageStavyStanicP4_TextOutput4 {
  border-style: ridge;
}

#AreaPageStavyStanicP4_TextOutput4:before {
  border-style: ridge;
}

#AreaPageStavyStanicP4_TextOutput4:after {
  border-style: ridge;
}

#AreaPageStavyStanicP4_TextOutput4 span {
  color: black;
}

#AreaPageStavyStanicP4_TextOutput4 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageStavyStanicP4_TextOutput4 {
  font-size: 12px;
}

#AreaPageStavyStanicP4_Label12 {
  top: 270px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label12 {
  left: 11px;
  position: absolute;
}

#AreaPageStavyStanicP4_Label12 {
  width: 1344px;
}

#AreaPageStavyStanicP4_Label12 {
  height: 42px;
}

#AreaPageStavyStanicP4_Label12 {
  z-index: 10;
}

#AreaPageStavyStanicP4_Label12 {
  border-width: 2px;
}

#AreaPageStavyStanicP4_Label12 {
  border-radius: 2px;
}

#AreaPageStavyStanicP4_Label12 {
  background-color: oldlace;
}

#AreaPageStavyStanicP4_Label12 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP4_Label12 {
  border-color: black;
}

#AreaPageStavyStanicP4_Label12:before {
  border-color: black;
}

#AreaPageStavyStanicP4_Label12:after {
  border-color: black;
}

#AreaPageStavyStanicP4_Label12 {
  border-style: solid;
}

#AreaPageStavyStanicP4_Label12:before {
  border-style: solid;
}

#AreaPageStavyStanicP4_Label12:after {
  border-style: solid;
}

#AreaPageStavyStanicP4_Label12 span {
  color: black;
}

#AreaPageStavyStanicP4_Label12 {
  font-size: 15px;
}

#AreaPageStavyStanicP4_Label12 {
  font-weight: bold;
}

#AreaPageStavyStanicP4_Label12 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP4_TextOutput5 {
  height: 30px;
}

#AreaPageStavyStanicP4_TextOutput5 {
  top: 276px;
  position: absolute;
}

#AreaPageStavyStanicP4_TextOutput5 {
  left: 120px;
  position: absolute;
}

#AreaPageStavyStanicP4_TextOutput5 {
  width: 1226px;
}

#AreaPageStavyStanicP4_TextOutput5 {
  z-index: 11;
}

#AreaPageStavyStanicP4_TextOutput5 {
  border-width: 4px 4px 4px 4px;
}

#AreaPageStavyStanicP4_TextOutput5 {
  border-radius: 4px;
}

#AreaPageStavyStanicP4_TextOutput5 {
  background-color: darkgray;
}

#AreaPageStavyStanicP4_TextOutput5 {
  border-color: #999999;
}

#AreaPageStavyStanicP4_TextOutput5:before {
  border-color: #999999;
}

#AreaPageStavyStanicP4_TextOutput5:after {
  border-color: #999999;
}

#AreaPageStavyStanicP4_TextOutput5 {
  border-style: ridge;
}

#AreaPageStavyStanicP4_TextOutput5:before {
  border-style: ridge;
}

#AreaPageStavyStanicP4_TextOutput5:after {
  border-style: ridge;
}

#AreaPageStavyStanicP4_TextOutput5 span {
  color: black;
}

#AreaPageStavyStanicP4_TextOutput5 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageStavyStanicP4_TextOutput5 {
  font-size: 12px;
}
