@import "mixins.scss";
#AreaPageTolerancieSkrutkovaniaP3_Image1 {
	@include elemTop(0);
}
#AreaPageTolerancieSkrutkovaniaP3_Image1 {
	@include elemLeft(0);
}
#AreaPageTolerancieSkrutkovaniaP3_Image1 {
	@include elemAutoWidth(1366);
}
#AreaPageTolerancieSkrutkovaniaP3_Image1 {
	@include elemAutoHeight(588);
}
#AreaPageTolerancieSkrutkovaniaP3_Image1 {
		z-index: 0;
}
#AreaPageTolerancieSkrutkovaniaP3_Image1 {
		opacity: 0.2;
}
#AreaPageTolerancieSkrutkovaniaP3_Label1 {
	@include elemTop(20);
}
#AreaPageTolerancieSkrutkovaniaP3_Label1 {
	@include elemLeft(483);
}
#AreaPageTolerancieSkrutkovaniaP3_Label1 {
	@include elemAutoWidth(400);
}
#AreaPageTolerancieSkrutkovaniaP3_Label1 {
	@include elemAutoHeight(35);
}
#AreaPageTolerancieSkrutkovaniaP3_Label1 {
		z-index: 1;
}
#AreaPageTolerancieSkrutkovaniaP3_Label1 {
		border-width: 5px;
}
#AreaPageTolerancieSkrutkovaniaP3_Label1 {
	@include border-radius(5px);
}
#AreaPageTolerancieSkrutkovaniaP3_Label1 {
		border-color: rgba(153, 153, 153, 1);
}
#AreaPageTolerancieSkrutkovaniaP3_Label1 {
	&:before{
		border-color: rgba(153, 153, 153, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label1 {
	&:after{
		border-color: rgba(153, 153, 153, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label1 {
		border-style: ridge;
}
#AreaPageTolerancieSkrutkovaniaP3_Label1 {
	&:before{
		border-style: ridge;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label1 {
	&:after{
		border-style: ridge;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label1 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label1 {
	@include text-alignment-all('center');
}
#AreaPageTolerancieSkrutkovaniaP3_Label1 {
		font-size: 20px;
}
#AreaPageTolerancieSkrutkovaniaP3_Label1 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageTolerancieSkrutkovaniaP3_GroupBox1 {
	@include elemTop(74);
}
#AreaPageTolerancieSkrutkovaniaP3_GroupBox1 {
	@include elemLeft(8);
}
#AreaPageTolerancieSkrutkovaniaP3_GroupBox1 {
	@include elemWidth(440);
}
#AreaPageTolerancieSkrutkovaniaP3_GroupBox1 {
	@include elemHeight(500);
}
#AreaPageTolerancieSkrutkovaniaP3_GroupBox1 {
		z-index: 2;
}
#AreaPageTolerancieSkrutkovaniaP3_GroupBox1 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageTolerancieSkrutkovaniaP3_GroupBox1 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_GroupBox1 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageTolerancieSkrutkovaniaP3_Label8 {
	@include elemTop(11);
}
#AreaPageTolerancieSkrutkovaniaP3_Label8 {
	@include elemLeft(7);
}
#AreaPageTolerancieSkrutkovaniaP3_Label8 {
	@include elemAutoWidth(424);
}
#AreaPageTolerancieSkrutkovaniaP3_Label8 {
	@include elemAutoHeight(75);
}
#AreaPageTolerancieSkrutkovaniaP3_Label8 {
		z-index: 0;
}
#AreaPageTolerancieSkrutkovaniaP3_Label8 {
		border-width: 2px;
}
#AreaPageTolerancieSkrutkovaniaP3_Label8 {
	@include border-radius(2px);
}
#AreaPageTolerancieSkrutkovaniaP3_Label8 {
		background-color: rgba(211, 211, 211, 1);
}
#AreaPageTolerancieSkrutkovaniaP3_Label8 {
	@include backGroundGradient('linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%)');
}
#AreaPageTolerancieSkrutkovaniaP3_Label8 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageTolerancieSkrutkovaniaP3_Label8 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label8 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label8 {
		border-style: solid;
}
#AreaPageTolerancieSkrutkovaniaP3_Label8 {
	&:before{
		border-style: solid;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label8 {
	&:after{
		border-style: solid;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label8 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label8 {
		font-size: 16px;
}
#AreaPageTolerancieSkrutkovaniaP3_Label8 {
	@include font-weight-bold(true);
}
#AreaPageTolerancieSkrutkovaniaP3_Label8 {
	@include box-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}
#AreaPageTolerancieSkrutkovaniaP3_Label2 {
	@include elemAutoWidth(80);
}
#AreaPageTolerancieSkrutkovaniaP3_Label2 {
	@include elemAutoHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_Label2 {
	@include elemTop(19);
}
#AreaPageTolerancieSkrutkovaniaP3_Label2 {
	@include elemLeft(133);
}
#AreaPageTolerancieSkrutkovaniaP3_Label2 {
		z-index: 1;
}
#AreaPageTolerancieSkrutkovaniaP3_Label2 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label2 {
	@include text-alignment-all('center');
}
#AreaPageTolerancieSkrutkovaniaP3_Label2 {
		font-size: 12px;
}
#AreaPageTolerancieSkrutkovaniaP3_Label2 {
	@include font-weight-bold(true);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
	@include elemHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
	@include elemTop(51);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
	@include elemLeft(330);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
	@include elemWidth(95);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
		z-index: 2;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
	&:not(.active):not(.disabled){
		border-width: 4px 4px 4px 4px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
	&.disabled{
		border-width: 3px 3px 3px 3px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
	@include border-radius(4px);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
	&.disabled{
		background-color: rgba(192, 192, 192, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
	&:not(.disabled):not(.active){
		border-color: rgba(153, 153, 153, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
	&.disabled{
		border-color: rgba(255, 136, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
	&.active:not(.disabled){
		background-color: rgba(255, 255, 255, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
	&.active:not(.disabled) input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
	&.active:not(.disabled) span.breaseNumericInput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
		border-style: ridge;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
	&.disabled{
		border-style: ridge;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
	&.disabled input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
	&.disabled span.breaseNumericInput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
	input{
	@include text-alignment(left);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
	input{
		font-size: 12px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
	.breaseNumericInput_unit{
		font-size: 10px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
	@include box-shadow(none);
}
#AreaPageTolerancieSkrutkovaniaP3_Label3 {
	@include elemAutoWidth(80);
}
#AreaPageTolerancieSkrutkovaniaP3_Label3 {
	@include elemAutoHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_Label3 {
	@include elemTop(19);
}
#AreaPageTolerancieSkrutkovaniaP3_Label3 {
	@include elemLeft(338);
}
#AreaPageTolerancieSkrutkovaniaP3_Label3 {
		z-index: 3;
}
#AreaPageTolerancieSkrutkovaniaP3_Label3 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label3 {
	@include text-alignment-all('center');
}
#AreaPageTolerancieSkrutkovaniaP3_Label3 {
		font-size: 12px;
}
#AreaPageTolerancieSkrutkovaniaP3_Label3 {
	@include font-weight-bold(true);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
	@include elemHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
	@include elemTop(51);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
	@include elemLeft(228);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
	@include elemWidth(95);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
		z-index: 4;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
	&:not(.active):not(.disabled){
		border-width: 4px 4px 4px 4px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
	&.disabled{
		border-width: 3px 3px 3px 3px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
	@include border-radius(4px);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
	&.disabled{
		background-color: rgba(192, 192, 192, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
	&:not(.disabled):not(.active){
		border-color: rgba(153, 153, 153, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
	&.disabled{
		border-color: rgba(255, 136, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
	&.active:not(.disabled){
		background-color: rgba(255, 255, 255, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
	&.active:not(.disabled) input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
	&.active:not(.disabled) span.breaseNumericInput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
		border-style: ridge;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
	&.disabled{
		border-style: ridge;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
	&.disabled input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
	&.disabled span.breaseNumericInput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
	input{
	@include text-alignment(left);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
	input{
		font-size: 12px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
	.breaseNumericInput_unit{
		font-size: 10px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
	@include box-shadow(none);
}
#AreaPageTolerancieSkrutkovaniaP3_Label4 {
	@include elemAutoWidth(80);
}
#AreaPageTolerancieSkrutkovaniaP3_Label4 {
	@include elemAutoHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_Label4 {
	@include elemTop(19);
}
#AreaPageTolerancieSkrutkovaniaP3_Label4 {
	@include elemLeft(236);
}
#AreaPageTolerancieSkrutkovaniaP3_Label4 {
		z-index: 5;
}
#AreaPageTolerancieSkrutkovaniaP3_Label4 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label4 {
	@include text-alignment-all('center');
}
#AreaPageTolerancieSkrutkovaniaP3_Label4 {
		font-size: 12px;
}
#AreaPageTolerancieSkrutkovaniaP3_Label4 {
	@include font-weight-bold(true);
}
#AreaPageTolerancieSkrutkovaniaP3_Label10 {
	@include elemTop(101);
}
#AreaPageTolerancieSkrutkovaniaP3_Label10 {
	@include elemLeft(7);
}
#AreaPageTolerancieSkrutkovaniaP3_Label10 {
	@include elemAutoWidth(424);
}
#AreaPageTolerancieSkrutkovaniaP3_Label10 {
	@include elemAutoHeight(75);
}
#AreaPageTolerancieSkrutkovaniaP3_Label10 {
		z-index: 6;
}
#AreaPageTolerancieSkrutkovaniaP3_Label10 {
		border-width: 2px;
}
#AreaPageTolerancieSkrutkovaniaP3_Label10 {
	@include border-radius(2px);
}
#AreaPageTolerancieSkrutkovaniaP3_Label10 {
		background-color: rgba(211, 211, 211, 1);
}
#AreaPageTolerancieSkrutkovaniaP3_Label10 {
	@include backGroundGradient('linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%)');
}
#AreaPageTolerancieSkrutkovaniaP3_Label10 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageTolerancieSkrutkovaniaP3_Label10 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label10 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label10 {
		border-style: solid;
}
#AreaPageTolerancieSkrutkovaniaP3_Label10 {
	&:before{
		border-style: solid;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label10 {
	&:after{
		border-style: solid;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label10 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label10 {
		font-size: 16px;
}
#AreaPageTolerancieSkrutkovaniaP3_Label10 {
	@include font-weight-bold(true);
}
#AreaPageTolerancieSkrutkovaniaP3_Label10 {
	@include box-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}
#AreaPageTolerancieSkrutkovaniaP3_Label11 {
	@include elemAutoWidth(80);
}
#AreaPageTolerancieSkrutkovaniaP3_Label11 {
	@include elemAutoHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_Label11 {
	@include elemTop(109);
}
#AreaPageTolerancieSkrutkovaniaP3_Label11 {
	@include elemLeft(133);
}
#AreaPageTolerancieSkrutkovaniaP3_Label11 {
		z-index: 7;
}
#AreaPageTolerancieSkrutkovaniaP3_Label11 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label11 {
	@include text-alignment-all('center');
}
#AreaPageTolerancieSkrutkovaniaP3_Label11 {
		font-size: 12px;
}
#AreaPageTolerancieSkrutkovaniaP3_Label11 {
	@include font-weight-bold(true);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
	@include elemHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
	@include elemTop(141);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
	@include elemLeft(330);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
	@include elemWidth(95);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
		z-index: 8;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
	&:not(.active):not(.disabled){
		border-width: 4px 4px 4px 4px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
	&.disabled{
		border-width: 3px 3px 3px 3px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
	@include border-radius(4px);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
	&.disabled{
		background-color: rgba(192, 192, 192, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
	&:not(.disabled):not(.active){
		border-color: rgba(153, 153, 153, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
	&.disabled{
		border-color: rgba(255, 136, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
	&.active:not(.disabled){
		background-color: rgba(255, 255, 255, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
	&.active:not(.disabled) input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
	&.active:not(.disabled) span.breaseNumericInput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
		border-style: ridge;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
	&.disabled{
		border-style: ridge;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
	&.disabled input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
	&.disabled span.breaseNumericInput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
	input{
	@include text-alignment(left);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
	input{
		font-size: 12px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
	.breaseNumericInput_unit{
		font-size: 10px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
	@include box-shadow(none);
}
#AreaPageTolerancieSkrutkovaniaP3_Label12 {
	@include elemAutoWidth(80);
}
#AreaPageTolerancieSkrutkovaniaP3_Label12 {
	@include elemAutoHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_Label12 {
	@include elemTop(109);
}
#AreaPageTolerancieSkrutkovaniaP3_Label12 {
	@include elemLeft(338);
}
#AreaPageTolerancieSkrutkovaniaP3_Label12 {
		z-index: 9;
}
#AreaPageTolerancieSkrutkovaniaP3_Label12 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label12 {
	@include text-alignment-all('center');
}
#AreaPageTolerancieSkrutkovaniaP3_Label12 {
		font-size: 12px;
}
#AreaPageTolerancieSkrutkovaniaP3_Label12 {
	@include font-weight-bold(true);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
	@include elemHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
	@include elemTop(141);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
	@include elemLeft(228);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
	@include elemWidth(95);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
		z-index: 10;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
	&:not(.active):not(.disabled){
		border-width: 4px 4px 4px 4px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
	&.disabled{
		border-width: 3px 3px 3px 3px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
	@include border-radius(4px);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
	&.disabled{
		background-color: rgba(192, 192, 192, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
	&:not(.disabled):not(.active){
		border-color: rgba(153, 153, 153, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
	&.disabled{
		border-color: rgba(255, 136, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
	&.active:not(.disabled){
		background-color: rgba(255, 255, 255, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
	&.active:not(.disabled) input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
	&.active:not(.disabled) span.breaseNumericInput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
		border-style: ridge;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
	&.disabled{
		border-style: ridge;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
	&.disabled input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
	&.disabled span.breaseNumericInput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
	input{
	@include text-alignment(left);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
	input{
		font-size: 12px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
	.breaseNumericInput_unit{
		font-size: 10px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
	@include box-shadow(none);
}
#AreaPageTolerancieSkrutkovaniaP3_Label13 {
	@include elemAutoWidth(80);
}
#AreaPageTolerancieSkrutkovaniaP3_Label13 {
	@include elemAutoHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_Label13 {
	@include elemTop(109);
}
#AreaPageTolerancieSkrutkovaniaP3_Label13 {
	@include elemLeft(236);
}
#AreaPageTolerancieSkrutkovaniaP3_Label13 {
		z-index: 11;
}
#AreaPageTolerancieSkrutkovaniaP3_Label13 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label13 {
	@include text-alignment-all('center');
}
#AreaPageTolerancieSkrutkovaniaP3_Label13 {
		font-size: 12px;
}
#AreaPageTolerancieSkrutkovaniaP3_Label13 {
	@include font-weight-bold(true);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 {
	@include elemAutoHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 {
	@include elemTop(51);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 {
	@include elemLeft(126);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 {
	@include elemAutoWidth(95);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 {
		z-index: 12;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 {
		border-width: 4px;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 {
	@include border-radius(4px);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 {
		border-color: rgba(153, 153, 153, 1);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 {
		border-style: ridge;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 {
	input{
	@include text-alignment(left);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 {
	input{
		font-size: 12px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 {
	.breaseNumericOutput_unit{
		font-size: 10px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 {
	@include elemAutoHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 {
	@include elemTop(141);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 {
	@include elemLeft(126);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 {
	@include elemAutoWidth(95);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 {
		z-index: 13;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 {
		border-width: 4px;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 {
	@include border-radius(4px);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 {
		border-color: rgba(153, 153, 153, 1);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 {
		border-style: ridge;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 {
	input{
	@include text-alignment(left);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 {
	input{
		font-size: 12px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 {
	.breaseNumericOutput_unit{
		font-size: 10px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_GroupBox2 {
	@include elemTop(74);
}
#AreaPageTolerancieSkrutkovaniaP3_GroupBox2 {
	@include elemLeft(463);
}
#AreaPageTolerancieSkrutkovaniaP3_GroupBox2 {
	@include elemWidth(440);
}
#AreaPageTolerancieSkrutkovaniaP3_GroupBox2 {
	@include elemHeight(500);
}
#AreaPageTolerancieSkrutkovaniaP3_GroupBox2 {
		z-index: 3;
}
#AreaPageTolerancieSkrutkovaniaP3_GroupBox2 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageTolerancieSkrutkovaniaP3_GroupBox2 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_GroupBox2 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageTolerancieSkrutkovaniaP3_Label22 {
	@include elemTop(11);
}
#AreaPageTolerancieSkrutkovaniaP3_Label22 {
	@include elemLeft(7);
}
#AreaPageTolerancieSkrutkovaniaP3_Label22 {
	@include elemAutoWidth(424);
}
#AreaPageTolerancieSkrutkovaniaP3_Label22 {
	@include elemAutoHeight(75);
}
#AreaPageTolerancieSkrutkovaniaP3_Label22 {
		z-index: 0;
}
#AreaPageTolerancieSkrutkovaniaP3_Label22 {
		border-width: 2px;
}
#AreaPageTolerancieSkrutkovaniaP3_Label22 {
	@include border-radius(2px);
}
#AreaPageTolerancieSkrutkovaniaP3_Label22 {
		background-color: rgba(211, 211, 211, 1);
}
#AreaPageTolerancieSkrutkovaniaP3_Label22 {
	@include backGroundGradient('linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%)');
}
#AreaPageTolerancieSkrutkovaniaP3_Label22 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageTolerancieSkrutkovaniaP3_Label22 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label22 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label22 {
		border-style: solid;
}
#AreaPageTolerancieSkrutkovaniaP3_Label22 {
	&:before{
		border-style: solid;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label22 {
	&:after{
		border-style: solid;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label22 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label22 {
		font-size: 16px;
}
#AreaPageTolerancieSkrutkovaniaP3_Label22 {
	@include font-weight-bold(true);
}
#AreaPageTolerancieSkrutkovaniaP3_Label22 {
	@include box-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}
#AreaPageTolerancieSkrutkovaniaP3_Label23 {
	@include elemAutoWidth(80);
}
#AreaPageTolerancieSkrutkovaniaP3_Label23 {
	@include elemAutoHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_Label23 {
	@include elemTop(19);
}
#AreaPageTolerancieSkrutkovaniaP3_Label23 {
	@include elemLeft(133);
}
#AreaPageTolerancieSkrutkovaniaP3_Label23 {
		z-index: 1;
}
#AreaPageTolerancieSkrutkovaniaP3_Label23 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label23 {
	@include text-alignment-all('center');
}
#AreaPageTolerancieSkrutkovaniaP3_Label23 {
		font-size: 12px;
}
#AreaPageTolerancieSkrutkovaniaP3_Label23 {
	@include font-weight-bold(true);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
	@include elemHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
	@include elemTop(51);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
	@include elemLeft(330);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
	@include elemWidth(95);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
		z-index: 2;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
	&:not(.active):not(.disabled){
		border-width: 4px 4px 4px 4px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
	&.disabled{
		border-width: 3px 3px 3px 3px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
	@include border-radius(4px);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
	&.disabled{
		background-color: rgba(192, 192, 192, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
	&:not(.disabled):not(.active){
		border-color: rgba(153, 153, 153, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
	&.disabled{
		border-color: rgba(255, 136, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
	&.active:not(.disabled){
		background-color: rgba(255, 255, 255, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
	&.active:not(.disabled) input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
	&.active:not(.disabled) span.breaseNumericInput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
		border-style: ridge;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
	&.disabled{
		border-style: ridge;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
	&.disabled input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
	&.disabled span.breaseNumericInput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
	input{
	@include text-alignment(left);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
	input{
		font-size: 12px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
	.breaseNumericInput_unit{
		font-size: 10px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
	@include box-shadow(none);
}
#AreaPageTolerancieSkrutkovaniaP3_Label24 {
	@include elemAutoWidth(80);
}
#AreaPageTolerancieSkrutkovaniaP3_Label24 {
	@include elemAutoHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_Label24 {
	@include elemTop(19);
}
#AreaPageTolerancieSkrutkovaniaP3_Label24 {
	@include elemLeft(338);
}
#AreaPageTolerancieSkrutkovaniaP3_Label24 {
		z-index: 3;
}
#AreaPageTolerancieSkrutkovaniaP3_Label24 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label24 {
	@include text-alignment-all('center');
}
#AreaPageTolerancieSkrutkovaniaP3_Label24 {
		font-size: 12px;
}
#AreaPageTolerancieSkrutkovaniaP3_Label24 {
	@include font-weight-bold(true);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
	@include elemHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
	@include elemTop(51);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
	@include elemLeft(228);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
	@include elemWidth(95);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
		z-index: 4;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
	&:not(.active):not(.disabled){
		border-width: 4px 4px 4px 4px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
	&.disabled{
		border-width: 3px 3px 3px 3px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
	@include border-radius(4px);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
	&.disabled{
		background-color: rgba(192, 192, 192, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
	&:not(.disabled):not(.active){
		border-color: rgba(153, 153, 153, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
	&.disabled{
		border-color: rgba(255, 136, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
	&.active:not(.disabled){
		background-color: rgba(255, 255, 255, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
	&.active:not(.disabled) input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
	&.active:not(.disabled) span.breaseNumericInput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
		border-style: ridge;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
	&.disabled{
		border-style: ridge;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
	&.disabled input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
	&.disabled span.breaseNumericInput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
	input{
	@include text-alignment(left);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
	input{
		font-size: 12px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
	.breaseNumericInput_unit{
		font-size: 10px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
	@include box-shadow(none);
}
#AreaPageTolerancieSkrutkovaniaP3_Label25 {
	@include elemAutoWidth(80);
}
#AreaPageTolerancieSkrutkovaniaP3_Label25 {
	@include elemAutoHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_Label25 {
	@include elemTop(19);
}
#AreaPageTolerancieSkrutkovaniaP3_Label25 {
	@include elemLeft(236);
}
#AreaPageTolerancieSkrutkovaniaP3_Label25 {
		z-index: 5;
}
#AreaPageTolerancieSkrutkovaniaP3_Label25 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label25 {
	@include text-alignment-all('center');
}
#AreaPageTolerancieSkrutkovaniaP3_Label25 {
		font-size: 12px;
}
#AreaPageTolerancieSkrutkovaniaP3_Label25 {
	@include font-weight-bold(true);
}
#AreaPageTolerancieSkrutkovaniaP3_Label30 {
	@include elemTop(101);
}
#AreaPageTolerancieSkrutkovaniaP3_Label30 {
	@include elemLeft(7);
}
#AreaPageTolerancieSkrutkovaniaP3_Label30 {
	@include elemAutoWidth(424);
}
#AreaPageTolerancieSkrutkovaniaP3_Label30 {
	@include elemAutoHeight(75);
}
#AreaPageTolerancieSkrutkovaniaP3_Label30 {
		z-index: 6;
}
#AreaPageTolerancieSkrutkovaniaP3_Label30 {
		border-width: 2px;
}
#AreaPageTolerancieSkrutkovaniaP3_Label30 {
	@include border-radius(2px);
}
#AreaPageTolerancieSkrutkovaniaP3_Label30 {
		background-color: rgba(211, 211, 211, 1);
}
#AreaPageTolerancieSkrutkovaniaP3_Label30 {
	@include backGroundGradient('linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%)');
}
#AreaPageTolerancieSkrutkovaniaP3_Label30 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageTolerancieSkrutkovaniaP3_Label30 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label30 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label30 {
		border-style: solid;
}
#AreaPageTolerancieSkrutkovaniaP3_Label30 {
	&:before{
		border-style: solid;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label30 {
	&:after{
		border-style: solid;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label30 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label30 {
		font-size: 16px;
}
#AreaPageTolerancieSkrutkovaniaP3_Label30 {
	@include font-weight-bold(true);
}
#AreaPageTolerancieSkrutkovaniaP3_Label30 {
	@include box-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}
#AreaPageTolerancieSkrutkovaniaP3_Label31 {
	@include elemAutoWidth(80);
}
#AreaPageTolerancieSkrutkovaniaP3_Label31 {
	@include elemAutoHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_Label31 {
	@include elemTop(109);
}
#AreaPageTolerancieSkrutkovaniaP3_Label31 {
	@include elemLeft(133);
}
#AreaPageTolerancieSkrutkovaniaP3_Label31 {
		z-index: 7;
}
#AreaPageTolerancieSkrutkovaniaP3_Label31 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label31 {
	@include text-alignment-all('center');
}
#AreaPageTolerancieSkrutkovaniaP3_Label31 {
		font-size: 12px;
}
#AreaPageTolerancieSkrutkovaniaP3_Label31 {
	@include font-weight-bold(true);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
	@include elemHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
	@include elemTop(141);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
	@include elemLeft(330);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
	@include elemWidth(95);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
		z-index: 8;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
	&:not(.active):not(.disabled){
		border-width: 4px 4px 4px 4px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
	&.disabled{
		border-width: 3px 3px 3px 3px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
	@include border-radius(4px);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
	&.disabled{
		background-color: rgba(192, 192, 192, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
	&:not(.disabled):not(.active){
		border-color: rgba(153, 153, 153, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
	&.disabled{
		border-color: rgba(255, 136, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
	&.active:not(.disabled){
		background-color: rgba(255, 255, 255, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
	&.active:not(.disabled) input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
	&.active:not(.disabled) span.breaseNumericInput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
		border-style: ridge;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
	&.disabled{
		border-style: ridge;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
	&.disabled input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
	&.disabled span.breaseNumericInput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
	input{
	@include text-alignment(left);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
	input{
		font-size: 12px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
	.breaseNumericInput_unit{
		font-size: 10px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
	@include box-shadow(none);
}
#AreaPageTolerancieSkrutkovaniaP3_Label32 {
	@include elemAutoWidth(80);
}
#AreaPageTolerancieSkrutkovaniaP3_Label32 {
	@include elemAutoHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_Label32 {
	@include elemTop(109);
}
#AreaPageTolerancieSkrutkovaniaP3_Label32 {
	@include elemLeft(338);
}
#AreaPageTolerancieSkrutkovaniaP3_Label32 {
		z-index: 9;
}
#AreaPageTolerancieSkrutkovaniaP3_Label32 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label32 {
	@include text-alignment-all('center');
}
#AreaPageTolerancieSkrutkovaniaP3_Label32 {
		font-size: 12px;
}
#AreaPageTolerancieSkrutkovaniaP3_Label32 {
	@include font-weight-bold(true);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
	@include elemHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
	@include elemTop(141);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
	@include elemLeft(228);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
	@include elemWidth(95);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
		z-index: 10;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
	&:not(.active):not(.disabled){
		border-width: 4px 4px 4px 4px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
	&.disabled{
		border-width: 3px 3px 3px 3px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
	@include border-radius(4px);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
	&.disabled{
		background-color: rgba(192, 192, 192, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
	&:not(.disabled):not(.active){
		border-color: rgba(153, 153, 153, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
	&.disabled{
		border-color: rgba(255, 136, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
	&.active:not(.disabled){
		background-color: rgba(255, 255, 255, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
	&.active:not(.disabled) input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
	&.active:not(.disabled) span.breaseNumericInput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
		border-style: ridge;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
	&.disabled{
		border-style: ridge;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
	&.disabled input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
	&.disabled span.breaseNumericInput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
	input{
	@include text-alignment(left);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
	input{
		font-size: 12px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
	.breaseNumericInput_unit{
		font-size: 10px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
	@include box-shadow(none);
}
#AreaPageTolerancieSkrutkovaniaP3_Label33 {
	@include elemAutoWidth(80);
}
#AreaPageTolerancieSkrutkovaniaP3_Label33 {
	@include elemAutoHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_Label33 {
	@include elemTop(109);
}
#AreaPageTolerancieSkrutkovaniaP3_Label33 {
	@include elemLeft(236);
}
#AreaPageTolerancieSkrutkovaniaP3_Label33 {
		z-index: 11;
}
#AreaPageTolerancieSkrutkovaniaP3_Label33 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label33 {
	@include text-alignment-all('center');
}
#AreaPageTolerancieSkrutkovaniaP3_Label33 {
		font-size: 12px;
}
#AreaPageTolerancieSkrutkovaniaP3_Label33 {
	@include font-weight-bold(true);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 {
	@include elemAutoHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 {
	@include elemTop(51);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 {
	@include elemLeft(126);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 {
	@include elemAutoWidth(95);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 {
		z-index: 12;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 {
		border-width: 4px;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 {
	@include border-radius(4px);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 {
		border-color: rgba(153, 153, 153, 1);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 {
		border-style: ridge;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 {
	input{
	@include text-alignment(left);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 {
	input{
		font-size: 12px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 {
	.breaseNumericOutput_unit{
		font-size: 10px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
	@include elemAutoHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
	@include elemTop(141);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
	@include elemLeft(126);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
	@include elemAutoWidth(95);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
		z-index: 13;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
		border-width: 4px;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
	@include border-radius(4px);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
		border-color: rgba(153, 153, 153, 1);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
		border-style: ridge;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
	input{
	@include text-alignment(left);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
	input{
		font-size: 12px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
	.breaseNumericOutput_unit{
		font-size: 10px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_GroupBox3 {
	@include elemTop(74);
}
#AreaPageTolerancieSkrutkovaniaP3_GroupBox3 {
	@include elemLeft(918);
}
#AreaPageTolerancieSkrutkovaniaP3_GroupBox3 {
	@include elemWidth(440);
}
#AreaPageTolerancieSkrutkovaniaP3_GroupBox3 {
	@include elemHeight(500);
}
#AreaPageTolerancieSkrutkovaniaP3_GroupBox3 {
		z-index: 4;
}
#AreaPageTolerancieSkrutkovaniaP3_GroupBox3 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageTolerancieSkrutkovaniaP3_GroupBox3 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_GroupBox3 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageTolerancieSkrutkovaniaP3_Label42 {
	@include elemTop(11);
}
#AreaPageTolerancieSkrutkovaniaP3_Label42 {
	@include elemLeft(7);
}
#AreaPageTolerancieSkrutkovaniaP3_Label42 {
	@include elemAutoWidth(424);
}
#AreaPageTolerancieSkrutkovaniaP3_Label42 {
	@include elemAutoHeight(75);
}
#AreaPageTolerancieSkrutkovaniaP3_Label42 {
		z-index: 0;
}
#AreaPageTolerancieSkrutkovaniaP3_Label42 {
		border-width: 2px;
}
#AreaPageTolerancieSkrutkovaniaP3_Label42 {
	@include border-radius(2px);
}
#AreaPageTolerancieSkrutkovaniaP3_Label42 {
		background-color: rgba(211, 211, 211, 1);
}
#AreaPageTolerancieSkrutkovaniaP3_Label42 {
	@include backGroundGradient('linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%)');
}
#AreaPageTolerancieSkrutkovaniaP3_Label42 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageTolerancieSkrutkovaniaP3_Label42 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label42 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label42 {
		border-style: solid;
}
#AreaPageTolerancieSkrutkovaniaP3_Label42 {
	&:before{
		border-style: solid;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label42 {
	&:after{
		border-style: solid;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label42 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label42 {
		font-size: 16px;
}
#AreaPageTolerancieSkrutkovaniaP3_Label42 {
	@include font-weight-bold(true);
}
#AreaPageTolerancieSkrutkovaniaP3_Label42 {
	@include box-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}
#AreaPageTolerancieSkrutkovaniaP3_Label43 {
	@include elemAutoWidth(80);
}
#AreaPageTolerancieSkrutkovaniaP3_Label43 {
	@include elemAutoHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_Label43 {
	@include elemTop(19);
}
#AreaPageTolerancieSkrutkovaniaP3_Label43 {
	@include elemLeft(133);
}
#AreaPageTolerancieSkrutkovaniaP3_Label43 {
		z-index: 1;
}
#AreaPageTolerancieSkrutkovaniaP3_Label43 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label43 {
	@include text-alignment-all('center');
}
#AreaPageTolerancieSkrutkovaniaP3_Label43 {
		font-size: 12px;
}
#AreaPageTolerancieSkrutkovaniaP3_Label43 {
	@include font-weight-bold(true);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
	@include elemHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
	@include elemTop(51);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
	@include elemLeft(329);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
	@include elemWidth(95);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
		z-index: 2;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
	&:not(.active):not(.disabled){
		border-width: 4px 4px 4px 4px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
	&.disabled{
		border-width: 3px 3px 3px 3px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
	@include border-radius(4px);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
	&.disabled{
		background-color: rgba(192, 192, 192, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
	&:not(.disabled):not(.active){
		border-color: rgba(153, 153, 153, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
	&.disabled{
		border-color: rgba(255, 136, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
	&.active:not(.disabled){
		background-color: rgba(255, 255, 255, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
	&.active:not(.disabled) input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
	&.active:not(.disabled) span.breaseNumericInput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
		border-style: ridge;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
	&.disabled{
		border-style: ridge;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
	&.disabled input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
	&.disabled span.breaseNumericInput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
	input{
	@include text-alignment(left);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
	input{
		font-size: 12px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
	.breaseNumericInput_unit{
		font-size: 10px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
	@include box-shadow(none);
}
#AreaPageTolerancieSkrutkovaniaP3_Label44 {
	@include elemAutoWidth(80);
}
#AreaPageTolerancieSkrutkovaniaP3_Label44 {
	@include elemAutoHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_Label44 {
	@include elemTop(19);
}
#AreaPageTolerancieSkrutkovaniaP3_Label44 {
	@include elemLeft(337);
}
#AreaPageTolerancieSkrutkovaniaP3_Label44 {
		z-index: 3;
}
#AreaPageTolerancieSkrutkovaniaP3_Label44 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label44 {
	@include text-alignment-all('center');
}
#AreaPageTolerancieSkrutkovaniaP3_Label44 {
		font-size: 12px;
}
#AreaPageTolerancieSkrutkovaniaP3_Label44 {
	@include font-weight-bold(true);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
	@include elemHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
	@include elemTop(51);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
	@include elemLeft(229);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
	@include elemWidth(95);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
		z-index: 4;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
	&:not(.active):not(.disabled){
		border-width: 4px 4px 4px 4px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
	&.disabled{
		border-width: 3px 3px 3px 3px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
	@include border-radius(4px);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
	&.disabled{
		background-color: rgba(192, 192, 192, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
	&:not(.disabled):not(.active){
		border-color: rgba(153, 153, 153, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
	&.disabled{
		border-color: rgba(255, 136, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
	&.active:not(.disabled){
		background-color: rgba(255, 255, 255, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
	&.active:not(.disabled) input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
	&.active:not(.disabled) span.breaseNumericInput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
		border-style: ridge;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
	&.disabled{
		border-style: ridge;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
	&.disabled input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
	&.disabled span.breaseNumericInput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
	input{
	@include text-alignment(left);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
	input{
		font-size: 12px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
	.breaseNumericInput_unit{
		font-size: 10px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
	@include box-shadow(none);
}
#AreaPageTolerancieSkrutkovaniaP3_Label45 {
	@include elemAutoWidth(80);
}
#AreaPageTolerancieSkrutkovaniaP3_Label45 {
	@include elemAutoHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_Label45 {
	@include elemTop(19);
}
#AreaPageTolerancieSkrutkovaniaP3_Label45 {
	@include elemLeft(237);
}
#AreaPageTolerancieSkrutkovaniaP3_Label45 {
		z-index: 5;
}
#AreaPageTolerancieSkrutkovaniaP3_Label45 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_Label45 {
	@include text-alignment-all('center');
}
#AreaPageTolerancieSkrutkovaniaP3_Label45 {
		font-size: 12px;
}
#AreaPageTolerancieSkrutkovaniaP3_Label45 {
	@include font-weight-bold(true);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 {
	@include elemAutoHeight(30);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 {
	@include elemTop(51);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 {
	@include elemLeft(126);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 {
	@include elemAutoWidth(95);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 {
		z-index: 6;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 {
		border-width: 4px;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 {
	@include border-radius(4px);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 {
		border-color: rgba(153, 153, 153, 1);
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 {
		border-style: ridge;
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 {
	input{
	@include text-alignment(left);
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 {
	input{
		font-size: 12px;
	}
}
#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 {
	.breaseNumericOutput_unit{
		font-size: 10px;
	}
}
