#AreaHlasenie4_ST6_GroupBox6 {
  top: 0px;
  position: absolute;
}

#AreaHlasenie4_ST6_GroupBox6 {
  left: 0px;
  position: absolute;
}

#AreaHlasenie4_ST6_GroupBox6 {
  width: 500px;
}

#AreaHlasenie4_ST6_GroupBox6 {
  height: 520px;
}

#AreaHlasenie4_ST6_GroupBox6 {
  z-index: 0;
}

#AreaHlasenie4_ST6_GroupBox6 {
  border-width: 7px;
}

#AreaHlasenie4_ST6_GroupBox6 > .header {
  border-width: 7px;
}

#AreaHlasenie4_ST6_GroupBox6 {
  border-radius: 6px 6px 6px 6px;
}

#AreaHlasenie4_ST6_GroupBox6 {
  background-color: #ffc080;
}

#AreaHlasenie4_ST6_GroupBox6 {
  border-style: groove;
}

#AreaHlasenie4_ST6_GroupBox6 > .header {
  border-bottom-style: groove;
}

#AreaHlasenie4_ST6_GroupBox6 > .header span {
  color: black;
}

#AreaHlasenie4_ST6_GroupBox6 {
  box-shadow: 4px 4px 14px black;
}

#AreaHlasenie4_ST6_ImageList5 {
  top: 84px;
  position: absolute;
}

#AreaHlasenie4_ST6_ImageList5 {
  left: 429px;
  position: absolute;
}

#AreaHlasenie4_ST6_ImageList5 {
  width: 25px;
}

#AreaHlasenie4_ST6_ImageList5 {
  height: 25px;
}

#AreaHlasenie4_ST6_ImageList5 {
  z-index: 3;
}

#AreaHlasenie4_ST6_ImageList5 {
  border-style: none;
}

#AreaHlasenie4_ST6_ImageList5 {
  border-width: 0px;
}

#AreaHlasenie4_ST6_Button_OznacPaletkuOK {
  top: 431px;
  position: absolute;
}

#AreaHlasenie4_ST6_Button_OznacPaletkuOK {
  left: 55px;
  position: absolute;
}

#AreaHlasenie4_ST6_Button_OznacPaletkuOK {
  width: 149px;
}

#AreaHlasenie4_ST6_Button_OznacPaletkuOK {
  height: 45px;
}

#AreaHlasenie4_ST6_Button_OznacPaletkuOK {
  z-index: 0;
}

#AreaHlasenie4_ST6_Button_OznacPaletkuOK {
  border-radius: 10px;
}

#AreaHlasenie4_ST6_Button_OznacPaletkuOK:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom, rgba(192, 255, 192, 1) 20%,rgba(0,255,0,1) 100%);
}

#AreaHlasenie4_ST6_Button_OznacPaletkuOK:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaHlasenie4_ST6_Button_OznacPaletkuOK {
  justify-content: center;
  text-align: center;
}

#AreaHlasenie4_ST6_Button_OznacPaletkuOK:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaHlasenie4_ST6_Button_OznacPaletkuOK.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaHlasenie4_ST6_Button_OznacPaletkuOK.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaHlasenie4_ST6_Button_OznacPaletkuNG {
  top: 431px;
  position: absolute;
}

#AreaHlasenie4_ST6_Button_OznacPaletkuNG {
  left: 277px;
  position: absolute;
}

#AreaHlasenie4_ST6_Button_OznacPaletkuNG {
  width: 149px;
}

#AreaHlasenie4_ST6_Button_OznacPaletkuNG {
  height: 45px;
}

#AreaHlasenie4_ST6_Button_OznacPaletkuNG {
  z-index: 1;
}

#AreaHlasenie4_ST6_Button_OznacPaletkuNG {
  border-radius: 10px;
}

#AreaHlasenie4_ST6_Button_OznacPaletkuNG:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom, rgba(255, 192, 192, 1) 20%,rgba(255,0,0,1) 100%);
}

#AreaHlasenie4_ST6_Button_OznacPaletkuNG:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaHlasenie4_ST6_Button_OznacPaletkuNG {
  justify-content: center;
  text-align: center;
}

#AreaHlasenie4_ST6_Button_OznacPaletkuNG:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaHlasenie4_ST6_Button_OznacPaletkuNG.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaHlasenie4_ST6_Button_OznacPaletkuNG.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaHlasenie4_ST6_Label2 {
  height: 30px;
}

#AreaHlasenie4_ST6_Label2 {
  top: 81px;
  position: absolute;
}

#AreaHlasenie4_ST6_Label2 {
  left: 22px;
  position: absolute;
}

#AreaHlasenie4_ST6_Label2 {
  width: 443px;
}

#AreaHlasenie4_ST6_Label2 {
  z-index: 2;
}

#AreaHlasenie4_ST6_Label2 {
  border-width: 2px;
}

#AreaHlasenie4_ST6_Label2 {
  background-color: #e0e0e0;
}

#AreaHlasenie4_ST6_Label2 {
  border-color: black;
}

#AreaHlasenie4_ST6_Label2:before {
  border-color: black;
}

#AreaHlasenie4_ST6_Label2:after {
  border-color: black;
}

#AreaHlasenie4_ST6_Label2 {
  border-style: outset;
}

#AreaHlasenie4_ST6_Label2:before {
  border-style: outset;
}

#AreaHlasenie4_ST6_Label2:after {
  border-style: outset;
}

#AreaHlasenie4_ST6_Label2 span {
  color: black;
}

#AreaHlasenie4_ST6_Label2 {
  justify-content: flex-start;
  text-align: left;
  -ms-flex-align: center;
  align-items: center;
}

#AreaHlasenie4_ST6_Label2 {
  font-size: 15px;
}

#AreaHlasenie4_ST6_Label2 {
  font-weight: bold;
}

#AreaHlasenie4_ST6_ImageList6 {
  top: 117px;
  position: absolute;
}

#AreaHlasenie4_ST6_ImageList6 {
  left: 429px;
  position: absolute;
}

#AreaHlasenie4_ST6_ImageList6 {
  width: 25px;
}

#AreaHlasenie4_ST6_ImageList6 {
  height: 25px;
}

#AreaHlasenie4_ST6_ImageList6 {
  z-index: 5;
}

#AreaHlasenie4_ST6_ImageList6 {
  border-style: none;
}

#AreaHlasenie4_ST6_ImageList6 {
  border-width: 0px;
}

#AreaHlasenie4_ST6_Label3 {
  height: 30px;
}

#AreaHlasenie4_ST6_Label3 {
  top: 113px;
  position: absolute;
}

#AreaHlasenie4_ST6_Label3 {
  left: 22px;
  position: absolute;
}

#AreaHlasenie4_ST6_Label3 {
  width: 443px;
}

#AreaHlasenie4_ST6_Label3 {
  z-index: 4;
}

#AreaHlasenie4_ST6_Label3 {
  border-width: 2px;
}

#AreaHlasenie4_ST6_Label3 {
  background-color: #e0e0e0;
}

#AreaHlasenie4_ST6_Label3 {
  border-color: black;
}

#AreaHlasenie4_ST6_Label3:before {
  border-color: black;
}

#AreaHlasenie4_ST6_Label3:after {
  border-color: black;
}

#AreaHlasenie4_ST6_Label3 {
  border-style: outset;
}

#AreaHlasenie4_ST6_Label3:before {
  border-style: outset;
}

#AreaHlasenie4_ST6_Label3:after {
  border-style: outset;
}

#AreaHlasenie4_ST6_Label3 span {
  color: black;
}

#AreaHlasenie4_ST6_Label3 {
  justify-content: flex-start;
  text-align: left;
  -ms-flex-align: center;
  align-items: center;
}

#AreaHlasenie4_ST6_Label3 {
  font-size: 15px;
}

#AreaHlasenie4_ST6_Label3 {
  font-weight: bold;
}

#AreaHlasenie4_ST6_Label4 {
  top: 6px;
  position: absolute;
}

#AreaHlasenie4_ST6_Label4 {
  left: 22px;
  position: absolute;
}

#AreaHlasenie4_ST6_Label4 {
  width: 443px;
}

#AreaHlasenie4_ST6_Label4 {
  height: 62px;
}

#AreaHlasenie4_ST6_Label4 {
  z-index: 6;
}

#AreaHlasenie4_ST6_Label4 {
  border-width: 4px;
}

#AreaHlasenie4_ST6_Label4 {
  border-radius: 2px;
}

#AreaHlasenie4_ST6_Label4 {
  background-color: darkgray;
}

#AreaHlasenie4_ST6_Label4 {
  border-color: black;
}

#AreaHlasenie4_ST6_Label4:before {
  border-color: black;
}

#AreaHlasenie4_ST6_Label4:after {
  border-color: black;
}

#AreaHlasenie4_ST6_Label4 {
  border-style: double;
}

#AreaHlasenie4_ST6_Label4:before {
  border-style: double;
}

#AreaHlasenie4_ST6_Label4:after {
  border-style: double;
}

#AreaHlasenie4_ST6_Label4 span {
  color: black;
}

#AreaHlasenie4_ST6_Label4 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaHlasenie4_ST6_Label4 {
  font-size: 20px;
}

#AreaHlasenie4_ST6_Label4 {
  font-weight: bold;
}
