#AreaHlasenie3_ST3_GroupBox6 {
  top: 0px;
  position: absolute;
}

#AreaHlasenie3_ST3_GroupBox6 {
  left: 0px;
  position: absolute;
}

#AreaHlasenie3_ST3_GroupBox6 {
  width: 500px;
}

#AreaHlasenie3_ST3_GroupBox6 {
  height: 520px;
}

#AreaHlasenie3_ST3_GroupBox6 {
  z-index: 0;
}

#AreaHlasenie3_ST3_GroupBox6 {
  border-width: 7px;
}

#AreaHlasenie3_ST3_GroupBox6 > .header {
  border-width: 7px;
}

#AreaHlasenie3_ST3_GroupBox6 {
  border-radius: 6px 6px 6px 6px;
}

#AreaHlasenie3_ST3_GroupBox6 {
  background-color: #ffc080;
}

#AreaHlasenie3_ST3_GroupBox6 {
  border-style: groove;
}

#AreaHlasenie3_ST3_GroupBox6 > .header {
  border-bottom-style: groove;
}

#AreaHlasenie3_ST3_GroupBox6 > .header span {
  color: black;
}

#AreaHlasenie3_ST3_GroupBox6 {
  box-shadow: 4px 4px 14px black;
}

#AreaHlasenie3_ST3_Image1 {
  top: 7px;
  position: absolute;
}

#AreaHlasenie3_ST3_Image1 {
  left: 415px;
  position: absolute;
}

#AreaHlasenie3_ST3_Image1 {
  width: 62px;
}

#AreaHlasenie3_ST3_Image1 {
  height: 62px;
}

#AreaHlasenie3_ST3_Image1 {
  z-index: 0;
}

#AreaHlasenie3_ST3_Label1 {
  top: 41px;
  position: absolute;
}

#AreaHlasenie3_ST3_Label1 {
  left: 3px;
  position: absolute;
}

#AreaHlasenie3_ST3_Label1 {
  width: 443px;
}

#AreaHlasenie3_ST3_Label1 {
  height: 36px;
}

#AreaHlasenie3_ST3_Label1 {
  z-index: 1;
}

#AreaHlasenie3_ST3_Label1 span {
  color: black;
}

#AreaHlasenie3_ST3_Label1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaHlasenie3_ST3_Label1 {
  font-size: 24px;
}

#AreaHlasenie3_ST3_Label1 {
  font-weight: bold;
}

#AreaHlasenie3_ST3_Label1 span {
  text-decoration: underline;
}

#AreaHlasenie3_ST3_ImageList2 {
  top: 273px;
  position: absolute;
}

#AreaHlasenie3_ST3_ImageList2 {
  left: 135px;
  position: absolute;
}

#AreaHlasenie3_ST3_ImageList2 {
  width: 35px;
}

#AreaHlasenie3_ST3_ImageList2 {
  height: 35px;
}

#AreaHlasenie3_ST3_ImageList2 {
  z-index: 7;
}

#AreaHlasenie3_ST3_ImageList2 {
  border-style: none;
}

#AreaHlasenie3_ST3_ImageList2 {
  border-width: 0px;
}

#AreaHlasenie3_ST3_ImageList3 {
  top: 411px;
  position: absolute;
}

#AreaHlasenie3_ST3_ImageList3 {
  left: 369px;
  position: absolute;
}

#AreaHlasenie3_ST3_ImageList3 {
  width: 35px;
}

#AreaHlasenie3_ST3_ImageList3 {
  height: 35px;
}

#AreaHlasenie3_ST3_ImageList3 {
  z-index: 6;
}

#AreaHlasenie3_ST3_ImageList3 {
  border-style: none;
}

#AreaHlasenie3_ST3_ImageList3 {
  border-width: 0px;
}

#AreaHlasenie3_ST3_ImageList4 {
  top: 193px;
  position: absolute;
}

#AreaHlasenie3_ST3_ImageList4 {
  left: 341px;
  position: absolute;
}

#AreaHlasenie3_ST3_ImageList4 {
  width: 35px;
}

#AreaHlasenie3_ST3_ImageList4 {
  height: 35px;
}

#AreaHlasenie3_ST3_ImageList4 {
  z-index: 5;
}

#AreaHlasenie3_ST3_ImageList4 {
  border-style: none;
}

#AreaHlasenie3_ST3_ImageList4 {
  border-width: 0px;
}

#AreaHlasenie3_ST3_ImageList5 {
  top: 193px;
  position: absolute;
}

#AreaHlasenie3_ST3_ImageList5 {
  left: 393px;
  position: absolute;
}

#AreaHlasenie3_ST3_ImageList5 {
  width: 35px;
}

#AreaHlasenie3_ST3_ImageList5 {
  height: 35px;
}

#AreaHlasenie3_ST3_ImageList5 {
  z-index: 4;
}

#AreaHlasenie3_ST3_ImageList5 {
  border-style: none;
}

#AreaHlasenie3_ST3_ImageList5 {
  border-width: 0px;
}

#AreaHlasenie3_ST3_ImageList6 {
  top: 411px;
  position: absolute;
}

#AreaHlasenie3_ST3_ImageList6 {
  left: 249px;
  position: absolute;
}

#AreaHlasenie3_ST3_ImageList6 {
  width: 35px;
}

#AreaHlasenie3_ST3_ImageList6 {
  height: 35px;
}

#AreaHlasenie3_ST3_ImageList6 {
  z-index: 3;
}

#AreaHlasenie3_ST3_ImageList6 {
  border-style: none;
}

#AreaHlasenie3_ST3_ImageList6 {
  border-width: 0px;
}

#AreaHlasenie3_ST3_ImageList1 {
  top: 137px;
  position: absolute;
}

#AreaHlasenie3_ST3_ImageList1 {
  left: 361px;
  position: absolute;
}

#AreaHlasenie3_ST3_ImageList1 {
  width: 35px;
}

#AreaHlasenie3_ST3_ImageList1 {
  height: 35px;
}

#AreaHlasenie3_ST3_ImageList1 {
  z-index: 8;
}

#AreaHlasenie3_ST3_ImageList1 {
  border-style: none;
}

#AreaHlasenie3_ST3_ImageList1 {
  border-width: 0px;
}

#AreaHlasenie3_ST3_Image2 {
  top: 100px;
  position: absolute;
}

#AreaHlasenie3_ST3_Image2 {
  left: 23px;
  position: absolute;
}

#AreaHlasenie3_ST3_Image2 {
  width: 439px;
}

#AreaHlasenie3_ST3_Image2 {
  height: 390px;
}

#AreaHlasenie3_ST3_Image2 {
  z-index: 2;
}

#AreaHlasenie3_ST3_Image2 {
  border-style: groove;
}

#AreaHlasenie3_ST3_Image2 {
  border-width: 5px;
}

#AreaHlasenie3_ST3_Image2 {
  border-radius: 10px;
}

#AreaHlasenie3_ST3_Button_ZaklTesnenia_IgnorujKameru {
  top: 119px;
  position: absolute;
}

#AreaHlasenie3_ST3_Button_ZaklTesnenia_IgnorujKameru {
  left: 45px;
  position: absolute;
}

#AreaHlasenie3_ST3_Button_ZaklTesnenia_IgnorujKameru {
  width: 149px;
}

#AreaHlasenie3_ST3_Button_ZaklTesnenia_IgnorujKameru {
  height: 45px;
}

#AreaHlasenie3_ST3_Button_ZaklTesnenia_IgnorujKameru {
  z-index: 9;
}

#AreaHlasenie3_ST3_Button_ZaklTesnenia_IgnorujKameru {
  border-radius: 10px;
}

#AreaHlasenie3_ST3_Button_ZaklTesnenia_IgnorujKameru:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaHlasenie3_ST3_Button_ZaklTesnenia_IgnorujKameru {
  justify-content: center;
  text-align: center;
}

#AreaHlasenie3_ST3_Button_ZaklTesnenia_IgnorujKameru:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaHlasenie3_ST3_Button_ZaklTesnenia_IgnorujKameru.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaHlasenie3_ST3_Button_ZaklTesnenia_IgnorujKameru.disabled.checked {
  box-shadow: 4px 4px 14px black;
}
