#AreaPageManualP4_Vytah_Image1 {
  top: 0px;
  position: absolute;
}

#AreaPageManualP4_Vytah_Image1 {
  left: 0px;
  position: absolute;
}

#AreaPageManualP4_Vytah_Image1 {
  width: 1366px;
}

#AreaPageManualP4_Vytah_Image1 {
  height: 588px;
}

#AreaPageManualP4_Vytah_Image1 {
  z-index: 0;
}

#AreaPageManualP4_Vytah_Image1 {
  opacity: 0.2;
}

#AreaPageManualP4_Vytah_Label1 {
  top: 20px;
  position: absolute;
}

#AreaPageManualP4_Vytah_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageManualP4_Vytah_Label1 {
  width: 400px;
}

#AreaPageManualP4_Vytah_Label1 {
  height: 35px;
}

#AreaPageManualP4_Vytah_Label1 {
  z-index: 1;
}

#AreaPageManualP4_Vytah_Label1 {
  border-width: 5px;
}

#AreaPageManualP4_Vytah_Label1 {
  border-radius: 5px;
}

#AreaPageManualP4_Vytah_Label1 {
  border-style: ridge;
}

#AreaPageManualP4_Vytah_Label1:before {
  border-style: ridge;
}

#AreaPageManualP4_Vytah_Label1:after {
  border-style: ridge;
}

#AreaPageManualP4_Vytah_Label1 span {
  color: black;
}

#AreaPageManualP4_Vytah_Label1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageManualP4_Vytah_Label1 {
  font-size: 20px;
}

#AreaPageManualP4_Vytah_Label1 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Vytah_GroupBox_OvladanieDopravnikov {
  top: 68px;
  position: absolute;
}

#AreaPageManualP4_Vytah_GroupBox_OvladanieDopravnikov {
  left: 18px;
  position: absolute;
}

#AreaPageManualP4_Vytah_GroupBox_OvladanieDopravnikov {
  width: 430px;
}

#AreaPageManualP4_Vytah_GroupBox_OvladanieDopravnikov {
  height: 250px;
}

#AreaPageManualP4_Vytah_GroupBox_OvladanieDopravnikov {
  z-index: 2;
}

#AreaPageManualP4_Vytah_GroupBox_OvladanieDopravnikov {
  background-color: oldlace;
}

#AreaPageManualP4_Vytah_GroupBox_OvladanieDopravnikov > .header span {
  color: black;
}

#AreaPageManualP4_Vytah_GroupBox_OvladanieDopravnikov {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Vytah_ImageList19 {
  top: 21px;
  position: absolute;
}

#AreaPageManualP4_Vytah_ImageList19 {
  left: 175px;
  position: absolute;
}

#AreaPageManualP4_Vytah_ImageList19 {
  width: 25px;
}

#AreaPageManualP4_Vytah_ImageList19 {
  height: 25px;
}

#AreaPageManualP4_Vytah_ImageList19 {
  z-index: 3;
}

#AreaPageManualP4_Vytah_ImageList19 {
  border-style: none;
}

#AreaPageManualP4_Vytah_ImageList19 {
  border-width: 0px;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_DopravnikVZAD {
  top: 117px;
  position: absolute;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_DopravnikVZAD {
  left: 11px;
  position: absolute;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_DopravnikVZAD {
  width: 165px;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_DopravnikVZAD {
  height: 45px;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_DopravnikVZAD {
  z-index: 0;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_DopravnikVZAD {
  border-radius: 10px;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_DopravnikVZAD:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_DopravnikVZAD {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_DopravnikVZAD:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_DopravnikVZAD.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_DopravnikVZAD.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_DopravnikVPRED {
  top: 117px;
  position: absolute;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_DopravnikVPRED {
  left: 251px;
  position: absolute;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_DopravnikVPRED {
  width: 165px;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_DopravnikVPRED {
  height: 45px;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_DopravnikVPRED {
  z-index: 1;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_DopravnikVPRED {
  border-radius: 10px;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_DopravnikVPRED:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_DopravnikVPRED {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_DopravnikVPRED:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_DopravnikVPRED.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_DopravnikVPRED.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Vytah_Label15 {
  top: 16px;
  position: absolute;
}

#AreaPageManualP4_Vytah_Label15 {
  left: 11px;
  position: absolute;
}

#AreaPageManualP4_Vytah_Label15 {
  width: 195px;
}

#AreaPageManualP4_Vytah_Label15 {
  height: 35px;
}

#AreaPageManualP4_Vytah_Label15 {
  z-index: 2;
}

#AreaPageManualP4_Vytah_Label15 {
  border-width: 2px;
}

#AreaPageManualP4_Vytah_Label15 {
  border-radius: 5px;
}

#AreaPageManualP4_Vytah_Label15 {
  background-color: silver;
}

#AreaPageManualP4_Vytah_Label15 {
  border-color: black;
}

#AreaPageManualP4_Vytah_Label15:before {
  border-color: black;
}

#AreaPageManualP4_Vytah_Label15:after {
  border-color: black;
}

#AreaPageManualP4_Vytah_Label15 {
  border-style: outset;
}

#AreaPageManualP4_Vytah_Label15:before {
  border-style: outset;
}

#AreaPageManualP4_Vytah_Label15:after {
  border-style: outset;
}

#AreaPageManualP4_Vytah_Label15 span {
  color: black;
}

#AreaPageManualP4_Vytah_Label15 {
  font-size: 14px;
}

#AreaPageManualP4_Vytah_Label15 {
  font-weight: bold;
}

#AreaPageManualP4_Vytah_GroupBox2 {
  top: 68px;
  position: absolute;
}

#AreaPageManualP4_Vytah_GroupBox2 {
  left: 468px;
  position: absolute;
}

#AreaPageManualP4_Vytah_GroupBox2 {
  width: 430px;
}

#AreaPageManualP4_Vytah_GroupBox2 {
  height: 510px;
}

#AreaPageManualP4_Vytah_GroupBox2 {
  z-index: 3;
}

#AreaPageManualP4_Vytah_GroupBox2 {
  background-color: oldlace;
}

#AreaPageManualP4_Vytah_GroupBox2 > .header span {
  color: black;
}

#AreaPageManualP4_Vytah_GroupBox2 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Vytah_Button_HomingServaZdvihu {
  top: 11px;
  position: absolute;
}

#AreaPageManualP4_Vytah_Button_HomingServaZdvihu {
  left: 11px;
  position: absolute;
}

#AreaPageManualP4_Vytah_Button_HomingServaZdvihu {
  width: 165px;
}

#AreaPageManualP4_Vytah_Button_HomingServaZdvihu {
  height: 45px;
}

#AreaPageManualP4_Vytah_Button_HomingServaZdvihu {
  z-index: 0;
}

#AreaPageManualP4_Vytah_Button_HomingServaZdvihu {
  border-radius: 10px;
}

#AreaPageManualP4_Vytah_Button_HomingServaZdvihu:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP4_Vytah_Button_HomingServaZdvihu {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP4_Vytah_Button_HomingServaZdvihu:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Vytah_Button_HomingServaZdvihu.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Vytah_Button_HomingServaZdvihu.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Vytah_ImageList6 {
  top: 21px;
  position: absolute;
}

#AreaPageManualP4_Vytah_ImageList6 {
  left: 137px;
  position: absolute;
}

#AreaPageManualP4_Vytah_ImageList6 {
  width: 25px;
}

#AreaPageManualP4_Vytah_ImageList6 {
  height: 25px;
}

#AreaPageManualP4_Vytah_ImageList6 {
  z-index: 1;
}

#AreaPageManualP4_Vytah_ImageList6 {
  border-style: none;
}

#AreaPageManualP4_Vytah_ImageList6 {
  border-width: 0px;
}

#AreaPageManualP4_Vytah_NumericInput_ZdvihZadanaRychlost {
  height: 30px;
}

#AreaPageManualP4_Vytah_NumericInput_ZdvihZadanaRychlost {
  top: 175px;
  position: absolute;
}

#AreaPageManualP4_Vytah_NumericInput_ZdvihZadanaRychlost {
  left: 236px;
  position: absolute;
}

#AreaPageManualP4_Vytah_NumericInput_ZdvihZadanaRychlost {
  width: 165px;
}

#AreaPageManualP4_Vytah_NumericInput_ZdvihZadanaRychlost {
  z-index: 8;
}

#AreaPageManualP4_Vytah_NumericInput_ZdvihZadanaRychlost:not(.active):not(.disabled) {
  border-width: 2px 4px 2px 2px;
}

#AreaPageManualP4_Vytah_NumericInput_ZdvihZadanaRychlost input {
  font-size: 18px;
}

#AreaPageManualP4_Vytah_NumericInput_ZdvihZadanaRychlost {
  box-shadow: 4px 4px 8px black;
}

#AreaPageManualP4_Vytah_NumericOutput_ZdvihAktualnaPozicia {
  height: 30px;
}

#AreaPageManualP4_Vytah_NumericOutput_ZdvihAktualnaPozicia {
  top: 175px;
  position: absolute;
}

#AreaPageManualP4_Vytah_NumericOutput_ZdvihAktualnaPozicia {
  left: 26px;
  position: absolute;
}

#AreaPageManualP4_Vytah_NumericOutput_ZdvihAktualnaPozicia {
  width: 165px;
}

#AreaPageManualP4_Vytah_NumericOutput_ZdvihAktualnaPozicia {
  z-index: 7;
}

#AreaPageManualP4_Vytah_NumericOutput_ZdvihAktualnaPozicia {
  border-width: 4px;
}

#AreaPageManualP4_Vytah_NumericOutput_ZdvihAktualnaPozicia {
  border-style: ridge;
}

#AreaPageManualP4_Vytah_NumericOutput_ZdvihAktualnaPozicia input {
  color: black;
}

#AreaPageManualP4_Vytah_NumericOutput_ZdvihAktualnaPozicia span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageManualP4_Vytah_NumericOutput_ZdvihAktualnaPozicia input {
  font-size: 16px;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_JoggZdvihuDOLE {
  top: 79px;
  position: absolute;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_JoggZdvihuDOLE {
  left: 11px;
  position: absolute;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_JoggZdvihuDOLE {
  width: 165px;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_JoggZdvihuDOLE {
  height: 45px;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_JoggZdvihuDOLE {
  z-index: 2;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_JoggZdvihuDOLE {
  border-radius: 10px;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_JoggZdvihuDOLE:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_JoggZdvihuDOLE {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_JoggZdvihuDOLE:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_JoggZdvihuDOLE.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_JoggZdvihuDOLE.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_JoggZdvihuHORE {
  top: 79px;
  position: absolute;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_JoggZdvihuHORE {
  left: 251px;
  position: absolute;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_JoggZdvihuHORE {
  width: 165px;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_JoggZdvihuHORE {
  height: 45px;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_JoggZdvihuHORE {
  z-index: 3;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_JoggZdvihuHORE {
  border-radius: 10px;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_JoggZdvihuHORE:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_JoggZdvihuHORE {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_JoggZdvihuHORE:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_JoggZdvihuHORE.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Vytah_MomentaryPushButton_JoggZdvihuHORE.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_Vytah_ImageList15 {
  top: 236px;
  position: absolute;
}

#AreaPageManualP4_Vytah_ImageList15 {
  left: 176px;
  position: absolute;
}

#AreaPageManualP4_Vytah_ImageList15 {
  width: 25px;
}

#AreaPageManualP4_Vytah_ImageList15 {
  height: 25px;
}

#AreaPageManualP4_Vytah_ImageList15 {
  z-index: 11;
}

#AreaPageManualP4_Vytah_ImageList15 {
  border-style: none;
}

#AreaPageManualP4_Vytah_ImageList15 {
  border-width: 0px;
}

#AreaPageManualP4_Vytah_Line3 {
  z-index: 4;
}

#AreaPageManualP4_Vytah_Line3 line {
  stroke-width: 2px;
}

#AreaPageManualP4_Vytah_ImageList16 {
  top: 281px;
  position: absolute;
}

#AreaPageManualP4_Vytah_ImageList16 {
  left: 176px;
  position: absolute;
}

#AreaPageManualP4_Vytah_ImageList16 {
  width: 25px;
}

#AreaPageManualP4_Vytah_ImageList16 {
  height: 25px;
}

#AreaPageManualP4_Vytah_ImageList16 {
  z-index: 12;
}

#AreaPageManualP4_Vytah_ImageList16 {
  border-style: none;
}

#AreaPageManualP4_Vytah_ImageList16 {
  border-width: 0px;
}

#AreaPageManualP4_Vytah_Label27 {
  top: 139px;
  position: absolute;
}

#AreaPageManualP4_Vytah_Label27 {
  left: 11px;
  position: absolute;
}

#AreaPageManualP4_Vytah_Label27 {
  width: 195px;
}

#AreaPageManualP4_Vytah_Label27 {
  height: 77px;
}

#AreaPageManualP4_Vytah_Label27 {
  z-index: 5;
}

#AreaPageManualP4_Vytah_Label27 {
  border-width: 2px;
}

#AreaPageManualP4_Vytah_Label27 {
  border-radius: 5px;
}

#AreaPageManualP4_Vytah_Label27 {
  background-color: silver;
}

#AreaPageManualP4_Vytah_Label27 {
  border-color: black;
}

#AreaPageManualP4_Vytah_Label27:before {
  border-color: black;
}

#AreaPageManualP4_Vytah_Label27:after {
  border-color: black;
}

#AreaPageManualP4_Vytah_Label27 {
  border-style: outset;
}

#AreaPageManualP4_Vytah_Label27:before {
  border-style: outset;
}

#AreaPageManualP4_Vytah_Label27:after {
  border-style: outset;
}

#AreaPageManualP4_Vytah_Label27 span {
  color: black;
}

#AreaPageManualP4_Vytah_Label27 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: start;
  align-items: flex-start;
}

#AreaPageManualP4_Vytah_Label27 {
  font-size: 14px;
}

#AreaPageManualP4_Vytah_Label27 {
  font-weight: bold;
}

#AreaPageManualP4_Vytah_Label28 {
  top: 139px;
  position: absolute;
}

#AreaPageManualP4_Vytah_Label28 {
  left: 221px;
  position: absolute;
}

#AreaPageManualP4_Vytah_Label28 {
  width: 195px;
}

#AreaPageManualP4_Vytah_Label28 {
  height: 77px;
}

#AreaPageManualP4_Vytah_Label28 {
  z-index: 6;
}

#AreaPageManualP4_Vytah_Label28 {
  border-width: 2px;
}

#AreaPageManualP4_Vytah_Label28 {
  border-radius: 5px;
}

#AreaPageManualP4_Vytah_Label28 {
  background-color: silver;
}

#AreaPageManualP4_Vytah_Label28 {
  border-color: black;
}

#AreaPageManualP4_Vytah_Label28:before {
  border-color: black;
}

#AreaPageManualP4_Vytah_Label28:after {
  border-color: black;
}

#AreaPageManualP4_Vytah_Label28 {
  border-style: outset;
}

#AreaPageManualP4_Vytah_Label28:before {
  border-style: outset;
}

#AreaPageManualP4_Vytah_Label28:after {
  border-style: outset;
}

#AreaPageManualP4_Vytah_Label28 span {
  color: black;
}

#AreaPageManualP4_Vytah_Label28 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: start;
  align-items: flex-start;
}

#AreaPageManualP4_Vytah_Label28 {
  font-size: 14px;
}

#AreaPageManualP4_Vytah_Label28 {
  font-weight: bold;
}

#AreaPageManualP4_Vytah_Label11 {
  top: 231px;
  position: absolute;
}

#AreaPageManualP4_Vytah_Label11 {
  left: 11px;
  position: absolute;
}

#AreaPageManualP4_Vytah_Label11 {
  width: 195px;
}

#AreaPageManualP4_Vytah_Label11 {
  height: 35px;
}

#AreaPageManualP4_Vytah_Label11 {
  z-index: 9;
}

#AreaPageManualP4_Vytah_Label11 {
  border-width: 2px;
}

#AreaPageManualP4_Vytah_Label11 {
  border-radius: 5px;
}

#AreaPageManualP4_Vytah_Label11 {
  background-color: silver;
}

#AreaPageManualP4_Vytah_Label11 {
  border-color: black;
}

#AreaPageManualP4_Vytah_Label11:before {
  border-color: black;
}

#AreaPageManualP4_Vytah_Label11:after {
  border-color: black;
}

#AreaPageManualP4_Vytah_Label11 {
  border-style: outset;
}

#AreaPageManualP4_Vytah_Label11:before {
  border-style: outset;
}

#AreaPageManualP4_Vytah_Label11:after {
  border-style: outset;
}

#AreaPageManualP4_Vytah_Label11 span {
  color: black;
}

#AreaPageManualP4_Vytah_Label11 {
  font-size: 14px;
}

#AreaPageManualP4_Vytah_Label11 {
  font-weight: bold;
}

#AreaPageManualP4_Vytah_Label12 {
  top: 276px;
  position: absolute;
}

#AreaPageManualP4_Vytah_Label12 {
  left: 11px;
  position: absolute;
}

#AreaPageManualP4_Vytah_Label12 {
  width: 195px;
}

#AreaPageManualP4_Vytah_Label12 {
  height: 35px;
}

#AreaPageManualP4_Vytah_Label12 {
  z-index: 10;
}

#AreaPageManualP4_Vytah_Label12 {
  border-width: 2px;
}

#AreaPageManualP4_Vytah_Label12 {
  border-radius: 5px;
}

#AreaPageManualP4_Vytah_Label12 {
  background-color: silver;
}

#AreaPageManualP4_Vytah_Label12 {
  border-color: black;
}

#AreaPageManualP4_Vytah_Label12:before {
  border-color: black;
}

#AreaPageManualP4_Vytah_Label12:after {
  border-color: black;
}

#AreaPageManualP4_Vytah_Label12 {
  border-style: outset;
}

#AreaPageManualP4_Vytah_Label12:before {
  border-style: outset;
}

#AreaPageManualP4_Vytah_Label12:after {
  border-style: outset;
}

#AreaPageManualP4_Vytah_Label12 span {
  color: black;
}

#AreaPageManualP4_Vytah_Label12 {
  font-size: 14px;
}

#AreaPageManualP4_Vytah_Label12 {
  font-weight: bold;
}
