#AreaPageManualP4_FunkcnyTestA_Image1 {
  top: 0px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_Image1 {
  left: 0px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_Image1 {
  width: 1366px;
}

#AreaPageManualP4_FunkcnyTestA_Image1 {
  height: 588px;
}

#AreaPageManualP4_FunkcnyTestA_Image1 {
  z-index: 0;
}

#AreaPageManualP4_FunkcnyTestA_Image1 {
  opacity: 0.2;
}

#AreaPageManualP4_FunkcnyTestA_Label1 {
  top: 20px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_Label1 {
  width: 400px;
}

#AreaPageManualP4_FunkcnyTestA_Label1 {
  height: 35px;
}

#AreaPageManualP4_FunkcnyTestA_Label1 {
  z-index: 1;
}

#AreaPageManualP4_FunkcnyTestA_Label1 {
  border-width: 5px;
}

#AreaPageManualP4_FunkcnyTestA_Label1 {
  border-radius: 5px;
}

#AreaPageManualP4_FunkcnyTestA_Label1 {
  border-style: ridge;
}

#AreaPageManualP4_FunkcnyTestA_Label1:before {
  border-style: ridge;
}

#AreaPageManualP4_FunkcnyTestA_Label1:after {
  border-style: ridge;
}

#AreaPageManualP4_FunkcnyTestA_Label1 span {
  color: black;
}

#AreaPageManualP4_FunkcnyTestA_Label1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageManualP4_FunkcnyTestA_Label1 {
  font-size: 20px;
}

#AreaPageManualP4_FunkcnyTestA_Label1 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_GroupBox6 {
  top: 70px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_GroupBox6 {
  left: 469px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_GroupBox6 {
  width: 429px;
}

#AreaPageManualP4_FunkcnyTestA_GroupBox6 {
  height: 510px;
}

#AreaPageManualP4_FunkcnyTestA_GroupBox6 {
  z-index: 2;
}

#AreaPageManualP4_FunkcnyTestA_GroupBox6 {
  background-color: oldlace;
}

#AreaPageManualP4_FunkcnyTestA_GroupBox6 > .header span {
  color: black;
}

#AreaPageManualP4_FunkcnyTestA_GroupBox6 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_Button_HorneKontaktyZostup {
  top: 19px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_Button_HorneKontaktyZostup {
  left: 10px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_Button_HorneKontaktyZostup {
  width: 165px;
}

#AreaPageManualP4_FunkcnyTestA_Button_HorneKontaktyZostup {
  height: 45px;
}

#AreaPageManualP4_FunkcnyTestA_Button_HorneKontaktyZostup {
  z-index: 0;
}

#AreaPageManualP4_FunkcnyTestA_Button_HorneKontaktyZostup {
  border-radius: 10px;
}

#AreaPageManualP4_FunkcnyTestA_Button_HorneKontaktyZostup:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP4_FunkcnyTestA_Button_HorneKontaktyZostup {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP4_FunkcnyTestA_Button_HorneKontaktyZostup:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_Button_HorneKontaktyZostup.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_Button_HorneKontaktyZostup.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_ImageList5 {
  top: 29px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_ImageList5 {
  left: 140px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_ImageList5 {
  width: 25px;
}

#AreaPageManualP4_FunkcnyTestA_ImageList5 {
  height: 25px;
}

#AreaPageManualP4_FunkcnyTestA_ImageList5 {
  z-index: 1;
}

#AreaPageManualP4_FunkcnyTestA_ImageList5 {
  border-style: none;
}

#AreaPageManualP4_FunkcnyTestA_ImageList5 {
  border-width: 0px;
}

#AreaPageManualP4_FunkcnyTestA_Button_HorneKontaktyZdvih {
  top: 19px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_Button_HorneKontaktyZdvih {
  left: 252px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_Button_HorneKontaktyZdvih {
  width: 165px;
}

#AreaPageManualP4_FunkcnyTestA_Button_HorneKontaktyZdvih {
  height: 45px;
}

#AreaPageManualP4_FunkcnyTestA_Button_HorneKontaktyZdvih {
  z-index: 2;
}

#AreaPageManualP4_FunkcnyTestA_Button_HorneKontaktyZdvih {
  border-radius: 10px;
}

#AreaPageManualP4_FunkcnyTestA_Button_HorneKontaktyZdvih:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP4_FunkcnyTestA_Button_HorneKontaktyZdvih {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP4_FunkcnyTestA_Button_HorneKontaktyZdvih:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_Button_HorneKontaktyZdvih.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_Button_HorneKontaktyZdvih.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_ImageList4 {
  top: 29px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_ImageList4 {
  left: 382px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_ImageList4 {
  width: 25px;
}

#AreaPageManualP4_FunkcnyTestA_ImageList4 {
  height: 25px;
}

#AreaPageManualP4_FunkcnyTestA_ImageList4 {
  z-index: 3;
}

#AreaPageManualP4_FunkcnyTestA_ImageList4 {
  border-style: none;
}

#AreaPageManualP4_FunkcnyTestA_ImageList4 {
  border-width: 0px;
}

#AreaPageManualP4_FunkcnyTestA_Line5 {
  z-index: 4;
}

#AreaPageManualP4_FunkcnyTestA_Line5 line {
  stroke-width: 2px;
}

#AreaPageManualP4_FunkcnyTestA_ImageList21 {
  top: 278px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_ImageList21 {
  left: 173px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_ImageList21 {
  width: 25px;
}

#AreaPageManualP4_FunkcnyTestA_ImageList21 {
  height: 25px;
}

#AreaPageManualP4_FunkcnyTestA_ImageList21 {
  z-index: 13;
}

#AreaPageManualP4_FunkcnyTestA_ImageList21 {
  border-style: none;
}

#AreaPageManualP4_FunkcnyTestA_ImageList21 {
  border-width: 0px;
}

#AreaPageManualP4_FunkcnyTestA_ImageList22 {
  top: 322px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_ImageList22 {
  left: 173px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_ImageList22 {
  width: 25px;
}

#AreaPageManualP4_FunkcnyTestA_ImageList22 {
  height: 25px;
}

#AreaPageManualP4_FunkcnyTestA_ImageList22 {
  z-index: 14;
}

#AreaPageManualP4_FunkcnyTestA_ImageList22 {
  border-style: none;
}

#AreaPageManualP4_FunkcnyTestA_ImageList22 {
  border-width: 0px;
}

#AreaPageManualP4_FunkcnyTestA_Button_SpodneKontaktyZostup {
  top: 99px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_Button_SpodneKontaktyZostup {
  left: 10px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_Button_SpodneKontaktyZostup {
  width: 165px;
}

#AreaPageManualP4_FunkcnyTestA_Button_SpodneKontaktyZostup {
  height: 45px;
}

#AreaPageManualP4_FunkcnyTestA_Button_SpodneKontaktyZostup {
  z-index: 5;
}

#AreaPageManualP4_FunkcnyTestA_Button_SpodneKontaktyZostup {
  border-radius: 10px;
}

#AreaPageManualP4_FunkcnyTestA_Button_SpodneKontaktyZostup:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP4_FunkcnyTestA_Button_SpodneKontaktyZostup {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP4_FunkcnyTestA_Button_SpodneKontaktyZostup:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_Button_SpodneKontaktyZostup.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_Button_SpodneKontaktyZostup.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_ImageList6 {
  top: 109px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_ImageList6 {
  left: 140px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_ImageList6 {
  width: 25px;
}

#AreaPageManualP4_FunkcnyTestA_ImageList6 {
  height: 25px;
}

#AreaPageManualP4_FunkcnyTestA_ImageList6 {
  z-index: 6;
}

#AreaPageManualP4_FunkcnyTestA_ImageList6 {
  border-style: none;
}

#AreaPageManualP4_FunkcnyTestA_ImageList6 {
  border-width: 0px;
}

#AreaPageManualP4_FunkcnyTestA_Button_SpodneKontaktyZdvih {
  top: 99px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_Button_SpodneKontaktyZdvih {
  left: 252px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_Button_SpodneKontaktyZdvih {
  width: 165px;
}

#AreaPageManualP4_FunkcnyTestA_Button_SpodneKontaktyZdvih {
  height: 45px;
}

#AreaPageManualP4_FunkcnyTestA_Button_SpodneKontaktyZdvih {
  z-index: 7;
}

#AreaPageManualP4_FunkcnyTestA_Button_SpodneKontaktyZdvih {
  border-radius: 10px;
}

#AreaPageManualP4_FunkcnyTestA_Button_SpodneKontaktyZdvih:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP4_FunkcnyTestA_Button_SpodneKontaktyZdvih {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP4_FunkcnyTestA_Button_SpodneKontaktyZdvih:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_Button_SpodneKontaktyZdvih.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_Button_SpodneKontaktyZdvih.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_ImageList8 {
  top: 109px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_ImageList8 {
  left: 382px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_ImageList8 {
  width: 25px;
}

#AreaPageManualP4_FunkcnyTestA_ImageList8 {
  height: 25px;
}

#AreaPageManualP4_FunkcnyTestA_ImageList8 {
  z-index: 8;
}

#AreaPageManualP4_FunkcnyTestA_ImageList8 {
  border-style: none;
}

#AreaPageManualP4_FunkcnyTestA_ImageList8 {
  border-width: 0px;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_OdpruzenieKontaktov {
  top: 179px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_OdpruzenieKontaktov {
  left: 10px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_OdpruzenieKontaktov {
  width: 165px;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_OdpruzenieKontaktov {
  height: 45px;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_OdpruzenieKontaktov {
  z-index: 9;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_OdpruzenieKontaktov:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .before {
  color: black;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_OdpruzenieKontaktov:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .after {
  color: black;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_OdpruzenieKontaktov .breaseToggleSwitch_toggle .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_OdpruzenieKontaktov .breaseToggleSwitch_toggle .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_OdpruzenieKontaktov:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_OdpruzenieKontaktov.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_OdpruzenieKontaktov.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_KontaktyTestera {
  top: 179px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_KontaktyTestera {
  left: 252px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_KontaktyTestera {
  width: 165px;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_KontaktyTestera {
  height: 45px;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_KontaktyTestera {
  z-index: 10;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_KontaktyTestera:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .before {
  color: black;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_KontaktyTestera:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .after {
  color: black;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_KontaktyTestera .breaseToggleSwitch_toggle .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_KontaktyTestera .breaseToggleSwitch_toggle .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_KontaktyTestera:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_KontaktyTestera.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_KontaktyTestera.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_Label25 {
  top: 273px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_Label25 {
  left: 10px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_Label25 {
  width: 195px;
}

#AreaPageManualP4_FunkcnyTestA_Label25 {
  height: 35px;
}

#AreaPageManualP4_FunkcnyTestA_Label25 {
  z-index: 11;
}

#AreaPageManualP4_FunkcnyTestA_Label25 {
  border-width: 2px;
}

#AreaPageManualP4_FunkcnyTestA_Label25 {
  border-radius: 5px;
}

#AreaPageManualP4_FunkcnyTestA_Label25 {
  background-color: silver;
}

#AreaPageManualP4_FunkcnyTestA_Label25 {
  border-color: black;
}

#AreaPageManualP4_FunkcnyTestA_Label25:before {
  border-color: black;
}

#AreaPageManualP4_FunkcnyTestA_Label25:after {
  border-color: black;
}

#AreaPageManualP4_FunkcnyTestA_Label25 {
  border-style: outset;
}

#AreaPageManualP4_FunkcnyTestA_Label25:before {
  border-style: outset;
}

#AreaPageManualP4_FunkcnyTestA_Label25:after {
  border-style: outset;
}

#AreaPageManualP4_FunkcnyTestA_Label25 span {
  color: black;
}

#AreaPageManualP4_FunkcnyTestA_Label25 {
  font-size: 14px;
}

#AreaPageManualP4_FunkcnyTestA_Label25 {
  font-weight: bold;
}

#AreaPageManualP4_FunkcnyTestA_Label26 {
  top: 317px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_Label26 {
  left: 10px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_Label26 {
  width: 195px;
}

#AreaPageManualP4_FunkcnyTestA_Label26 {
  height: 35px;
}

#AreaPageManualP4_FunkcnyTestA_Label26 {
  z-index: 12;
}

#AreaPageManualP4_FunkcnyTestA_Label26 {
  border-width: 2px;
}

#AreaPageManualP4_FunkcnyTestA_Label26 {
  border-radius: 5px;
}

#AreaPageManualP4_FunkcnyTestA_Label26 {
  background-color: silver;
}

#AreaPageManualP4_FunkcnyTestA_Label26 {
  border-color: black;
}

#AreaPageManualP4_FunkcnyTestA_Label26:before {
  border-color: black;
}

#AreaPageManualP4_FunkcnyTestA_Label26:after {
  border-color: black;
}

#AreaPageManualP4_FunkcnyTestA_Label26 {
  border-style: outset;
}

#AreaPageManualP4_FunkcnyTestA_Label26:before {
  border-style: outset;
}

#AreaPageManualP4_FunkcnyTestA_Label26:after {
  border-style: outset;
}

#AreaPageManualP4_FunkcnyTestA_Label26 span {
  color: black;
}

#AreaPageManualP4_FunkcnyTestA_Label26 {
  font-size: 14px;
}

#AreaPageManualP4_FunkcnyTestA_Label26 {
  font-weight: bold;
}

#AreaPageManualP4_FunkcnyTestA_GroupBox2 {
  top: 70px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_GroupBox2 {
  left: 12px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_GroupBox2 {
  width: 430px;
}

#AreaPageManualP4_FunkcnyTestA_GroupBox2 {
  height: 250px;
}

#AreaPageManualP4_FunkcnyTestA_GroupBox2 {
  z-index: 3;
}

#AreaPageManualP4_FunkcnyTestA_GroupBox2 {
  background-color: oldlace;
}

#AreaPageManualP4_FunkcnyTestA_GroupBox2 > .header span {
  color: black;
}

#AreaPageManualP4_FunkcnyTestA_GroupBox2 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_Button_ZostupCentrovania {
  top: 71px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_Button_ZostupCentrovania {
  left: 13px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_Button_ZostupCentrovania {
  width: 165px;
}

#AreaPageManualP4_FunkcnyTestA_Button_ZostupCentrovania {
  height: 45px;
}

#AreaPageManualP4_FunkcnyTestA_Button_ZostupCentrovania {
  z-index: 0;
}

#AreaPageManualP4_FunkcnyTestA_Button_ZostupCentrovania {
  border-radius: 10px;
}

#AreaPageManualP4_FunkcnyTestA_Button_ZostupCentrovania:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP4_FunkcnyTestA_Button_ZostupCentrovania {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP4_FunkcnyTestA_Button_ZostupCentrovania:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_Button_ZostupCentrovania.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_Button_ZostupCentrovania.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_ImageList7 {
  top: 81px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_ImageList7 {
  left: 143px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_ImageList7 {
  width: 25px;
}

#AreaPageManualP4_FunkcnyTestA_ImageList7 {
  height: 25px;
}

#AreaPageManualP4_FunkcnyTestA_ImageList7 {
  z-index: 1;
}

#AreaPageManualP4_FunkcnyTestA_ImageList7 {
  border-style: none;
}

#AreaPageManualP4_FunkcnyTestA_ImageList7 {
  border-width: 0px;
}

#AreaPageManualP4_FunkcnyTestA_Button_ZdvihCentrovania {
  top: 71px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_Button_ZdvihCentrovania {
  left: 249px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_Button_ZdvihCentrovania {
  width: 165px;
}

#AreaPageManualP4_FunkcnyTestA_Button_ZdvihCentrovania {
  height: 45px;
}

#AreaPageManualP4_FunkcnyTestA_Button_ZdvihCentrovania {
  z-index: 2;
}

#AreaPageManualP4_FunkcnyTestA_Button_ZdvihCentrovania {
  border-radius: 10px;
}

#AreaPageManualP4_FunkcnyTestA_Button_ZdvihCentrovania:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageManualP4_FunkcnyTestA_Button_ZdvihCentrovania {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageManualP4_FunkcnyTestA_Button_ZdvihCentrovania:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_Button_ZdvihCentrovania.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_Button_ZdvihCentrovania.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_ImageList9 {
  top: 81px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_ImageList9 {
  left: 379px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_ImageList9 {
  width: 25px;
}

#AreaPageManualP4_FunkcnyTestA_ImageList9 {
  height: 25px;
}

#AreaPageManualP4_FunkcnyTestA_ImageList9 {
  z-index: 3;
}

#AreaPageManualP4_FunkcnyTestA_ImageList9 {
  border-style: none;
}

#AreaPageManualP4_FunkcnyTestA_ImageList9 {
  border-width: 0px;
}

#AreaPageManualP4_FunkcnyTestA_GroupBox4 {
  top: 330px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_GroupBox4 {
  left: 12px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_GroupBox4 {
  width: 430px;
}

#AreaPageManualP4_FunkcnyTestA_GroupBox4 {
  height: 250px;
}

#AreaPageManualP4_FunkcnyTestA_GroupBox4 {
  z-index: 4;
}

#AreaPageManualP4_FunkcnyTestA_GroupBox4 {
  background-color: oldlace;
}

#AreaPageManualP4_FunkcnyTestA_GroupBox4 > .header span {
  color: black;
}

#AreaPageManualP4_FunkcnyTestA_GroupBox4 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_Stoper {
  top: 107px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_Stoper {
  left: 132px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_Stoper {
  width: 165px;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_Stoper {
  height: 45px;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_Stoper {
  z-index: 0;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_Stoper:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .before {
  color: black;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_Stoper:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .after {
  color: black;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_Stoper .breaseToggleSwitch_toggle .wrapper .before {
  font-size: 16px;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_Stoper .breaseToggleSwitch_toggle .wrapper .after {
  font-size: 16px;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_Stoper:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_Stoper.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_ToggleSwitch_Stoper.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageManualP4_FunkcnyTestA_ImageList19 {
  top: 18px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_ImageList19 {
  left: 177px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_ImageList19 {
  width: 25px;
}

#AreaPageManualP4_FunkcnyTestA_ImageList19 {
  height: 25px;
}

#AreaPageManualP4_FunkcnyTestA_ImageList19 {
  z-index: 2;
}

#AreaPageManualP4_FunkcnyTestA_ImageList19 {
  border-style: none;
}

#AreaPageManualP4_FunkcnyTestA_ImageList19 {
  border-width: 0px;
}

#AreaPageManualP4_FunkcnyTestA_Label16 {
  top: 13px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_Label16 {
  left: 13px;
  position: absolute;
}

#AreaPageManualP4_FunkcnyTestA_Label16 {
  width: 195px;
}

#AreaPageManualP4_FunkcnyTestA_Label16 {
  height: 35px;
}

#AreaPageManualP4_FunkcnyTestA_Label16 {
  z-index: 1;
}

#AreaPageManualP4_FunkcnyTestA_Label16 {
  border-width: 2px;
}

#AreaPageManualP4_FunkcnyTestA_Label16 {
  border-radius: 5px;
}

#AreaPageManualP4_FunkcnyTestA_Label16 {
  background-color: silver;
}

#AreaPageManualP4_FunkcnyTestA_Label16 {
  border-color: black;
}

#AreaPageManualP4_FunkcnyTestA_Label16:before {
  border-color: black;
}

#AreaPageManualP4_FunkcnyTestA_Label16:after {
  border-color: black;
}

#AreaPageManualP4_FunkcnyTestA_Label16 {
  border-style: outset;
}

#AreaPageManualP4_FunkcnyTestA_Label16:before {
  border-style: outset;
}

#AreaPageManualP4_FunkcnyTestA_Label16:after {
  border-style: outset;
}

#AreaPageManualP4_FunkcnyTestA_Label16 span {
  color: black;
}

#AreaPageManualP4_FunkcnyTestA_Label16 {
  font-size: 14px;
}

#AreaPageManualP4_FunkcnyTestA_Label16 {
  font-weight: bold;
}
