#AreaPageAutomatP1_Image1 {
  top: 0px;
  position: absolute;
}

#AreaPageAutomatP1_Image1 {
  left: 0px;
  position: absolute;
}

#AreaPageAutomatP1_Image1 {
  width: 1366px;
}

#AreaPageAutomatP1_Image1 {
  height: 588px;
}

#AreaPageAutomatP1_Image1 {
  z-index: 0;
}

#AreaPageAutomatP1_Image1 {
  opacity: 0.2;
}

#AreaPageAutomatP1_Label1 {
  top: 20px;
  position: absolute;
}

#AreaPageAutomatP1_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageAutomatP1_Label1 {
  width: 400px;
}

#AreaPageAutomatP1_Label1 {
  height: 35px;
}

#AreaPageAutomatP1_Label1 {
  z-index: 1;
}

#AreaPageAutomatP1_Label1 {
  border-width: 5px;
}

#AreaPageAutomatP1_Label1 {
  border-radius: 5px;
}

#AreaPageAutomatP1_Label1 {
  border-color: #999999;
}

#AreaPageAutomatP1_Label1:before {
  border-color: #999999;
}

#AreaPageAutomatP1_Label1:after {
  border-color: #999999;
}

#AreaPageAutomatP1_Label1 {
  border-style: ridge;
}

#AreaPageAutomatP1_Label1:before {
  border-style: ridge;
}

#AreaPageAutomatP1_Label1:after {
  border-style: ridge;
}

#AreaPageAutomatP1_Label1 span {
  color: black;
}

#AreaPageAutomatP1_Label1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageAutomatP1_Label1 {
  font-size: 20px;
}

#AreaPageAutomatP1_Label1 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_ImageList5 {
  top: 400px;
  position: absolute;
}

#AreaPageAutomatP1_ImageList5 {
  left: 490px;
  position: absolute;
}

#AreaPageAutomatP1_ImageList5 {
  width: 28px;
}

#AreaPageAutomatP1_ImageList5 {
  height: 28px;
}

#AreaPageAutomatP1_ImageList5 {
  z-index: 11;
}

#AreaPageAutomatP1_ImageList5 {
  border-style: none;
}

#AreaPageAutomatP1_ImageList5 {
  border-width: 0px;
}

#AreaPageAutomatP1_grpFileExplorerStatus {
  top: 14px;
  position: absolute;
}

#AreaPageAutomatP1_grpFileExplorerStatus {
  left: 1082px;
  position: absolute;
}

#AreaPageAutomatP1_grpFileExplorerStatus {
  width: 272px;
}

#AreaPageAutomatP1_grpFileExplorerStatus {
  height: 47px;
}

#AreaPageAutomatP1_grpFileExplorerStatus {
  z-index: 2;
}

#AreaPageAutomatP1_grpFileExplorerStatus {
  border-radius: 8px 8px 8px 8px;
}

#AreaPageAutomatP1_grpFileExplorerStatus {
  background-color: oldlace;
}

#AreaPageAutomatP1_grpFileExplorerStatus {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_labRecError {
  top: 3px;
  position: absolute;
}

#AreaPageAutomatP1_labRecError {
  left: 9px;
  position: absolute;
}

#AreaPageAutomatP1_labRecError {
  width: 142px;
}

#AreaPageAutomatP1_labRecError {
  height: 40px;
}

#AreaPageAutomatP1_labRecError {
  z-index: 0;
}

#AreaPageAutomatP1_labRecError span {
  color: black;
}

#AreaPageAutomatP1_labRecError {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageAutomatP1_labRecError {
  font-size: 18px;
}

#AreaPageAutomatP1_labRecError {
  font-weight: bold;
}

#AreaPageAutomatP1_labRecStatus {
  top: 41px;
  position: absolute;
}

#AreaPageAutomatP1_labRecStatus {
  left: 11px;
  position: absolute;
}

#AreaPageAutomatP1_labRecStatus {
  width: 111px;
}

#AreaPageAutomatP1_labRecStatus {
  height: 40px;
}

#AreaPageAutomatP1_labRecStatus {
  z-index: 1;
}

#AreaPageAutomatP1_labRecStatus {
  justify-content: flex-start;
  text-align: left;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageAutomatP1_labRecStatus {
  font-size: 15px;
}

#AreaPageAutomatP1_labRecStatus {
  font-weight: bold;
}

#AreaPageAutomatP1_TextOutput_NazovModelu {
  top: 5px;
  position: absolute;
}

#AreaPageAutomatP1_TextOutput_NazovModelu {
  left: 171px;
  position: absolute;
}

#AreaPageAutomatP1_TextOutput_NazovModelu {
  width: 88px;
}

#AreaPageAutomatP1_TextOutput_NazovModelu {
  height: 35px;
}

#AreaPageAutomatP1_TextOutput_NazovModelu {
  z-index: 2;
}

#AreaPageAutomatP1_TextOutput_NazovModelu {
  border-width: 3px;
}

#AreaPageAutomatP1_TextOutput_NazovModelu {
  border-radius: 3px;
}

#AreaPageAutomatP1_TextOutput_NazovModelu {
  background-color: #ff8500;
}

#AreaPageAutomatP1_TextOutput_NazovModelu {
  border-color: #999999;
}

#AreaPageAutomatP1_TextOutput_NazovModelu:before {
  border-color: #999999;
}

#AreaPageAutomatP1_TextOutput_NazovModelu:after {
  border-color: #999999;
}

#AreaPageAutomatP1_TextOutput_NazovModelu {
  border-style: ridge;
}

#AreaPageAutomatP1_TextOutput_NazovModelu:before {
  border-style: ridge;
}

#AreaPageAutomatP1_TextOutput_NazovModelu:after {
  border-style: ridge;
}

#AreaPageAutomatP1_TextOutput_NazovModelu span {
  color: black;
}

#AreaPageAutomatP1_TextOutput_NazovModelu {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageAutomatP1_TextOutput_NazovModelu {
  font-size: 20px;
}

#AreaPageAutomatP1_TextOutput_NazovModelu {
  font-weight: bold;
}

#AreaPageAutomatP1_TextOutput_NazovModelu span {
  padding: 0px 5px 0px 5px;
}

#AreaPageAutomatP1_ImageList6 {
  top: 400px;
  position: absolute;
}

#AreaPageAutomatP1_ImageList6 {
  left: 590px;
  position: absolute;
}

#AreaPageAutomatP1_ImageList6 {
  width: 28px;
}

#AreaPageAutomatP1_ImageList6 {
  height: 28px;
}

#AreaPageAutomatP1_ImageList6 {
  z-index: 10;
}

#AreaPageAutomatP1_ImageList6 {
  border-style: none;
}

#AreaPageAutomatP1_ImageList6 {
  border-width: 0px;
}

#AreaPageAutomatP1_ImageList7 {
  top: 450px;
  position: absolute;
}

#AreaPageAutomatP1_ImageList7 {
  left: 638px;
  position: absolute;
}

#AreaPageAutomatP1_ImageList7 {
  width: 28px;
}

#AreaPageAutomatP1_ImageList7 {
  height: 28px;
}

#AreaPageAutomatP1_ImageList7 {
  z-index: 9;
}

#AreaPageAutomatP1_ImageList7 {
  border-style: none;
}

#AreaPageAutomatP1_ImageList7 {
  border-width: 0px;
}

#AreaPageAutomatP1_ImageList8 {
  top: 400px;
  position: absolute;
}

#AreaPageAutomatP1_ImageList8 {
  left: 680px;
  position: absolute;
}

#AreaPageAutomatP1_ImageList8 {
  width: 28px;
}

#AreaPageAutomatP1_ImageList8 {
  height: 28px;
}

#AreaPageAutomatP1_ImageList8 {
  z-index: 8;
}

#AreaPageAutomatP1_ImageList8 {
  border-style: none;
}

#AreaPageAutomatP1_ImageList8 {
  border-width: 0px;
}

#AreaPageAutomatP1_ImageList9 {
  top: 290px;
  position: absolute;
}

#AreaPageAutomatP1_ImageList9 {
  left: 680px;
  position: absolute;
}

#AreaPageAutomatP1_ImageList9 {
  width: 28px;
}

#AreaPageAutomatP1_ImageList9 {
  height: 28px;
}

#AreaPageAutomatP1_ImageList9 {
  z-index: 7;
}

#AreaPageAutomatP1_ImageList9 {
  border-style: none;
}

#AreaPageAutomatP1_ImageList9 {
  border-width: 0px;
}

#AreaPageAutomatP1_ImageList10 {
  top: 400px;
  position: absolute;
}

#AreaPageAutomatP1_ImageList10 {
  left: 904px;
  position: absolute;
}

#AreaPageAutomatP1_ImageList10 {
  width: 28px;
}

#AreaPageAutomatP1_ImageList10 {
  height: 28px;
}

#AreaPageAutomatP1_ImageList10 {
  z-index: 6;
}

#AreaPageAutomatP1_ImageList10 {
  border-style: none;
}

#AreaPageAutomatP1_ImageList10 {
  border-width: 0px;
}

#AreaPageAutomatP1_ImageList11 {
  top: 236px;
  position: absolute;
}

#AreaPageAutomatP1_ImageList11 {
  left: 774px;
  position: absolute;
}

#AreaPageAutomatP1_ImageList11 {
  width: 28px;
}

#AreaPageAutomatP1_ImageList11 {
  height: 28px;
}

#AreaPageAutomatP1_ImageList11 {
  z-index: 5;
}

#AreaPageAutomatP1_ImageList11 {
  border-style: none;
}

#AreaPageAutomatP1_ImageList11 {
  border-width: 0px;
}

#AreaPageAutomatP1_GroupBox6 {
  top: 78px;
  position: absolute;
}

#AreaPageAutomatP1_GroupBox6 {
  left: 16px;
  position: absolute;
}

#AreaPageAutomatP1_GroupBox6 {
  width: 230px;
}

#AreaPageAutomatP1_GroupBox6 {
  height: 492px;
}

#AreaPageAutomatP1_GroupBox6 {
  z-index: 4;
}

#AreaPageAutomatP1_GroupBox6 {
  border-radius: 6px 6px 6px 6px;
}

#AreaPageAutomatP1_GroupBox6 {
  background-color: oldlace;
}

#AreaPageAutomatP1_GroupBox6 > .header span {
  color: black;
}

#AreaPageAutomatP1_GroupBox6 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_Button_START {
  top: 9px;
  position: absolute;
}

#AreaPageAutomatP1_Button_START {
  left: 9px;
  position: absolute;
}

#AreaPageAutomatP1_Button_START {
  width: 210px;
}

#AreaPageAutomatP1_Button_START {
  height: 60px;
}

#AreaPageAutomatP1_Button_START {
  z-index: 0;
}

#AreaPageAutomatP1_Button_START {
  border-radius: 10px;
}

#AreaPageAutomatP1_Button_START:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom, rgba(192, 255, 192, 1) 20%,rgba(0,255,0,1) 100%);
}

#AreaPageAutomatP1_Button_START:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageAutomatP1_Button_START span {
  font-size: 25px;
}

#AreaPageAutomatP1_Button_START:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_Button_START.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_Button_START.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_Button_STOP {
  top: 87px;
  position: absolute;
}

#AreaPageAutomatP1_Button_STOP {
  left: 9px;
  position: absolute;
}

#AreaPageAutomatP1_Button_STOP {
  width: 210px;
}

#AreaPageAutomatP1_Button_STOP {
  height: 60px;
}

#AreaPageAutomatP1_Button_STOP {
  z-index: 1;
}

#AreaPageAutomatP1_Button_STOP {
  border-radius: 10px;
}

#AreaPageAutomatP1_Button_STOP:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom, rgba(255, 192, 192, 1) 20%,rgba(255,0,0,1) 100%);
}

#AreaPageAutomatP1_Button_STOP:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageAutomatP1_Button_STOP span {
  font-size: 25px;
}

#AreaPageAutomatP1_Button_STOP:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_Button_STOP.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_Button_STOP.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_Button_KoniecCyklu {
  top: 165px;
  position: absolute;
}

#AreaPageAutomatP1_Button_KoniecCyklu {
  left: 9px;
  position: absolute;
}

#AreaPageAutomatP1_Button_KoniecCyklu {
  width: 210px;
}

#AreaPageAutomatP1_Button_KoniecCyklu {
  height: 60px;
}

#AreaPageAutomatP1_Button_KoniecCyklu {
  z-index: 2;
}

#AreaPageAutomatP1_Button_KoniecCyklu {
  border-radius: 10px;
}

#AreaPageAutomatP1_Button_KoniecCyklu:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom, rgba(192, 255, 255, 1) 20%,rgba(0,255,255,1) 100%);
}

#AreaPageAutomatP1_Button_KoniecCyklu:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageAutomatP1_Button_KoniecCyklu span {
  font-size: 22px;
}

#AreaPageAutomatP1_Button_KoniecCyklu span {
  font-weight: bold;
}

#AreaPageAutomatP1_Button_KoniecCyklu:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_Button_KoniecCyklu.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_Button_KoniecCyklu.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_Image2 {
  top: 74px;
  position: absolute;
}

#AreaPageAutomatP1_Image2 {
  left: 12px;
  position: absolute;
}

#AreaPageAutomatP1_Image2 {
  width: 1342px;
}

#AreaPageAutomatP1_Image2 {
  height: 502px;
}

#AreaPageAutomatP1_Image2 {
  z-index: 3;
}

#AreaPageAutomatP1_Image2 {
  border-style: solid;
}

#AreaPageAutomatP1_GroupBox7 {
  top: 108px;
  position: absolute;
}

#AreaPageAutomatP1_GroupBox7 {
  left: 460px;
  position: absolute;
}

#AreaPageAutomatP1_GroupBox7 {
  width: 88px;
}

#AreaPageAutomatP1_GroupBox7 {
  height: 68px;
}

#AreaPageAutomatP1_GroupBox7 {
  z-index: 12;
}

#AreaPageAutomatP1_GroupBox7 {
  border-width: 3px;
}

#AreaPageAutomatP1_GroupBox7 > .header {
  border-width: 3px;
}

#AreaPageAutomatP1_GroupBox7 {
  border-radius: 3px 3px 3px 3px;
}

#AreaPageAutomatP1_GroupBox7 {
  background-color: silver;
}

#AreaPageAutomatP1_GroupBox7 {
  border-style: ridge;
}

#AreaPageAutomatP1_GroupBox7 > .header {
  border-bottom-style: ridge;
}

#AreaPageAutomatP1_GroupBox7 > .header span {
  color: black;
}

#AreaPageAutomatP1_GroupBox7 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_NumericOutput_ST1_TaktimeMIN {
  top: 1px;
  position: absolute;
}

#AreaPageAutomatP1_NumericOutput_ST1_TaktimeMIN {
  left: 1px;
  position: absolute;
}

#AreaPageAutomatP1_NumericOutput_ST1_TaktimeMIN {
  width: 80px;
}

#AreaPageAutomatP1_NumericOutput_ST1_TaktimeMIN {
  height: 20px;
}

#AreaPageAutomatP1_NumericOutput_ST1_TaktimeMIN {
  z-index: 2;
}

#AreaPageAutomatP1_NumericOutput_ST1_TaktimeMIN input {
  color: black;
}

#AreaPageAutomatP1_NumericOutput_ST1_TaktimeMIN span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP1_NumericOutput_ST1_TaktimeMIN input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP1_NumericOutput_ST1_TaktimeMIN input {
  font-size: 12px;
}

#AreaPageAutomatP1_NumericOutput_ST1_TaktimeSEC {
  top: 21px;
  position: absolute;
}

#AreaPageAutomatP1_NumericOutput_ST1_TaktimeSEC {
  left: 1px;
  position: absolute;
}

#AreaPageAutomatP1_NumericOutput_ST1_TaktimeSEC {
  width: 80px;
}

#AreaPageAutomatP1_NumericOutput_ST1_TaktimeSEC {
  height: 20px;
}

#AreaPageAutomatP1_NumericOutput_ST1_TaktimeSEC {
  z-index: 1;
}

#AreaPageAutomatP1_NumericOutput_ST1_TaktimeSEC input {
  color: black;
}

#AreaPageAutomatP1_NumericOutput_ST1_TaktimeSEC span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP1_NumericOutput_ST1_TaktimeSEC input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP1_NumericOutput_ST1_TaktimeSEC input {
  font-size: 12px;
}

#AreaPageAutomatP1_NumericOutput_ST1_TaktimeMILISEC {
  top: 41px;
  position: absolute;
}

#AreaPageAutomatP1_NumericOutput_ST1_TaktimeMILISEC {
  left: 1px;
  position: absolute;
}

#AreaPageAutomatP1_NumericOutput_ST1_TaktimeMILISEC {
  width: 80px;
}

#AreaPageAutomatP1_NumericOutput_ST1_TaktimeMILISEC {
  height: 20px;
}

#AreaPageAutomatP1_NumericOutput_ST1_TaktimeMILISEC {
  z-index: 0;
}

#AreaPageAutomatP1_NumericOutput_ST1_TaktimeMILISEC input {
  color: black;
}

#AreaPageAutomatP1_NumericOutput_ST1_TaktimeMILISEC span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP1_NumericOutput_ST1_TaktimeMILISEC input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP1_NumericOutput_ST1_TaktimeMILISEC input {
  font-size: 12px;
}

#AreaPageAutomatP1_GroupBox8 {
  top: 108px;
  position: absolute;
}

#AreaPageAutomatP1_GroupBox8 {
  left: 598px;
  position: absolute;
}

#AreaPageAutomatP1_GroupBox8 {
  width: 88px;
}

#AreaPageAutomatP1_GroupBox8 {
  height: 68px;
}

#AreaPageAutomatP1_GroupBox8 {
  z-index: 13;
}

#AreaPageAutomatP1_GroupBox8 {
  border-width: 3px;
}

#AreaPageAutomatP1_GroupBox8 > .header {
  border-width: 3px;
}

#AreaPageAutomatP1_GroupBox8 {
  border-radius: 3px 3px 3px 3px;
}

#AreaPageAutomatP1_GroupBox8 {
  background-color: silver;
}

#AreaPageAutomatP1_GroupBox8 {
  border-style: ridge;
}

#AreaPageAutomatP1_GroupBox8 > .header {
  border-bottom-style: ridge;
}

#AreaPageAutomatP1_GroupBox8 > .header span {
  color: black;
}

#AreaPageAutomatP1_GroupBox8 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_NumericOutput_ST2_TaktimeMIN {
  top: 1px;
  position: absolute;
}

#AreaPageAutomatP1_NumericOutput_ST2_TaktimeMIN {
  left: 1px;
  position: absolute;
}

#AreaPageAutomatP1_NumericOutput_ST2_TaktimeMIN {
  width: 80px;
}

#AreaPageAutomatP1_NumericOutput_ST2_TaktimeMIN {
  height: 20px;
}

#AreaPageAutomatP1_NumericOutput_ST2_TaktimeMIN {
  z-index: 0;
}

#AreaPageAutomatP1_NumericOutput_ST2_TaktimeMIN input {
  color: black;
}

#AreaPageAutomatP1_NumericOutput_ST2_TaktimeMIN span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP1_NumericOutput_ST2_TaktimeMIN input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP1_NumericOutput_ST2_TaktimeMIN input {
  font-size: 12px;
}

#AreaPageAutomatP1_NumericOutput_ST2_TaktimeSEC {
  top: 21px;
  position: absolute;
}

#AreaPageAutomatP1_NumericOutput_ST2_TaktimeSEC {
  left: 1px;
  position: absolute;
}

#AreaPageAutomatP1_NumericOutput_ST2_TaktimeSEC {
  width: 80px;
}

#AreaPageAutomatP1_NumericOutput_ST2_TaktimeSEC {
  height: 20px;
}

#AreaPageAutomatP1_NumericOutput_ST2_TaktimeSEC {
  z-index: 1;
}

#AreaPageAutomatP1_NumericOutput_ST2_TaktimeSEC input {
  color: black;
}

#AreaPageAutomatP1_NumericOutput_ST2_TaktimeSEC span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP1_NumericOutput_ST2_TaktimeSEC input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP1_NumericOutput_ST2_TaktimeSEC input {
  font-size: 12px;
}

#AreaPageAutomatP1_NumericOutput_ST2_TaktimeMILISEC {
  top: 41px;
  position: absolute;
}

#AreaPageAutomatP1_NumericOutput_ST2_TaktimeMILISEC {
  left: 1px;
  position: absolute;
}

#AreaPageAutomatP1_NumericOutput_ST2_TaktimeMILISEC {
  width: 80px;
}

#AreaPageAutomatP1_NumericOutput_ST2_TaktimeMILISEC {
  height: 20px;
}

#AreaPageAutomatP1_NumericOutput_ST2_TaktimeMILISEC {
  z-index: 2;
}

#AreaPageAutomatP1_NumericOutput_ST2_TaktimeMILISEC input {
  color: black;
}

#AreaPageAutomatP1_NumericOutput_ST2_TaktimeMILISEC span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP1_NumericOutput_ST2_TaktimeMILISEC input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP1_NumericOutput_ST2_TaktimeMILISEC input {
  font-size: 12px;
}

#AreaPageAutomatP1_GroupBox11 {
  top: 78px;
  position: absolute;
}

#AreaPageAutomatP1_GroupBox11 {
  left: 1118px;
  position: absolute;
}

#AreaPageAutomatP1_GroupBox11 {
  width: 230px;
}

#AreaPageAutomatP1_GroupBox11 {
  height: 492px;
}

#AreaPageAutomatP1_GroupBox11 {
  z-index: 14;
}

#AreaPageAutomatP1_GroupBox11 {
  border-radius: 6px 6px 6px 6px;
}

#AreaPageAutomatP1_GroupBox11 {
  background-color: oldlace;
}

#AreaPageAutomatP1_GroupBox11 > .header span {
  color: black;
}

#AreaPageAutomatP1_GroupBox11 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_DropDownBox1 {
  top: 9px;
  position: absolute;
}

#AreaPageAutomatP1_DropDownBox1 {
  left: 9px;
  position: absolute;
}

#AreaPageAutomatP1_DropDownBox1.DropDownBoxView {
  width: 210px;
}

#AreaPageAutomatP1_DropDownBox1.DropDownBoxView {
  height: 60px;
}

#AreaPageAutomatP1_DropDownBox1 {
  z-index: 0;
}

#AreaPageAutomatP1_DropDownBox1.DropDownBoxView {
  border-radius: 10px;
}

#AreaPageAutomatP1_DropDownBox1 > .ItemView {
  border-radius: 10px;
}

#AreaPageAutomatP1_DropDownBox1_listBoxWrapper > .ListView.Container {
  border-radius: 10px;
}

#AreaPageAutomatP1_DropDownBox1.DropDownBoxView {
  box-shadow: 4px 4px 8px black;
}

#AreaPageAutomatP1_DropDownBox1 > .ItemView {
  border-style: solid;
}

#AreaPageAutomatP1_DropDownBox1 > .ItemView:not(.itemSelected):not(.itemDisabled) > .TextView:not(.textSelected) {
  color: black;
}

#AreaPageAutomatP1_DropDownBox1 .TextView {
  justify-content: center;
  text-align: center;
}

#AreaPageAutomatP1_DropDownBox1_listBoxWrapper .TextView {
  justify-content: center;
  text-align: center;
}

#AreaPageAutomatP1_DropDownBox1 .TextView {
  font-size: 25px;
}

#AreaPageAutomatP1_DropDownBox1_listBoxWrapper .TextView {
  font-size: 25px;
}

#AreaPageAutomatP1_Button_PaletkaPrechadza {
  top: 381px;
  position: absolute;
}

#AreaPageAutomatP1_Button_PaletkaPrechadza {
  left: 9px;
  position: absolute;
}

#AreaPageAutomatP1_Button_PaletkaPrechadza {
  width: 210px;
}

#AreaPageAutomatP1_Button_PaletkaPrechadza {
  height: 60px;
}

#AreaPageAutomatP1_Button_PaletkaPrechadza {
  z-index: 1;
}

#AreaPageAutomatP1_Button_PaletkaPrechadza {
  border-radius: 10px;
}

#AreaPageAutomatP1_Button_PaletkaPrechadza:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom, rgba(255, 192, 255, 1) 20%,rgba(192,0,192,1) 100%);
}

#AreaPageAutomatP1_Button_PaletkaPrechadza:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageAutomatP1_Button_PaletkaPrechadza.active:not(.disabled):not(.editMode) {
  background-color: darkgray;
}

#AreaPageAutomatP1_Button_PaletkaPrechadza.checked:not(.disabled) {
  background-color: darkgray;
}

#AreaPageAutomatP1_Button_PaletkaPrechadza.active:not(.disabled):not(.editMode) span {
  color: #ff8000;
}

#AreaPageAutomatP1_Button_PaletkaPrechadza.checked:not(.disabled) span {
  color: #ff8000;
}

#AreaPageAutomatP1_Button_PaletkaPrechadza span {
  font-size: 21px;
}

#AreaPageAutomatP1_Button_PaletkaPrechadza span {
  font-weight: bold;
}

#AreaPageAutomatP1_Button_PaletkaPrechadza:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_Button_PaletkaPrechadza.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_Button_PaletkaPrechadza.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_ToggleButton_TestovaciKus {
  top: 87px;
  position: absolute;
}

#AreaPageAutomatP1_ToggleButton_TestovaciKus {
  left: 9px;
  position: absolute;
}

#AreaPageAutomatP1_ToggleButton_TestovaciKus {
  width: 210px;
}

#AreaPageAutomatP1_ToggleButton_TestovaciKus {
  height: 60px;
}

#AreaPageAutomatP1_ToggleButton_TestovaciKus {
  z-index: 2;
}

#AreaPageAutomatP1_ToggleButton_TestovaciKus {
  border-radius: 10px;
}

#AreaPageAutomatP1_ToggleButton_TestovaciKus:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom, rgba(0, 255, 127, 1) 20%,rgba(64,224,208,1) 100%);
}

#AreaPageAutomatP1_ToggleButton_TestovaciKus:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageAutomatP1_ToggleButton_TestovaciKus span {
  font-size: 22px;
}

#AreaPageAutomatP1_ToggleButton_TestovaciKus:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_ToggleButton_TestovaciKus.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_ToggleButton_TestovaciKus.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_ToggleButton_TestovaciKus.checked:not(.active):not(.disabled) {
  background-color: darkgray;
}

#AreaPageAutomatP1_ToggleButton_TestovaciKus.checked:not(.disabled):not(.active) span {
  color: #ff8000;
}

#AreaPageAutomatP1_ToggleButton_Revork {
  top: 197px;
  position: absolute;
}

#AreaPageAutomatP1_ToggleButton_Revork {
  left: 9px;
  position: absolute;
}

#AreaPageAutomatP1_ToggleButton_Revork {
  width: 210px;
}

#AreaPageAutomatP1_ToggleButton_Revork {
  height: 60px;
}

#AreaPageAutomatP1_ToggleButton_Revork {
  z-index: 3;
}

#AreaPageAutomatP1_ToggleButton_Revork {
  border-radius: 10px;
}

#AreaPageAutomatP1_ToggleButton_Revork:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom, rgba(192, 192, 255, 1) 20%,rgba(128,128,255,1) 100%);
}

#AreaPageAutomatP1_ToggleButton_Revork:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageAutomatP1_ToggleButton_Revork span {
  font-size: 22px;
}

#AreaPageAutomatP1_ToggleButton_Revork:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_ToggleButton_Revork.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_ToggleButton_Revork.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_ToggleButton_Revork.checked:not(.active):not(.disabled) {
  background-color: darkgray;
}

#AreaPageAutomatP1_ToggleButton_Revork.checked:not(.disabled):not(.active) span {
  color: #ff8000;
}

#AreaPageAutomatP1_ToggleButton_VyprazdnenieLinky {
  top: 416px;
  position: absolute;
}

#AreaPageAutomatP1_ToggleButton_VyprazdnenieLinky {
  left: 1128px;
  position: absolute;
}

#AreaPageAutomatP1_ToggleButton_VyprazdnenieLinky {
  width: 210px;
}

#AreaPageAutomatP1_ToggleButton_VyprazdnenieLinky {
  height: 60px;
}

#AreaPageAutomatP1_ToggleButton_VyprazdnenieLinky {
  z-index: 15;
}

#AreaPageAutomatP1_ToggleButton_VyprazdnenieLinky {
  border-radius: 10px;
}

#AreaPageAutomatP1_ToggleButton_VyprazdnenieLinky:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom, rgba(255, 228, 196, 1) 20%,rgba(255,165,0,1) 100%);
}

#AreaPageAutomatP1_ToggleButton_VyprazdnenieLinky:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageAutomatP1_ToggleButton_VyprazdnenieLinky span {
  font-size: 22px;
}

#AreaPageAutomatP1_ToggleButton_VyprazdnenieLinky:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_ToggleButton_VyprazdnenieLinky.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_ToggleButton_VyprazdnenieLinky.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_ToggleButton_VyprazdnenieLinky.checked:not(.active):not(.disabled) {
  background-color: darkgray;
}

#AreaPageAutomatP1_ToggleButton_VyprazdnenieLinky.checked:not(.disabled):not(.active) span {
  color: #ff8000;
}

#AreaPageAutomatP1_ToggleButton_Prihlasenie {
  top: 14px;
  position: absolute;
}

#AreaPageAutomatP1_ToggleButton_Prihlasenie {
  left: 900px;
  position: absolute;
}

#AreaPageAutomatP1_ToggleButton_Prihlasenie {
  width: 160px;
}

#AreaPageAutomatP1_ToggleButton_Prihlasenie {
  height: 47px;
}

#AreaPageAutomatP1_ToggleButton_Prihlasenie {
  z-index: 16;
}

#AreaPageAutomatP1_ToggleButton_Prihlasenie {
  border-radius: 10px;
}

#AreaPageAutomatP1_ToggleButton_Prihlasenie:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageAutomatP1_ToggleButton_Prihlasenie span {
  font-size: 18px;
}

#AreaPageAutomatP1_ToggleButton_Prihlasenie:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_ToggleButton_Prihlasenie.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_ToggleButton_Prihlasenie.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP1_ToggleButton_Prihlasenie.checked:not(.active):not(.disabled) {
  background-color: darkgray;
}

#AreaPageAutomatP1_ToggleButton_Prihlasenie.checked:not(.disabled):not(.active) span {
  color: #ff8000;
}
