#AreaPageTolerancieSkrutkovaniaP3_Image1 {
  top: 0px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Image1 {
  left: 0px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Image1 {
  width: 1366px;
}

#AreaPageTolerancieSkrutkovaniaP3_Image1 {
  height: 588px;
}

#AreaPageTolerancieSkrutkovaniaP3_Image1 {
  z-index: 0;
}

#AreaPageTolerancieSkrutkovaniaP3_Image1 {
  opacity: 0.2;
}

#AreaPageTolerancieSkrutkovaniaP3_Label1 {
  top: 20px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label1 {
  width: 400px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label1 {
  height: 35px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label1 {
  z-index: 1;
}

#AreaPageTolerancieSkrutkovaniaP3_Label1 {
  border-width: 5px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label1 {
  border-radius: 5px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label1 {
  border-color: #999999;
}

#AreaPageTolerancieSkrutkovaniaP3_Label1:before {
  border-color: #999999;
}

#AreaPageTolerancieSkrutkovaniaP3_Label1:after {
  border-color: #999999;
}

#AreaPageTolerancieSkrutkovaniaP3_Label1 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_Label1:before {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_Label1:after {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_Label1 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP3_Label1 {
  font-size: 20px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label1 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox1 {
  top: 74px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox1 {
  left: 8px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox1 {
  width: 440px;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox1 {
  height: 500px;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox1 {
  z-index: 2;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox1 {
  background-color: oldlace;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox1 > .header span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox1 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 {
  top: 11px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 {
  left: 7px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 {
  width: 424px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 {
  height: 75px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 {
  z-index: 0;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 {
  border-width: 2px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 {
  border-radius: 2px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 {
  background-color: lightgray;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 {
  border-color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8:before {
  border-color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8:after {
  border-color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 {
  border-style: solid;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8:before {
  border-style: solid;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8:after {
  border-style: solid;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 {
  font-size: 16px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_Label8 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label2 {
  width: 80px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label2 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label2 {
  top: 19px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label2 {
  left: 133px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label2 {
  z-index: 1;
}

#AreaPageTolerancieSkrutkovaniaP3_Label2 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label2 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP3_Label2 {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label2 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
  top: 51px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
  left: 330px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
  width: 95px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
  z-index: 2;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2.disabled {
  background-color: silver;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2:not(.disabled):not(.active) {
  border-color: #999999;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2.disabled {
  border-color: #ff8800;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2.active:not(.disabled) {
  background-color: white;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2.active:not(.disabled) input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2.disabled {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2.disabled input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 input {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 .breaseNumericInput_unit {
  font-size: 10px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_2 {
  box-shadow: none;
}

#AreaPageTolerancieSkrutkovaniaP3_Label3 {
  width: 80px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label3 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label3 {
  top: 19px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label3 {
  left: 338px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label3 {
  z-index: 3;
}

#AreaPageTolerancieSkrutkovaniaP3_Label3 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label3 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP3_Label3 {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label3 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
  top: 51px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
  left: 228px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
  width: 95px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
  z-index: 4;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3.disabled {
  background-color: silver;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3:not(.disabled):not(.active) {
  border-color: #999999;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3.disabled {
  border-color: #ff8800;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3.active:not(.disabled) {
  background-color: white;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3.active:not(.disabled) input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3.disabled {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3.disabled input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 input {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 .breaseNumericInput_unit {
  font-size: 10px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_3 {
  box-shadow: none;
}

#AreaPageTolerancieSkrutkovaniaP3_Label4 {
  width: 80px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label4 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label4 {
  top: 19px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label4 {
  left: 236px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label4 {
  z-index: 5;
}

#AreaPageTolerancieSkrutkovaniaP3_Label4 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label4 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP3_Label4 {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label4 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 {
  top: 101px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 {
  left: 7px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 {
  width: 424px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 {
  height: 75px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 {
  z-index: 6;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 {
  border-width: 2px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 {
  border-radius: 2px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 {
  background-color: lightgray;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 {
  border-color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10:before {
  border-color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10:after {
  border-color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 {
  border-style: solid;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10:before {
  border-style: solid;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10:after {
  border-style: solid;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 {
  font-size: 16px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_Label10 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label11 {
  width: 80px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label11 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label11 {
  top: 109px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label11 {
  left: 133px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label11 {
  z-index: 7;
}

#AreaPageTolerancieSkrutkovaniaP3_Label11 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label11 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP3_Label11 {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label11 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
  top: 141px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
  left: 330px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
  width: 95px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
  z-index: 8;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5.disabled {
  background-color: silver;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5:not(.disabled):not(.active) {
  border-color: #999999;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5.disabled {
  border-color: #ff8800;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5.active:not(.disabled) {
  background-color: white;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5.active:not(.disabled) input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5.disabled {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5.disabled input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 input {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 .breaseNumericInput_unit {
  font-size: 10px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_5 {
  box-shadow: none;
}

#AreaPageTolerancieSkrutkovaniaP3_Label12 {
  width: 80px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label12 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label12 {
  top: 109px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label12 {
  left: 338px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label12 {
  z-index: 9;
}

#AreaPageTolerancieSkrutkovaniaP3_Label12 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label12 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP3_Label12 {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label12 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
  top: 141px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
  left: 228px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
  width: 95px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
  z-index: 10;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6.disabled {
  background-color: silver;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6:not(.disabled):not(.active) {
  border-color: #999999;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6.disabled {
  border-color: #ff8800;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6.active:not(.disabled) {
  background-color: white;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6.active:not(.disabled) input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6.disabled {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6.disabled input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 input {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 .breaseNumericInput_unit {
  font-size: 10px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_6 {
  box-shadow: none;
}

#AreaPageTolerancieSkrutkovaniaP3_Label13 {
  width: 80px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label13 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label13 {
  top: 109px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label13 {
  left: 236px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label13 {
  z-index: 11;
}

#AreaPageTolerancieSkrutkovaniaP3_Label13 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label13 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP3_Label13 {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label13 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 {
  top: 51px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 {
  left: 126px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 {
  width: 95px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 {
  z-index: 12;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 {
  border-width: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 {
  background-color: silver;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 {
  border-color: #999999;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 input {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput9 .breaseNumericOutput_unit {
  font-size: 10px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 {
  top: 141px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 {
  left: 126px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 {
  width: 95px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 {
  z-index: 13;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 {
  border-width: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 {
  background-color: silver;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 {
  border-color: #999999;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 input {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput10 .breaseNumericOutput_unit {
  font-size: 10px;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox2 {
  top: 74px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox2 {
  left: 463px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox2 {
  width: 440px;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox2 {
  height: 500px;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox2 {
  z-index: 3;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox2 {
  background-color: oldlace;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox2 > .header span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox2 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label22 {
  top: 11px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label22 {
  left: 7px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label22 {
  width: 424px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label22 {
  height: 75px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label22 {
  z-index: 0;
}

#AreaPageTolerancieSkrutkovaniaP3_Label22 {
  border-width: 2px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label22 {
  border-radius: 2px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label22 {
  background-color: lightgray;
}

#AreaPageTolerancieSkrutkovaniaP3_Label22 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageTolerancieSkrutkovaniaP3_Label22 {
  border-color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label22:before {
  border-color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label22:after {
  border-color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label22 {
  border-style: solid;
}

#AreaPageTolerancieSkrutkovaniaP3_Label22:before {
  border-style: solid;
}

#AreaPageTolerancieSkrutkovaniaP3_Label22:after {
  border-style: solid;
}

#AreaPageTolerancieSkrutkovaniaP3_Label22 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label22 {
  font-size: 16px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label22 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_Label22 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label23 {
  width: 80px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label23 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label23 {
  top: 19px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label23 {
  left: 133px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label23 {
  z-index: 1;
}

#AreaPageTolerancieSkrutkovaniaP3_Label23 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label23 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP3_Label23 {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label23 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
  top: 51px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
  left: 330px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
  width: 95px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
  z-index: 2;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8.disabled {
  background-color: silver;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8:not(.disabled):not(.active) {
  border-color: #999999;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8.disabled {
  border-color: #ff8800;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8.active:not(.disabled) {
  background-color: white;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8.active:not(.disabled) input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8.disabled {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8.disabled input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 input {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 .breaseNumericInput_unit {
  font-size: 10px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_8 {
  box-shadow: none;
}

#AreaPageTolerancieSkrutkovaniaP3_Label24 {
  width: 80px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label24 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label24 {
  top: 19px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label24 {
  left: 338px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label24 {
  z-index: 3;
}

#AreaPageTolerancieSkrutkovaniaP3_Label24 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label24 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP3_Label24 {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label24 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
  top: 51px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
  left: 228px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
  width: 95px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
  z-index: 4;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9.disabled {
  background-color: silver;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9:not(.disabled):not(.active) {
  border-color: #999999;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9.disabled {
  border-color: #ff8800;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9.active:not(.disabled) {
  background-color: white;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9.active:not(.disabled) input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9.disabled {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9.disabled input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 input {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 .breaseNumericInput_unit {
  font-size: 10px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_9 {
  box-shadow: none;
}

#AreaPageTolerancieSkrutkovaniaP3_Label25 {
  width: 80px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label25 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label25 {
  top: 19px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label25 {
  left: 236px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label25 {
  z-index: 5;
}

#AreaPageTolerancieSkrutkovaniaP3_Label25 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label25 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP3_Label25 {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label25 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_Label30 {
  top: 101px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label30 {
  left: 7px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label30 {
  width: 424px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label30 {
  height: 75px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label30 {
  z-index: 6;
}

#AreaPageTolerancieSkrutkovaniaP3_Label30 {
  border-width: 2px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label30 {
  border-radius: 2px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label30 {
  background-color: lightgray;
}

#AreaPageTolerancieSkrutkovaniaP3_Label30 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageTolerancieSkrutkovaniaP3_Label30 {
  border-color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label30:before {
  border-color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label30:after {
  border-color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label30 {
  border-style: solid;
}

#AreaPageTolerancieSkrutkovaniaP3_Label30:before {
  border-style: solid;
}

#AreaPageTolerancieSkrutkovaniaP3_Label30:after {
  border-style: solid;
}

#AreaPageTolerancieSkrutkovaniaP3_Label30 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label30 {
  font-size: 16px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label30 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_Label30 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label31 {
  width: 80px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label31 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label31 {
  top: 109px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label31 {
  left: 133px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label31 {
  z-index: 7;
}

#AreaPageTolerancieSkrutkovaniaP3_Label31 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label31 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP3_Label31 {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label31 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
  top: 141px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
  left: 330px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
  width: 95px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
  z-index: 8;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11.disabled {
  background-color: silver;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11:not(.disabled):not(.active) {
  border-color: #999999;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11.disabled {
  border-color: #ff8800;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11.active:not(.disabled) {
  background-color: white;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11.active:not(.disabled) input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11.disabled {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11.disabled input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 input {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 .breaseNumericInput_unit {
  font-size: 10px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_11 {
  box-shadow: none;
}

#AreaPageTolerancieSkrutkovaniaP3_Label32 {
  width: 80px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label32 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label32 {
  top: 109px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label32 {
  left: 338px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label32 {
  z-index: 9;
}

#AreaPageTolerancieSkrutkovaniaP3_Label32 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label32 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP3_Label32 {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label32 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
  top: 141px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
  left: 228px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
  width: 95px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
  z-index: 10;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12.disabled {
  background-color: silver;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12:not(.disabled):not(.active) {
  border-color: #999999;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12.disabled {
  border-color: #ff8800;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12.active:not(.disabled) {
  background-color: white;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12.active:not(.disabled) input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12.disabled {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12.disabled input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 input {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 .breaseNumericInput_unit {
  font-size: 10px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_12 {
  box-shadow: none;
}

#AreaPageTolerancieSkrutkovaniaP3_Label33 {
  width: 80px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label33 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label33 {
  top: 109px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label33 {
  left: 236px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label33 {
  z-index: 11;
}

#AreaPageTolerancieSkrutkovaniaP3_Label33 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label33 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP3_Label33 {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label33 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 {
  top: 51px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 {
  left: 126px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 {
  width: 95px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 {
  z-index: 12;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 {
  border-width: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 {
  background-color: silver;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 {
  border-color: #999999;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 input {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput11 .breaseNumericOutput_unit {
  font-size: 10px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
  top: 141px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
  left: 126px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
  width: 95px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
  z-index: 13;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
  border-width: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
  background-color: silver;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
  border-color: #999999;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 input {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput12 .breaseNumericOutput_unit {
  font-size: 10px;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox3 {
  top: 74px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox3 {
  left: 918px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox3 {
  width: 440px;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox3 {
  height: 500px;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox3 {
  z-index: 4;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox3 {
  background-color: oldlace;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox3 > .header span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_GroupBox3 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 {
  top: 11px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 {
  left: 7px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 {
  width: 424px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 {
  height: 75px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 {
  z-index: 0;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 {
  border-width: 2px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 {
  border-radius: 2px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 {
  background-color: lightgray;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 {
  border-color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42:before {
  border-color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42:after {
  border-color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 {
  border-style: solid;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42:before {
  border-style: solid;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42:after {
  border-style: solid;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 {
  font-size: 16px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_Label42 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label43 {
  width: 80px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label43 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label43 {
  top: 19px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label43 {
  left: 133px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label43 {
  z-index: 1;
}

#AreaPageTolerancieSkrutkovaniaP3_Label43 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label43 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP3_Label43 {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label43 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
  top: 51px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
  left: 329px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
  width: 95px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
  z-index: 2;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14.disabled {
  background-color: silver;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14:not(.disabled):not(.active) {
  border-color: #999999;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14.disabled {
  border-color: #ff8800;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14.active:not(.disabled) {
  background-color: white;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14.active:not(.disabled) input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14.disabled {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14.disabled input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 input {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 .breaseNumericInput_unit {
  font-size: 10px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_14 {
  box-shadow: none;
}

#AreaPageTolerancieSkrutkovaniaP3_Label44 {
  width: 80px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label44 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label44 {
  top: 19px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label44 {
  left: 337px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label44 {
  z-index: 3;
}

#AreaPageTolerancieSkrutkovaniaP3_Label44 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label44 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP3_Label44 {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label44 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
  top: 51px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
  left: 229px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
  width: 95px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
  z-index: 4;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15:not(.active):not(.disabled) {
  border-width: 4px 4px 4px 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15.disabled {
  border-width: 3px 3px 3px 3px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15.disabled {
  background-color: silver;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15:not(.disabled):not(.active) {
  border-color: #999999;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15.disabled {
  border-color: #ff8800;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15.active:not(.disabled) {
  background-color: white;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15.active:not(.disabled) input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15.active:not(.disabled) span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15.disabled {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15.disabled input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15.disabled span.breaseNumericInput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 input {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 .breaseNumericInput_unit {
  font-size: 10px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericInput_15 {
  box-shadow: none;
}

#AreaPageTolerancieSkrutkovaniaP3_Label45 {
  width: 80px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label45 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label45 {
  top: 19px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label45 {
  left: 237px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_Label45 {
  z-index: 5;
}

#AreaPageTolerancieSkrutkovaniaP3_Label45 span {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_Label45 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageTolerancieSkrutkovaniaP3_Label45 {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_Label45 {
  font-weight: bold;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 {
  height: 30px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 {
  top: 51px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 {
  left: 126px;
  position: absolute;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 {
  width: 95px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 {
  z-index: 6;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 {
  border-width: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 {
  border-radius: 4px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 {
  background-color: silver;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 {
  border-color: #999999;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 {
  border-style: ridge;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 input {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 input {
  font-size: 12px;
}

#AreaPageTolerancieSkrutkovaniaP3_NumericOutput13 .breaseNumericOutput_unit {
  font-size: 10px;
}
