#AreaPageStavyStanicP2_Image1 {
  top: 0px;
  position: absolute;
}

#AreaPageStavyStanicP2_Image1 {
  left: 0px;
  position: absolute;
}

#AreaPageStavyStanicP2_Image1 {
  width: 1366px;
}

#AreaPageStavyStanicP2_Image1 {
  height: 588px;
}

#AreaPageStavyStanicP2_Image1 {
  z-index: 0;
}

#AreaPageStavyStanicP2_Image1 {
  opacity: 0.2;
}

#AreaPageStavyStanicP2_Label1 {
  top: 20px;
  position: absolute;
}

#AreaPageStavyStanicP2_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageStavyStanicP2_Label1 {
  width: 400px;
}

#AreaPageStavyStanicP2_Label1 {
  height: 35px;
}

#AreaPageStavyStanicP2_Label1 {
  z-index: 1;
}

#AreaPageStavyStanicP2_Label1 {
  border-width: 5px;
}

#AreaPageStavyStanicP2_Label1 {
  border-radius: 5px;
}

#AreaPageStavyStanicP2_Label1 {
  border-color: #999999;
}

#AreaPageStavyStanicP2_Label1:before {
  border-color: #999999;
}

#AreaPageStavyStanicP2_Label1:after {
  border-color: #999999;
}

#AreaPageStavyStanicP2_Label1 {
  border-style: ridge;
}

#AreaPageStavyStanicP2_Label1:before {
  border-style: ridge;
}

#AreaPageStavyStanicP2_Label1:after {
  border-style: ridge;
}

#AreaPageStavyStanicP2_Label1 span {
  color: black;
}

#AreaPageStavyStanicP2_Label1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageStavyStanicP2_Label1 {
  font-size: 20px;
}

#AreaPageStavyStanicP2_Label1 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageStavyStanicP2_Label8 {
  top: 70px;
  position: absolute;
}

#AreaPageStavyStanicP2_Label8 {
  left: 11px;
  position: absolute;
}

#AreaPageStavyStanicP2_Label8 {
  width: 1344px;
}

#AreaPageStavyStanicP2_Label8 {
  height: 42px;
}

#AreaPageStavyStanicP2_Label8 {
  z-index: 2;
}

#AreaPageStavyStanicP2_Label8 {
  border-width: 2px;
}

#AreaPageStavyStanicP2_Label8 {
  border-radius: 2px;
}

#AreaPageStavyStanicP2_Label8 {
  background-color: oldlace;
}

#AreaPageStavyStanicP2_Label8 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP2_Label8 {
  border-color: black;
}

#AreaPageStavyStanicP2_Label8:before {
  border-color: black;
}

#AreaPageStavyStanicP2_Label8:after {
  border-color: black;
}

#AreaPageStavyStanicP2_Label8 {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label8:before {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label8:after {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label8 span {
  color: black;
}

#AreaPageStavyStanicP2_Label8 {
  font-size: 15px;
}

#AreaPageStavyStanicP2_Label8 {
  font-weight: bold;
}

#AreaPageStavyStanicP2_Label8 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP2_TextOutput1 {
  height: 30px;
}

#AreaPageStavyStanicP2_TextOutput1 {
  top: 76px;
  position: absolute;
}

#AreaPageStavyStanicP2_TextOutput1 {
  left: 120px;
  position: absolute;
}

#AreaPageStavyStanicP2_TextOutput1 {
  width: 1226px;
}

#AreaPageStavyStanicP2_TextOutput1 {
  z-index: 3;
}

#AreaPageStavyStanicP2_TextOutput1 {
  border-width: 4px 4px 4px 4px;
}

#AreaPageStavyStanicP2_TextOutput1 {
  border-radius: 4px;
}

#AreaPageStavyStanicP2_TextOutput1 {
  background-color: darkgray;
}

#AreaPageStavyStanicP2_TextOutput1 {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput1:before {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput1:after {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput1 {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput1:before {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput1:after {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput1 span {
  color: black;
}

#AreaPageStavyStanicP2_TextOutput1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageStavyStanicP2_TextOutput1 {
  font-size: 12px;
}

#AreaPageStavyStanicP2_Label9 {
  top: 170px;
  position: absolute;
}

#AreaPageStavyStanicP2_Label9 {
  left: 11px;
  position: absolute;
}

#AreaPageStavyStanicP2_Label9 {
  width: 1344px;
}

#AreaPageStavyStanicP2_Label9 {
  height: 42px;
}

#AreaPageStavyStanicP2_Label9 {
  z-index: 4;
}

#AreaPageStavyStanicP2_Label9 {
  border-width: 2px;
}

#AreaPageStavyStanicP2_Label9 {
  border-radius: 2px;
}

#AreaPageStavyStanicP2_Label9 {
  background-color: oldlace;
}

#AreaPageStavyStanicP2_Label9 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP2_Label9 {
  border-color: black;
}

#AreaPageStavyStanicP2_Label9:before {
  border-color: black;
}

#AreaPageStavyStanicP2_Label9:after {
  border-color: black;
}

#AreaPageStavyStanicP2_Label9 {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label9:before {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label9:after {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label9 span {
  color: black;
}

#AreaPageStavyStanicP2_Label9 {
  font-size: 15px;
}

#AreaPageStavyStanicP2_Label9 {
  font-weight: bold;
}

#AreaPageStavyStanicP2_Label9 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP2_TextOutput2 {
  height: 30px;
}

#AreaPageStavyStanicP2_TextOutput2 {
  top: 176px;
  position: absolute;
}

#AreaPageStavyStanicP2_TextOutput2 {
  left: 120px;
  position: absolute;
}

#AreaPageStavyStanicP2_TextOutput2 {
  width: 1226px;
}

#AreaPageStavyStanicP2_TextOutput2 {
  z-index: 5;
}

#AreaPageStavyStanicP2_TextOutput2 {
  border-width: 4px 4px 4px 4px;
}

#AreaPageStavyStanicP2_TextOutput2 {
  border-radius: 4px;
}

#AreaPageStavyStanicP2_TextOutput2 {
  background-color: darkgray;
}

#AreaPageStavyStanicP2_TextOutput2 {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput2:before {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput2:after {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput2 {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput2:before {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput2:after {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput2 span {
  color: black;
}

#AreaPageStavyStanicP2_TextOutput2 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageStavyStanicP2_TextOutput2 {
  font-size: 12px;
}

#AreaPageStavyStanicP2_Label10 {
  top: 220px;
  position: absolute;
}

#AreaPageStavyStanicP2_Label10 {
  left: 11px;
  position: absolute;
}

#AreaPageStavyStanicP2_Label10 {
  width: 1344px;
}

#AreaPageStavyStanicP2_Label10 {
  height: 42px;
}

#AreaPageStavyStanicP2_Label10 {
  z-index: 6;
}

#AreaPageStavyStanicP2_Label10 {
  border-width: 2px;
}

#AreaPageStavyStanicP2_Label10 {
  border-radius: 2px;
}

#AreaPageStavyStanicP2_Label10 {
  background-color: oldlace;
}

#AreaPageStavyStanicP2_Label10 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP2_Label10 {
  border-color: black;
}

#AreaPageStavyStanicP2_Label10:before {
  border-color: black;
}

#AreaPageStavyStanicP2_Label10:after {
  border-color: black;
}

#AreaPageStavyStanicP2_Label10 {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label10:before {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label10:after {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label10 span {
  color: black;
}

#AreaPageStavyStanicP2_Label10 {
  font-size: 15px;
}

#AreaPageStavyStanicP2_Label10 {
  font-weight: bold;
}

#AreaPageStavyStanicP2_Label10 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP2_TextOutput3 {
  height: 30px;
}

#AreaPageStavyStanicP2_TextOutput3 {
  top: 226px;
  position: absolute;
}

#AreaPageStavyStanicP2_TextOutput3 {
  left: 120px;
  position: absolute;
}

#AreaPageStavyStanicP2_TextOutput3 {
  width: 1226px;
}

#AreaPageStavyStanicP2_TextOutput3 {
  z-index: 7;
}

#AreaPageStavyStanicP2_TextOutput3 {
  border-width: 4px 4px 4px 4px;
}

#AreaPageStavyStanicP2_TextOutput3 {
  border-radius: 4px;
}

#AreaPageStavyStanicP2_TextOutput3 {
  background-color: darkgray;
}

#AreaPageStavyStanicP2_TextOutput3 {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput3:before {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput3:after {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput3 {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput3:before {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput3:after {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput3 span {
  color: black;
}

#AreaPageStavyStanicP2_TextOutput3 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageStavyStanicP2_TextOutput3 {
  font-size: 12px;
}

#AreaPageStavyStanicP2_Label11 {
  top: 120px;
  position: absolute;
}

#AreaPageStavyStanicP2_Label11 {
  left: 11px;
  position: absolute;
}

#AreaPageStavyStanicP2_Label11 {
  width: 1344px;
}

#AreaPageStavyStanicP2_Label11 {
  height: 42px;
}

#AreaPageStavyStanicP2_Label11 {
  z-index: 8;
}

#AreaPageStavyStanicP2_Label11 {
  border-width: 2px;
}

#AreaPageStavyStanicP2_Label11 {
  border-radius: 2px;
}

#AreaPageStavyStanicP2_Label11 {
  background-color: oldlace;
}

#AreaPageStavyStanicP2_Label11 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP2_Label11 {
  border-color: black;
}

#AreaPageStavyStanicP2_Label11:before {
  border-color: black;
}

#AreaPageStavyStanicP2_Label11:after {
  border-color: black;
}

#AreaPageStavyStanicP2_Label11 {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label11:before {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label11:after {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label11 span {
  color: black;
}

#AreaPageStavyStanicP2_Label11 {
  font-size: 15px;
}

#AreaPageStavyStanicP2_Label11 {
  font-weight: bold;
}

#AreaPageStavyStanicP2_Label11 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP2_TextOutput4 {
  height: 30px;
}

#AreaPageStavyStanicP2_TextOutput4 {
  top: 126px;
  position: absolute;
}

#AreaPageStavyStanicP2_TextOutput4 {
  left: 120px;
  position: absolute;
}

#AreaPageStavyStanicP2_TextOutput4 {
  width: 1226px;
}

#AreaPageStavyStanicP2_TextOutput4 {
  z-index: 9;
}

#AreaPageStavyStanicP2_TextOutput4 {
  border-width: 4px 4px 4px 4px;
}

#AreaPageStavyStanicP2_TextOutput4 {
  border-radius: 4px;
}

#AreaPageStavyStanicP2_TextOutput4 {
  background-color: darkgray;
}

#AreaPageStavyStanicP2_TextOutput4 {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput4:before {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput4:after {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput4 {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput4:before {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput4:after {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput4 span {
  color: black;
}

#AreaPageStavyStanicP2_TextOutput4 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageStavyStanicP2_TextOutput4 {
  font-size: 12px;
}

#AreaPageStavyStanicP2_Label12 {
  top: 270px;
  position: absolute;
}

#AreaPageStavyStanicP2_Label12 {
  left: 11px;
  position: absolute;
}

#AreaPageStavyStanicP2_Label12 {
  width: 1344px;
}

#AreaPageStavyStanicP2_Label12 {
  height: 42px;
}

#AreaPageStavyStanicP2_Label12 {
  z-index: 10;
}

#AreaPageStavyStanicP2_Label12 {
  border-width: 2px;
}

#AreaPageStavyStanicP2_Label12 {
  border-radius: 2px;
}

#AreaPageStavyStanicP2_Label12 {
  background-color: oldlace;
}

#AreaPageStavyStanicP2_Label12 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP2_Label12 {
  border-color: black;
}

#AreaPageStavyStanicP2_Label12:before {
  border-color: black;
}

#AreaPageStavyStanicP2_Label12:after {
  border-color: black;
}

#AreaPageStavyStanicP2_Label12 {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label12:before {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label12:after {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label12 span {
  color: black;
}

#AreaPageStavyStanicP2_Label12 {
  font-size: 15px;
}

#AreaPageStavyStanicP2_Label12 {
  font-weight: bold;
}

#AreaPageStavyStanicP2_Label12 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP2_TextOutput5 {
  height: 30px;
}

#AreaPageStavyStanicP2_TextOutput5 {
  top: 276px;
  position: absolute;
}

#AreaPageStavyStanicP2_TextOutput5 {
  left: 120px;
  position: absolute;
}

#AreaPageStavyStanicP2_TextOutput5 {
  width: 1226px;
}

#AreaPageStavyStanicP2_TextOutput5 {
  z-index: 11;
}

#AreaPageStavyStanicP2_TextOutput5 {
  border-width: 4px 4px 4px 4px;
}

#AreaPageStavyStanicP2_TextOutput5 {
  border-radius: 4px;
}

#AreaPageStavyStanicP2_TextOutput5 {
  background-color: darkgray;
}

#AreaPageStavyStanicP2_TextOutput5 {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput5:before {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput5:after {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput5 {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput5:before {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput5:after {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput5 span {
  color: black;
}

#AreaPageStavyStanicP2_TextOutput5 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageStavyStanicP2_TextOutput5 {
  font-size: 12px;
}

#AreaPageStavyStanicP2_Label13 {
  top: 320px;
  position: absolute;
}

#AreaPageStavyStanicP2_Label13 {
  left: 11px;
  position: absolute;
}

#AreaPageStavyStanicP2_Label13 {
  width: 1344px;
}

#AreaPageStavyStanicP2_Label13 {
  height: 42px;
}

#AreaPageStavyStanicP2_Label13 {
  z-index: 12;
}

#AreaPageStavyStanicP2_Label13 {
  border-width: 2px;
}

#AreaPageStavyStanicP2_Label13 {
  border-radius: 2px;
}

#AreaPageStavyStanicP2_Label13 {
  background-color: oldlace;
}

#AreaPageStavyStanicP2_Label13 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP2_Label13 {
  border-color: black;
}

#AreaPageStavyStanicP2_Label13:before {
  border-color: black;
}

#AreaPageStavyStanicP2_Label13:after {
  border-color: black;
}

#AreaPageStavyStanicP2_Label13 {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label13:before {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label13:after {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label13 span {
  color: black;
}

#AreaPageStavyStanicP2_Label13 {
  font-size: 15px;
}

#AreaPageStavyStanicP2_Label13 {
  font-weight: bold;
}

#AreaPageStavyStanicP2_Label13 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP2_TextOutput6 {
  height: 30px;
}

#AreaPageStavyStanicP2_TextOutput6 {
  top: 326px;
  position: absolute;
}

#AreaPageStavyStanicP2_TextOutput6 {
  left: 120px;
  position: absolute;
}

#AreaPageStavyStanicP2_TextOutput6 {
  width: 1226px;
}

#AreaPageStavyStanicP2_TextOutput6 {
  z-index: 13;
}

#AreaPageStavyStanicP2_TextOutput6 {
  border-width: 4px 4px 4px 4px;
}

#AreaPageStavyStanicP2_TextOutput6 {
  border-radius: 4px;
}

#AreaPageStavyStanicP2_TextOutput6 {
  background-color: darkgray;
}

#AreaPageStavyStanicP2_TextOutput6 {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput6:before {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput6:after {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput6 {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput6:before {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput6:after {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput6 span {
  color: black;
}

#AreaPageStavyStanicP2_TextOutput6 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageStavyStanicP2_TextOutput6 {
  font-size: 12px;
}

#AreaPageStavyStanicP2_Label14 {
  top: 370px;
  position: absolute;
}

#AreaPageStavyStanicP2_Label14 {
  left: 11px;
  position: absolute;
}

#AreaPageStavyStanicP2_Label14 {
  width: 1344px;
}

#AreaPageStavyStanicP2_Label14 {
  height: 42px;
}

#AreaPageStavyStanicP2_Label14 {
  z-index: 14;
}

#AreaPageStavyStanicP2_Label14 {
  border-width: 2px;
}

#AreaPageStavyStanicP2_Label14 {
  border-radius: 2px;
}

#AreaPageStavyStanicP2_Label14 {
  background-color: oldlace;
}

#AreaPageStavyStanicP2_Label14 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP2_Label14 {
  border-color: black;
}

#AreaPageStavyStanicP2_Label14:before {
  border-color: black;
}

#AreaPageStavyStanicP2_Label14:after {
  border-color: black;
}

#AreaPageStavyStanicP2_Label14 {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label14:before {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label14:after {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label14 span {
  color: black;
}

#AreaPageStavyStanicP2_Label14 {
  font-size: 15px;
}

#AreaPageStavyStanicP2_Label14 {
  font-weight: bold;
}

#AreaPageStavyStanicP2_Label14 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP2_TextOutput7 {
  height: 30px;
}

#AreaPageStavyStanicP2_TextOutput7 {
  top: 376px;
  position: absolute;
}

#AreaPageStavyStanicP2_TextOutput7 {
  left: 120px;
  position: absolute;
}

#AreaPageStavyStanicP2_TextOutput7 {
  width: 1226px;
}

#AreaPageStavyStanicP2_TextOutput7 {
  z-index: 15;
}

#AreaPageStavyStanicP2_TextOutput7 {
  border-width: 4px 4px 4px 4px;
}

#AreaPageStavyStanicP2_TextOutput7 {
  border-radius: 4px;
}

#AreaPageStavyStanicP2_TextOutput7 {
  background-color: darkgray;
}

#AreaPageStavyStanicP2_TextOutput7 {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput7:before {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput7:after {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput7 {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput7:before {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput7:after {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput7 span {
  color: black;
}

#AreaPageStavyStanicP2_TextOutput7 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageStavyStanicP2_TextOutput7 {
  font-size: 12px;
}

#AreaPageStavyStanicP2_Label15 {
  top: 420px;
  position: absolute;
}

#AreaPageStavyStanicP2_Label15 {
  left: 11px;
  position: absolute;
}

#AreaPageStavyStanicP2_Label15 {
  width: 1344px;
}

#AreaPageStavyStanicP2_Label15 {
  height: 42px;
}

#AreaPageStavyStanicP2_Label15 {
  z-index: 16;
}

#AreaPageStavyStanicP2_Label15 {
  border-width: 2px;
}

#AreaPageStavyStanicP2_Label15 {
  border-radius: 2px;
}

#AreaPageStavyStanicP2_Label15 {
  background-color: oldlace;
}

#AreaPageStavyStanicP2_Label15 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP2_Label15 {
  border-color: black;
}

#AreaPageStavyStanicP2_Label15:before {
  border-color: black;
}

#AreaPageStavyStanicP2_Label15:after {
  border-color: black;
}

#AreaPageStavyStanicP2_Label15 {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label15:before {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label15:after {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label15 span {
  color: black;
}

#AreaPageStavyStanicP2_Label15 {
  font-size: 15px;
}

#AreaPageStavyStanicP2_Label15 {
  font-weight: bold;
}

#AreaPageStavyStanicP2_Label15 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP2_TextOutput8 {
  height: 30px;
}

#AreaPageStavyStanicP2_TextOutput8 {
  top: 426px;
  position: absolute;
}

#AreaPageStavyStanicP2_TextOutput8 {
  left: 120px;
  position: absolute;
}

#AreaPageStavyStanicP2_TextOutput8 {
  width: 1226px;
}

#AreaPageStavyStanicP2_TextOutput8 {
  z-index: 17;
}

#AreaPageStavyStanicP2_TextOutput8 {
  border-width: 4px 4px 4px 4px;
}

#AreaPageStavyStanicP2_TextOutput8 {
  border-radius: 4px;
}

#AreaPageStavyStanicP2_TextOutput8 {
  background-color: darkgray;
}

#AreaPageStavyStanicP2_TextOutput8 {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput8:before {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput8:after {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput8 {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput8:before {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput8:after {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput8 span {
  color: black;
}

#AreaPageStavyStanicP2_TextOutput8 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageStavyStanicP2_TextOutput8 {
  font-size: 12px;
}

#AreaPageStavyStanicP2_Label16 {
  top: 470px;
  position: absolute;
}

#AreaPageStavyStanicP2_Label16 {
  left: 11px;
  position: absolute;
}

#AreaPageStavyStanicP2_Label16 {
  width: 1344px;
}

#AreaPageStavyStanicP2_Label16 {
  height: 42px;
}

#AreaPageStavyStanicP2_Label16 {
  z-index: 18;
}

#AreaPageStavyStanicP2_Label16 {
  border-width: 2px;
}

#AreaPageStavyStanicP2_Label16 {
  border-radius: 2px;
}

#AreaPageStavyStanicP2_Label16 {
  background-color: oldlace;
}

#AreaPageStavyStanicP2_Label16 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP2_Label16 {
  border-color: black;
}

#AreaPageStavyStanicP2_Label16:before {
  border-color: black;
}

#AreaPageStavyStanicP2_Label16:after {
  border-color: black;
}

#AreaPageStavyStanicP2_Label16 {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label16:before {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label16:after {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label16 span {
  color: black;
}

#AreaPageStavyStanicP2_Label16 {
  font-size: 15px;
}

#AreaPageStavyStanicP2_Label16 {
  font-weight: bold;
}

#AreaPageStavyStanicP2_Label16 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP2_TextOutput9 {
  height: 30px;
}

#AreaPageStavyStanicP2_TextOutput9 {
  top: 476px;
  position: absolute;
}

#AreaPageStavyStanicP2_TextOutput9 {
  left: 120px;
  position: absolute;
}

#AreaPageStavyStanicP2_TextOutput9 {
  width: 1226px;
}

#AreaPageStavyStanicP2_TextOutput9 {
  z-index: 19;
}

#AreaPageStavyStanicP2_TextOutput9 {
  border-width: 4px 4px 4px 4px;
}

#AreaPageStavyStanicP2_TextOutput9 {
  border-radius: 4px;
}

#AreaPageStavyStanicP2_TextOutput9 {
  background-color: darkgray;
}

#AreaPageStavyStanicP2_TextOutput9 {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput9:before {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput9:after {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput9 {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput9:before {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput9:after {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput9 span {
  color: black;
}

#AreaPageStavyStanicP2_TextOutput9 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageStavyStanicP2_TextOutput9 {
  font-size: 12px;
}

#AreaPageStavyStanicP2_Label17 {
  top: 520px;
  position: absolute;
}

#AreaPageStavyStanicP2_Label17 {
  left: 11px;
  position: absolute;
}

#AreaPageStavyStanicP2_Label17 {
  width: 1344px;
}

#AreaPageStavyStanicP2_Label17 {
  height: 42px;
}

#AreaPageStavyStanicP2_Label17 {
  z-index: 20;
}

#AreaPageStavyStanicP2_Label17 {
  border-width: 2px;
}

#AreaPageStavyStanicP2_Label17 {
  border-radius: 2px;
}

#AreaPageStavyStanicP2_Label17 {
  background-color: oldlace;
}

#AreaPageStavyStanicP2_Label17 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#AreaPageStavyStanicP2_Label17 {
  border-color: black;
}

#AreaPageStavyStanicP2_Label17:before {
  border-color: black;
}

#AreaPageStavyStanicP2_Label17:after {
  border-color: black;
}

#AreaPageStavyStanicP2_Label17 {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label17:before {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label17:after {
  border-style: solid;
}

#AreaPageStavyStanicP2_Label17 span {
  color: black;
}

#AreaPageStavyStanicP2_Label17 {
  font-size: 15px;
}

#AreaPageStavyStanicP2_Label17 {
  font-weight: bold;
}

#AreaPageStavyStanicP2_Label17 {
  box-shadow: 4px 4px 8px black;
}

#AreaPageStavyStanicP2_TextOutput10 {
  height: 30px;
}

#AreaPageStavyStanicP2_TextOutput10 {
  top: 526px;
  position: absolute;
}

#AreaPageStavyStanicP2_TextOutput10 {
  left: 120px;
  position: absolute;
}

#AreaPageStavyStanicP2_TextOutput10 {
  width: 1226px;
}

#AreaPageStavyStanicP2_TextOutput10 {
  z-index: 21;
}

#AreaPageStavyStanicP2_TextOutput10 {
  border-width: 4px 4px 4px 4px;
}

#AreaPageStavyStanicP2_TextOutput10 {
  border-radius: 4px;
}

#AreaPageStavyStanicP2_TextOutput10 {
  background-color: darkgray;
}

#AreaPageStavyStanicP2_TextOutput10 {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput10:before {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput10:after {
  border-color: #999999;
}

#AreaPageStavyStanicP2_TextOutput10 {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput10:before {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput10:after {
  border-style: ridge;
}

#AreaPageStavyStanicP2_TextOutput10 span {
  color: black;
}

#AreaPageStavyStanicP2_TextOutput10 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageStavyStanicP2_TextOutput10 {
  font-size: 12px;
}
