#AreaHlasenie2_ST1_GroupBox6 {
  top: 0px;
  position: absolute;
}

#AreaHlasenie2_ST1_GroupBox6 {
  left: 0px;
  position: absolute;
}

#AreaHlasenie2_ST1_GroupBox6 {
  width: 500px;
}

#AreaHlasenie2_ST1_GroupBox6 {
  height: 520px;
}

#AreaHlasenie2_ST1_GroupBox6 {
  z-index: 0;
}

#AreaHlasenie2_ST1_GroupBox6 {
  border-width: 7px;
}

#AreaHlasenie2_ST1_GroupBox6 > .header {
  border-width: 7px;
}

#AreaHlasenie2_ST1_GroupBox6 {
  border-radius: 6px 6px 6px 6px;
}

#AreaHlasenie2_ST1_GroupBox6 {
  background-color: #ffc080;
}

#AreaHlasenie2_ST1_GroupBox6 {
  border-style: groove;
}

#AreaHlasenie2_ST1_GroupBox6 > .header {
  border-bottom-style: groove;
}

#AreaHlasenie2_ST1_GroupBox6 > .header span {
  color: black;
}

#AreaHlasenie2_ST1_GroupBox6 {
  box-shadow: 4px 4px 14px black;
}

#AreaHlasenie2_ST1_Image1 {
  top: 7px;
  position: absolute;
}

#AreaHlasenie2_ST1_Image1 {
  left: 415px;
  position: absolute;
}

#AreaHlasenie2_ST1_Image1 {
  width: 62px;
}

#AreaHlasenie2_ST1_Image1 {
  height: 62px;
}

#AreaHlasenie2_ST1_Image1 {
  z-index: 0;
}

#AreaHlasenie2_ST1_Label1 {
  top: 41px;
  position: absolute;
}

#AreaHlasenie2_ST1_Label1 {
  left: 1px;
  position: absolute;
}

#AreaHlasenie2_ST1_Label1 {
  width: 443px;
}

#AreaHlasenie2_ST1_Label1 {
  height: 36px;
}

#AreaHlasenie2_ST1_Label1 {
  z-index: 1;
}

#AreaHlasenie2_ST1_Label1 span {
  color: black;
}

#AreaHlasenie2_ST1_Label1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaHlasenie2_ST1_Label1 {
  font-size: 24px;
}

#AreaHlasenie2_ST1_Label1 {
  font-weight: bold;
}

#AreaHlasenie2_ST1_Label1 span {
  text-decoration: underline;
}

#AreaHlasenie2_ST1_ImageList1 {
  top: 269px;
  position: absolute;
}

#AreaHlasenie2_ST1_ImageList1 {
  left: 399px;
  position: absolute;
}

#AreaHlasenie2_ST1_ImageList1 {
  width: 35px;
}

#AreaHlasenie2_ST1_ImageList1 {
  height: 35px;
}

#AreaHlasenie2_ST1_ImageList1 {
  z-index: 7;
}

#AreaHlasenie2_ST1_ImageList1 {
  border-style: none;
}

#AreaHlasenie2_ST1_ImageList1 {
  border-width: 0px;
}

#AreaHlasenie2_ST1_ImageList2 {
  top: 289px;
  position: absolute;
}

#AreaHlasenie2_ST1_ImageList2 {
  left: 327px;
  position: absolute;
}

#AreaHlasenie2_ST1_ImageList2 {
  width: 35px;
}

#AreaHlasenie2_ST1_ImageList2 {
  height: 35px;
}

#AreaHlasenie2_ST1_ImageList2 {
  z-index: 6;
}

#AreaHlasenie2_ST1_ImageList2 {
  border-style: none;
}

#AreaHlasenie2_ST1_ImageList2 {
  border-width: 0px;
}

#AreaHlasenie2_ST1_ImageList3 {
  top: 357px;
  position: absolute;
}

#AreaHlasenie2_ST1_ImageList3 {
  left: 365px;
  position: absolute;
}

#AreaHlasenie2_ST1_ImageList3 {
  width: 35px;
}

#AreaHlasenie2_ST1_ImageList3 {
  height: 35px;
}

#AreaHlasenie2_ST1_ImageList3 {
  z-index: 5;
}

#AreaHlasenie2_ST1_ImageList3 {
  border-style: none;
}

#AreaHlasenie2_ST1_ImageList3 {
  border-width: 0px;
}

#AreaHlasenie2_ST1_ImageList4 {
  top: 271px;
  position: absolute;
}

#AreaHlasenie2_ST1_ImageList4 {
  left: 133px;
  position: absolute;
}

#AreaHlasenie2_ST1_ImageList4 {
  width: 35px;
}

#AreaHlasenie2_ST1_ImageList4 {
  height: 35px;
}

#AreaHlasenie2_ST1_ImageList4 {
  z-index: 4;
}

#AreaHlasenie2_ST1_ImageList4 {
  border-style: none;
}

#AreaHlasenie2_ST1_ImageList4 {
  border-width: 0px;
}

#AreaHlasenie2_ST1_ImageList5 {
  top: 199px;
  position: absolute;
}

#AreaHlasenie2_ST1_ImageList5 {
  left: 165px;
  position: absolute;
}

#AreaHlasenie2_ST1_ImageList5 {
  width: 35px;
}

#AreaHlasenie2_ST1_ImageList5 {
  height: 35px;
}

#AreaHlasenie2_ST1_ImageList5 {
  z-index: 3;
}

#AreaHlasenie2_ST1_ImageList5 {
  border-style: none;
}

#AreaHlasenie2_ST1_ImageList5 {
  border-width: 0px;
}

#AreaHlasenie2_ST1_Image2 {
  top: 100px;
  position: absolute;
}

#AreaHlasenie2_ST1_Image2 {
  left: 23px;
  position: absolute;
}

#AreaHlasenie2_ST1_Image2 {
  width: 439px;
}

#AreaHlasenie2_ST1_Image2 {
  height: 390px;
}

#AreaHlasenie2_ST1_Image2 {
  z-index: 2;
}

#AreaHlasenie2_ST1_Image2 {
  border-style: groove;
}

#AreaHlasenie2_ST1_Image2 {
  border-width: 5px;
}

#AreaHlasenie2_ST1_Image2 {
  border-radius: 10px;
}

#AreaHlasenie2_ST1_ImageList7 {
  top: 247px;
  position: absolute;
}

#AreaHlasenie2_ST1_ImageList7 {
  left: 327px;
  position: absolute;
}

#AreaHlasenie2_ST1_ImageList7 {
  width: 35px;
}

#AreaHlasenie2_ST1_ImageList7 {
  height: 35px;
}

#AreaHlasenie2_ST1_ImageList7 {
  z-index: 8;
}

#AreaHlasenie2_ST1_ImageList7 {
  border-style: none;
}

#AreaHlasenie2_ST1_ImageList7 {
  border-width: 0px;
}

#AreaHlasenie2_ST1_ImageList9 {
  top: 193px;
  position: absolute;
}

#AreaHlasenie2_ST1_ImageList9 {
  left: 393px;
  position: absolute;
}

#AreaHlasenie2_ST1_ImageList9 {
  width: 35px;
}

#AreaHlasenie2_ST1_ImageList9 {
  height: 35px;
}

#AreaHlasenie2_ST1_ImageList9 {
  z-index: 9;
}

#AreaHlasenie2_ST1_ImageList9 {
  border-style: none;
}

#AreaHlasenie2_ST1_ImageList9 {
  border-width: 0px;
}

#AreaHlasenie2_ST1_ImageList10 {
  top: 193px;
  position: absolute;
}

#AreaHlasenie2_ST1_ImageList10 {
  left: 339px;
  position: absolute;
}

#AreaHlasenie2_ST1_ImageList10 {
  width: 35px;
}

#AreaHlasenie2_ST1_ImageList10 {
  height: 35px;
}

#AreaHlasenie2_ST1_ImageList10 {
  z-index: 10;
}

#AreaHlasenie2_ST1_ImageList10 {
  border-style: none;
}

#AreaHlasenie2_ST1_ImageList10 {
  border-width: 0px;
}

#AreaHlasenie2_ST1_Button_Vytah_IgnorujKameru {
  top: 117px;
  position: absolute;
}

#AreaHlasenie2_ST1_Button_Vytah_IgnorujKameru {
  left: 39px;
  position: absolute;
}

#AreaHlasenie2_ST1_Button_Vytah_IgnorujKameru {
  width: 149px;
}

#AreaHlasenie2_ST1_Button_Vytah_IgnorujKameru {
  height: 45px;
}

#AreaHlasenie2_ST1_Button_Vytah_IgnorujKameru {
  z-index: 11;
}

#AreaHlasenie2_ST1_Button_Vytah_IgnorujKameru {
  border-radius: 10px;
}

#AreaHlasenie2_ST1_Button_Vytah_IgnorujKameru:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaHlasenie2_ST1_Button_Vytah_IgnorujKameru {
  justify-content: center;
  text-align: center;
}

#AreaHlasenie2_ST1_Button_Vytah_IgnorujKameru:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaHlasenie2_ST1_Button_Vytah_IgnorujKameru.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaHlasenie2_ST1_Button_Vytah_IgnorujKameru.disabled.checked {
  box-shadow: 4px 4px 14px black;
}
