@import "mixins.scss";
#AreaPageManualP2_Zvaranie_Image1 {
	@include elemTop(0);
}
#AreaPageManualP2_Zvaranie_Image1 {
	@include elemLeft(0);
}
#AreaPageManualP2_Zvaranie_Image1 {
	@include elemAutoWidth(1366);
}
#AreaPageManualP2_Zvaranie_Image1 {
	@include elemAutoHeight(588);
}
#AreaPageManualP2_Zvaranie_Image1 {
		z-index: 0;
}
#AreaPageManualP2_Zvaranie_Image1 {
		opacity: 0.2;
}
#AreaPageManualP2_Zvaranie_Label1 {
	@include elemTop(20);
}
#AreaPageManualP2_Zvaranie_Label1 {
	@include elemLeft(483);
}
#AreaPageManualP2_Zvaranie_Label1 {
	@include elemAutoWidth(400);
}
#AreaPageManualP2_Zvaranie_Label1 {
	@include elemAutoHeight(35);
}
#AreaPageManualP2_Zvaranie_Label1 {
		z-index: 1;
}
#AreaPageManualP2_Zvaranie_Label1 {
		border-width: 5px;
}
#AreaPageManualP2_Zvaranie_Label1 {
	@include border-radius(5px);
}
#AreaPageManualP2_Zvaranie_Label1 {
		border-style: ridge;
}
#AreaPageManualP2_Zvaranie_Label1 {
	&:before{
		border-style: ridge;
	}
}
#AreaPageManualP2_Zvaranie_Label1 {
	&:after{
		border-style: ridge;
	}
}
#AreaPageManualP2_Zvaranie_Label1 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_Label1 {
	@include text-alignment-all('center');
}
#AreaPageManualP2_Zvaranie_Label1 {
		font-size: 20px;
}
#AreaPageManualP2_Zvaranie_Label1 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP2_Zvaranie_GroupBox2 {
	@include elemTop(68);
}
#AreaPageManualP2_Zvaranie_GroupBox2 {
	@include elemLeft(12);
}
#AreaPageManualP2_Zvaranie_GroupBox2 {
	@include elemWidth(430);
}
#AreaPageManualP2_Zvaranie_GroupBox2 {
	@include elemHeight(510);
}
#AreaPageManualP2_Zvaranie_GroupBox2 {
		z-index: 2;
}
#AreaPageManualP2_Zvaranie_GroupBox2 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP2_Zvaranie_GroupBox2 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_GroupBox2 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP2_Zvaranie_Button_HomingServaZdvihu {
	@include elemTop(11);
}
#AreaPageManualP2_Zvaranie_Button_HomingServaZdvihu {
	@include elemLeft(11);
}
#AreaPageManualP2_Zvaranie_Button_HomingServaZdvihu {
	@include elemAutoWidth(165);
}
#AreaPageManualP2_Zvaranie_Button_HomingServaZdvihu {
	@include elemAutoHeight(45);
}
#AreaPageManualP2_Zvaranie_Button_HomingServaZdvihu {
		z-index: 0;
}
#AreaPageManualP2_Zvaranie_Button_HomingServaZdvihu {
	@include border-radius(10px);
}
#AreaPageManualP2_Zvaranie_Button_HomingServaZdvihu {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_Button_HomingServaZdvihu {
	@include text-alignment(left);
}
#AreaPageManualP2_Zvaranie_Button_HomingServaZdvihu {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Zvaranie_Button_HomingServaZdvihu {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Zvaranie_Button_HomingServaZdvihu {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Zvaranie_ImageList6 {
	@include elemTop(21);
}
#AreaPageManualP2_Zvaranie_ImageList6 {
	@include elemLeft(139);
}
#AreaPageManualP2_Zvaranie_ImageList6 {
	@include elemWidth(25);
}
#AreaPageManualP2_Zvaranie_ImageList6 {
	@include elemHeight(25);
}
#AreaPageManualP2_Zvaranie_ImageList6 {
		z-index: 1;
}
#AreaPageManualP2_Zvaranie_ImageList6 {
		border-style: none;
}
#AreaPageManualP2_Zvaranie_ImageList6 {
		border-width: 0px;
}
#AreaPageManualP2_Zvaranie_NumericInput_ZdvihZadanaRychlost {
	@include elemHeight(30);
}
#AreaPageManualP2_Zvaranie_NumericInput_ZdvihZadanaRychlost {
	@include elemTop(177);
}
#AreaPageManualP2_Zvaranie_NumericInput_ZdvihZadanaRychlost {
	@include elemLeft(236);
}
#AreaPageManualP2_Zvaranie_NumericInput_ZdvihZadanaRychlost {
	@include elemWidth(165);
}
#AreaPageManualP2_Zvaranie_NumericInput_ZdvihZadanaRychlost {
		z-index: 8;
}
#AreaPageManualP2_Zvaranie_NumericInput_ZdvihZadanaRychlost {
	&:not(.active):not(.disabled){
		border-width: 2px 4px 2px 2px;
	}
}
#AreaPageManualP2_Zvaranie_NumericInput_ZdvihZadanaRychlost {
	input{
		font-size: 18px;
	}
}
#AreaPageManualP2_Zvaranie_NumericInput_ZdvihZadanaRychlost {
	@include box-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}
#AreaPageManualP2_Zvaranie_NumericOutput_ZdvihAktualnaPozicia {
	@include elemAutoHeight(30);
}
#AreaPageManualP2_Zvaranie_NumericOutput_ZdvihAktualnaPozicia {
	@include elemTop(177);
}
#AreaPageManualP2_Zvaranie_NumericOutput_ZdvihAktualnaPozicia {
	@include elemLeft(26);
}
#AreaPageManualP2_Zvaranie_NumericOutput_ZdvihAktualnaPozicia {
	@include elemAutoWidth(165);
}
#AreaPageManualP2_Zvaranie_NumericOutput_ZdvihAktualnaPozicia {
		z-index: 7;
}
#AreaPageManualP2_Zvaranie_NumericOutput_ZdvihAktualnaPozicia {
		border-width: 4px;
}
#AreaPageManualP2_Zvaranie_NumericOutput_ZdvihAktualnaPozicia {
		border-style: ridge;
}
#AreaPageManualP2_Zvaranie_NumericOutput_ZdvihAktualnaPozicia {
	input{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_NumericOutput_ZdvihAktualnaPozicia {
	span.breaseNumericOutput_unit{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_NumericOutput_ZdvihAktualnaPozicia {
	input{
		font-size: 16px;
	}
}
#AreaPageManualP2_Zvaranie_MomentaryPushButton_JoggZdvihuDOLE {
	@include elemTop(79);
}
#AreaPageManualP2_Zvaranie_MomentaryPushButton_JoggZdvihuDOLE {
	@include elemLeft(11);
}
#AreaPageManualP2_Zvaranie_MomentaryPushButton_JoggZdvihuDOLE {
	@include elemAutoWidth(165);
}
#AreaPageManualP2_Zvaranie_MomentaryPushButton_JoggZdvihuDOLE {
	@include elemAutoHeight(45);
}
#AreaPageManualP2_Zvaranie_MomentaryPushButton_JoggZdvihuDOLE {
		z-index: 2;
}
#AreaPageManualP2_Zvaranie_MomentaryPushButton_JoggZdvihuDOLE {
	@include border-radius(10px);
}
#AreaPageManualP2_Zvaranie_MomentaryPushButton_JoggZdvihuDOLE {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_MomentaryPushButton_JoggZdvihuDOLE {
	@include text-alignment(left);
}
#AreaPageManualP2_Zvaranie_MomentaryPushButton_JoggZdvihuDOLE {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Zvaranie_MomentaryPushButton_JoggZdvihuDOLE {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Zvaranie_MomentaryPushButton_JoggZdvihuDOLE {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Zvaranie_MomentaryPushButton_JoggZdvihuHORE {
	@include elemTop(79);
}
#AreaPageManualP2_Zvaranie_MomentaryPushButton_JoggZdvihuHORE {
	@include elemLeft(251);
}
#AreaPageManualP2_Zvaranie_MomentaryPushButton_JoggZdvihuHORE {
	@include elemAutoWidth(165);
}
#AreaPageManualP2_Zvaranie_MomentaryPushButton_JoggZdvihuHORE {
	@include elemAutoHeight(45);
}
#AreaPageManualP2_Zvaranie_MomentaryPushButton_JoggZdvihuHORE {
		z-index: 3;
}
#AreaPageManualP2_Zvaranie_MomentaryPushButton_JoggZdvihuHORE {
	@include border-radius(10px);
}
#AreaPageManualP2_Zvaranie_MomentaryPushButton_JoggZdvihuHORE {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_MomentaryPushButton_JoggZdvihuHORE {
	@include text-alignment(left);
}
#AreaPageManualP2_Zvaranie_MomentaryPushButton_JoggZdvihuHORE {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Zvaranie_MomentaryPushButton_JoggZdvihuHORE {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Zvaranie_MomentaryPushButton_JoggZdvihuHORE {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Zvaranie_ImageList15 {
	@include elemTop(236);
}
#AreaPageManualP2_Zvaranie_ImageList15 {
	@include elemLeft(176);
}
#AreaPageManualP2_Zvaranie_ImageList15 {
	@include elemWidth(25);
}
#AreaPageManualP2_Zvaranie_ImageList15 {
	@include elemHeight(25);
}
#AreaPageManualP2_Zvaranie_ImageList15 {
		z-index: 11;
}
#AreaPageManualP2_Zvaranie_ImageList15 {
		border-style: none;
}
#AreaPageManualP2_Zvaranie_ImageList15 {
		border-width: 0px;
}
#AreaPageManualP2_Zvaranie_Line3 {
		z-index: 4;
}
#AreaPageManualP2_Zvaranie_Line3 {
	line{
		stroke-width: 2px;
	}
}
#AreaPageManualP2_Zvaranie_ImageList16 {
	@include elemTop(282);
}
#AreaPageManualP2_Zvaranie_ImageList16 {
	@include elemLeft(176);
}
#AreaPageManualP2_Zvaranie_ImageList16 {
	@include elemWidth(25);
}
#AreaPageManualP2_Zvaranie_ImageList16 {
	@include elemHeight(25);
}
#AreaPageManualP2_Zvaranie_ImageList16 {
		z-index: 12;
}
#AreaPageManualP2_Zvaranie_ImageList16 {
		border-style: none;
}
#AreaPageManualP2_Zvaranie_ImageList16 {
		border-width: 0px;
}
#AreaPageManualP2_Zvaranie_Label27 {
	@include elemTop(141);
}
#AreaPageManualP2_Zvaranie_Label27 {
	@include elemLeft(11);
}
#AreaPageManualP2_Zvaranie_Label27 {
	@include elemAutoWidth(195);
}
#AreaPageManualP2_Zvaranie_Label27 {
	@include elemAutoHeight(77);
}
#AreaPageManualP2_Zvaranie_Label27 {
		z-index: 5;
}
#AreaPageManualP2_Zvaranie_Label27 {
		border-width: 2px;
}
#AreaPageManualP2_Zvaranie_Label27 {
	@include border-radius(5px);
}
#AreaPageManualP2_Zvaranie_Label27 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP2_Zvaranie_Label27 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP2_Zvaranie_Label27 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_Label27 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_Label27 {
		border-style: outset;
}
#AreaPageManualP2_Zvaranie_Label27 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP2_Zvaranie_Label27 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP2_Zvaranie_Label27 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_Label27 {
	@include text-alignment-all('center top');
}
#AreaPageManualP2_Zvaranie_Label27 {
		font-size: 14px;
}
#AreaPageManualP2_Zvaranie_Label27 {
	@include font-weight-bold(true);
}
#AreaPageManualP2_Zvaranie_Label28 {
	@include elemTop(141);
}
#AreaPageManualP2_Zvaranie_Label28 {
	@include elemLeft(221);
}
#AreaPageManualP2_Zvaranie_Label28 {
	@include elemAutoWidth(195);
}
#AreaPageManualP2_Zvaranie_Label28 {
	@include elemAutoHeight(77);
}
#AreaPageManualP2_Zvaranie_Label28 {
		z-index: 6;
}
#AreaPageManualP2_Zvaranie_Label28 {
		border-width: 2px;
}
#AreaPageManualP2_Zvaranie_Label28 {
	@include border-radius(5px);
}
#AreaPageManualP2_Zvaranie_Label28 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP2_Zvaranie_Label28 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP2_Zvaranie_Label28 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_Label28 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_Label28 {
		border-style: outset;
}
#AreaPageManualP2_Zvaranie_Label28 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP2_Zvaranie_Label28 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP2_Zvaranie_Label28 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_Label28 {
	@include text-alignment-all('center top');
}
#AreaPageManualP2_Zvaranie_Label28 {
		font-size: 14px;
}
#AreaPageManualP2_Zvaranie_Label28 {
	@include font-weight-bold(true);
}
#AreaPageManualP2_Zvaranie_Label16 {
	@include elemTop(231);
}
#AreaPageManualP2_Zvaranie_Label16 {
	@include elemLeft(11);
}
#AreaPageManualP2_Zvaranie_Label16 {
	@include elemAutoWidth(195);
}
#AreaPageManualP2_Zvaranie_Label16 {
	@include elemAutoHeight(35);
}
#AreaPageManualP2_Zvaranie_Label16 {
		z-index: 9;
}
#AreaPageManualP2_Zvaranie_Label16 {
		border-width: 2px;
}
#AreaPageManualP2_Zvaranie_Label16 {
	@include border-radius(5px);
}
#AreaPageManualP2_Zvaranie_Label16 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP2_Zvaranie_Label16 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP2_Zvaranie_Label16 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_Label16 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_Label16 {
		border-style: outset;
}
#AreaPageManualP2_Zvaranie_Label16 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP2_Zvaranie_Label16 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP2_Zvaranie_Label16 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_Label16 {
		font-size: 14px;
}
#AreaPageManualP2_Zvaranie_Label16 {
	@include font-weight-bold(true);
}
#AreaPageManualP2_Zvaranie_Label17 {
	@include elemTop(277);
}
#AreaPageManualP2_Zvaranie_Label17 {
	@include elemLeft(11);
}
#AreaPageManualP2_Zvaranie_Label17 {
	@include elemAutoWidth(195);
}
#AreaPageManualP2_Zvaranie_Label17 {
	@include elemAutoHeight(35);
}
#AreaPageManualP2_Zvaranie_Label17 {
		z-index: 10;
}
#AreaPageManualP2_Zvaranie_Label17 {
		border-width: 2px;
}
#AreaPageManualP2_Zvaranie_Label17 {
	@include border-radius(5px);
}
#AreaPageManualP2_Zvaranie_Label17 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP2_Zvaranie_Label17 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP2_Zvaranie_Label17 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_Label17 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_Label17 {
		border-style: outset;
}
#AreaPageManualP2_Zvaranie_Label17 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP2_Zvaranie_Label17 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP2_Zvaranie_Label17 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_Label17 {
		font-size: 14px;
}
#AreaPageManualP2_Zvaranie_Label17 {
	@include font-weight-bold(true);
}
#AreaPageManualP2_Zvaranie_GroupBox3 {
	@include elemTop(68);
}
#AreaPageManualP2_Zvaranie_GroupBox3 {
	@include elemLeft(923);
}
#AreaPageManualP2_Zvaranie_GroupBox3 {
	@include elemWidth(430);
}
#AreaPageManualP2_Zvaranie_GroupBox3 {
	@include elemHeight(250);
}
#AreaPageManualP2_Zvaranie_GroupBox3 {
		z-index: 3;
}
#AreaPageManualP2_Zvaranie_GroupBox3 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP2_Zvaranie_GroupBox3 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_GroupBox3 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP2_Zvaranie_Button_ZostupCentrovania {
	@include elemTop(79);
}
#AreaPageManualP2_Zvaranie_Button_ZostupCentrovania {
	@include elemLeft(15);
}
#AreaPageManualP2_Zvaranie_Button_ZostupCentrovania {
	@include elemAutoWidth(165);
}
#AreaPageManualP2_Zvaranie_Button_ZostupCentrovania {
	@include elemAutoHeight(45);
}
#AreaPageManualP2_Zvaranie_Button_ZostupCentrovania {
		z-index: 0;
}
#AreaPageManualP2_Zvaranie_Button_ZostupCentrovania {
	@include border-radius(10px);
}
#AreaPageManualP2_Zvaranie_Button_ZostupCentrovania {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_Button_ZostupCentrovania {
	@include text-alignment(left);
}
#AreaPageManualP2_Zvaranie_Button_ZostupCentrovania {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Zvaranie_Button_ZostupCentrovania {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Zvaranie_Button_ZostupCentrovania {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Zvaranie_ImageList5 {
	@include elemTop(89);
}
#AreaPageManualP2_Zvaranie_ImageList5 {
	@include elemLeft(141);
}
#AreaPageManualP2_Zvaranie_ImageList5 {
	@include elemWidth(25);
}
#AreaPageManualP2_Zvaranie_ImageList5 {
	@include elemHeight(25);
}
#AreaPageManualP2_Zvaranie_ImageList5 {
		z-index: 1;
}
#AreaPageManualP2_Zvaranie_ImageList5 {
		border-style: none;
}
#AreaPageManualP2_Zvaranie_ImageList5 {
		border-width: 0px;
}
#AreaPageManualP2_Zvaranie_Button_ZdvihCentrovania {
	@include elemTop(79);
}
#AreaPageManualP2_Zvaranie_Button_ZdvihCentrovania {
	@include elemLeft(245);
}
#AreaPageManualP2_Zvaranie_Button_ZdvihCentrovania {
	@include elemAutoWidth(165);
}
#AreaPageManualP2_Zvaranie_Button_ZdvihCentrovania {
	@include elemAutoHeight(45);
}
#AreaPageManualP2_Zvaranie_Button_ZdvihCentrovania {
		z-index: 2;
}
#AreaPageManualP2_Zvaranie_Button_ZdvihCentrovania {
	@include border-radius(10px);
}
#AreaPageManualP2_Zvaranie_Button_ZdvihCentrovania {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_Button_ZdvihCentrovania {
	@include text-alignment(left);
}
#AreaPageManualP2_Zvaranie_Button_ZdvihCentrovania {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Zvaranie_Button_ZdvihCentrovania {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Zvaranie_Button_ZdvihCentrovania {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Zvaranie_ImageList4 {
	@include elemTop(89);
}
#AreaPageManualP2_Zvaranie_ImageList4 {
	@include elemLeft(372);
}
#AreaPageManualP2_Zvaranie_ImageList4 {
	@include elemWidth(25);
}
#AreaPageManualP2_Zvaranie_ImageList4 {
	@include elemHeight(25);
}
#AreaPageManualP2_Zvaranie_ImageList4 {
		z-index: 3;
}
#AreaPageManualP2_Zvaranie_ImageList4 {
		border-style: none;
}
#AreaPageManualP2_Zvaranie_ImageList4 {
		border-width: 0px;
}
#AreaPageManualP2_Zvaranie_GroupBox4 {
	@include elemTop(328);
}
#AreaPageManualP2_Zvaranie_GroupBox4 {
	@include elemLeft(468);
}
#AreaPageManualP2_Zvaranie_GroupBox4 {
	@include elemWidth(430);
}
#AreaPageManualP2_Zvaranie_GroupBox4 {
	@include elemHeight(250);
}
#AreaPageManualP2_Zvaranie_GroupBox4 {
		z-index: 4;
}
#AreaPageManualP2_Zvaranie_GroupBox4 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP2_Zvaranie_GroupBox4 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_GroupBox4 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP2_Zvaranie_ToggleSwitch_Stoper {
	@include elemTop(115);
}
#AreaPageManualP2_Zvaranie_ToggleSwitch_Stoper {
	@include elemLeft(132);
}
#AreaPageManualP2_Zvaranie_ToggleSwitch_Stoper {
	@include elemAutoWidth(165);
}
#AreaPageManualP2_Zvaranie_ToggleSwitch_Stoper {
	@include elemAutoHeight(45);
}
#AreaPageManualP2_Zvaranie_ToggleSwitch_Stoper {
		z-index: 0;
}
#AreaPageManualP2_Zvaranie_ToggleSwitch_Stoper {
	&:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .before{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_ToggleSwitch_Stoper {
	&:not(.disabled):not(.checked) .breaseToggleSwitch_toggle .after{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_ToggleSwitch_Stoper {
	.breaseToggleSwitch_toggle .wrapper .before{
		font-size: 16px;
	}
}
#AreaPageManualP2_Zvaranie_ToggleSwitch_Stoper {
	.breaseToggleSwitch_toggle .wrapper .after{
		font-size: 16px;
	}
}
#AreaPageManualP2_Zvaranie_ToggleSwitch_Stoper {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Zvaranie_ToggleSwitch_Stoper {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Zvaranie_ToggleSwitch_Stoper {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Zvaranie_ImageList17 {
	@include elemTop(22);
}
#AreaPageManualP2_Zvaranie_ImageList17 {
	@include elemLeft(179);
}
#AreaPageManualP2_Zvaranie_ImageList17 {
	@include elemWidth(25);
}
#AreaPageManualP2_Zvaranie_ImageList17 {
	@include elemHeight(25);
}
#AreaPageManualP2_Zvaranie_ImageList17 {
		z-index: 2;
}
#AreaPageManualP2_Zvaranie_ImageList17 {
		border-style: none;
}
#AreaPageManualP2_Zvaranie_ImageList17 {
		border-width: 0px;
}
#AreaPageManualP2_Zvaranie_Label18 {
	@include elemTop(17);
}
#AreaPageManualP2_Zvaranie_Label18 {
	@include elemLeft(15);
}
#AreaPageManualP2_Zvaranie_Label18 {
	@include elemAutoWidth(195);
}
#AreaPageManualP2_Zvaranie_Label18 {
	@include elemAutoHeight(35);
}
#AreaPageManualP2_Zvaranie_Label18 {
		z-index: 1;
}
#AreaPageManualP2_Zvaranie_Label18 {
		border-width: 2px;
}
#AreaPageManualP2_Zvaranie_Label18 {
	@include border-radius(5px);
}
#AreaPageManualP2_Zvaranie_Label18 {
		background-color: rgba(192, 192, 192, 1);
}
#AreaPageManualP2_Zvaranie_Label18 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaPageManualP2_Zvaranie_Label18 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_Label18 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_Label18 {
		border-style: outset;
}
#AreaPageManualP2_Zvaranie_Label18 {
	&:before{
		border-style: outset;
	}
}
#AreaPageManualP2_Zvaranie_Label18 {
	&:after{
		border-style: outset;
	}
}
#AreaPageManualP2_Zvaranie_Label18 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_Label18 {
		font-size: 14px;
}
#AreaPageManualP2_Zvaranie_Label18 {
	@include font-weight-bold(true);
}
#AreaPageManualP2_Zvaranie_GroupBox5 {
	@include elemTop(68);
}
#AreaPageManualP2_Zvaranie_GroupBox5 {
	@include elemLeft(468);
}
#AreaPageManualP2_Zvaranie_GroupBox5 {
	@include elemWidth(430);
}
#AreaPageManualP2_Zvaranie_GroupBox5 {
	@include elemHeight(250);
}
#AreaPageManualP2_Zvaranie_GroupBox5 {
		z-index: 5;
}
#AreaPageManualP2_Zvaranie_GroupBox5 {
		background-color: rgba(253, 245, 230, 1);
}
#AreaPageManualP2_Zvaranie_GroupBox5 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_GroupBox5 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageManualP2_Zvaranie_Button_PresunVLAVO {
	@include elemTop(79);
}
#AreaPageManualP2_Zvaranie_Button_PresunVLAVO {
	@include elemLeft(15);
}
#AreaPageManualP2_Zvaranie_Button_PresunVLAVO {
	@include elemAutoWidth(165);
}
#AreaPageManualP2_Zvaranie_Button_PresunVLAVO {
	@include elemAutoHeight(45);
}
#AreaPageManualP2_Zvaranie_Button_PresunVLAVO {
		z-index: 0;
}
#AreaPageManualP2_Zvaranie_Button_PresunVLAVO {
	@include border-radius(10px);
}
#AreaPageManualP2_Zvaranie_Button_PresunVLAVO {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_Button_PresunVLAVO {
	@include text-alignment(left);
}
#AreaPageManualP2_Zvaranie_Button_PresunVLAVO {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Zvaranie_Button_PresunVLAVO {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Zvaranie_Button_PresunVLAVO {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Zvaranie_ImageList7 {
	@include elemTop(89);
}
#AreaPageManualP2_Zvaranie_ImageList7 {
	@include elemLeft(143);
}
#AreaPageManualP2_Zvaranie_ImageList7 {
	@include elemWidth(25);
}
#AreaPageManualP2_Zvaranie_ImageList7 {
	@include elemHeight(25);
}
#AreaPageManualP2_Zvaranie_ImageList7 {
		z-index: 1;
}
#AreaPageManualP2_Zvaranie_ImageList7 {
		border-style: none;
}
#AreaPageManualP2_Zvaranie_ImageList7 {
		border-width: 0px;
}
#AreaPageManualP2_Zvaranie_Button_PresunVPRAVO {
	@include elemTop(79);
}
#AreaPageManualP2_Zvaranie_Button_PresunVPRAVO {
	@include elemLeft(249);
}
#AreaPageManualP2_Zvaranie_Button_PresunVPRAVO {
	@include elemAutoWidth(165);
}
#AreaPageManualP2_Zvaranie_Button_PresunVPRAVO {
	@include elemAutoHeight(45);
}
#AreaPageManualP2_Zvaranie_Button_PresunVPRAVO {
		z-index: 2;
}
#AreaPageManualP2_Zvaranie_Button_PresunVPRAVO {
	@include border-radius(10px);
}
#AreaPageManualP2_Zvaranie_Button_PresunVPRAVO {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_Button_PresunVPRAVO {
	@include text-alignment(left);
}
#AreaPageManualP2_Zvaranie_Button_PresunVPRAVO {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Zvaranie_Button_PresunVPRAVO {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Zvaranie_Button_PresunVPRAVO {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Zvaranie_ImageList8 {
	@include elemTop(89);
}
#AreaPageManualP2_Zvaranie_ImageList8 {
	@include elemLeft(379);
}
#AreaPageManualP2_Zvaranie_ImageList8 {
	@include elemWidth(25);
}
#AreaPageManualP2_Zvaranie_ImageList8 {
	@include elemHeight(25);
}
#AreaPageManualP2_Zvaranie_ImageList8 {
		z-index: 3;
}
#AreaPageManualP2_Zvaranie_ImageList8 {
		border-style: none;
}
#AreaPageManualP2_Zvaranie_ImageList8 {
		border-width: 0px;
}
#AreaPageManualP2_Zvaranie_NavigationButton_NextPage {
	@include elemTop(8);
}
#AreaPageManualP2_Zvaranie_NavigationButton_NextPage {
	@include elemLeft(1248);
}
#AreaPageManualP2_Zvaranie_NavigationButton_NextPage {
	@include elemAutoWidth(105);
}
#AreaPageManualP2_Zvaranie_NavigationButton_NextPage {
	@include elemAutoHeight(50);
}
#AreaPageManualP2_Zvaranie_NavigationButton_NextPage {
		z-index: 6;
}
#AreaPageManualP2_Zvaranie_NavigationButton_NextPage {
		border-style: solid;
}
#AreaPageManualP2_Zvaranie_NavigationButton_NextPage {
	&.active{
		border-style: solid;
	}
}
#AreaPageManualP2_Zvaranie_NavigationButton_NextPage {
	&.checked{
		border-style: solid;
	}
}
#AreaPageManualP2_Zvaranie_NavigationButton_NextPage {
	&.disabled{
		border-style: solid;
	}
}
#AreaPageManualP2_Zvaranie_NavigationButton_NextPage {
	&:not(.active):not(.checked){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualP2_Zvaranie_NavigationButton_NextPage {
	&.disabled{
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualP2_Zvaranie_NavigationButton_NextPage {
	@include border-radius(8px);
}
#AreaPageManualP2_Zvaranie_NavigationButton_NextPage {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%)');
	}
}
#AreaPageManualP2_Zvaranie_NavigationButton_NextPage {
	&.active:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%)');
	}
}
#AreaPageManualP2_Zvaranie_NavigationButton_NextPage {
	&.checked:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%)');
	}
}
#AreaPageManualP2_Zvaranie_NavigationButton_NextPage {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_NavigationButton_NextPage {
	&.active:not(.disabled):not(.editMode){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualP2_Zvaranie_NavigationButton_NextPage {
	&.checked:not(.disabled){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageManualP2_Zvaranie_NavigationButton_NextPage {
	&.active:not(.disabled):not(.editMode) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_NavigationButton_NextPage {
	&.checked:not(.disabled) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageManualP2_Zvaranie_NavigationButton_NextPage {
	span{
		font-size: 20px;
	}
}
#AreaPageManualP2_Zvaranie_NavigationButton_NextPage {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Zvaranie_NavigationButton_NextPage {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageManualP2_Zvaranie_NavigationButton_NextPage {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
