#AreaPageAutomatP34_Image1 {
  top: 0px;
  position: absolute;
}

#AreaPageAutomatP34_Image1 {
  left: 0px;
  position: absolute;
}

#AreaPageAutomatP34_Image1 {
  width: 1366px;
}

#AreaPageAutomatP34_Image1 {
  height: 588px;
}

#AreaPageAutomatP34_Image1 {
  z-index: 0;
}

#AreaPageAutomatP34_Image1 {
  opacity: 0.2;
}

#AreaPageAutomatP34_Label1 {
  top: 20px;
  position: absolute;
}

#AreaPageAutomatP34_Label1 {
  left: 483px;
  position: absolute;
}

#AreaPageAutomatP34_Label1 {
  width: 400px;
}

#AreaPageAutomatP34_Label1 {
  height: 35px;
}

#AreaPageAutomatP34_Label1 {
  z-index: 2;
}

#AreaPageAutomatP34_Label1 {
  border-width: 5px;
}

#AreaPageAutomatP34_Label1 {
  border-radius: 5px;
}

#AreaPageAutomatP34_Label1 {
  border-color: #999999;
}

#AreaPageAutomatP34_Label1:before {
  border-color: #999999;
}

#AreaPageAutomatP34_Label1:after {
  border-color: #999999;
}

#AreaPageAutomatP34_Label1 {
  border-style: ridge;
}

#AreaPageAutomatP34_Label1:before {
  border-style: ridge;
}

#AreaPageAutomatP34_Label1:after {
  border-style: ridge;
}

#AreaPageAutomatP34_Label1 span {
  color: black;
}

#AreaPageAutomatP34_Label1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageAutomatP34_Label1 {
  font-size: 20px;
}

#AreaPageAutomatP34_ImageList5 {
  top: 454px;
  position: absolute;
}

#AreaPageAutomatP34_ImageList5 {
  left: 524px;
  position: absolute;
}

#AreaPageAutomatP34_ImageList5 {
  width: 28px;
}

#AreaPageAutomatP34_ImageList5 {
  height: 28px;
}

#AreaPageAutomatP34_ImageList5 {
  z-index: 3;
}

#AreaPageAutomatP34_ImageList5 {
  border-style: none;
}

#AreaPageAutomatP34_ImageList5 {
  border-width: 0px;
}

#AreaPageAutomatP34_grpFileExplorerStatus {
  top: 14px;
  position: absolute;
}

#AreaPageAutomatP34_grpFileExplorerStatus {
  left: 1082px;
  position: absolute;
}

#AreaPageAutomatP34_grpFileExplorerStatus {
  width: 272px;
}

#AreaPageAutomatP34_grpFileExplorerStatus {
  height: 47px;
}

#AreaPageAutomatP34_grpFileExplorerStatus {
  z-index: 4;
}

#AreaPageAutomatP34_grpFileExplorerStatus {
  border-radius: 8px 8px 8px 8px;
}

#AreaPageAutomatP34_grpFileExplorerStatus {
  background-color: oldlace;
}

#AreaPageAutomatP34_grpFileExplorerStatus {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_labRecError {
  top: 3px;
  position: absolute;
}

#AreaPageAutomatP34_labRecError {
  left: 9px;
  position: absolute;
}

#AreaPageAutomatP34_labRecError {
  width: 142px;
}

#AreaPageAutomatP34_labRecError {
  height: 40px;
}

#AreaPageAutomatP34_labRecError {
  z-index: 0;
}

#AreaPageAutomatP34_labRecError span {
  color: black;
}

#AreaPageAutomatP34_labRecError {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageAutomatP34_labRecError {
  font-size: 18px;
}

#AreaPageAutomatP34_labRecError {
  font-weight: bold;
}

#AreaPageAutomatP34_labRecStatus {
  top: 41px;
  position: absolute;
}

#AreaPageAutomatP34_labRecStatus {
  left: 11px;
  position: absolute;
}

#AreaPageAutomatP34_labRecStatus {
  width: 111px;
}

#AreaPageAutomatP34_labRecStatus {
  height: 40px;
}

#AreaPageAutomatP34_labRecStatus {
  z-index: 1;
}

#AreaPageAutomatP34_labRecStatus {
  justify-content: flex-start;
  text-align: left;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageAutomatP34_labRecStatus {
  font-size: 15px;
}

#AreaPageAutomatP34_labRecStatus {
  font-weight: bold;
}

#AreaPageAutomatP34_TextOutput_NazovModelu {
  top: 5px;
  position: absolute;
}

#AreaPageAutomatP34_TextOutput_NazovModelu {
  left: 171px;
  position: absolute;
}

#AreaPageAutomatP34_TextOutput_NazovModelu {
  width: 88px;
}

#AreaPageAutomatP34_TextOutput_NazovModelu {
  height: 35px;
}

#AreaPageAutomatP34_TextOutput_NazovModelu {
  z-index: 2;
}

#AreaPageAutomatP34_TextOutput_NazovModelu {
  border-width: 3px;
}

#AreaPageAutomatP34_TextOutput_NazovModelu {
  border-radius: 3px;
}

#AreaPageAutomatP34_TextOutput_NazovModelu {
  background-color: #ff8500;
}

#AreaPageAutomatP34_TextOutput_NazovModelu {
  border-color: #999999;
}

#AreaPageAutomatP34_TextOutput_NazovModelu:before {
  border-color: #999999;
}

#AreaPageAutomatP34_TextOutput_NazovModelu:after {
  border-color: #999999;
}

#AreaPageAutomatP34_TextOutput_NazovModelu {
  border-style: ridge;
}

#AreaPageAutomatP34_TextOutput_NazovModelu:before {
  border-style: ridge;
}

#AreaPageAutomatP34_TextOutput_NazovModelu:after {
  border-style: ridge;
}

#AreaPageAutomatP34_TextOutput_NazovModelu span {
  color: black;
}

#AreaPageAutomatP34_TextOutput_NazovModelu {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaPageAutomatP34_TextOutput_NazovModelu {
  font-size: 20px;
}

#AreaPageAutomatP34_TextOutput_NazovModelu {
  font-weight: bold;
}

#AreaPageAutomatP34_TextOutput_NazovModelu span {
  padding: 0px 5px 0px 5px;
}

#AreaPageAutomatP34_ImageList6 {
  top: 478px;
  position: absolute;
}

#AreaPageAutomatP34_ImageList6 {
  left: 422px;
  position: absolute;
}

#AreaPageAutomatP34_ImageList6 {
  width: 28px;
}

#AreaPageAutomatP34_ImageList6 {
  height: 28px;
}

#AreaPageAutomatP34_ImageList6 {
  z-index: 5;
}

#AreaPageAutomatP34_ImageList6 {
  border-style: none;
}

#AreaPageAutomatP34_ImageList6 {
  border-width: 0px;
}

#AreaPageAutomatP34_ImageList7 {
  top: 390px;
  position: absolute;
}

#AreaPageAutomatP34_ImageList7 {
  left: 336px;
  position: absolute;
}

#AreaPageAutomatP34_ImageList7 {
  width: 28px;
}

#AreaPageAutomatP34_ImageList7 {
  height: 28px;
}

#AreaPageAutomatP34_ImageList7 {
  z-index: 6;
}

#AreaPageAutomatP34_ImageList7 {
  border-style: none;
}

#AreaPageAutomatP34_ImageList7 {
  border-width: 0px;
}

#AreaPageAutomatP34_ImageList8 {
  top: 304px;
  position: absolute;
}

#AreaPageAutomatP34_ImageList8 {
  left: 336px;
  position: absolute;
}

#AreaPageAutomatP34_ImageList8 {
  width: 28px;
}

#AreaPageAutomatP34_ImageList8 {
  height: 28px;
}

#AreaPageAutomatP34_ImageList8 {
  z-index: 7;
}

#AreaPageAutomatP34_ImageList8 {
  border-style: none;
}

#AreaPageAutomatP34_ImageList8 {
  border-width: 0px;
}

#AreaPageAutomatP34_ImageList9 {
  top: 390px;
  position: absolute;
}

#AreaPageAutomatP34_ImageList9 {
  left: 422px;
  position: absolute;
}

#AreaPageAutomatP34_ImageList9 {
  width: 28px;
}

#AreaPageAutomatP34_ImageList9 {
  height: 28px;
}

#AreaPageAutomatP34_ImageList9 {
  z-index: 8;
}

#AreaPageAutomatP34_ImageList9 {
  border-style: none;
}

#AreaPageAutomatP34_ImageList9 {
  border-width: 0px;
}

#AreaPageAutomatP34_ImageList10 {
  top: 390px;
  position: absolute;
}

#AreaPageAutomatP34_ImageList10 {
  left: 488px;
  position: absolute;
}

#AreaPageAutomatP34_ImageList10 {
  width: 28px;
}

#AreaPageAutomatP34_ImageList10 {
  height: 28px;
}

#AreaPageAutomatP34_ImageList10 {
  z-index: 9;
}

#AreaPageAutomatP34_ImageList10 {
  border-style: none;
}

#AreaPageAutomatP34_ImageList10 {
  border-width: 0px;
}

#AreaPageAutomatP34_ImageList11 {
  top: 390px;
  position: absolute;
}

#AreaPageAutomatP34_ImageList11 {
  left: 576px;
  position: absolute;
}

#AreaPageAutomatP34_ImageList11 {
  width: 28px;
}

#AreaPageAutomatP34_ImageList11 {
  height: 28px;
}

#AreaPageAutomatP34_ImageList11 {
  z-index: 10;
}

#AreaPageAutomatP34_ImageList11 {
  border-style: none;
}

#AreaPageAutomatP34_ImageList11 {
  border-width: 0px;
}

#AreaPageAutomatP34_GroupBox6 {
  top: 80px;
  position: absolute;
}

#AreaPageAutomatP34_GroupBox6 {
  left: 16px;
  position: absolute;
}

#AreaPageAutomatP34_GroupBox6 {
  width: 230px;
}

#AreaPageAutomatP34_GroupBox6 {
  height: 492px;
}

#AreaPageAutomatP34_GroupBox6 {
  z-index: 11;
}

#AreaPageAutomatP34_GroupBox6 {
  border-radius: 6px 6px 6px 6px;
}

#AreaPageAutomatP34_GroupBox6 {
  background-color: oldlace;
}

#AreaPageAutomatP34_GroupBox6 > .header span {
  color: black;
}

#AreaPageAutomatP34_GroupBox6 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_Button_START_Bunka3 {
  top: 11px;
  position: absolute;
}

#AreaPageAutomatP34_Button_START_Bunka3 {
  left: 9px;
  position: absolute;
}

#AreaPageAutomatP34_Button_START_Bunka3 {
  width: 210px;
}

#AreaPageAutomatP34_Button_START_Bunka3 {
  height: 60px;
}

#AreaPageAutomatP34_Button_START_Bunka3 {
  z-index: 0;
}

#AreaPageAutomatP34_Button_START_Bunka3 {
  border-radius: 10px;
}

#AreaPageAutomatP34_Button_START_Bunka3:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom, rgba(192, 255, 192, 1) 20%,rgba(0,255,0,1) 100%);
}

#AreaPageAutomatP34_Button_START_Bunka3:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageAutomatP34_Button_START_Bunka3 span {
  font-size: 25px;
}

#AreaPageAutomatP34_Button_START_Bunka3:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_Button_START_Bunka3.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_Button_START_Bunka3.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_Button_STOP_Bunka3 {
  top: 89px;
  position: absolute;
}

#AreaPageAutomatP34_Button_STOP_Bunka3 {
  left: 9px;
  position: absolute;
}

#AreaPageAutomatP34_Button_STOP_Bunka3 {
  width: 210px;
}

#AreaPageAutomatP34_Button_STOP_Bunka3 {
  height: 60px;
}

#AreaPageAutomatP34_Button_STOP_Bunka3 {
  z-index: 1;
}

#AreaPageAutomatP34_Button_STOP_Bunka3 {
  border-radius: 10px;
}

#AreaPageAutomatP34_Button_STOP_Bunka3:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom, rgba(255, 192, 192, 1) 20%,rgba(255,0,0,1) 100%);
}

#AreaPageAutomatP34_Button_STOP_Bunka3:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageAutomatP34_Button_STOP_Bunka3 span {
  font-size: 25px;
}

#AreaPageAutomatP34_Button_STOP_Bunka3:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_Button_STOP_Bunka3.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_Button_STOP_Bunka3.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_Button_KoniecCyklu_Bunka3 {
  top: 167px;
  position: absolute;
}

#AreaPageAutomatP34_Button_KoniecCyklu_Bunka3 {
  left: 9px;
  position: absolute;
}

#AreaPageAutomatP34_Button_KoniecCyklu_Bunka3 {
  width: 210px;
}

#AreaPageAutomatP34_Button_KoniecCyklu_Bunka3 {
  height: 60px;
}

#AreaPageAutomatP34_Button_KoniecCyklu_Bunka3 {
  z-index: 2;
}

#AreaPageAutomatP34_Button_KoniecCyklu_Bunka3 {
  border-radius: 10px;
}

#AreaPageAutomatP34_Button_KoniecCyklu_Bunka3:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom, rgba(192, 255, 255, 1) 20%,rgba(0,255,255,1) 100%);
}

#AreaPageAutomatP34_Button_KoniecCyklu_Bunka3:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageAutomatP34_Button_KoniecCyklu_Bunka3 span {
  font-size: 22px;
}

#AreaPageAutomatP34_Button_KoniecCyklu_Bunka3 span {
  font-weight: bold;
}

#AreaPageAutomatP34_Button_KoniecCyklu_Bunka3:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_Button_KoniecCyklu_Bunka3.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_Button_KoniecCyklu_Bunka3.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_GroupBox7 {
  top: 80px;
  position: absolute;
}

#AreaPageAutomatP34_GroupBox7 {
  left: 1118px;
  position: absolute;
}

#AreaPageAutomatP34_GroupBox7 {
  width: 230px;
}

#AreaPageAutomatP34_GroupBox7 {
  height: 492px;
}

#AreaPageAutomatP34_GroupBox7 {
  z-index: 12;
}

#AreaPageAutomatP34_GroupBox7 {
  border-radius: 6px 6px 6px 6px;
}

#AreaPageAutomatP34_GroupBox7 {
  background-color: oldlace;
}

#AreaPageAutomatP34_GroupBox7 > .header span {
  color: black;
}

#AreaPageAutomatP34_GroupBox7 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_Button_START_Bunka4 {
  top: 11px;
  position: absolute;
}

#AreaPageAutomatP34_Button_START_Bunka4 {
  left: 9px;
  position: absolute;
}

#AreaPageAutomatP34_Button_START_Bunka4 {
  width: 210px;
}

#AreaPageAutomatP34_Button_START_Bunka4 {
  height: 60px;
}

#AreaPageAutomatP34_Button_START_Bunka4 {
  z-index: 0;
}

#AreaPageAutomatP34_Button_START_Bunka4 {
  border-radius: 10px;
}

#AreaPageAutomatP34_Button_START_Bunka4:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom, rgba(192, 255, 192, 1) 20%,rgba(0,255,0,1) 100%);
}

#AreaPageAutomatP34_Button_START_Bunka4:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageAutomatP34_Button_START_Bunka4 span {
  font-size: 25px;
}

#AreaPageAutomatP34_Button_START_Bunka4:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_Button_START_Bunka4.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_Button_START_Bunka4.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_Button_STOP_Bunka4 {
  top: 89px;
  position: absolute;
}

#AreaPageAutomatP34_Button_STOP_Bunka4 {
  left: 9px;
  position: absolute;
}

#AreaPageAutomatP34_Button_STOP_Bunka4 {
  width: 210px;
}

#AreaPageAutomatP34_Button_STOP_Bunka4 {
  height: 60px;
}

#AreaPageAutomatP34_Button_STOP_Bunka4 {
  z-index: 1;
}

#AreaPageAutomatP34_Button_STOP_Bunka4 {
  border-radius: 10px;
}

#AreaPageAutomatP34_Button_STOP_Bunka4:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom, rgba(255, 192, 192, 1) 20%,rgba(255,0,0,1) 100%);
}

#AreaPageAutomatP34_Button_STOP_Bunka4:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageAutomatP34_Button_STOP_Bunka4 span {
  font-size: 25px;
}

#AreaPageAutomatP34_Button_STOP_Bunka4:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_Button_STOP_Bunka4.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_Button_STOP_Bunka4.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_Button_KoniecCyklu_Bunka4 {
  top: 167px;
  position: absolute;
}

#AreaPageAutomatP34_Button_KoniecCyklu_Bunka4 {
  left: 9px;
  position: absolute;
}

#AreaPageAutomatP34_Button_KoniecCyklu_Bunka4 {
  width: 210px;
}

#AreaPageAutomatP34_Button_KoniecCyklu_Bunka4 {
  height: 60px;
}

#AreaPageAutomatP34_Button_KoniecCyklu_Bunka4 {
  z-index: 2;
}

#AreaPageAutomatP34_Button_KoniecCyklu_Bunka4 {
  border-radius: 10px;
}

#AreaPageAutomatP34_Button_KoniecCyklu_Bunka4:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom, rgba(192, 255, 255, 1) 20%,rgba(0,255,255,1) 100%);
}

#AreaPageAutomatP34_Button_KoniecCyklu_Bunka4:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageAutomatP34_Button_KoniecCyklu_Bunka4 span {
  font-size: 22px;
}

#AreaPageAutomatP34_Button_KoniecCyklu_Bunka4 span {
  font-weight: bold;
}

#AreaPageAutomatP34_Button_KoniecCyklu_Bunka4:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_Button_KoniecCyklu_Bunka4.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_Button_KoniecCyklu_Bunka4.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_ImageList12 {
  top: 454px;
  position: absolute;
}

#AreaPageAutomatP34_ImageList12 {
  left: 782px;
  position: absolute;
}

#AreaPageAutomatP34_ImageList12 {
  width: 28px;
}

#AreaPageAutomatP34_ImageList12 {
  height: 28px;
}

#AreaPageAutomatP34_ImageList12 {
  z-index: 13;
}

#AreaPageAutomatP34_ImageList12 {
  border-style: none;
}

#AreaPageAutomatP34_ImageList12 {
  border-width: 0px;
}

#AreaPageAutomatP34_ImageList13 {
  top: 390px;
  position: absolute;
}

#AreaPageAutomatP34_ImageList13 {
  left: 992px;
  position: absolute;
}

#AreaPageAutomatP34_ImageList13 {
  width: 28px;
}

#AreaPageAutomatP34_ImageList13 {
  height: 28px;
}

#AreaPageAutomatP34_ImageList13 {
  z-index: 14;
}

#AreaPageAutomatP34_ImageList13 {
  border-style: none;
}

#AreaPageAutomatP34_ImageList13 {
  border-width: 0px;
}

#AreaPageAutomatP34_ImageList14 {
  top: 390px;
  position: absolute;
}

#AreaPageAutomatP34_ImageList14 {
  left: 692px;
  position: absolute;
}

#AreaPageAutomatP34_ImageList14 {
  width: 28px;
}

#AreaPageAutomatP34_ImageList14 {
  height: 28px;
}

#AreaPageAutomatP34_ImageList14 {
  z-index: 15;
}

#AreaPageAutomatP34_ImageList14 {
  border-style: none;
}

#AreaPageAutomatP34_ImageList14 {
  border-width: 0px;
}

#AreaPageAutomatP34_ImageList15 {
  top: 390px;
  position: absolute;
}

#AreaPageAutomatP34_ImageList15 {
  left: 760px;
  position: absolute;
}

#AreaPageAutomatP34_ImageList15 {
  width: 28px;
}

#AreaPageAutomatP34_ImageList15 {
  height: 28px;
}

#AreaPageAutomatP34_ImageList15 {
  z-index: 16;
}

#AreaPageAutomatP34_ImageList15 {
  border-style: none;
}

#AreaPageAutomatP34_ImageList15 {
  border-width: 0px;
}

#AreaPageAutomatP34_ImageList16 {
  top: 390px;
  position: absolute;
}

#AreaPageAutomatP34_ImageList16 {
  left: 814px;
  position: absolute;
}

#AreaPageAutomatP34_ImageList16 {
  width: 28px;
}

#AreaPageAutomatP34_ImageList16 {
  height: 28px;
}

#AreaPageAutomatP34_ImageList16 {
  z-index: 17;
}

#AreaPageAutomatP34_ImageList16 {
  border-style: none;
}

#AreaPageAutomatP34_ImageList16 {
  border-width: 0px;
}

#AreaPageAutomatP34_Image2 {
  top: 76px;
  position: absolute;
}

#AreaPageAutomatP34_Image2 {
  left: 12px;
  position: absolute;
}

#AreaPageAutomatP34_Image2 {
  width: 1342px;
}

#AreaPageAutomatP34_Image2 {
  height: 502px;
}

#AreaPageAutomatP34_Image2 {
  z-index: 1;
}

#AreaPageAutomatP34_Image2 {
  border-style: solid;
}

#AreaPageAutomatP34_GroupBox8 {
  top: 108px;
  position: absolute;
}

#AreaPageAutomatP34_GroupBox8 {
  left: 282px;
  position: absolute;
}

#AreaPageAutomatP34_GroupBox8 {
  width: 88px;
}

#AreaPageAutomatP34_GroupBox8 {
  height: 68px;
}

#AreaPageAutomatP34_GroupBox8 {
  z-index: 18;
}

#AreaPageAutomatP34_GroupBox8 {
  border-width: 3px;
}

#AreaPageAutomatP34_GroupBox8 > .header {
  border-width: 3px;
}

#AreaPageAutomatP34_GroupBox8 {
  border-radius: 3px 3px 3px 3px;
}

#AreaPageAutomatP34_GroupBox8 {
  background-color: silver;
}

#AreaPageAutomatP34_GroupBox8 {
  border-style: ridge;
}

#AreaPageAutomatP34_GroupBox8 > .header {
  border-bottom-style: ridge;
}

#AreaPageAutomatP34_GroupBox8 > .header span {
  color: black;
}

#AreaPageAutomatP34_GroupBox8 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMIN {
  top: 1px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMIN {
  left: 1px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMIN {
  width: 80px;
}

#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMIN {
  height: 20px;
}

#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMIN {
  z-index: 2;
}

#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMIN input {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMIN span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMIN input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMIN input {
  font-size: 12px;
}

#AreaPageAutomatP34_NumericOutput_ST7_TaktimeSEC {
  top: 21px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST7_TaktimeSEC {
  left: 1px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST7_TaktimeSEC {
  width: 80px;
}

#AreaPageAutomatP34_NumericOutput_ST7_TaktimeSEC {
  height: 20px;
}

#AreaPageAutomatP34_NumericOutput_ST7_TaktimeSEC {
  z-index: 1;
}

#AreaPageAutomatP34_NumericOutput_ST7_TaktimeSEC input {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST7_TaktimeSEC span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST7_TaktimeSEC input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP34_NumericOutput_ST7_TaktimeSEC input {
  font-size: 12px;
}

#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMILISEC {
  top: 41px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMILISEC {
  left: 1px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMILISEC {
  width: 80px;
}

#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMILISEC {
  height: 20px;
}

#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMILISEC {
  z-index: 0;
}

#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMILISEC input {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMILISEC span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMILISEC input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP34_NumericOutput_ST7_TaktimeMILISEC input {
  font-size: 12px;
}

#AreaPageAutomatP34_GroupBox9 {
  top: 108px;
  position: absolute;
}

#AreaPageAutomatP34_GroupBox9 {
  left: 446px;
  position: absolute;
}

#AreaPageAutomatP34_GroupBox9 {
  width: 88px;
}

#AreaPageAutomatP34_GroupBox9 {
  height: 68px;
}

#AreaPageAutomatP34_GroupBox9 {
  z-index: 19;
}

#AreaPageAutomatP34_GroupBox9 {
  border-width: 3px;
}

#AreaPageAutomatP34_GroupBox9 > .header {
  border-width: 3px;
}

#AreaPageAutomatP34_GroupBox9 {
  border-radius: 3px 3px 3px 3px;
}

#AreaPageAutomatP34_GroupBox9 {
  background-color: silver;
}

#AreaPageAutomatP34_GroupBox9 {
  border-style: ridge;
}

#AreaPageAutomatP34_GroupBox9 > .header {
  border-bottom-style: ridge;
}

#AreaPageAutomatP34_GroupBox9 > .header span {
  color: black;
}

#AreaPageAutomatP34_GroupBox9 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMIN {
  top: 1px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMIN {
  left: 1px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMIN {
  width: 80px;
}

#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMIN {
  height: 20px;
}

#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMIN {
  z-index: 2;
}

#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMIN input {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMIN span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMIN input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMIN input {
  font-size: 12px;
}

#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeSEC {
  top: 21px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeSEC {
  left: 1px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeSEC {
  width: 80px;
}

#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeSEC {
  height: 20px;
}

#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeSEC {
  z-index: 1;
}

#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeSEC input {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeSEC span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeSEC input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeSEC input {
  font-size: 12px;
}

#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMILISEC {
  top: 41px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMILISEC {
  left: 1px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMILISEC {
  width: 80px;
}

#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMILISEC {
  height: 20px;
}

#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMILISEC {
  z-index: 0;
}

#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMILISEC input {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMILISEC span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMILISEC input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP34_NumericOutput_ST8A_TaktimeMILISEC input {
  font-size: 12px;
}

#AreaPageAutomatP34_GroupBox10 {
  top: 108px;
  position: absolute;
}

#AreaPageAutomatP34_GroupBox10 {
  left: 550px;
  position: absolute;
}

#AreaPageAutomatP34_GroupBox10 {
  width: 88px;
}

#AreaPageAutomatP34_GroupBox10 {
  height: 68px;
}

#AreaPageAutomatP34_GroupBox10 {
  z-index: 20;
}

#AreaPageAutomatP34_GroupBox10 {
  border-width: 3px;
}

#AreaPageAutomatP34_GroupBox10 > .header {
  border-width: 3px;
}

#AreaPageAutomatP34_GroupBox10 {
  border-radius: 3px 3px 3px 3px;
}

#AreaPageAutomatP34_GroupBox10 {
  background-color: silver;
}

#AreaPageAutomatP34_GroupBox10 {
  border-style: ridge;
}

#AreaPageAutomatP34_GroupBox10 > .header {
  border-bottom-style: ridge;
}

#AreaPageAutomatP34_GroupBox10 > .header span {
  color: black;
}

#AreaPageAutomatP34_GroupBox10 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMIN {
  top: 1px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMIN {
  left: 1px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMIN {
  width: 80px;
}

#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMIN {
  height: 20px;
}

#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMIN {
  z-index: 2;
}

#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMIN input {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMIN span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMIN input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMIN input {
  font-size: 12px;
}

#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeSEC {
  top: 21px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeSEC {
  left: 1px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeSEC {
  width: 80px;
}

#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeSEC {
  height: 20px;
}

#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeSEC {
  z-index: 1;
}

#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeSEC input {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeSEC span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeSEC input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeSEC input {
  font-size: 12px;
}

#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMILISEC {
  top: 41px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMILISEC {
  left: 1px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMILISEC {
  width: 80px;
}

#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMILISEC {
  height: 20px;
}

#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMILISEC {
  z-index: 0;
}

#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMILISEC input {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMILISEC span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMILISEC input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP34_NumericOutput_ST8B_TaktimeMILISEC input {
  font-size: 12px;
}

#AreaPageAutomatP34_GroupBox11 {
  top: 108px;
  position: absolute;
}

#AreaPageAutomatP34_GroupBox11 {
  left: 658px;
  position: absolute;
}

#AreaPageAutomatP34_GroupBox11 {
  width: 88px;
}

#AreaPageAutomatP34_GroupBox11 {
  height: 68px;
}

#AreaPageAutomatP34_GroupBox11 {
  z-index: 21;
}

#AreaPageAutomatP34_GroupBox11 {
  border-width: 3px;
}

#AreaPageAutomatP34_GroupBox11 > .header {
  border-width: 3px;
}

#AreaPageAutomatP34_GroupBox11 {
  border-radius: 3px 3px 3px 3px;
}

#AreaPageAutomatP34_GroupBox11 {
  background-color: silver;
}

#AreaPageAutomatP34_GroupBox11 {
  border-style: ridge;
}

#AreaPageAutomatP34_GroupBox11 > .header {
  border-bottom-style: ridge;
}

#AreaPageAutomatP34_GroupBox11 > .header span {
  color: black;
}

#AreaPageAutomatP34_GroupBox11 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMIN {
  top: 1px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMIN {
  left: 1px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMIN {
  width: 80px;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMIN {
  height: 20px;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMIN {
  z-index: 2;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMIN input {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMIN span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMIN input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMIN input {
  font-size: 12px;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeSEC {
  top: 21px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeSEC {
  left: 1px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeSEC {
  width: 80px;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeSEC {
  height: 20px;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeSEC {
  z-index: 1;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeSEC input {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeSEC span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeSEC input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeSEC input {
  font-size: 12px;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMILISEC {
  top: 41px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMILISEC {
  left: 1px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMILISEC {
  width: 80px;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMILISEC {
  height: 20px;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMILISEC {
  z-index: 0;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMILISEC input {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMILISEC span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMILISEC input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestA_TaktimeMILISEC input {
  font-size: 12px;
}

#AreaPageAutomatP34_GroupBox12 {
  top: 108px;
  position: absolute;
}

#AreaPageAutomatP34_GroupBox12 {
  left: 754px;
  position: absolute;
}

#AreaPageAutomatP34_GroupBox12 {
  width: 88px;
}

#AreaPageAutomatP34_GroupBox12 {
  height: 68px;
}

#AreaPageAutomatP34_GroupBox12 {
  z-index: 22;
}

#AreaPageAutomatP34_GroupBox12 {
  border-width: 3px;
}

#AreaPageAutomatP34_GroupBox12 > .header {
  border-width: 3px;
}

#AreaPageAutomatP34_GroupBox12 {
  border-radius: 3px 3px 3px 3px;
}

#AreaPageAutomatP34_GroupBox12 {
  background-color: silver;
}

#AreaPageAutomatP34_GroupBox12 {
  border-style: ridge;
}

#AreaPageAutomatP34_GroupBox12 > .header {
  border-bottom-style: ridge;
}

#AreaPageAutomatP34_GroupBox12 > .header span {
  color: black;
}

#AreaPageAutomatP34_GroupBox12 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMIN {
  top: 1px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMIN {
  left: 1px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMIN {
  width: 80px;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMIN {
  height: 20px;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMIN {
  z-index: 2;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMIN input {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMIN span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMIN input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMIN input {
  font-size: 12px;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeSEC {
  top: 21px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeSEC {
  left: 1px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeSEC {
  width: 80px;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeSEC {
  height: 20px;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeSEC {
  z-index: 1;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeSEC input {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeSEC span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeSEC input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeSEC input {
  font-size: 12px;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMILISEC {
  top: 41px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMILISEC {
  left: 1px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMILISEC {
  width: 80px;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMILISEC {
  height: 20px;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMILISEC {
  z-index: 0;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMILISEC input {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMILISEC span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMILISEC input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP34_NumericOutput_FunkcnyTestB_TaktimeMILISEC input {
  font-size: 12px;
}

#AreaPageAutomatP34_GroupBox13 {
  top: 108px;
  position: absolute;
}

#AreaPageAutomatP34_GroupBox13 {
  left: 850px;
  position: absolute;
}

#AreaPageAutomatP34_GroupBox13 {
  width: 88px;
}

#AreaPageAutomatP34_GroupBox13 {
  height: 68px;
}

#AreaPageAutomatP34_GroupBox13 {
  z-index: 23;
}

#AreaPageAutomatP34_GroupBox13 {
  border-width: 3px;
}

#AreaPageAutomatP34_GroupBox13 > .header {
  border-width: 3px;
}

#AreaPageAutomatP34_GroupBox13 {
  border-radius: 3px 3px 3px 3px;
}

#AreaPageAutomatP34_GroupBox13 {
  background-color: silver;
}

#AreaPageAutomatP34_GroupBox13 {
  border-style: ridge;
}

#AreaPageAutomatP34_GroupBox13 > .header {
  border-bottom-style: ridge;
}

#AreaPageAutomatP34_GroupBox13 > .header span {
  color: black;
}

#AreaPageAutomatP34_GroupBox13 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMIN {
  top: 1px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMIN {
  left: 1px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMIN {
  width: 80px;
}

#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMIN {
  height: 20px;
}

#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMIN {
  z-index: 2;
}

#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMIN input {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMIN span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMIN input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP34_NumericOutput_ST9_TaktimeMIN input {
  font-size: 12px;
}

#AreaPageAutomatP34_NumericOutput_ST14 {
  top: 21px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST14 {
  left: 1px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST14 {
  width: 80px;
}

#AreaPageAutomatP34_NumericOutput_ST14 {
  height: 20px;
}

#AreaPageAutomatP34_NumericOutput_ST14 {
  z-index: 1;
}

#AreaPageAutomatP34_NumericOutput_ST14 input {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST14 span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST14 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP34_NumericOutput_ST14 input {
  font-size: 12px;
}

#AreaPageAutomatP34_NumericOutput_ST15 {
  top: 41px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST15 {
  left: 1px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST15 {
  width: 80px;
}

#AreaPageAutomatP34_NumericOutput_ST15 {
  height: 20px;
}

#AreaPageAutomatP34_NumericOutput_ST15 {
  z-index: 0;
}

#AreaPageAutomatP34_NumericOutput_ST15 input {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST15 span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST15 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP34_NumericOutput_ST15 input {
  font-size: 12px;
}

#AreaPageAutomatP34_GroupBox14 {
  top: 108px;
  position: absolute;
}

#AreaPageAutomatP34_GroupBox14 {
  left: 964px;
  position: absolute;
}

#AreaPageAutomatP34_GroupBox14 {
  width: 88px;
}

#AreaPageAutomatP34_GroupBox14 {
  height: 68px;
}

#AreaPageAutomatP34_GroupBox14 {
  z-index: 24;
}

#AreaPageAutomatP34_GroupBox14 {
  border-width: 3px;
}

#AreaPageAutomatP34_GroupBox14 > .header {
  border-width: 3px;
}

#AreaPageAutomatP34_GroupBox14 {
  border-radius: 3px 3px 3px 3px;
}

#AreaPageAutomatP34_GroupBox14 {
  background-color: silver;
}

#AreaPageAutomatP34_GroupBox14 {
  border-style: ridge;
}

#AreaPageAutomatP34_GroupBox14 > .header {
  border-bottom-style: ridge;
}

#AreaPageAutomatP34_GroupBox14 > .header span {
  color: black;
}

#AreaPageAutomatP34_GroupBox14 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMIN {
  top: 1px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMIN {
  left: 1px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMIN {
  width: 80px;
}

#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMIN {
  height: 20px;
}

#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMIN {
  z-index: 2;
}

#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMIN input {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMIN span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMIN input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP34_NumericOutput_ST10_TaktimeMIN input {
  font-size: 12px;
}

#AreaPageAutomatP34_NumericOutput_ST17 {
  top: 21px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST17 {
  left: 1px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST17 {
  width: 80px;
}

#AreaPageAutomatP34_NumericOutput_ST17 {
  height: 20px;
}

#AreaPageAutomatP34_NumericOutput_ST17 {
  z-index: 1;
}

#AreaPageAutomatP34_NumericOutput_ST17 input {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST17 span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST17 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP34_NumericOutput_ST17 input {
  font-size: 12px;
}

#AreaPageAutomatP34_NumericOutput_ST18 {
  top: 41px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST18 {
  left: 1px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_ST18 {
  width: 80px;
}

#AreaPageAutomatP34_NumericOutput_ST18 {
  height: 20px;
}

#AreaPageAutomatP34_NumericOutput_ST18 {
  z-index: 0;
}

#AreaPageAutomatP34_NumericOutput_ST18 input {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST18 span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_ST18 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP34_NumericOutput_ST18 input {
  font-size: 12px;
}

#AreaPageAutomatP34_CheckBox1 {
  top: 304px;
  position: absolute;
}

#AreaPageAutomatP34_CheckBox1 {
  left: 478px;
  position: absolute;
}

#AreaPageAutomatP34_CheckBox1 {
  width: 35px;
}

#AreaPageAutomatP34_CheckBox1 {
  height: 35px;
}

#AreaPageAutomatP34_CheckBox1 {
  z-index: 25;
}

#AreaPageAutomatP34_CheckBox1 {
  border-style: solid;
}

#AreaPageAutomatP34_CheckBox1 {
  border-width: 2px;
}

#AreaPageAutomatP34_CheckBox1:not(.disabled):not(.active):not(.checked) {
  background-color: #e0e0e0;
}

#AreaPageAutomatP34_CheckBox1.disabled {
  background-color: #e0e0e0;
}

#AreaPageAutomatP34_CheckBox1:not(.disabled):not(.active):not(.checked) {
  border-color: black;
}

#AreaPageAutomatP34_CheckBox1:not(.disabled) span {
  color: black;
}

#AreaPageAutomatP34_CheckBox1.disabled span {
  color: black;
}

#AreaPageAutomatP34_CheckBox1.disabled.checked span {
  border-color: black;
}

#AreaPageAutomatP34_CheckBox1.disabled.active span {
  border-color: black;
}

#AreaPageAutomatP34_CheckBox1.active:not(.disabled):not(.editMode) span {
  color: black;
}

#AreaPageAutomatP34_CheckBox1.checked:not(.disabled) span {
  color: black;
}

#AreaPageAutomatP34_CheckBox1:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_CheckBox1.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_CheckBox1.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_CheckBox1.active:not(.disabled):not(.editMode) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_CheckBox1.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_CheckBox1.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_CheckBox2 {
  top: 304px;
  position: absolute;
}

#AreaPageAutomatP34_CheckBox2 {
  left: 572px;
  position: absolute;
}

#AreaPageAutomatP34_CheckBox2 {
  width: 35px;
}

#AreaPageAutomatP34_CheckBox2 {
  height: 35px;
}

#AreaPageAutomatP34_CheckBox2 {
  z-index: 26;
}

#AreaPageAutomatP34_CheckBox2 {
  border-style: solid;
}

#AreaPageAutomatP34_CheckBox2 {
  border-width: 2px;
}

#AreaPageAutomatP34_CheckBox2:not(.disabled):not(.active):not(.checked) {
  background-color: #e0e0e0;
}

#AreaPageAutomatP34_CheckBox2.disabled {
  background-color: #e0e0e0;
}

#AreaPageAutomatP34_CheckBox2:not(.disabled):not(.active):not(.checked) {
  border-color: black;
}

#AreaPageAutomatP34_CheckBox2:not(.disabled) span {
  color: black;
}

#AreaPageAutomatP34_CheckBox2.disabled span {
  color: black;
}

#AreaPageAutomatP34_CheckBox2.disabled.checked span {
  border-color: black;
}

#AreaPageAutomatP34_CheckBox2.disabled.active span {
  border-color: black;
}

#AreaPageAutomatP34_CheckBox2.active:not(.disabled):not(.editMode) span {
  color: black;
}

#AreaPageAutomatP34_CheckBox2.checked:not(.disabled) span {
  color: black;
}

#AreaPageAutomatP34_CheckBox2:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_CheckBox2.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_CheckBox2.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_CheckBox2.active:not(.disabled):not(.editMode) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_CheckBox2.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_CheckBox2.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_CheckBox3 {
  top: 304px;
  position: absolute;
}

#AreaPageAutomatP34_CheckBox3 {
  left: 684px;
  position: absolute;
}

#AreaPageAutomatP34_CheckBox3 {
  width: 35px;
}

#AreaPageAutomatP34_CheckBox3 {
  height: 35px;
}

#AreaPageAutomatP34_CheckBox3 {
  z-index: 27;
}

#AreaPageAutomatP34_CheckBox3 {
  border-style: solid;
}

#AreaPageAutomatP34_CheckBox3 {
  border-width: 2px;
}

#AreaPageAutomatP34_CheckBox3:not(.disabled):not(.active):not(.checked) {
  background-color: #e0e0e0;
}

#AreaPageAutomatP34_CheckBox3.disabled {
  background-color: #e0e0e0;
}

#AreaPageAutomatP34_CheckBox3:not(.disabled):not(.active):not(.checked) {
  border-color: black;
}

#AreaPageAutomatP34_CheckBox3:not(.disabled) span {
  color: black;
}

#AreaPageAutomatP34_CheckBox3.disabled span {
  color: black;
}

#AreaPageAutomatP34_CheckBox3.disabled.checked span {
  border-color: black;
}

#AreaPageAutomatP34_CheckBox3.disabled.active span {
  border-color: black;
}

#AreaPageAutomatP34_CheckBox3.active:not(.disabled):not(.editMode) span {
  color: black;
}

#AreaPageAutomatP34_CheckBox3.checked:not(.disabled) span {
  color: black;
}

#AreaPageAutomatP34_CheckBox3:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_CheckBox3.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_CheckBox3.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_CheckBox3.active:not(.disabled):not(.editMode) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_CheckBox3.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_CheckBox3.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_CheckBox4 {
  top: 304px;
  position: absolute;
}

#AreaPageAutomatP34_CheckBox4 {
  left: 756px;
  position: absolute;
}

#AreaPageAutomatP34_CheckBox4 {
  width: 35px;
}

#AreaPageAutomatP34_CheckBox4 {
  height: 35px;
}

#AreaPageAutomatP34_CheckBox4 {
  z-index: 28;
}

#AreaPageAutomatP34_CheckBox4 {
  border-style: solid;
}

#AreaPageAutomatP34_CheckBox4 {
  border-width: 2px;
}

#AreaPageAutomatP34_CheckBox4:not(.disabled):not(.active):not(.checked) {
  background-color: #e0e0e0;
}

#AreaPageAutomatP34_CheckBox4.disabled {
  background-color: #e0e0e0;
}

#AreaPageAutomatP34_CheckBox4:not(.disabled):not(.active):not(.checked) {
  border-color: black;
}

#AreaPageAutomatP34_CheckBox4:not(.disabled) span {
  color: black;
}

#AreaPageAutomatP34_CheckBox4.disabled span {
  color: black;
}

#AreaPageAutomatP34_CheckBox4.disabled.checked span {
  border-color: black;
}

#AreaPageAutomatP34_CheckBox4.disabled.active span {
  border-color: black;
}

#AreaPageAutomatP34_CheckBox4.active:not(.disabled):not(.editMode) span {
  color: black;
}

#AreaPageAutomatP34_CheckBox4.checked:not(.disabled) span {
  color: black;
}

#AreaPageAutomatP34_CheckBox4:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_CheckBox4.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_CheckBox4.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_CheckBox4.active:not(.disabled):not(.editMode) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_CheckBox4.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_CheckBox4.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_ImageList17 {
  top: 390px;
  position: absolute;
}

#AreaPageAutomatP34_ImageList17 {
  left: 288px;
  position: absolute;
}

#AreaPageAutomatP34_ImageList17 {
  width: 28px;
}

#AreaPageAutomatP34_ImageList17 {
  height: 28px;
}

#AreaPageAutomatP34_ImageList17 {
  z-index: 29;
}

#AreaPageAutomatP34_ImageList17 {
  border-style: none;
}

#AreaPageAutomatP34_ImageList17 {
  border-width: 0px;
}

#AreaPageAutomatP34_ToggleButton_VyprazdnenieLinky {
  top: 498px;
  position: absolute;
}

#AreaPageAutomatP34_ToggleButton_VyprazdnenieLinky {
  left: 1128px;
  position: absolute;
}

#AreaPageAutomatP34_ToggleButton_VyprazdnenieLinky {
  width: 210px;
}

#AreaPageAutomatP34_ToggleButton_VyprazdnenieLinky {
  height: 60px;
}

#AreaPageAutomatP34_ToggleButton_VyprazdnenieLinky {
  z-index: 30;
}

#AreaPageAutomatP34_ToggleButton_VyprazdnenieLinky {
  border-radius: 10px;
}

#AreaPageAutomatP34_ToggleButton_VyprazdnenieLinky:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom, rgba(255, 228, 196, 1) 20%,rgba(255,165,0,1) 100%);
}

#AreaPageAutomatP34_ToggleButton_VyprazdnenieLinky:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageAutomatP34_ToggleButton_VyprazdnenieLinky span {
  font-size: 22px;
}

#AreaPageAutomatP34_ToggleButton_VyprazdnenieLinky:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_ToggleButton_VyprazdnenieLinky.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_ToggleButton_VyprazdnenieLinky.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_ToggleButton_VyprazdnenieLinky.checked:not(.active):not(.disabled) {
  background-color: darkgray;
}

#AreaPageAutomatP34_ToggleButton_VyprazdnenieLinky.checked:not(.disabled):not(.active) span {
  color: #ff8000;
}

#AreaPageAutomatP34_NumericOutput_LeakageTest_VyrovnTlak1 {
  width: 100px;
}

#AreaPageAutomatP34_NumericOutput_LeakageTest_VyrovnTlak1 {
  top: 348px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_LeakageTest_VyrovnTlak1 {
  left: 544px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_LeakageTest_VyrovnTlak1 {
  height: 25px;
}

#AreaPageAutomatP34_NumericOutput_LeakageTest_VyrovnTlak1 {
  z-index: 31;
}

#AreaPageAutomatP34_NumericOutput_LeakageTest_VyrovnTlak1 {
  border-width: 4px;
}

#AreaPageAutomatP34_NumericOutput_LeakageTest_VyrovnTlak1 {
  border-style: ridge;
}

#AreaPageAutomatP34_NumericOutput_LeakageTest_VyrovnTlak1 input {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_LeakageTest_VyrovnTlak1 span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_LeakageTest_VyrovnTlak1 input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP34_NumericOutput_LeakageTest_VyrovnTlak1 input {
  font-size: 11px;
}

#AreaPageAutomatP34_NumericOutput_LeakageTest_VyrovnTlak1 .breaseNumericOutput_unit {
  font-size: 11px;
}

#AreaPageAutomatP34_NumericOutput_LeakageTest_VyrovnTlak {
  width: 100px;
}

#AreaPageAutomatP34_NumericOutput_LeakageTest_VyrovnTlak {
  top: 348px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_LeakageTest_VyrovnTlak {
  left: 440px;
  position: absolute;
}

#AreaPageAutomatP34_NumericOutput_LeakageTest_VyrovnTlak {
  height: 25px;
}

#AreaPageAutomatP34_NumericOutput_LeakageTest_VyrovnTlak {
  z-index: 32;
}

#AreaPageAutomatP34_NumericOutput_LeakageTest_VyrovnTlak {
  border-width: 4px;
}

#AreaPageAutomatP34_NumericOutput_LeakageTest_VyrovnTlak {
  border-style: ridge;
}

#AreaPageAutomatP34_NumericOutput_LeakageTest_VyrovnTlak input {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_LeakageTest_VyrovnTlak span.breaseNumericOutput_unit {
  color: black;
}

#AreaPageAutomatP34_NumericOutput_LeakageTest_VyrovnTlak input {
  justify-content: flex-start;
  text-align: left;
}

#AreaPageAutomatP34_NumericOutput_LeakageTest_VyrovnTlak input {
  font-size: 11px;
}

#AreaPageAutomatP34_NumericOutput_LeakageTest_VyrovnTlak .breaseNumericOutput_unit {
  font-size: 11px;
}

#AreaPageAutomatP34_ToggleButton_Prihlasenie {
  top: 14px;
  position: absolute;
}

#AreaPageAutomatP34_ToggleButton_Prihlasenie {
  left: 900px;
  position: absolute;
}

#AreaPageAutomatP34_ToggleButton_Prihlasenie {
  width: 160px;
}

#AreaPageAutomatP34_ToggleButton_Prihlasenie {
  height: 47px;
}

#AreaPageAutomatP34_ToggleButton_Prihlasenie {
  z-index: 33;
}

#AreaPageAutomatP34_ToggleButton_Prihlasenie {
  border-radius: 10px;
}

#AreaPageAutomatP34_ToggleButton_Prihlasenie:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#AreaPageAutomatP34_ToggleButton_Prihlasenie span {
  font-size: 18px;
}

#AreaPageAutomatP34_ToggleButton_Prihlasenie:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_ToggleButton_Prihlasenie.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_ToggleButton_Prihlasenie.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#AreaPageAutomatP34_ToggleButton_Prihlasenie.checked:not(.active):not(.disabled) {
  background-color: darkgray;
}

#AreaPageAutomatP34_ToggleButton_Prihlasenie.checked:not(.disabled):not(.active) span {
  color: #ff8000;
}
