#AreaHlasenie6_ST10_GroupBox6 {
  top: 0px;
  position: absolute;
}

#AreaHlasenie6_ST10_GroupBox6 {
  left: 0px;
  position: absolute;
}

#AreaHlasenie6_ST10_GroupBox6 {
  width: 500px;
}

#AreaHlasenie6_ST10_GroupBox6 {
  height: 300px;
}

#AreaHlasenie6_ST10_GroupBox6 {
  z-index: 0;
}

#AreaHlasenie6_ST10_GroupBox6 {
  border-width: 7px;
}

#AreaHlasenie6_ST10_GroupBox6 > .header {
  border-width: 7px;
}

#AreaHlasenie6_ST10_GroupBox6 {
  border-radius: 6px 6px 6px 6px;
}

#AreaHlasenie6_ST10_GroupBox6 {
  background-color: #ffc080;
}

#AreaHlasenie6_ST10_GroupBox6 {
  border-style: groove;
}

#AreaHlasenie6_ST10_GroupBox6 > .header {
  border-bottom-style: groove;
}

#AreaHlasenie6_ST10_GroupBox6 > .header span {
  color: black;
}

#AreaHlasenie6_ST10_GroupBox6 {
  box-shadow: 4px 4px 14px black;
}

#AreaHlasenie6_ST10_Image1 {
  top: 7px;
  position: absolute;
}

#AreaHlasenie6_ST10_Image1 {
  left: 415px;
  position: absolute;
}

#AreaHlasenie6_ST10_Image1 {
  width: 62px;
}

#AreaHlasenie6_ST10_Image1 {
  height: 62px;
}

#AreaHlasenie6_ST10_Image1 {
  z-index: 0;
}

#AreaHlasenie6_ST10_Label1 {
  top: 93px;
  position: absolute;
}

#AreaHlasenie6_ST10_Label1 {
  left: 22px;
  position: absolute;
}

#AreaHlasenie6_ST10_Label1 {
  width: 443px;
}

#AreaHlasenie6_ST10_Label1 {
  height: 100px;
}

#AreaHlasenie6_ST10_Label1 {
  z-index: 1;
}

#AreaHlasenie6_ST10_Label1 span {
  color: black;
}

#AreaHlasenie6_ST10_Label1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#AreaHlasenie6_ST10_Label1 {
  font-size: 24px;
}

#AreaHlasenie6_ST10_Label1 {
  font-weight: bold;
}
