@import "mixins.scss";
#AreaHlasenie5_ST10_GroupBox6 {
	@include elemTop(0);
}
#AreaHlasenie5_ST10_GroupBox6 {
	@include elemLeft(0);
}
#AreaHlasenie5_ST10_GroupBox6 {
	@include elemWidth(500);
}
#AreaHlasenie5_ST10_GroupBox6 {
	@include elemHeight(300);
}
#AreaHlasenie5_ST10_GroupBox6 {
		z-index: 0;
}
#AreaHlasenie5_ST10_GroupBox6 {
		border-width: 7px;
}
#AreaHlasenie5_ST10_GroupBox6 {
	> .header{
		border-width: 7px;
	}
}
#AreaHlasenie5_ST10_GroupBox6 {
	@include border-radius(6px 6px 6px 6px);
}
#AreaHlasenie5_ST10_GroupBox6 {
		background-color: rgba(0, 255, 255, 1);
}
#AreaHlasenie5_ST10_GroupBox6 {
		border-style: groove;
}
#AreaHlasenie5_ST10_GroupBox6 {
	> .header{
		border-bottom-style: groove;
	}
}
#AreaHlasenie5_ST10_GroupBox6 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaHlasenie5_ST10_GroupBox6 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaHlasenie5_ST10_Image1 {
	@include elemTop(7);
}
#AreaHlasenie5_ST10_Image1 {
	@include elemLeft(415);
}
#AreaHlasenie5_ST10_Image1 {
	@include elemAutoWidth(62);
}
#AreaHlasenie5_ST10_Image1 {
	@include elemAutoHeight(62);
}
#AreaHlasenie5_ST10_Image1 {
		z-index: 0;
}
#AreaHlasenie5_ST10_Label1 {
	@include elemTop(59);
}
#AreaHlasenie5_ST10_Label1 {
	@include elemLeft(22);
}
#AreaHlasenie5_ST10_Label1 {
	@include elemAutoWidth(443);
}
#AreaHlasenie5_ST10_Label1 {
	@include elemAutoHeight(100);
}
#AreaHlasenie5_ST10_Label1 {
		z-index: 1;
}
#AreaHlasenie5_ST10_Label1 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaHlasenie5_ST10_Label1 {
	@include text-alignment-all('center');
}
#AreaHlasenie5_ST10_Label1 {
		font-size: 24px;
}
#AreaHlasenie5_ST10_Label1 {
	@include font-weight-bold(true);
}
#AreaHlasenie5_ST10_Label1 {
	span{
	@include text-decoration-underline(false);
	}
}
#AreaHlasenie5_ST10_Button_ANO {
	@include elemTop(193);
}
#AreaHlasenie5_ST10_Button_ANO {
	@include elemLeft(35);
}
#AreaHlasenie5_ST10_Button_ANO {
	@include elemAutoWidth(167);
}
#AreaHlasenie5_ST10_Button_ANO {
	@include elemAutoHeight(45);
}
#AreaHlasenie5_ST10_Button_ANO {
		z-index: 2;
}
#AreaHlasenie5_ST10_Button_ANO {
	@include border-radius(10px);
}
#AreaHlasenie5_ST10_Button_ANO {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaHlasenie5_ST10_Button_ANO {
	@include text-alignment(center);
}
#AreaHlasenie5_ST10_Button_ANO {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaHlasenie5_ST10_Button_ANO {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaHlasenie5_ST10_Button_ANO {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaHlasenie5_ST10_Button_NIE {
	@include elemTop(193);
}
#AreaHlasenie5_ST10_Button_NIE {
	@include elemLeft(279);
}
#AreaHlasenie5_ST10_Button_NIE {
	@include elemAutoWidth(167);
}
#AreaHlasenie5_ST10_Button_NIE {
	@include elemAutoHeight(45);
}
#AreaHlasenie5_ST10_Button_NIE {
		z-index: 3;
}
#AreaHlasenie5_ST10_Button_NIE {
	@include border-radius(10px);
}
#AreaHlasenie5_ST10_Button_NIE {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaHlasenie5_ST10_Button_NIE {
	@include text-alignment(center);
}
#AreaHlasenie5_ST10_Button_NIE {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaHlasenie5_ST10_Button_NIE {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaHlasenie5_ST10_Button_NIE {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
