@import "mixins.scss";
#AreaPageSetupMainP2_Image1 {
	@include elemTop(0);
}
#AreaPageSetupMainP2_Image1 {
	@include elemLeft(0);
}
#AreaPageSetupMainP2_Image1 {
	@include elemAutoWidth(1366);
}
#AreaPageSetupMainP2_Image1 {
	@include elemAutoHeight(588);
}
#AreaPageSetupMainP2_Image1 {
		z-index: 0;
}
#AreaPageSetupMainP2_Image1 {
		opacity: 0.2;
}
#AreaPageSetupMainP2_Label1 {
	@include elemTop(20);
}
#AreaPageSetupMainP2_Label1 {
	@include elemLeft(533);
}
#AreaPageSetupMainP2_Label1 {
	@include elemAutoWidth(300);
}
#AreaPageSetupMainP2_Label1 {
	@include elemAutoHeight(45);
}
#AreaPageSetupMainP2_Label1 {
		z-index: 1;
}
#AreaPageSetupMainP2_Label1 {
		border-width: 8px;
}
#AreaPageSetupMainP2_Label1 {
	@include border-radius(5px);
}
#AreaPageSetupMainP2_Label1 {
		border-style: ridge;
}
#AreaPageSetupMainP2_Label1 {
	&:before{
		border-style: ridge;
	}
}
#AreaPageSetupMainP2_Label1 {
	&:after{
		border-style: ridge;
	}
}
#AreaPageSetupMainP2_Label1 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageSetupMainP2_Label1 {
	@include text-alignment-all('center');
}
#AreaPageSetupMainP2_Label1 {
		font-size: 25px;
}
#AreaPageSetupMainP2_Label1 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaPageSetupMainP2_NavigationButtonPageRecipe {
	@include elemTop(158);
}
#AreaPageSetupMainP2_NavigationButtonPageRecipe {
	@include elemLeft(78);
}
#AreaPageSetupMainP2_NavigationButtonPageRecipe {
	@include elemAutoWidth(340);
}
#AreaPageSetupMainP2_NavigationButtonPageRecipe {
	@include elemAutoHeight(75);
}
#AreaPageSetupMainP2_NavigationButtonPageRecipe {
		z-index: 2;
}
#AreaPageSetupMainP2_NavigationButtonPageRecipe {
		border-style: solid;
}
#AreaPageSetupMainP2_NavigationButtonPageRecipe {
	&.active{
		border-style: solid;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageRecipe {
	&.checked{
		border-style: solid;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageRecipe {
	&.disabled{
		border-style: solid;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageRecipe {
	@include border-radius(8px);
}
#AreaPageSetupMainP2_NavigationButtonPageRecipe {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('');
	}
}
#AreaPageSetupMainP2_NavigationButtonPageRecipe {
	&.active:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%)');
	}
}
#AreaPageSetupMainP2_NavigationButtonPageRecipe {
	&.checked:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%)');
	}
}
#AreaPageSetupMainP2_NavigationButtonPageRecipe {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageSetupMainP2_NavigationButtonPageRecipe {
	&.active:not(.disabled):not(.editMode){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageRecipe {
	&.checked:not(.disabled){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageRecipe {
	&.active:not(.disabled):not(.editMode) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageSetupMainP2_NavigationButtonPageRecipe {
	&.checked:not(.disabled) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageSetupMainP2_NavigationButtonPageRecipe {
	span{
		font-size: 20px;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageRecipe {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageSetupMainP2_NavigationButtonPageRecipe {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageSetupMainP2_NavigationButtonPageRecipe {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageSetupMainP2_NavigationButtonPageUsers {
	@include elemTop(290);
}
#AreaPageSetupMainP2_NavigationButtonPageUsers {
	@include elemLeft(78);
}
#AreaPageSetupMainP2_NavigationButtonPageUsers {
	@include elemAutoWidth(340);
}
#AreaPageSetupMainP2_NavigationButtonPageUsers {
	@include elemAutoHeight(75);
}
#AreaPageSetupMainP2_NavigationButtonPageUsers {
		z-index: 3;
}
#AreaPageSetupMainP2_NavigationButtonPageUsers {
		border-style: solid;
}
#AreaPageSetupMainP2_NavigationButtonPageUsers {
	&.active{
		border-style: solid;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageUsers {
	&.checked{
		border-style: solid;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageUsers {
	&.disabled{
		border-style: solid;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageUsers {
	@include border-radius(8px);
}
#AreaPageSetupMainP2_NavigationButtonPageUsers {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('');
	}
}
#AreaPageSetupMainP2_NavigationButtonPageUsers {
	&.active:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%)');
	}
}
#AreaPageSetupMainP2_NavigationButtonPageUsers {
	&.checked:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%)');
	}
}
#AreaPageSetupMainP2_NavigationButtonPageUsers {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageSetupMainP2_NavigationButtonPageUsers {
	&.active:not(.disabled):not(.editMode){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageUsers {
	&.checked:not(.disabled){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageUsers {
	&.active:not(.disabled):not(.editMode) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageSetupMainP2_NavigationButtonPageUsers {
	&.checked:not(.disabled) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageSetupMainP2_NavigationButtonPageUsers {
	span{
		font-size: 20px;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageUsers {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageSetupMainP2_NavigationButtonPageUsers {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageSetupMainP2_NavigationButtonPageUsers {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageSetupMainP2_NavigationButtonPageAudit {
	@include elemTop(428);
}
#AreaPageSetupMainP2_NavigationButtonPageAudit {
	@include elemLeft(78);
}
#AreaPageSetupMainP2_NavigationButtonPageAudit {
	@include elemAutoWidth(340);
}
#AreaPageSetupMainP2_NavigationButtonPageAudit {
	@include elemAutoHeight(75);
}
#AreaPageSetupMainP2_NavigationButtonPageAudit {
		z-index: 4;
}
#AreaPageSetupMainP2_NavigationButtonPageAudit {
		border-style: solid;
}
#AreaPageSetupMainP2_NavigationButtonPageAudit {
	&.active{
		border-style: solid;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageAudit {
	&.checked{
		border-style: solid;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageAudit {
	&.disabled{
		border-style: solid;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageAudit {
	@include border-radius(8px);
}
#AreaPageSetupMainP2_NavigationButtonPageAudit {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('');
	}
}
#AreaPageSetupMainP2_NavigationButtonPageAudit {
	&.active:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%)');
	}
}
#AreaPageSetupMainP2_NavigationButtonPageAudit {
	&.checked:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%)');
	}
}
#AreaPageSetupMainP2_NavigationButtonPageAudit {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageSetupMainP2_NavigationButtonPageAudit {
	&.active:not(.disabled):not(.editMode){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageAudit {
	&.checked:not(.disabled){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageAudit {
	&.active:not(.disabled):not(.editMode) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageSetupMainP2_NavigationButtonPageAudit {
	&.checked:not(.disabled) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageSetupMainP2_NavigationButtonPageAudit {
	span{
		font-size: 20px;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageAudit {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageSetupMainP2_NavigationButtonPageAudit {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageSetupMainP2_NavigationButtonPageAudit {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageSetupMainP2_NavigationButtonPageExplorer {
	@include elemTop(158);
}
#AreaPageSetupMainP2_NavigationButtonPageExplorer {
	@include elemLeft(513);
}
#AreaPageSetupMainP2_NavigationButtonPageExplorer {
	@include elemAutoWidth(340);
}
#AreaPageSetupMainP2_NavigationButtonPageExplorer {
	@include elemAutoHeight(75);
}
#AreaPageSetupMainP2_NavigationButtonPageExplorer {
		z-index: 5;
}
#AreaPageSetupMainP2_NavigationButtonPageExplorer {
		border-style: solid;
}
#AreaPageSetupMainP2_NavigationButtonPageExplorer {
	&.active{
		border-style: solid;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageExplorer {
	&.checked{
		border-style: solid;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageExplorer {
	&.disabled{
		border-style: solid;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageExplorer {
	@include border-radius(8px);
}
#AreaPageSetupMainP2_NavigationButtonPageExplorer {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('');
	}
}
#AreaPageSetupMainP2_NavigationButtonPageExplorer {
	&.active:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%)');
	}
}
#AreaPageSetupMainP2_NavigationButtonPageExplorer {
	&.checked:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%)');
	}
}
#AreaPageSetupMainP2_NavigationButtonPageExplorer {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageSetupMainP2_NavigationButtonPageExplorer {
	&.active:not(.disabled):not(.editMode){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageExplorer {
	&.checked:not(.disabled){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageExplorer {
	&.active:not(.disabled):not(.editMode) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageSetupMainP2_NavigationButtonPageExplorer {
	&.checked:not(.disabled) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageSetupMainP2_NavigationButtonPageExplorer {
	span{
		font-size: 20px;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageExplorer {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageSetupMainP2_NavigationButtonPageExplorer {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageSetupMainP2_NavigationButtonPageExplorer {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageSetupMainP2_NavigationButtonPageParametre {
	@include elemTop(290);
}
#AreaPageSetupMainP2_NavigationButtonPageParametre {
	@include elemLeft(513);
}
#AreaPageSetupMainP2_NavigationButtonPageParametre {
	@include elemAutoWidth(340);
}
#AreaPageSetupMainP2_NavigationButtonPageParametre {
	@include elemAutoHeight(75);
}
#AreaPageSetupMainP2_NavigationButtonPageParametre {
		z-index: 6;
}
#AreaPageSetupMainP2_NavigationButtonPageParametre {
		border-style: solid;
}
#AreaPageSetupMainP2_NavigationButtonPageParametre {
	&.active{
		border-style: solid;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageParametre {
	&.checked{
		border-style: solid;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageParametre {
	&.disabled{
		border-style: solid;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageParametre {
	@include border-radius(8px);
}
#AreaPageSetupMainP2_NavigationButtonPageParametre {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('');
	}
}
#AreaPageSetupMainP2_NavigationButtonPageParametre {
	&.active:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%)');
	}
}
#AreaPageSetupMainP2_NavigationButtonPageParametre {
	&.checked:not(.disabled){
	@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%)');
	}
}
#AreaPageSetupMainP2_NavigationButtonPageParametre {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageSetupMainP2_NavigationButtonPageParametre {
	&.active:not(.disabled):not(.editMode){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageParametre {
	&.checked:not(.disabled){
		border-width: 1px 1px 1px 1px;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageParametre {
	&.active:not(.disabled):not(.editMode) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageSetupMainP2_NavigationButtonPageParametre {
	&.checked:not(.disabled) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaPageSetupMainP2_NavigationButtonPageParametre {
	span{
		font-size: 20px;
	}
}
#AreaPageSetupMainP2_NavigationButtonPageParametre {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageSetupMainP2_NavigationButtonPageParametre {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaPageSetupMainP2_NavigationButtonPageParametre {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
