#AreaPageInfoP34_Image1 {
  top: 0px;
  position: absolute;
}

#AreaPageInfoP34_Image1 {
  left: 0px;
  position: absolute;
}

#AreaPageInfoP34_Image1 {
  width: 1366px;
}

#AreaPageInfoP34_Image1 {
  height: 588px;
}

#AreaPageInfoP34_Image1 {
  z-index: 0;
}

#AreaPageInfoP34_Image1 {
  opacity: 0.2;
}

#AreaPageInfoP34_Image2 {
  top: 146px;
  position: absolute;
}

#AreaPageInfoP34_Image2 {
  left: 98px;
  position: absolute;
}

#AreaPageInfoP34_Image2 {
  width: 368px;
}

#AreaPageInfoP34_Image2 {
  height: 140px;
}

#AreaPageInfoP34_Image2 {
  z-index: 1;
}

#AreaPageInfoP34_Image2 {
  background-color: rgba(255, 255, 255, 0);
}

#AreaPageInfoP34_Image2 {
  border-style: ridge;
}

#AreaPageInfoP34_Image2 {
  border-width: 8px;
}

#AreaPageInfoP34_Image2 {
  border-radius: 8px;
}

#AreaPageInfoP34_Image2 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageInfoP34_Label2 {
  top: 162px;
  position: absolute;
}

#AreaPageInfoP34_Label2 {
  left: 758px;
  position: absolute;
}

#AreaPageInfoP34_Label2 {
  width: 280px;
}

#AreaPageInfoP34_Label2 {
  height: 42px;
}

#AreaPageInfoP34_Label2 {
  z-index: 2;
}

#AreaPageInfoP34_Label2 {
  font-size: 35px;
}

#AreaPageInfoP34_Label2 {
  font-weight: bold;
}

#AreaPageInfoP34_Label2 {
  box-shadow: 4px 4px 14px black;
}

#AreaPageInfoP34_Label3 {
  height: 30px;
}

#AreaPageInfoP34_Label3 {
  top: 240px;
  position: absolute;
}

#AreaPageInfoP34_Label3 {
  left: 758px;
  position: absolute;
}

#AreaPageInfoP34_Label3 {
  width: 214px;
}

#AreaPageInfoP34_Label3 {
  z-index: 3;
}

#AreaPageInfoP34_Label3 {
  font-size: 20px;
}

#AreaPageInfoP34_Label3 {
  font-weight: bold;
}

#AreaPageInfoP34_Label4 {
  height: 30px;
}

#AreaPageInfoP34_Label4 {
  top: 282px;
  position: absolute;
}

#AreaPageInfoP34_Label4 {
  left: 758px;
  position: absolute;
}

#AreaPageInfoP34_Label4 {
  width: 258px;
}

#AreaPageInfoP34_Label4 {
  z-index: 4;
}

#AreaPageInfoP34_Label4 {
  font-size: 20px;
}

#AreaPageInfoP34_Label4 {
  font-weight: bold;
}

#AreaPageInfoP34_Label5 {
  width: 80px;
}

#AreaPageInfoP34_Label5 {
  height: 30px;
}

#AreaPageInfoP34_Label5 {
  top: 322px;
  position: absolute;
}

#AreaPageInfoP34_Label5 {
  left: 758px;
  position: absolute;
}

#AreaPageInfoP34_Label5 {
  z-index: 5;
}

#AreaPageInfoP34_Label5 {
  font-size: 20px;
}

#AreaPageInfoP34_Label5 {
  font-weight: bold;
}

#AreaPageInfoP34_Label6 {
  height: 30px;
}

#AreaPageInfoP34_Label6 {
  top: 390px;
  position: absolute;
}

#AreaPageInfoP34_Label6 {
  left: 758px;
  position: absolute;
}

#AreaPageInfoP34_Label6 {
  width: 258px;
}

#AreaPageInfoP34_Label6 {
  z-index: 6;
}

#AreaPageInfoP34_Label6 {
  font-size: 20px;
}

#AreaPageInfoP34_Label6 {
  font-weight: bold;
}

#AreaPageInfoP34_Label7 {
  height: 30px;
}

#AreaPageInfoP34_Label7 {
  top: 436px;
  position: absolute;
}

#AreaPageInfoP34_Label7 {
  left: 758px;
  position: absolute;
}

#AreaPageInfoP34_Label7 {
  width: 298px;
}

#AreaPageInfoP34_Label7 {
  z-index: 7;
}

#AreaPageInfoP34_Label7 {
  font-size: 20px;
}

#AreaPageInfoP34_Label7 {
  font-weight: bold;
}

#AreaPageInfoP34_Label8 {
  height: 30px;
}

#AreaPageInfoP34_Label8 {
  top: 484px;
  position: absolute;
}

#AreaPageInfoP34_Label8 {
  left: 758px;
  position: absolute;
}

#AreaPageInfoP34_Label8 {
  width: 284px;
}

#AreaPageInfoP34_Label8 {
  z-index: 8;
}

#AreaPageInfoP34_Label8 {
  font-size: 20px;
}

#AreaPageInfoP34_Label8 {
  font-weight: bold;
}
