#HlavickaP1_Image1 {
  top: 14px;
  position: absolute;
}

#HlavickaP1_Image1 {
  left: 1126px;
  position: absolute;
}

#HlavickaP1_Image1 {
  width: 38px;
}

#HlavickaP1_Image1 {
  height: 38px;
}

#HlavickaP1_Image1 {
  z-index: 0;
}

#HlavickaP1_DateTimeOutput1 {
  top: 8px;
  position: absolute;
}

#HlavickaP1_DateTimeOutput1 {
  left: 6px;
  position: absolute;
}

#HlavickaP1_DateTimeOutput1 {
  width: 207px;
}

#HlavickaP1_DateTimeOutput1 {
  height: 50px;
}

#HlavickaP1_DateTimeOutput1 {
  z-index: 1;
}

#HlavickaP1_DateTimeOutput1 {
  border-width: 8px;
}

#HlavickaP1_DateTimeOutput1 {
  border-radius: 5px;
}

#HlavickaP1_DateTimeOutput1 {
  background-color: lightgray;
}

#HlavickaP1_DateTimeOutput1 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#HlavickaP1_DateTimeOutput1 {
  border-color: #999999;
}

#HlavickaP1_DateTimeOutput1 {
  border-style: ridge;
}

#HlavickaP1_DateTimeOutput1 span {
  color: black;
}

#HlavickaP1_DateTimeOutput1 {
  justify-content: center;
  text-align: center;
}

#HlavickaP1_DateTimeOutput1 {
  font-size: 20px;
}

#HlavickaP1_DateTimeOutput1 {
  box-shadow: 4px 4px 14px black;
}

#HlavickaP1_TextOut_Warnings {
  top: 62px;
  position: absolute;
}

#HlavickaP1_TextOut_Warnings {
  left: 8px;
  position: absolute;
}

#HlavickaP1_TextOut_Warnings {
  width: 1350px;
}

#HlavickaP1_TextOut_Warnings {
  height: 35px;
}

#HlavickaP1_TextOut_Warnings {
  z-index: 2;
}

#HlavickaP1_TextOut_Warnings {
  border-width: 4px;
}

#HlavickaP1_TextOut_Warnings {
  border-radius: 2px;
}

#HlavickaP1_TextOut_Warnings {
  border-color: #999999;
}

#HlavickaP1_TextOut_Warnings:before {
  border-color: #999999;
}

#HlavickaP1_TextOut_Warnings:after {
  border-color: #999999;
}

#HlavickaP1_TextOut_Warnings {
  border-style: ridge;
}

#HlavickaP1_TextOut_Warnings:before {
  border-style: ridge;
}

#HlavickaP1_TextOut_Warnings:after {
  border-style: ridge;
}

#HlavickaP1_TextOut_Warnings span {
  color: black;
}

#HlavickaP1_TextOut_Warnings {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#HlavickaP1_TextOut_Warnings {
  font-size: 20px;
}

#HlavickaP1_TextOut_Warnings {
  box-shadow: 4px 4px 14px transparent;
}

#HlavickaP1_TextOutput1 {
  top: 8px;
  position: absolute;
}

#HlavickaP1_TextOutput1 {
  left: 1174px;
  position: absolute;
}

#HlavickaP1_TextOutput1 {
  width: 184px;
}

#HlavickaP1_TextOutput1 {
  height: 50px;
}

#HlavickaP1_TextOutput1 {
  z-index: 3;
}

#HlavickaP1_TextOutput1 {
  border-width: 8px;
}

#HlavickaP1_TextOutput1 {
  border-radius: 5px;
}

#HlavickaP1_TextOutput1 {
  background-color: lightgray;
}

#HlavickaP1_TextOutput1 {
  background-image: linear-gradient(to bottom, rgba(235,235,235,0.5) 0%, rgba(235,235,235,0.5) 100%);
}

#HlavickaP1_TextOutput1 {
  border-color: #999999;
}

#HlavickaP1_TextOutput1:before {
  border-color: #999999;
}

#HlavickaP1_TextOutput1:after {
  border-color: #999999;
}

#HlavickaP1_TextOutput1 {
  border-style: ridge;
}

#HlavickaP1_TextOutput1:before {
  border-style: ridge;
}

#HlavickaP1_TextOutput1:after {
  border-style: ridge;
}

#HlavickaP1_TextOutput1 span {
  color: black;
}

#HlavickaP1_TextOutput1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#HlavickaP1_TextOutput1 {
  font-size: 20px;
}

#HlavickaP1_TextOutput1 {
  box-shadow: 4px 4px 14px black;
}

#HlavickaP1_Image3 {
  top: 9px;
  position: absolute;
}

#HlavickaP1_Image3 {
  left: 1064px;
  position: absolute;
}

#HlavickaP1_Image3 {
  width: 48px;
}

#HlavickaP1_Image3 {
  height: 48px;
}

#HlavickaP1_Image3 {
  z-index: 4;
}

#HlavickaP1_ButtonResetCS {
  top: 8px;
  position: absolute;
}

#HlavickaP1_ButtonResetCS {
  left: 230px;
  position: absolute;
}

#HlavickaP1_ButtonResetCS {
  width: 150px;
}

#HlavickaP1_ButtonResetCS {
  height: 50px;
}

#HlavickaP1_ButtonResetCS {
  z-index: 5;
}

#HlavickaP1_ButtonResetCS:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#HlavickaP1_ButtonResetCS {
  justify-content: flex-end;
  text-align: right;
}

#HlavickaP1_ButtonResetCS span {
  font-size: 16px;
}

#HlavickaP1_ButtonResetCS:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#HlavickaP1_ButtonResetCS.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#HlavickaP1_ButtonResetCS.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#HlavickaP1_Image2 {
  top: 18px;
  position: absolute;
}

#HlavickaP1_Image2 {
  left: 240px;
  position: absolute;
}

#HlavickaP1_Image2 {
  width: 30px;
}

#HlavickaP1_Image2 {
  height: 30px;
}

#HlavickaP1_Image2 {
  z-index: 6;
}

#HlavickaP1_ButtonZadneDvereLS {
  top: 8px;
  position: absolute;
}

#HlavickaP1_ButtonZadneDvereLS {
  left: 398px;
  position: absolute;
}

#HlavickaP1_ButtonZadneDvereLS {
  width: 150px;
}

#HlavickaP1_ButtonZadneDvereLS {
  height: 50px;
}

#HlavickaP1_ButtonZadneDvereLS {
  z-index: 7;
}

#HlavickaP1_ButtonZadneDvereLS:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#HlavickaP1_ButtonZadneDvereLS {
  justify-content: flex-end;
  text-align: right;
}

#HlavickaP1_ButtonZadneDvereLS span {
  font-size: 16px;
}

#HlavickaP1_ButtonZadneDvereLS:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#HlavickaP1_ButtonZadneDvereLS.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#HlavickaP1_ButtonZadneDvereLS.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#HlavickaP1_ButtonZadneDverePS {
  top: 8px;
  position: absolute;
}

#HlavickaP1_ButtonZadneDverePS {
  left: 564px;
  position: absolute;
}

#HlavickaP1_ButtonZadneDverePS {
  width: 150px;
}

#HlavickaP1_ButtonZadneDverePS {
  height: 50px;
}

#HlavickaP1_ButtonZadneDverePS {
  z-index: 8;
}

#HlavickaP1_ButtonZadneDverePS:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#HlavickaP1_ButtonZadneDverePS {
  justify-content: flex-end;
  text-align: right;
}

#HlavickaP1_ButtonZadneDverePS span {
  font-size: 16px;
}

#HlavickaP1_ButtonZadneDverePS:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#HlavickaP1_ButtonZadneDverePS.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#HlavickaP1_ButtonZadneDverePS.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#HlavickaP1_ButtonPredneDvere {
  top: 8px;
  position: absolute;
}

#HlavickaP1_ButtonPredneDvere {
  left: 732px;
  position: absolute;
}

#HlavickaP1_ButtonPredneDvere {
  width: 150px;
}

#HlavickaP1_ButtonPredneDvere {
  height: 50px;
}

#HlavickaP1_ButtonPredneDvere {
  z-index: 9;
}

#HlavickaP1_ButtonPredneDvere:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#HlavickaP1_ButtonPredneDvere {
  justify-content: flex-end;
  text-align: right;
}

#HlavickaP1_ButtonPredneDvere span {
  font-size: 16px;
}

#HlavickaP1_ButtonPredneDvere:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#HlavickaP1_ButtonPredneDvere.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#HlavickaP1_ButtonPredneDvere.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#HlavickaP1_ImageList2 {
  top: 18px;
  position: absolute;
}

#HlavickaP1_ImageList2 {
  left: 408px;
  position: absolute;
}

#HlavickaP1_ImageList2 {
  width: 30px;
}

#HlavickaP1_ImageList2 {
  height: 30px;
}

#HlavickaP1_ImageList2 {
  z-index: 10;
}

#HlavickaP1_ImageList2 {
  border-style: none;
}

#HlavickaP1_ImageList2 {
  border-width: 0px;
}

#HlavickaP1_ImageList3 {
  top: 18px;
  position: absolute;
}

#HlavickaP1_ImageList3 {
  left: 574px;
  position: absolute;
}

#HlavickaP1_ImageList3 {
  width: 30px;
}

#HlavickaP1_ImageList3 {
  height: 30px;
}

#HlavickaP1_ImageList3 {
  z-index: 11;
}

#HlavickaP1_ImageList3 {
  border-style: none;
}

#HlavickaP1_ImageList3 {
  border-width: 0px;
}

#HlavickaP1_ImageList4 {
  top: 18px;
  position: absolute;
}

#HlavickaP1_ImageList4 {
  left: 742px;
  position: absolute;
}

#HlavickaP1_ImageList4 {
  width: 30px;
}

#HlavickaP1_ImageList4 {
  height: 30px;
}

#HlavickaP1_ImageList4 {
  z-index: 12;
}

#HlavickaP1_ImageList4 {
  border-style: none;
}

#HlavickaP1_ImageList4 {
  border-width: 0px;
}
