#PataP34_NavigationBar1 {
  top: 0px;
  position: absolute;
}

#PataP34_NavigationBar1 {
  left: 0px;
  position: absolute;
}

#PataP34_NavigationBar1 {
  width: 2000px;
}

#PataP34_NavigationBar1 {
  height: 80px;
}

#PataP34_NavigationBar1 {
  z-index: 0;
}

#PataP34_NavigationButton_Automat {
  top: 10px;
  position: absolute;
}

#PataP34_NavigationButton_Automat {
  left: 10px;
  position: absolute;
}

#PataP34_NavigationButton_Automat {
  width: 158px;
}

#PataP34_NavigationButton_Automat {
  height: 60px;
}

#PataP34_NavigationButton_Automat {
  z-index: 0;
}

#PataP34_NavigationButton_Automat {
  border-style: solid;
}

#PataP34_NavigationButton_Automat.active {
  border-style: solid;
}

#PataP34_NavigationButton_Automat.checked {
  border-style: solid;
}

#PataP34_NavigationButton_Automat.disabled {
  border-style: solid;
}

#PataP34_NavigationButton_Automat {
  border-radius: 8px;
}

#PataP34_NavigationButton_Automat.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#PataP34_NavigationButton_Automat.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#PataP34_NavigationButton_Automat:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#PataP34_NavigationButton_Automat.active:not(.disabled):not(.editMode) {
  border-width: 1px 1px 1px 1px;
}

#PataP34_NavigationButton_Automat.checked:not(.disabled) {
  border-width: 1px 1px 1px 1px;
}

#PataP34_NavigationButton_Automat.active:not(.disabled):not(.editMode) span {
  color: black;
}

#PataP34_NavigationButton_Automat.checked:not(.disabled) span {
  color: black;
}

#PataP34_NavigationButton_Automat span {
  font-size: 20px;
}

#PataP34_NavigationButton_Automat:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#PataP34_NavigationButton_Automat.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#PataP34_NavigationButton_Automat.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#PataP34_NavigationButton_Automat.checked:not(.active):not(.disabled) {
  border-color: #ff8000;
}

#PataP34_NavigationButton_ManualP3 {
  top: 10px;
  position: absolute;
}

#PataP34_NavigationButton_ManualP3 {
  left: 180px;
  position: absolute;
}

#PataP34_NavigationButton_ManualP3 {
  width: 158px;
}

#PataP34_NavigationButton_ManualP3 {
  height: 60px;
}

#PataP34_NavigationButton_ManualP3 {
  z-index: 1;
}

#PataP34_NavigationButton_ManualP3 {
  border-style: solid;
}

#PataP34_NavigationButton_ManualP3.active {
  border-style: solid;
}

#PataP34_NavigationButton_ManualP3.checked {
  border-style: solid;
}

#PataP34_NavigationButton_ManualP3.disabled {
  border-style: solid;
}

#PataP34_NavigationButton_ManualP3 {
  border-radius: 8px;
}

#PataP34_NavigationButton_ManualP3.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#PataP34_NavigationButton_ManualP3.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#PataP34_NavigationButton_ManualP3:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#PataP34_NavigationButton_ManualP3.active:not(.disabled):not(.editMode) {
  border-width: 1px 1px 1px 1px;
}

#PataP34_NavigationButton_ManualP3.checked:not(.disabled) {
  border-width: 1px 1px 1px 1px;
}

#PataP34_NavigationButton_ManualP3.active:not(.disabled):not(.editMode) span {
  color: black;
}

#PataP34_NavigationButton_ManualP3.checked:not(.disabled) span {
  color: black;
}

#PataP34_NavigationButton_ManualP3 span {
  font-size: 20px;
}

#PataP34_NavigationButton_ManualP3:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#PataP34_NavigationButton_ManualP3.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#PataP34_NavigationButton_ManualP3.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#PataP34_NavigationButton_Alarmy {
  top: 10px;
  position: absolute;
}

#PataP34_NavigationButton_Alarmy {
  left: 520px;
  position: absolute;
}

#PataP34_NavigationButton_Alarmy {
  width: 158px;
}

#PataP34_NavigationButton_Alarmy {
  height: 60px;
}

#PataP34_NavigationButton_Alarmy {
  z-index: 2;
}

#PataP34_NavigationButton_Alarmy {
  border-style: solid;
}

#PataP34_NavigationButton_Alarmy.active {
  border-style: solid;
}

#PataP34_NavigationButton_Alarmy.checked {
  border-style: solid;
}

#PataP34_NavigationButton_Alarmy.disabled {
  border-style: solid;
}

#PataP34_NavigationButton_Alarmy {
  border-radius: 8px;
}

#PataP34_NavigationButton_Alarmy.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#PataP34_NavigationButton_Alarmy.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#PataP34_NavigationButton_Alarmy:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#PataP34_NavigationButton_Alarmy.active:not(.disabled):not(.editMode) {
  border-width: 1px 1px 1px 1px;
}

#PataP34_NavigationButton_Alarmy.checked:not(.disabled) {
  border-width: 1px 1px 1px 1px;
}

#PataP34_NavigationButton_Alarmy.active:not(.disabled):not(.editMode) span {
  color: black;
}

#PataP34_NavigationButton_Alarmy.checked:not(.disabled) span {
  color: black;
}

#PataP34_NavigationButton_Alarmy span {
  font-size: 20px;
}

#PataP34_NavigationButton_Alarmy:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#PataP34_NavigationButton_Alarmy.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#PataP34_NavigationButton_Alarmy.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#PataP34_NavigationButton_Info {
  top: 10px;
  position: absolute;
}

#PataP34_NavigationButton_Info {
  left: 1200px;
  position: absolute;
}

#PataP34_NavigationButton_Info {
  width: 158px;
}

#PataP34_NavigationButton_Info {
  height: 60px;
}

#PataP34_NavigationButton_Info {
  z-index: 3;
}

#PataP34_NavigationButton_Info:not(.active):not(.disabled):not(.checked) svg {
  fill: rgba(255, 255, 255, 0);
}

#PataP34_NavigationButton_Info.active svg {
  fill: rgba(255, 255, 255, 0);
}

#PataP34_NavigationButton_Info {
  border-style: solid;
}

#PataP34_NavigationButton_Info.active {
  border-style: solid;
}

#PataP34_NavigationButton_Info.checked {
  border-style: solid;
}

#PataP34_NavigationButton_Info.disabled {
  border-style: solid;
}

#PataP34_NavigationButton_Info {
  border-radius: 8px;
}

#PataP34_NavigationButton_Info.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#PataP34_NavigationButton_Info.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#PataP34_NavigationButton_Info:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#PataP34_NavigationButton_Info.active:not(.disabled):not(.editMode) {
  border-width: 1px 1px 1px 1px;
}

#PataP34_NavigationButton_Info.checked:not(.disabled) {
  border-width: 1px 1px 1px 1px;
}

#PataP34_NavigationButton_Info.active:not(.disabled):not(.editMode) span {
  color: black;
}

#PataP34_NavigationButton_Info.checked:not(.disabled) span {
  color: black;
}

#PataP34_NavigationButton_Info span {
  font-size: 20px;
}

#PataP34_NavigationButton_Info:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#PataP34_NavigationButton_Info.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#PataP34_NavigationButton_Info.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#PataP34_NavigationButton_Parametre {
  top: 10px;
  position: absolute;
}

#PataP34_NavigationButton_Parametre {
  left: 350px;
  position: absolute;
}

#PataP34_NavigationButton_Parametre {
  width: 158px;
}

#PataP34_NavigationButton_Parametre {
  height: 60px;
}

#PataP34_NavigationButton_Parametre {
  z-index: 4;
}

#PataP34_NavigationButton_Parametre {
  border-style: solid;
}

#PataP34_NavigationButton_Parametre.active {
  border-style: solid;
}

#PataP34_NavigationButton_Parametre.checked {
  border-style: solid;
}

#PataP34_NavigationButton_Parametre.disabled {
  border-style: solid;
}

#PataP34_NavigationButton_Parametre {
  border-radius: 8px;
}

#PataP34_NavigationButton_Parametre.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#PataP34_NavigationButton_Parametre.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#PataP34_NavigationButton_Parametre:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#PataP34_NavigationButton_Parametre.active:not(.disabled):not(.editMode) {
  border-width: 1px 1px 1px 1px;
}

#PataP34_NavigationButton_Parametre.checked:not(.disabled) {
  border-width: 1px 1px 1px 1px;
}

#PataP34_NavigationButton_Parametre.active:not(.disabled):not(.editMode) span {
  color: black;
}

#PataP34_NavigationButton_Parametre.checked:not(.disabled) span {
  color: black;
}

#PataP34_NavigationButton_Parametre span {
  font-size: 20px;
}

#PataP34_NavigationButton_Parametre:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#PataP34_NavigationButton_Parametre.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#PataP34_NavigationButton_Parametre.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#PataP34_NavigationButton_Setup {
  top: 10px;
  position: absolute;
}

#PataP34_NavigationButton_Setup {
  left: 690px;
  position: absolute;
}

#PataP34_NavigationButton_Setup {
  width: 158px;
}

#PataP34_NavigationButton_Setup {
  height: 60px;
}

#PataP34_NavigationButton_Setup {
  z-index: 5;
}

#PataP34_NavigationButton_Setup {
  border-style: solid;
}

#PataP34_NavigationButton_Setup.active {
  border-style: solid;
}

#PataP34_NavigationButton_Setup.checked {
  border-style: solid;
}

#PataP34_NavigationButton_Setup.disabled {
  border-style: solid;
}

#PataP34_NavigationButton_Setup {
  border-radius: 8px;
}

#PataP34_NavigationButton_Setup.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#PataP34_NavigationButton_Setup.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#PataP34_NavigationButton_Setup:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#PataP34_NavigationButton_Setup.active:not(.disabled):not(.editMode) {
  border-width: 1px 1px 1px 1px;
}

#PataP34_NavigationButton_Setup.checked:not(.disabled) {
  border-width: 1px 1px 1px 1px;
}

#PataP34_NavigationButton_Setup.active:not(.disabled):not(.editMode) span {
  color: black;
}

#PataP34_NavigationButton_Setup.checked:not(.disabled) span {
  color: black;
}

#PataP34_NavigationButton_Setup span {
  font-size: 20px;
}

#PataP34_NavigationButton_Setup:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#PataP34_NavigationButton_Setup.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#PataP34_NavigationButton_Setup.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#PataP34_NavigationButton_Parametre1 {
  top: 10px;
  position: absolute;
}

#PataP34_NavigationButton_Parametre1 {
  left: 1030px;
  position: absolute;
}

#PataP34_NavigationButton_Parametre1 {
  width: 158px;
}

#PataP34_NavigationButton_Parametre1 {
  height: 60px;
}

#PataP34_NavigationButton_Parametre1 {
  z-index: 6;
}

#PataP34_NavigationButton_Parametre1 {
  border-style: solid;
}

#PataP34_NavigationButton_Parametre1.active {
  border-style: solid;
}

#PataP34_NavigationButton_Parametre1.checked {
  border-style: solid;
}

#PataP34_NavigationButton_Parametre1.disabled {
  border-style: solid;
}

#PataP34_NavigationButton_Parametre1 {
  border-radius: 8px;
}

#PataP34_NavigationButton_Parametre1.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#PataP34_NavigationButton_Parametre1.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#PataP34_NavigationButton_Parametre1:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#PataP34_NavigationButton_Parametre1.active:not(.disabled):not(.editMode) {
  border-width: 1px 1px 1px 1px;
}

#PataP34_NavigationButton_Parametre1.checked:not(.disabled) {
  border-width: 1px 1px 1px 1px;
}

#PataP34_NavigationButton_Parametre1.active:not(.disabled):not(.editMode) span {
  color: black;
}

#PataP34_NavigationButton_Parametre1.checked:not(.disabled) span {
  color: black;
}

#PataP34_NavigationButton_Parametre1 span {
  font-size: 20px;
}

#PataP34_NavigationButton_Parametre1:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#PataP34_NavigationButton_Parametre1.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#PataP34_NavigationButton_Parametre1.disabled.checked {
  box-shadow: 4px 4px 14px black;
}

#PataP34_NavigationButton_ManualP4 {
  top: 10px;
  position: absolute;
}

#PataP34_NavigationButton_ManualP4 {
  left: 860px;
  position: absolute;
}

#PataP34_NavigationButton_ManualP4 {
  width: 158px;
}

#PataP34_NavigationButton_ManualP4 {
  height: 60px;
}

#PataP34_NavigationButton_ManualP4 {
  z-index: 7;
}

#PataP34_NavigationButton_ManualP4 {
  border-style: solid;
}

#PataP34_NavigationButton_ManualP4.active {
  border-style: solid;
}

#PataP34_NavigationButton_ManualP4.checked {
  border-style: solid;
}

#PataP34_NavigationButton_ManualP4.disabled {
  border-style: solid;
}

#PataP34_NavigationButton_ManualP4 {
  border-radius: 8px;
}

#PataP34_NavigationButton_ManualP4.active:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#PataP34_NavigationButton_ManualP4.checked:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,133,0,1) 100%);
}

#PataP34_NavigationButton_ManualP4:not(.disabled):not(.active):not(.checked) span {
  color: black;
}

#PataP34_NavigationButton_ManualP4.active:not(.disabled):not(.editMode) {
  border-width: 1px 1px 1px 1px;
}

#PataP34_NavigationButton_ManualP4.checked:not(.disabled) {
  border-width: 1px 1px 1px 1px;
}

#PataP34_NavigationButton_ManualP4.active:not(.disabled):not(.editMode) span {
  color: black;
}

#PataP34_NavigationButton_ManualP4.checked:not(.disabled) span {
  color: black;
}

#PataP34_NavigationButton_ManualP4 span {
  font-size: 20px;
}

#PataP34_NavigationButton_ManualP4:not(.active):not(.checked) {
  box-shadow: 4px 4px 14px black;
}

#PataP34_NavigationButton_ManualP4.disabled.active {
  box-shadow: 4px 4px 14px black;
}

#PataP34_NavigationButton_ManualP4.disabled.checked {
  box-shadow: 4px 4px 14px black;
}
