<?xml version="1.0" encoding="utf-8"?>
<SnippetDefinition xmlns="http://www.br-automation.com/iat2014/snippet/runtime/v1">
  <Snippet id="Snippet_StavyUsers" type="IndexText" formatItem="IAT/StavyUsers/{1}" />
</SnippetDefinition>