<?xml version="1.0" encoding="utf-8"?>
<SnippetsSet id="StavyUsers_snippet" xmlns="http://www.br-automation.com/iat2015/snippet/engineering/v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Snippets>
		<!-- Prepínanie textov stavou users -->
		<Snippet id="Snippet_StavyUsers" xsi:type="session" type="IndexText" formatItem="IAT/StavyUsers/{1}"/>
  </Snippets>
</SnippetsSet>
