<?xml version="1.0" encoding="utf-8"?>
<SnippetDefinition xmlns="http://www.br-automation.com/iat2014/snippet/runtime/v1">
  <Snippet id="Snippet_StavyZariadenia" type="IndexText" formatItem="IAT/StavyZariadenia/{1}" />
  <Snippet id="Snippet_WarningsP1" type="IndexText" formatItem="IAT/WarningsP1/{1}" />
  <Snippet id="Snippet_WarningsP2" type="IndexText" formatItem="IAT/WarningsP2/{1}" />
  <Snippet id="Snippet_WarningsP3" type="IndexText" formatItem="IAT/WarningsP3/{1}" />
  <Snippet id="Snippet_WarningsP4" type="IndexText" formatItem="IAT/WarningsP4/{1}" />
</SnippetDefinition>